// ===============
// Base Styles
// ===============

* {
  @include box-sizing(border-box);
}
// FONTS

@font-face {
    font-family: 'NextGearIcons';
    src: url('../fonts/nextgeariconfont-webfont.eot'); // IE9
    src: url('../fonts/nextgeariconfont-webfont.eot?#iefix') format('embedded-opentype'), // IE8 & earlier
         url('../fonts/nextgeariconfont-webfont.woff') format('woff'),
         url('../fonts/nextgeariconfont-webfont.ttf') format('truetype'),
         url('../fonts/nextgeariconfont-webfont.svg#NextGear') format('svg');
}

.nxg-icon-eye-btn-mini {
  display: inline-block;
  font-size: 28px;
  font-family: 'NextGearIcons';
  font-style: normal;
}

body, html {
  min-width: 940px;
  color: #666666;
}

.container-fluid {
  position: relative;
  width: 100%;
  width: 940px;
  margin: 0 auto 30px;
}

h4 {
  font-weight: 300;
  color: #17659D;
}

.nxg-fade {
  @include opacity(50);
}

.row-item {
  display: inline-block;
  margin-right: 1px;
}

ul {
  list-style-type: none;
}

.well {
  @include border-radius(0px);
  padding: 1em;
  background-color: #eee;
  @include box-shadow(none);
  border: 1px solid #eee;
  h4 {
    margin-top: 0px;
    margin-bottom: 28px;
  }
  legend {
    @extend h4;
    border: none;
  }
}

.well-out {
  display: block;
  padding: 14px;
  margin: -15px;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}

.well.adjacent {
  border: none;
  border-left: 1px solid white;
  &:first-child {
    border-left: 1px solid #eee;
  }
  &:last-child {
    border-right: 1px solid #eee;
  }
}
