@import "compass/css3/border-radius";

.fc-view {
  .closed {
    background-color: #fff;
  }
  .has-events {
    font-weight: bold;
  }
}

.fc-view-month {
  .fc-day {
    &.closed {
      cursor: default;
    }
  }
}

.fc-view-basicWeek {
  .fc-event-subtitle {
    display: block;
  }
}

.fc-day {
  height: 120px;
}

.fc-widget-header.fc-day-header, .fc-widget-content {
  color: #535353;
  font-size: 12px;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  b:first-child {
    float: left;
    font-weight: normal;
  }
  font-weight: normal;
}

.nxg-upcoming-detail {
  position: absolute;
  background-color: #eee;
  border: 1px solid #000;
  @include border-radius();
  header {
    text-align: center;
    padding: 0 20px;
  }
  footer {
    height: 5px;
  }
  .close {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  div {
    background-color: #fff;
    padding: 5px 20px 5px 30px;
  }
  p {
    margin-bottom: 0;
  }
}
