@import "compass/css3/border-radius";

.nxg-dash-calendar-container {
  background-color: #eeeeee;
  position: relative;
}

.nxg-dash-calendar-header {
  h4 {
    float: left;
    margin-top: 0;
    padding-top: 0.1em;
  }
  &> * {
    display: inline-block;
  }
  position: absolute;
  right: 25;
  width: 24em;
  margin-left: 4.5em;
  margin-top: 0.9em;
  height: 2em;
  input[type="radio"] {
    margin: 0 0 0.3em 1em;
  }
  .floater {
    margin-left: 1em;
    float: left;
  }
  label {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.fc-view {
  .closed {
    background-color: #fff;
  }
  .has-events {
    font-weight: bold;
  }
}

.fc-view-month {
  .fc-day {
    &.closed {
      cursor: default;
    }
  }
}

.fc-view {
  .fc-event-subtitle {
    display: block;
  }
}

.fc-day {
  height: 120px;
}

.fc-grid .fc-day-number {
  padding-right: 0.5em;
  padding-top: 0.25em;
}

.fc-grid .fc-day-content {
  padding: 5px 2px 4px;
}

.fc-day.closed {
  background-color: #eaeaea;
  .fc-day-number {
    @include opacity(30);
  }
}

.fc-widget-header.fc-day-header, .fc-widget-content {
  color: #535353;
  font-size: 12px;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  b:first-child {
    float: left;
    font-weight: normal;
  }
  font-weight: normal;
}

.nxg-upcoming-detail {
  position: absolute;
  background-color: #eee;
  border: 1px solid #000;
  @include border-radius();
  header {
    text-align: center;
    padding: 0 20px;
  }
  footer {
    height: 5px;
  }
  .close {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  div {
    background-color: #fff;
    padding: 5px 20px 5px 30px;
  }
  p {
    margin-bottom: 0;
  }
}

.fc-event {
  display: block;
  padding: 0.5em 0.5em 0 0.5em;
  color: #666;
  text-align: right;
  border: none;
  background-color: transparent;x
  .nxg-calendar-count {
    float: left;
  }
}

.fc-event-title {
  font-size: 12px;
  display: block;
  line-height: 16px;
  color: #999;
}

.fc-event-subtitle {
  font-size: 13px;
  color: #666;
  font-weight: bold;
  line-height: 16px;
}

.nxg-calendar-count {
  line-height: 15px;
  font-weight: bold;
  @include border-radius(6px);
  width: 24px;
  text-align: center;
  float: left;
  color: #fff;
  background-color: #8ebe31;
  border: 1px solid #8ebe31;
}

.today .nxg-calendar-count {
  color: #666;
  background-color: #fdd33a;
  border: 1px solid #fdd33a;
}

.fc-text-arrow {
  //to style unchangable caret character as close to designs as possible.
  font-family: 'Lucida Sans Unicode';
  margin: 9px 0 0 0;
  display: block;
  font-size: 38px;
}

.fc-header .fc-button.fc-button-prev {
  padding-right: 1.1em;
  padding-left: 1em;
  &.fc-state-disabled {
    margin: 0px 0px 0px 1px;
    border-right: 1px solid #d5d5d5;
    @include box-shadow(white 1px 0 0);
  }
}

.fc-button-next {
  padding-left: 1.1em;
  padding-right: 1em;
}

.fc-header .fc-button {
  color: #17659D;
  border-bottom: none;
  background-color: #fff;
  @include background-image(none);
  @include border-radius(0);
  height: 48px;
  margin: 0;
  &.fc-state-disabled {
    .fc-text-arrow {
      color: #9a9a9a;
    }
    background-color: #eeeeee;
    border: none;
  }
  &:hover {
    color: #56a4e6;
    @include box-shadow(none);
  }
}

#foo:checked::before,
input[type="radio"] {
  display: block;
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"]#week + label::before {
  @extend .btn;
  @include background(linear-gradient(#ffffff, #ddd));
  content: 'Week';
  font-size: 12px;
  text-transform: uppercase;
  @include border-radius(3px 0 0 3px);
  margin-right: -2px;
  padding-right: 14px;
  padding-left: 14px;
}

#foo:checked,
input[type="radio"]#month + label::before {
  @extend .btn;
  @include background(linear-gradient(#ffffff, #ddd));
  content: 'Month';
  font-size: 12px;
  text-transform: uppercase;
  @include border-radius(0 3px 3px 0);
  margin-left: -2px;
  padding-right: 14px;
  padding-left: 14px;
}

input[type="radio"]#week:checked + label::before {
  @extend .btn:active;
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset -1px 1px 1px rgba(0,0,0,0.4));
  @include background(linear-gradient(#eaeaea, #c4c4c4));
}

input[type="radio"]#month:checked + label::before {
  @extend .btn:active;
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
  @include background(linear-gradient(#eaeaea, #c4c4c4));
}

.fc-header .fc-button.fc-button-today {
  @extend .btn;
  @include background(linear-gradient(#ffffff, #ddd));
  &.fc-state-disabled {
    @extend .btn:active;
    @include opacity(100);
    cursor: default;
    margin-top: 12px;
    @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
    @include background(linear-gradient(#eaeaea, #c4c4c4));
  }
  height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 12px;
  padding-right: 14px;
  padding-left: 14px;
  &:active {
    margin-top: 12px;
  }
}

.lt-ie9 {
  #week-label:after {
    content: 'Week';
  }
  #month-label:after {
    content: 'Month';
  }
  .fc-header .fc-button.fc-button-today.fc-state-disabled {
    margin-top: 13px;
  }
}
