.nxg-doughnut-chart-nested {
  position: relative;
  display: inline-block;
}
.nxg-doughnut-chart-outer {
}
.nxg-doughnut-chart-inner {
  position: absolute;
  left: 10px;
  bottom: 15px;
}
.nxg-doughnut-chart-label {
  position: absolute;
  top: 40px;
  left: 35px;
  text-align: center;
}
.nxg-doughnut-chart-label-primary {
  font-size: 18px;
  color: #53BF42;
  margin: 0;
}
.nxg-doughnut-chart-label-secondary {
  font-size: 9px;
  font-weight: bold;
  line-height: 9px;
  margin: 0;
}
.nxg-chart-legend-color {
  width: 10px;
  height: 10px;
  display: block;
}
/**
 * These chart colors are also defined in the chart's JSON data.
 * So if you need change these hex colors, you need to do that in both places.
 * @see app/scripts/models/dealerCredit.js
 */
.nxg-chart-approved-credit    { background-color: #575757 }
.nxg-chart-temporary-credit   { background-color: #9F9F9F }
.nxg-chart-utilized-credit    { background-color: #3D9AF4 }
.nxg-chart-available-credit   { background-color: #54BD45 }
.nxg-chart-fees               { background-color: #65554E }
.nxg-chart-payments           { background-color: #887A71 }
.nxg-chart-scheduled-payments { background-color: #B2A8A1 }
