// ===============
// Header
// ===============

header > .row-fluid {
  margin-bottom: 10px;
}

.app-header {
  margin-bottom: 0.5em;
}

.nxg-settings-drop {
  position: absolute;
  background-color: $white;
  font-size: 12px;
  color: $brand-text;
  margin-top: 1em;
}

.nxg-settings {
  padding: 10px;
  border: 1px solid #DDD;
}

.account-btn {
  position: absolute;
  right: 0;
  display: block;
  height: 33px;
  color: $brand-text;
  padding: 0 5px;
  border: 1px solid transparent;

  &.settings-open {
    border: 1px solid #DDD;
    border-bottom-color: $white;
  }

  i {
    font-size: 1.75em;
  }

  & ~ h6, & ~ p {
    padding-right: 35px;
  }
}

.dealer-info {
  position: relative;

  p, h6 {
    @extend %align-right;
    line-height: 1.35;
    margin: 0;
  }
}
