// ===============
// Header
// ===============

.logo {
  width: 200px;
  margin: 10px;
}

header {
  overflow: hidden;
}

.quick-links {
  position: absolute;
  top: 5px;
  right: 0;
  width: 300px;
}

.c2a.chat {
  width: 100px;
  float: left;
}

.dealer-info {
  width: 200px;
  text-align: right;
  float: right;

  p, h6 {
    line-height: 1.35;
    margin: 0;
  }
  .settings {
    display: block;
    width: 40px;
    height: 30px;
    float: right;
    background: #ccc;
    padding: 5px;
    margin: 0 5px 0 10px;
  }
}

.pay-queue.summary {
  float: right;
  margin: 10px 10px 0 0;

  ul {
    list-style-type: none;

    li {
      font-size: 12px;
      line-height: 1.1;
    }
  }

  label, p {
    display: inline-block;
  }

  p {
    line-height: 1.2;
    margin: 0px;
  }

  label {
    width: 100px;
    text-align: right;
    font: bold 12px/1.1 $font;
    margin: 0 10px 0 0;
  }
}
