// ===============
// Header
// ===============

header > .row-fluid {
  margin-bottom: 10px;
}

.app-header {
  margin-bottom: 0.5em;
}

.nxg-settings-drop {
  background-color: #fff;
  margin-top: 1em;
  font-size: 12px;
  color: #237ec0;
  position: absolute;
  padding-right: 2.5em;
}

.account-btn {
  position: absolute;
  right: 0;
}

.dealer-info {
  position: relative;

  p, h6 {
    line-height: 1.35;
    text-align: right;
    margin: 0;
  }
}
