.loading {
  display: inline-block;
  margin-right: 1px;
  width: 16px;
  height: 16px;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.nxg-infinite-scroll-indicator {
  height: 20px;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.nxg-global-activity-indicator {
  @extend %center;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 150px;
  padding: 10px;
  margin-left: -75px;
  z-index: 8000; /* make sure it's in front of modal backgrounds */

  p, p + div {
    float: left;
  }

  p {
    color: #888;
    font-size: 12px;
  }

  p + div {
    margin: 2px 0 0 5px;
  }
}

.item-total {
  @extend %heavy;
  @extend %center;
  @extend %float-l;
  @include border-radius(6px);
  line-height: 16px;
  width: 28px;
  margin-right: 7px;
  border: 1px solid $gray-c;

  &.overdue {
    color: #fff;
    background-color: #ce0012;
    border: 1px solid #ce0012;
  }

  &.due-today {
    background-color: #fdd33a;
    border: 1px solid #fdd33a;
  }
}
