.loading {
  display: inline-block;
  margin-right: 1px;
  width: 16px;
  height: 16px;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.nxg-infinite-scroll-indicator {
  height: 20px;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.item-total {
  @extend %heavy;
  @extend %center;
  @extend %float-l;
  @include border-radius(6px);
  line-height: 16px;
  width: 28px;
  margin-right: 7px;
  border: 1px solid $gray-c;

  &.overdue {
    color: #fff;
    background-color: #ce0012;
    border: 1px solid #ce0012;
  }

  &.due-today {
    background-color: #fdd33a;
    border: 1px solid #fdd33a;
  }
}
