// ===============
// Modules
// ===============

@import "compass/css3/border-radius";

.nxg-dash-calendar-container {
  background-color: #eeeeee;
  position: relative;
}

.nxg-dash-calendar-header {
  h4 {
    margin-top: 0;
  }
  &> * {
    display: inline-block;
  }
  position: absolute;
  right: 25;
  margin-left: 4em;
  margin-top: 0.5em;
  height: 2em;
}

.pay-queue.summary {

  ul {
    list-style-type: none;

    li {
      font-size: 12px;
      line-height: 1.1;
      text-align: right;
    }
  }

  p {
    line-height: 1.2;
    margin: 0px;
  }

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font: bold 12px/1.1 $baseFontFamily;
  }

  label + p {
    display: inline-block;
  }
}

.payment-summary {
  ul {
    text-align: right;
  }
  .item-total {
    float: left;
  }
}

.summaries .well-out, .payment-summary .well-out {
  font-size: 12px;
}

.summaries {
  .well-out {
    height: 14em;
    position: relative;
    .btn {
      position: absolute;
      margin: 1em;
      bottom: 0;
      right: 0;
    }
  }
}

.summary.credit {
  .well-out {
    padding-left: 10px;
  }
}

.chart-summary-table {
  font-weight: bold;
  float: right;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 3px;
  tr {
    td:last-child {
      text-align: right;
      font-size: 13px;
    }
  }
  td.taller {
    padding-top: 6px;
  }
  td.no-bold {
    font-weight: normal;
  }
  .table-symbol {
    padding-left: 5px;
    padding-right: 5px;
    &.red {
      color: #ce0012;
    }
  }
}
.chart-summary-table-total-row {
  border-bottom: 1px solid #999;
}

//overly specific rule to over-write bootstrap's grid for these two modules.
.summaries {
  .unapplied-funds.adjacent {
    width: 21.5%;
  }
  .floorplan.adjacent {
    width: 16%;
  }
}

.unapplied-funds {
  span {
    margin-bottom: 4px;
  }
  .pull-right {
    font-weight: bold;
    font-size: 13px;
  }
}
.floorplan {
  ul {
    color: #555;
    margin: 0;
    li {
      height: 28px;
      .item-total {
        font-weight: bold;
        @include border-radius(7px);
        width: 28px;
        text-align: center;
        margin-right: 7px;
        float: left;
        border: 1px solid $gray-c;
      }
    }
  }
}

.receipts {
  table {
    margin-top: -1px;
    width: 100%;
    text-align: right;
    td:first-child {
      text-align: left;
    }
    td:nth-child(2) {
      text-align: left;
    }
    a {
      text-decoration: underline;
    }
    tr td:nth-child(3) {
      font-size: 13px;
    }
  }
}
