// ===============
// Modules
// ===============

.pay-queue.summary {

  ul {
    list-style-type: none;

    li {
      font-size: 12px;
      line-height: 1.1;
      text-align: right;
    }
  }

  p {
    line-height: 1.2;
    margin: 0px;
  }

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font: bold 12px/1.1 $baseFontFamily;
  }

  label + p {
    display: inline-block;
  }
}

