// ===============
// Navigation
// ===============

.nav {
  margin-bottom: 0;

  & > li > a {
    margin: 0;
    &:focus {
      border: none;
      background: transparent;
    }
    &:hover {
      border: none;
      background: transparent;
    }
  }
}

.nav-bg {
  height: 44px;
  vertical-align: middle;
  border-top: 1px solid #dfdfdf;
  border-bottom: 2px solid white;
  background-image: linear-gradient(#fff, #e0e0e0);
  font-weight: bold;
  .container-fluid {
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    margin-top: 0.8em;
    margin-right: 2em;
    margin-left: 1em;
  }
  a {
    color: $gray-8;
    font-size: 12px;
    text-transform: uppercase;
    &.active {
      color: #1863a1;
    }
    &:hover, &:focus, &:active {
      color: #1863a1;
      text-decoration: none;
    }
  }
}

.nav-tabs {
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  & > li {
    margin: 0;
    & > a {
      border: none;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  a {
    color: $white;
    border: none;
  }
  & > .active {
    @include box-shadow(
      inset rgba(black, 0.25) 0px 2px 5px,
      inset rgba(white, 0.2) 0px -2px 0px,
      inset rgba(black, 0.5) 0px 0px 2px
     );
    background-image: url('../img/secondaryNavBgActive.gif');
    border-left: 1px solid #346da0;
    border-right: 1px solid #356ea0;
    margin-right: -1px;
    margin-left: -1px;
    &:hover {
      color: $white;
    }
    & > a {
      &:hover {
        color: $white;
        background-color: transparent;
        border: none;
      }
      &:focus {
        color: $white;
        background-color: transparent;
        border: none;
      }
      border: none;
      background-color: transparent;
      color: $white;
    }
  }
}

.secondary-nav-bg {
  background-image: url('../img/secondaryNavBg.gif');
  @include box-shadow(inset rgba(black, 0.25) 0px 2px 5px, inset rgba(white, 0.2) 0px -2px 0px);
  border-bottom: 1px solid #1b447d;
  margin-bottom: 1em;
  .container-fluid {
    margin-bottom: 0;
  }
}

.container-line {
  padding-top: 1em;
  position: relative;
  &:before {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    content: " ";
    background-image: url('../img/secondaryNavBg.gif');
    @include box-shadow(inset rgba(black, 0.15) 0px 1px 0px, inset rgba(black, 0.3) 0px -1px 0px);
  }
}
