// ===============
// Base Styles
// ===============

* {
  @include box-sizing(border-box);
}

.container-fluid {
  position: relative;
  width: 100%;
  max-width: 940px;
  min-width: 768px;
  margin: 0 auto 30px;
}

.nxg-fade {
  @include opacity(50);
}

.row-item {
  display: inline-block;
  margin-right: 1px;
}
