// TABLE LISTS (Payments, Sch. Payments, Receipts, Floorplan)

.table-list-head, .table-list-row {
  position: relative;

  .cell {
    padding: 8px 5px;
  }
}

.table-list-head {
  background-color: #666;
  color: $white;
  overflow: hidden;

   .cell {
    @extend %thin;
    @extend %small;
    text-transform: uppercase;

    & + .cell {
      border-left: 1px solid $white;
    }
  }
}

.table-list-row {
  background-color: $white;
  border: 1px solid #DDD;

  & + .table-list-row {
    border-top: 0;
  }

  &:nth-child(2n + 1) {
    background-color: #F9F9F9;
  }

  .cell {
    font-size: 13px;
    line-height: $base-line-height;

    & + .cell {
      border-left: 1px solid #DDD;
    }
  }
}

.cell {
  @extend %float-l;
  @include box-sizing(border-box);
  min-height: 100%;
  height: 100%;
}

.no-results {
  @extend %center;
  font-size: $large-font-size;
  line-height: $base-line-height;
  color: #AAA;
  margin: 20px 0;
}
