// Temporary while refactoring occurs piecemeal across the site

.col-bordered {
  padding: 20px 0;

  & > [class*="col"] {
    border-right: 1px solid #BBBBBB;

    &:last-child {
      border-right: 0;
    }
  }

  .col-bordered {
    padding-bottom: 0;
  }
}

.aside {
  background: $white;
  border-top: 1px solid #BBB;

  .well & {
    @include border-bottom-radius($borderRadius);
  }
}

.cell {
  padding: 5px;
}

.contain-wells {
  & > .well {
    height: 100%;
  }
}

.push-down {
  padding-top: 20px;
}

.notice-bar {
  background: #F8F8F8;
  padding: 10px;
  border-bottom: 1px solid $wellBorder;
  margin-bottom: 5px;
}

.sidebar {
  background: #EBEBEB;
}

/*
 * PAIRED MEDIA
 * Allows for media such as an image or icon
 * to line up with associated text.
 *
 * Used within many buttons, as well as in list items with icons.
 */
.paired {
  overflow: hidden;

  td & {
    width: 80%;
    margin: 0 auto;
  }
}
  .paired-media, .paired-body {
    display: inline-block;
    vertical-align: middle;
  }

  .paired-media {
    margin: 0 5px 0 3px;

    .paired-reversed & {
      margin: 0 3px 0 5px;
    }
  }

// dashboard
.dash-lockup {
  @extend .clearfix;
  float: right;
  text-align: right;
  padding: 6px 10px;
  margin: 0;
}
  .dash-major {
    font-size: 16px;
    color: $highlight;
  }



// overly-specific....should really refactor somehow.
.upcoming-payments {
  background: $white;
  height: 250px;
  border-top: 2px solid $border;


}

.table-holder {
  overflow-y: scroll;
  border: 1px solid #BBBBBB;

  .table, .table-border {
    border-left: 0;
    border-right: 1px solid #BBBBBB;
  }
}

.payment-activity {
  [class*="col"] {
    height: 250px;
    margin: 0;
    background-color:#fff;
    @include border-bottom-radius($borderRadius);
  }

  .table-holder {
    background-color:#fff;
    @include border-bottom-radius($borderRadius);
  }

  h3 {
    color: $text;
  }
}
.chart-daysFloored .highcharts-container {
  margin: 10px auto 0;
}

.nxg-dash-calendar-container {
  background: transparent;
}

.page-break {
  @extend %full-width;
  height: 0;
  border-bottom: 3px dotted $border;
  margin-bottom: 20px;
}

.search {
  padding: 20px 10px;

  & > [class*="col"] {
    & + [class*="col"] {
      padding-left: 20px;
      border-left: 1px solid $border;
    }
  }
}

// used for the vehicle description block
// on payments, receipts, title releases, floorplans, sch. payments, etc.
.vin, .stock {
  display: inline-block;
}

.vin {
  margin-right: 15px;
}

.stock {
  margin-right: 10px;
}

// for payment buttons on the vehicle details page.
.payment-btn-block {
  padding: 10px 0;

  .btn-text-group {
    padding: 0;
  }

  .btn-btn {
    button {
      float: right;
      margin-right: 0;
    }
  }

  .scheduled-payoff, .scheduled-payment {
    text-align: right;
  }
}

hr {
  border-top: 1px solid $border;
  border-bottom: 0;
  margin-bottom: 20px;
}

.hr-no-margin {
  margin:0;
}

// Provides our highlightable search text
.ui-match {
  background: yellow;
}


// used for scheduled payments and payments view
.clear-search {
  margin-top: 10px;
}

// volume of floorplans (auction side) chart
.auction-dashboard-chart {
  padding-bottom: 20px;
}

// for 'or' in dealer search forms
.form-separator {
  padding-top: 10px;
}

// value look-up table
.valuation-table {
  @extend .clearfix;
  @extend .col-bordered;
  @include border-radius($borderRadius);
  background-color: $white;
  border: 1px solid $border;
  padding: 10px 0;
  margin: 10px 0 20px;

   & > [class*="col"] {
    padding: 0px;
    border-right: 1px solid #BBBBBB;
    width:25%;
    & + [class*="col"] {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.reset {
  @extend %float-r;
  @extend .heavy;
  font-size: 12px;
  margin: 6px 0
}

.valuation-description {
  @include border-radius($borderRadius);
  background-color: $white;
  border: 1px solid $border;
  padding: 15px 20px;
  margin: 10px 0 20px;

  h2 {
    @extend .heavy;
    @extend .caps;
    line-height: 1.2;
  }
}

.body-style {
  margin: 0 10px;

  .body-style-label {
    margin: 10px 0 2px;
  }
}
