// Temporary while refactoring occurs piecemeal across the site

/*
 * DATA TABLE COMPONENT
 * Table meant to display side by side data,
 * with the assumption of 2 columns.
 */
.list-table {
  @extend %full-width;
  padding: 10px 20px;
  margin: 0;

  &.padded {
    padding: 20px;
  }

  &.mini {
    padding: 0;
  }
}
  .list-table-row {
    @extend .clearfix;
    @extend .row-fluid;
    padding: 0 0 0;
    margin: 0;

    .mini & {
      padding: 0;

      p, a {
        font-size: 12px;
        margin: 0;
      }

      p:first-child {
        padding-right: 10px;
      }
    }

    [class*="span"] {
      min-height: 0;
    }

    p, a {
      font-size: 14px;
    }

    p {
      margin: 0 0 5px;
    }
  }

  .list-table-emphasis > * {
    font-weight: bold;
  }

  .list-table-spacer {
    height: 20px;
  }

  .value {
    color: $text;
    font-weight: bold;

    .highlight & {
      color: $highlight;
    }

    .value-note {
      font-weight: normal;
    }
  }

  .list-table-hr {
    border-top: 1px solid $dataTableBorder;
    padding-top: 10px;
    margin-top: 5px;
  }


.col-bordered {
  padding: 20px 0;

  & > [class*="span"] {
    border-right: 1px solid #BBBBBB;

    &:last-child {
      border-right: 0;
    }
  }

  .col-bordered {
    padding-bottom: 0;
  }
}

.aside {
  background: $white;
  border-top: 1px solid #BBB;

  .well & {
    @include border-bottom-radius($borderRadius);
  }
}

.cell {
  padding: 5px;
}

.contain-wells {
  & > .well {
    height: 100%;
  }
}

.color-danger {
  color: $danger !important;
}

.color-success {
  color: $success !important;
}


.push-down {
  padding-top: 20px;
}

.notice-bar {
  padding: 10px;
}

.sidebar {
  background: #EBEBEB;
}

/*
 * PAIRED MEDIA
 * Allows for media such as an image or icon
 * to line up with associated text.
 *
 * Used within many buttons, as well as in list items with icons.
 */
.paired {
  overflow: hidden;

  td & {
    width: 80%;
    margin: 0 auto;
  }
}
  .paired-media, .paired-body {
    display: inline-block;
    vertical-align: middle;
  }

  .paired-media {
    margin: 0 5px 0 3px;

    .paired-reversed & {
      margin: 0 3px 0 5px;
    }
  }

// notification
.info-block {
  @extend %full-width;
  @extend .clearfix;
  height: 45px;

  .info-block-image, .info-block-text {
    float: left;
    height: 100%;
  }
  .info-block-image {
    margin: 3px 0;
  }
  .info-block-text {
    padding: 8px 10px;
  }
}

// dashboard
.dash-lockup {
  @extend .lockup;
  @extend .clearfix;
  float: right;
  text-align: right;
  padding: 6px 10px;
  margin: 0;
}

  .dash-major {
    font-size: 16px;
    color: $highlight;
  }

.note {
  font-size: 11px;
  padding-top: 3px;
}

.caps {
  text-transform: uppercase;
}

// overly-specific....should really refactor somehow.
.upcoming-payments {
  height: 250px;
  border-top: 2px solid $border;
}

.table-holder {
  overflow-y: scroll;
  border: 1px solid #BBBBBB;

  .table, .table-border {
    border-left: 0;
    border-right: 1px solid #BBBBBB;
  }
}

.payment-activity {
  [class*="span"] {
    height: 250px;
    margin: 0;
  }

  .table-holder {
    border: 0;
    border-right: 1px solid #BBBBBB;
  }

  h3 {
    color: $text;
  }
}
.chart-daysFloored .highcharts-container {
  margin: 10px auto 0;
}

.floor-chart-title {
  position: relative;
  top: -15px;
}

.nxg-dash-calendar-container {
  background: $white;
}

.page-break {
  @extend %full-width;
  height: 0;
  border-bottom: 3px dotted $border;
  margin-bottom: 20px;
}

.dash-well {
  position: relative;
  height: 270px;

  &.nxg-dash-calendar-container {
    height: auto;
    min-height: 270px;
  }

  .cta-full {
    position: absolute;
    bottom: 0;
  }
}

.details-well {
  height: 260px;
}

.search {
  padding: 20px 10px;

  & > [class*="span"] {
    & + [class*="span"] {
      padding-left: 20px;
      border-left: 1px solid $border;
    }
  }
}

.vin, .stock {
  display: inline-block;
}

.stock {
  margin-left: 10px;
}

/* Styles for Payment summary sidebar well */
.pay-sum-table h3 {
  margin: 0;
}

.pay-sum-table .btn-x {
  float: right;
}

.pay-sum-table p.queued-as {
  display: inline-block;
  font-weight: bold;
}


.pay-sum-table .amount {
  display: inline-block;
  font-weight: bold;
}

hr {
  border-top: 1px solid $border;
  border-bottom: 0;
  margin-bottom: 20px;
}
