// TYPOGRAPHY

a {
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #888;
  }
}

.boxed {
  @extend %thin;
  font-size: 20px;
  line-height: 1;
  color: #666;
  padding: 10px 10px 12px;
  border: 1px solid #F1F1F1;
  margin-bottom: 0;
}

// looks like h4s in .well, but isn't part of .well
.well-head {
  @extend %thin;
  background: #F1F1F1;
  font-size: 1em;
  line-height: 1.2;
  color: #666;
  padding: 5px 10px;
  margin: 0;
}
