// TYPOGRAPHY

a {
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #888;
  }
}

.boxed {
  @extend %thin;
  font-size: 20px;
  line-height: 1;
  color: #666;
  padding: 10px 10px 12px;
  border: 1px solid #F1F1F1;
  margin-bottom: 0;
}
