// ===============
// Variables
// ===============
// TODO: Replace dummy values with actual info from design specs.

// Brand (dummy)
$brand: #222;
$brand-second: #222;
$brand-third: #fff;

// Colors
$brand: #135889; // blue
$brand-text: #1864A1;
$brand-light: #17659D; // slightly lighter than brand; resembles #0266A2
$brand-bright: #1879BB; // brighter blue for buttons; resembles #1B78C0
$brand-dark: #0F4C76; // darker blue for button down states and shadows; slight greenish tint
$brand-darkest: #115186; // dark blue shadow for buttons and text

$error: #D80000; // red

// GRAYS
// Because we use so many;
// Named according to their hex numbers to make it easier
$gray-2: #222; // darkest
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-a: #AAA;
$gray-b: #BBB;
$gray-c: #CCC;
$gray-d: #DDD;
$gray-e: #EEE; // lightest

// OTHER NEUTRALS
$lighter: #EBEBF0;
$lightest: #EDEDED;
$white: #FFF;
$black: #000;

// Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 12px;
$base-line-height: 1.2;

// Text
$p-size: 1em; // 12px
$h1-size: 3em; // 36px
$h2-size: 2.5em; // 30px
$h3-size: 2em; // 24px
$h4-size: 1.66em; // 20px
$h5-size: 1.25em; // 14px
$h6-size: 1em; // 12px

$p-line-height: 120%;

$p-color: #434343;
$h1-color: #434343;
$h2-color: $brand;
$h3-color: #434343;
$h4-color: #434343;
$h5-color: #434343;
$h6-color: #434343;

// Tooltip
$tooltipArrowWidth: 10px;
$tooltipArrowColor: #FFF;
$tooltipBackground: #FFF;
