.well {
  @include border-radius(0px);
  @include box-shadow(none);
  background-color: $well-bkgd;
  padding: 1em;
  border: 1px solid $well-border;

  h4 {
    margin-top: 0px;
    margin-bottom: 28px;
  }

  legend {
    @extend h4;
    border: none;
  }
}

.well-out {
  display: block;
  background-color: $well-out-bkgd;
  padding: 14px;
  border: 1px solid $well-out-border;
  border-top: 0;
  margin: -15px;
}

.well-single {
  width: 300px;
  margin: 25px auto;
}

.well-double {
  margin: 25px 0;
}

.well-single, .well-double {
  @include box-shadow(rgba(0,0,0,0.35) 0 0 6px);
}

.well.adjacent {
  border: none;
  border-left: 1px solid white;
  &:first-child {
    border-left: 1px solid $well-adj-border;
  }
  &:last-child {
    border-right: 1px solid $well-adj-border;
  }
}

.two-col {
  position: relative;
  border: 1px solid $well-twocol-border;
  border-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;

  &:before {
    position: absolute;
    top: 0;
    left: -1px;
    content: '';
    border-left: 1px solid $well-adj-border;
    border-right: 1px solid $well-adj-border;
    height: 47px;
    width: 100%;
  }

  .well {
    @extend .span8;
    padding-bottom: 0;
    margin-bottom: 0;

    .well-out {
      border-bottom: none;
      border-right: none;
    }

    &:first-child {
      .well-out {
        border-left: none;
        border-right: 1px solid $well-twocol-border;
      }
    }
  }
}
