// ===============
// Main
// ===============

@import "../components/sass-bootstrap/lib/bootstrap";
@import "variables";
@import "mixins";
@import "typography";
@import "helpers";
@import "modals";
@import "forms";
@import "buttons";
@import "header";

// TODO: Place styles in respective scss partials.
.container {
  position: relative;
}

* {
  @include box-sizing(border-box);
}

.logo {
  width: 200px;
  margin: 10px;
}

header {
  overflow: hidden;
  border: 1px solid $rule;
}

.quick-links {
  position: absolute;
  top: 5px;
  right: 0;
  width: 300px;
}

.c2a.chat {
  width: 100px;
  float: left;
}

.dealer-info {
  width: 200px;
  text-align: right;
  float: right;

  p, h6 {
    line-height: 1.35;
    margin: 0;
  }
  .settings {
    display: block;
    width: 40px;
    height: 30px;
    float: right;
    background: #ccc;
    padding: 5px;
    margin: 0 5px 0 10px;
  }
}



.pay-queue.summary {
  float: right;
  margin: 10px 10px 0 0;

  ul {
    list-style-type: none;
    font-size: 12px;
  }
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font: bold 12px/1.1 $font;
    margin: 0 10px 0 0;
  }
}
