@mixin animation($animate...) {
      $max: length($animate);
      $animations: '';

      @for $i from 1 through $max {
          $animations: #{$animations + nth($animate, $i)};

          @if $i < $max {
              $animations: #{$animations + ", "};
          }
      }
      -webkit-animation: $animations;
      -moz-animation:    $animations;
      -o-animation:      $animations;
      animation:         $animations;

      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
  }

  @mixin keyframes($animationName) {
      @-webkit-keyframes #{$animationName} {
          @content;
      }
      @-moz-keyframes #{$animationName} {
          @content;
      }
      @-o-keyframes #{$animationName} {
          @content;
      }
      @keyframes #{$animationName} {
          @content;
      }
  }

  @include keyframes(open-nav) {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
      transform: translateX(0vw);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(80vw);
      -moz-transform: translateX(80vw);
      -ms-transform: translateX(80vw);
      -o-transform: translateX(80vw);
      transform: translateX(80vw);
    }
  }

  @include keyframes(close-nav) {
    0% {      
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(80vw);
      -moz-transform: translateX(80vw);
      -ms-transform: translateX(80vw);
      -o-transform: translateX(80vw);
      transform: translateX(80vw);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(0vw);
      -moz-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
      -o-transform: translateX(0vw);
      transform: translateX(0vw);
    }
  }