// .btn-secondary {
//   color: $btn2-active-text;
//   background-color: $btn2-active-bkgd;
//   @include background(linear-gradient($btn2-active-grad-1, $btn2-active-grad-2));

//   &:hover, &:focus {
//     color: $btn2-hover-text;
//     background-color: $btn2-hover-bkgd;
//     @include background(linear-gradient($btn2-hover-grad-1, $btn2-hover-grad-2));
//   }

//   &:active, &.active {
//     color: $btn2-hover-text;
//   }
// }

// .btn-primary {
//   -webkit-font-smoothing: antialiased;
//   color: $btn1-active-text;
//   border-bottom: 1px solid $btn1-active-stroke;
//   background-color: $btn1-active-bkgd;
//   @include background-image(linear-gradient($btn1-active-grad-1, $btn1-active-grad-2));

//   &:hover, &:focus {
//     color: $btn1-hover-text;
//     background-color: $btn1-hover-bkgd;
//     @include background-image(linear-gradient($btn1-hover-grad-1, $btn1-hover-grad-2));
//   }

//   &:active, &.active {
//     color: $btn1-hover-text;
//     @include background-image(linear-gradient($btn1-hover-grad-1, $btn1-hover-grad-2));
//   }

//   &:disabled, &.disabled,
//   &:disabled:hover, &.disabled:hover,
//   &:disabled:focus, &.disabled:focus,
//   &:disabled:active, &.disabled:active {
//     color: $btn1-disabled-text;
//     background-color: $btn1-disabled-bkgd;
//     @include background-image(linear-gradient($btn1-disabled-grad-1, $btn1-disabled-grad-2));
//   }
// }

.nxg-search-btn {
  @extend %align-left;
  position: relative;
  display: inline-block;
  font-size: $large-font-size;
  height: 28px;
  width: 90px;
  padding-top: 3px;
  margin-left: 0.3em;

  &:active {
    margin-top: -1px;
  }

  &:after {
    @extend %small;
    position: absolute;
    top: 4px;
    right: 6px;
    width: 50px;
    content: 'Look Up';
  }
}

.btn-cal {
  position: absolute;
  right: 0;
  top: 20px;
}

.btn-unstyle {
  @extend %center;
  background: transparent;
  color: $gray-9;
  padding: 0;
  border: 0;

  &.right {
    float: right;
  }
}

.btn-link {
  font-size: 12px;
  color: $highlight;
  cursor: pointer;
  padding: 0;
  border: 0;
  margin: 0 0 1px 0;

  &:hover {
    color: darken($highlight, 10%);
  }

  &:disabled, &:disabled:hover {
    color: $gray-8;
  }

  &:disabled, &:disabled:hover {
    cursor: auto;
  }
}

.btn-help {
  @extend .btn-unstyle;
  position: absolute;
  top: 10px;
  margin-left: 5px;
}

// span version of help button for cases where we don't want it to be an actual button
// (e.g. in forms where it will steal default button status from the submit button)
span.btn-help {
  cursor: pointer;
  padding: 0px 4px;
}

// IE9-SPECIFIC
// Because IE9 forces a particular text color on disabled buttons.
.ie9 {
  .btn:disabled,
  .btn.disabled,
  .btn-primary:disabled,
  .btn-primary.disabled,
  .btn-secondary:disabled,
  .btn-secondary.disabled {
    color: $btn-text-disabled;
    background-color: $btn-bkgd-disabled;
  }
}


// Refresh/Refactored Code for v2.23
.accordion-button {
  @include border-bottom-radius($borderRadius);
  display: block;
  background: $white;
  font-size: 14px;
  font-weight: bold;
  color: $primary;
  height: 30px;
  width: 300px;
  position: relative;
  top: -21px; // same size as well bottom margin, plus 1 for border.
  padding: 5px 10px;
  border: 1px solid #BBB;
  margin: 0 auto;

  &:hover {
    color: lighten($primary, 20%);
  }

  &.expanded {
    background: #CCCCCC;
    color: $highlight;

    &:hover {
      color: darken($primary, 10%);
    }
  }

  .well & {
    top: -1px; // we don't need to account for the well's margin because we're inside it.
  }
}

/*
 * BTN CLASS
 * Used to style any and all buttons within the desktop app.
 */
.button, .btn {
  @include box-shadow(none);
  @include border-radius($borderRadius);
  @include text-shadow(none);
  background: $btn-bkgd;
  font-size: 12px;
  font-weight: bold;
  color: $btn-text;
  height: 35px;
  border: 1px solid $border;
  padding: 0 10px;
  margin: 7px 10px;

  &:active {
    @include box-shadow(none);
    color: $btn-text;
  }

  &:focus, &:hover {
    @include box-shadow(none);
    outline: none;
  }

  &:focus {
    color: $btn-text-active;
  }

  &:hover {
    color: $btn-text-active;
    background: $btn-bkgd-active;
    text-decoration: none;
  }

  &:focus, &:active {
    border: 1px solid darken($border, 10%);
  }

  &:focus, &:active, &:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  &:disabled, &.ng-disabled {
    background: $btn-bkgd-disabled;
    color: $btn-text-disabled;
    border: 1px solid $border;
  }

  &.selected {
    background: $btn-bkgd-selected;
    color: $btn-text-selected;

    &:hover {
      background: lighten($btn-bkgd-selected, 10%);
      color: $white;
    }
  }

  &.right {
    @extend %float-r;
    margin-right: 0;
  }

  th &, td & {
    margin: 0;

    &.btn-square {
      margin: 0 auto;
    }
  }
}

.btn-squeeze, .btn-squeeze.btn-cta {
  font-size: 12px;
  margin: 10px 0;
}

.button-group {
  padding: 0;
  margin: 10px 0;

  .button {
    margin: 0;

    & + .button {
      margin-left: 10px;
    }
  }
}

/*
 * BTN-ICON CLASS
 * For non-cta buttons with an icon (ie. checkout toggle buttons)
 */
.btn-icon {
  .svg-icon {
    margin-left: 5px;
  }
}

/*
 * CTA STYLES
 * CTAs are more important call-outs. Primary coloring is light blue background
 * with white text; secondary is white background with darker blue text.
 */
.cta {
  height: 35px;
}

  .cta-half {
    @extend %float-l;
    width: 48%;
    margin: 10px 0;

    & + .cta-half {
      @extend %float-r;
    }
  }

  .cta-full {
    @include border-top-radius(0);
    @extend %full-width;
    height: 40px;
    margin: 0;
  }

  .cta-primary {
    color: $cta-primary-text;
    background: $cta-primary-bkgd;
    border: 0;
  }

  .cta-secondary {
    background: $cta-secondary-bkgd;
    color: $cta-secondary-text;
    border: 1px solid $border;
  }

/*
 * CTA BUTTON
 * Used for call-out buttons; can have primary or secondary styles.
 */
.btn-cta {
  @extend .btn;
  @extend .cta;
  font-family: $baseFontFamily;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;

  &.cta-primary {
    &:hover, &:focus {
      color: $cta-primary-text-active;
      background: $cta-primary-bkgd-active;
    }
    &:active {
      background: darken($cta-primary-bkgd-active, 10%);
    }
  }

  &.cta-secondary {
    &:hover, &:focus {
      color: $cta-secondary-text-active;
    }
    &:active {
      background: darken($btn-bkgd-active, 10%);
    }
  }

  &.cta-primary, &.cta-secondary {

    &.cta-full, &.cta-full:disabled, &.cta-full.ng-disabled {
      border-width: 1px 0 0;
    }

    &:disabled, &.ng-disabled {
      background: $btn-bkgd-disabled;
      color: $btn-text-disabled;
      border: 1px solid $border;
    }
  }

  &.cta-full {
    padding: 10px 5px;
  }
}

/*
 * SQUARE BUTTON
 * For buttons with no text, just icon.
 */
.btn-square {
  @extend .btn;
  display: block;
  width: 40px;
  height: 40px;

  .svg-icon {
    fill: $primary;
    margin: 10px 0;
  }
}

/* TOGGLE BUTTON
 * A group of two buttons with a sliding div beneath,
 * to show which is selected.
 */
.btn-toggle {
  @extend .clearfix;
  @include border-radius($borderRadius);
  background: #E6E7E8;
  position: relative;
  width: 200px;
  height: 24px;
  margin: 10px auto;
  border: 1px solid $toggle-color;
  z-index: 0;

  .btn {
    @extend %float-l;
    background: transparent;
    width: 50%;
    height: 24px;
    position: relative;
    color: $toggle-color;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    border: 0;
    margin: 0;
    z-index: 2
  }

  .btn-slider {
    @include border-radius($borderRadius);
    position: absolute;
    background: $toggle-slider-color;
    top: 0;
    height: 24px;
    width: 50%;
    border: 1px solid $toggle-color;
    margin: -1px;
    z-index: 1;

    @include transition-duration(400ms);
    @include transition-timing-function(ease);

    &.active-left {
      @include transition-property(left);
      left: 0;
    }

    &.active-right {
      @include transition-property(right);
      right: 0;
    }
  }
}

.btn-text-group {
  @extend .clearfix;
  padding: 0 10px;

  .btn-text {
    float: left;
    padding: 15px 0;
  }
  .btn-btn {
    float: right;
  }
}
