// =========
//  BUTTONS
// =========

.accordion-button {
  @include border-bottom-radius($borderRadius);
  display: block;
  background: $white;
  font-size: 14px;
  font-weight: bold;
  color: $primary;
  height: 30px;
  width: 300px;
  position: relative;
  top: -21px; // same size as well bottom margin, plus 1 for border.
  padding: 5px 10px;
  border: 1px solid #BBB;
  margin: 0 auto;

  &:hover {
    color: lighten($primary, 20%);
  }

  &.expanded {
    background: #CCCCCC;
    color: $highlight;

    &:hover {
      color: darken($primary, 10%);
    }
  }

  .well & {
    top: -1px; // we don't need to account for the well's margin because we're inside it.
  }
}

/*
 * BTN CLASS
 * Used to style any and all buttons within the desktop app.
 */
.button, .btn {
  @extend %small;
  @extend %heavy;
  @include box-shadow(none);
  @include border-radius($borderRadius);
  @include text-shadow(none);
  background: $btn-bkgd;
  color: $btn-text;
  height: 35px;
  border: 1px solid $border;
  padding: 0 10px;
  margin: 7px 10px;

  &:active {
    @include box-shadow(none);
    color: $btn-text;
  }

  &:focus, &:hover {
    @include box-shadow(none);
    outline: none;
  }

  &:focus {
    color: $btn-text-active;
  }

  &:hover {
    color: $btn-text-active;
    background: $btn-bkgd-active;
    text-decoration: none;
  }

  &:focus, &:active {
    border: 1px solid darken($border, 10%);
  }

  &:focus, &:active, &:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  &:disabled, &.ng-disabled {
    background: $btn-bkgd-disabled;
    color: $btn-text-disabled;
    border: 1px solid $border;
  }

  &.selected {
    background: $btn-bkgd-selected;
    color: $btn-text-selected;

    &:hover {
      background: lighten($btn-bkgd-selected, 10%);
      color: $white;
    }
  }

  &.right {
    @extend %float-r;
    margin-right: 0;
  }

  &.inline-submit {
    height: 32px;
    margin: 32px 10px 0;
  }

  th &, td & {
    margin: 0;

    &.btn-square {
      margin: 0 auto;
    }
  }
}

.btn-center, .btn-cta.btn-center {
  display: block;
  margin: 10px auto;
}

// group of buttons (usually 2)
.button-group {
  padding: 0;
  margin: 10px 0;

  .btn {
    margin: 0;

    & + .btn {
      margin-left: 10px;
    }
  }

  .btn-link {
    margin-right: 10px;
  }
}

/*
 * BTN-ICON CLASS
 * For non-cta buttons with an icon (ie. checkout toggle buttons)
 */
.btn-icon {
  .svg-icon {
    margin-left: 5px;
  }
}

/*
 * CTA STYLES
 * CTAs are more important call-outs. Primary coloring is light blue background
 * with white text; secondary is white background with darker blue text.
 */
.cta {
  height: 35px;
}

  .cta-half {
    @extend %float-l;
    width: 48%;
    margin: 10px 0;

    & + .cta-half {
      @extend %float-r;
    }
  }

  .cta-full {
    @include border-top-radius(0);
    @extend %full-width;
    height: 40px;
    margin: 0;
  }

  .cta-primary {
    color: $cta-primary-text;
    background: $cta-primary-bkgd;
    border: 0;
  }

  .cta-secondary {
    background: $cta-secondary-bkgd;
    color: $cta-secondary-text;
    border: 1px solid $border;
  }

/*
 * CTA BUTTON
 * Used for call-out buttons; can have primary or secondary styles.
 */
.btn-cta {
  @extend .btn;
  @extend .cta;
  @extend .heavy;
  font-family: $baseFontFamily;
  font-size: 13px;
  padding: 8px 10px;

  &.cta-primary {
    &:hover, &:focus {
      color: $cta-primary-text-active;
      background: $cta-primary-bkgd-active;
    }
    &:active {
      background: darken($cta-primary-bkgd-active, 10%);
    }
  }

  &.cta-secondary {
    &:hover, &:focus {
      color: $cta-secondary-text-active;
    }
    &:active {
      background: darken($btn-bkgd-active, 10%);
    }
  }

  &.cta-primary, &.cta-secondary {

    &.cta-full, &.cta-full:disabled, &.cta-full.ng-disabled {
      border-width: 1px 0 0;
    }

    &:disabled, &.ng-disabled {
      background: $btn-bkgd-disabled;
      color: $btn-text-disabled;
      border: 1px solid $border;
    }
  }

  &.cta-full {
    padding: 10px 5px;
  }
}

/*
 * SQUARE BUTTON
 * For buttons with no text, just icon.
 */
.btn-square {
  @extend .btn;
  display: block;
  width: 40px;
  height: 40px;

  .svg-icon {
    fill: $primary;
    margin: 10px 0;
  }
}

/* TOGGLE BUTTON
 * A group of two buttons with a sliding div beneath,
 * to show which is selected.
 * use .toggle-three in addition to .btn-toggle
 * to build a three-option toggle element
 */
.btn-toggle {
  @extend .clearfix;
  @include border-radius($borderRadius);
  background: #E6E7E8;
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px auto;
  border: 1px solid $toggle-color;
  z-index: 0;

  &.btn-toggle-static { // for calendar toggles
    width: 200px;
  }

  .btn {
    @extend %float-l;
    @extend %heavy;
    @extend %small;
    background: transparent;
    width: 50%;
    height: auto;
    position: relative;
    color: $toggle-color;
    padding: 6px;
    border: 0;
    margin: 0;
    z-index: 2
  }

  .btn-slider {
    @include box-sizing(content-box);
    @include border-radius($borderRadius);
    position: absolute;
    background: $toggle-slider-color;
    top: 0;
    height: 100%;
    width: 50%;
    border: 1px solid $toggle-color;
    margin: -1px;
    z-index: 1;

    @include transition-duration(400ms);
    @include transition-timing-function(ease);
    @include transition-property(left);

    &.active-left {
      left: 0;
    }

    &.active-right {
      left: 51%;
    }
  }

  &.toggle-three {
    width: 300px;

    .btn {
      width: 33%;
    }

    .btn-slider {
      width: 33%;

      &.active-center {
        left: 34%;
      }

      &.active-right {
        left: 68%;
      }
    }
  }
}

.btn-text-group {
  @extend .clearfix;
  padding: 0 10px;

  .btn-text {
    @extend %float-l;
    padding: 15px 0;
    width: 40%;
  }

  .btn-btn {
    margin-left: 0;

    p, h4 {
      color: $text;
    }

    .btn {
      margin-left: 0;
    }
  }
}

.btn-unstyle {
  @extend %center;
  background: transparent;
  color: $primary;
  padding: 0;
  border: 0;
  font-size: 14px;

  &.right {
    @extend %float-r;
  }
}

.link {
  cursor: pointer;
}

.btn-hide {
  // Keeps button in DOM but hides it so it's not visible
  // Useful for forms without submit buttons but still need
  // pressing enter to perform onsubmit method
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  left: -1000px;
  border: none;
  padding: 0;
}

.btn-link {
  @extend %small;
  color: $highlight;
  cursor: pointer;
  padding: 0;
  border: 0;
  margin: 0 0 1px 0;

  &.btn-unstyle {
    @extend %small;
  }

  &:hover {
    color: darken($highlight, 10%);
  }

  &:disabled, &:disabled:hover {
    color: #999;
  }

  &:disabled, &:disabled:hover {
    cursor: auto;
  }
}

// help button commonly used for tooltips
.btn-help {
  @extend .btn-unstyle;
  display: inline-block;
  margin-left: 5px;
}

// responsive buttons for narrower table columns
.btn-adapts .paired-media {
  margin: 0 0 0 2px;
  font-size: 1.0em;
}

@media only screen and (max-width: 1200px) {
  .btn-adapts {
    padding: 0 5px 0 4px;
    font-size: 0.79em;
  }
}

@media only screen and (min-width: 1201px) {
  .btn-adapts {
    padding: 0 5px 0 4px;
    font-size: 0.85em;
  }
}



// IE9-SPECIFIC
.ie9 {
  // Because IE9 forces a particular text color on disabled buttons.
  .btn:disabled,
  .btn.disabled,
  .btn-primary:disabled,
  .btn-primary.disabled,
  .btn-secondary:disabled,
  .btn-secondary.disabled {
    color: $btn-text-disabled;
    background-color: $btn-bkgd-disabled;
  }
  a:active, a:focus {
    outline: none;
  }
}

// IE 10 & IE 11 SPECIFIC
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Because IE forces a dashed outline after clicking a button
  a:active, a:focus {
    outline: none;
  }
}
