.btn {
  @extend %heavy;
  @include box-sizing(border-box);
  @include border-radius(3px);
  background-color: $btn-active-bkgd;
  @include background(linear-gradient($btn-active-grad-1, $btn-active-grad-2));
  color: $btn-active-text;
  text-shadow: none;
  padding: 2px 8px 1px;
  border: 0;
  border-bottom: 1px solid $btn-active-stroke;

  &:hover, &:focus {
    color: $btn-hover-text;
    background-color: $btn-hover-bkgd;
    @include background(linear-gradient($btn-hover-grad-1, $btn-hover-grad-2));
    background-position: 0;
    outline: 0;
  }
  &:active, &.active {
    color: $btn-hover-text;
    border-color: transparent;
  }
  &.disabled, &.disabled:hover, &:disabled, &:disabled:hover {
    @include opacity(65);
    color: $btn-disabled-text;
    background: $btn-disabled-bkgd;

    &:active {
      border-bottom: 1px solid $btn-active-stroke;
      margin-top: 0px;
    }
  }
}

.btn, .btn-mini {
  @extend %small;
}

.btn-secondary {
  color: $btn2-active-text;
  background-color: $btn2-active-bkgd;
  @include background(linear-gradient($btn2-active-grad-1, $btn2-active-grad-2));

  &:hover, &:focus {
    color: $btn2-hover-text;
    background-color: $btn2-hover-bkgd;
    @include background(linear-gradient($btn2-hover-grad-1, $btn2-hover-grad-2));
  }

  &:active, &.active {
    color: $btn2-hover-text;
  }
}

.btn-primary {
  -webkit-font-smoothing: antialiased;
  color: $btn1-active-text;
  border-bottom: 1px solid $btn1-active-stroke;
  background-color: $btn1-active-bkgd;
  @include background-image(linear-gradient($btn1-active-grad-1, $btn1-active-grad-2));

  &:hover, &:focus {
    color: $btn1-hover-text;
    background-color: $btn1-hover-bkgd;
    @include background-image(linear-gradient($btn1-hover-grad-1, $btn1-hover-grad-2));
  }

  &:active, &.active {
    color: $btn1-hover-text;
    @include background-image(linear-gradient($btn1-hover-grad-1, $btn1-hover-grad-2));
  }

  &:disabled, &.disabled,
  &:disabled:hover, &.disabled:hover,
  &:disabled:focus, &.disabled:focus,
  &:disabled:active, &.disabled:active {
    color: $btn1-disabled-text;
    background-color: $btn1-disabled-bkgd;
    @include background-image(linear-gradient($btn1-disabled-grad-1, $btn1-disabled-grad-2));
  }
}

.nxg-search-btn {
  @extend %align-left;
  position: relative;
  display: inline-block;
  font-size: $large-font-size;
  height: 28px;
  width: 90px;
  padding-top: 3px;
  margin-left: 0.3em;

  &:active {
    margin-top: -1px;
  }

  &:after {
    @extend %small;
    position: absolute;
    top: 4px;
    right: 6px;
    width: 50px;
    content: 'Look Up';
  }
}

.btn-cal {
  position: absolute;
  right: 0;
  top: 20px;
}

.btn-more, .btn-more:hover, .btn-more:active, .btn-more:focus {
  @include box-shadow(rgba(0,0,0,0) 0 0 0);
  @include border-radius(0);
  @include box(100%);
  color: $gray-9;
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;

  &:hover {
    color: $base-text-color;
  }
}

.fees .btn-block,
.payments .btn-block {
  width: auto;
}

.btn-unstyle {
  @extend %center;
  background: transparent;
  color: $gray-9;
  padding: 0;
  border: 0;
}

.btn-link {
  color: #08C;
  cursor: pointer;

  &:hover, &:disabled, &:disabled:hover {
    color: $gray-8;
  }

  &:disabled, &:disabled:hover {
    cursor: auto;
  }
}

.btn-x {
  font-size: 16px;
}

.btn-inline {
  margin-left: 10px;
}

.btn-help {
  @extend .btn-unstyle;
  @extend %heavy;
  @extend %small;
  @include border-radius(50%);
  position: relative;
  width: 15px;
  height: 15px;
  background: $brand-text;
  color: $white;
  line-height: 1;
  margin-left: 10px;
}

.btn-help.inline {
  margin-left: 5px;
  margin-top: -2px;
}

// span version of help button for cases where we don't want it to be an actual button
// (e.g. in forms where it will steal default button status from the submit button)
span.btn-help {
  cursor: pointer;
  padding: 0px 4px;
}

// IE9-SPECIFIC
// Because IE9 forces a particular text color on disabled buttons.
.ie9 {
  .btn:disabled,
  .btn.disabled,
  .btn-primary:disabled,
  .btn-primary.disabled,
  .btn-secondary:disabled,
  .btn-secondary.disabled {
    color: $btn-disabled-text;
    background-color: $btn-disabled-bkgd;
  }
}
