// ==========
//  CALENDAR
// ==========

.nxg-dash-calendar-container {
  @extend .clearfix;
  position: relative;

  &.well {
    padding: 0;
    border: 0;
  }
}

// Calendar header/footer
.dash-calendar-header, .dash-calendar-footer {
  @extend %full-width;
  position: absolute;
  top: 0;
}
.nxg-dash-calendar-container{
  .fc-toolbar {
    @include border-radius(0);
    margin-bottom: 0;
  }

  .fc-center {
    position: relative;
    height: 42px;
    z-index: 5;
  }

  h5 {
    float: left;
    margin: 12px 20px 10px;
  }

  .btn-toggle {
    float: right;
    margin: 10px 20px 10px 10px;
  }

  h5, .btn-toggle {
    position: relative;
    z-index: 2;
  }
}

.dash-calendar-footer {
  @extend .clearfix;
  position: relative;

  .fc-toolbar {
    // @include border-bottom-radius($borderRadius);
    border-width: 0px 1px 1px;
    position: absolute;
    top: 0;
  }

  & + .collapse {
    top: -1px;
  }

  & + .collapse.expanded + .accordion-button {
    top: -2px;
  }
}

.fc-toolbar {
  @extend %full-width;
  @include border-top-radius($borderRadius);
  background: $white;
  border: 1px solid $wellBorder;
  border-width: 1px 1px 0;

  .fc-right, .fc-left, .fc-center {
    padding: 5px 10px;
  }

  .fc-button {
    margin-bottom: 5px;
  }

  .primary, .today-btn, .today-btn.primary {
    font-size: 14px;
  }
}

  .fc-toolbar .fc-center h2 {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
  }

  .today-btn {
    line-height: 1.5;
    padding: 0;
    border: 0;

    &:hover {
      color: darken($primary, 10%);
      cursor: pointer;
    }

    &.disabled, &.featured.disabled {
      cursor: default;
      color: $btn-text-disabled;

      &:hover {
        color: $btn-text-disabled;
        text-decoration: none;
      }
    }
  }

  .fc-prev-button, .fc-next-button {
    @extend .btn-unstyle;
    @include box-shadow(none);
    border: 0;
    margin: 0 5px 5px 5px;

    &.fc-state-disabled {
      border: 0;
      margin: 0 5px 5px 5px;

      .fc-icon {
        color: #BBB;
        font-weight: normal;
      }
    }

    .fc-icon {
      color: $primary;
    }
  }

.fc-view {
  .closed {
    background-color: $white;
  }
  // .has-events {
    // @extend %heavy;
  // }
}

.fc-day {
  height: 170px;
}
.fc-view-month .fc-day.closed {
  cursor: default;
}

.fc-view {
  .fc-event-subtitle {
    display: block;
  }
}

.fc-view-container table{
  border-bottom: 1px solid #BBB;
}

.fc-content-skeleton table{
  border-bottom: none;
}

.fc-grid {
  border: 0;
}

.fc-grid .fc-day-number {
  @extend %heavy;
  padding-right: 6px;
  padding-top: 3px;
}

.fc-grid .fc-content {
  padding: 5px;
}

.fc-day.closed {
  background-color: #eaeaea;

  .fc-day-number {
    @include opacity(40);
  }
}

.fc-week {
  height: 170px;
  padding: 0;

  .fc-day.fc-last {
    min-width: 140px;
  }
}

.fc-border-separate {
  td, th {
    border-color: $dataTableBorder;
  }
}

// Week name and day number headers.
.fc-widget-header.fc-day-header, .fc-widget-content {
  font-size: 14px;
  color: #666;
  background-color: $white;
  text-transform: uppercase;
}

.fc-widget-header.fc-day-header {
  @extend %align-left;
  padding: 4px 10px;
}
.fc-widget-content {
  @extend %align-right;
  box-sizing: border-box;
}

// Individual Events with Counters
.fc-event {
  @extend %align-right;
  display: block;
  padding: 6px 6px 0;
  color: $text;
  border: none;
  background-color: transparent;

  .counter {
    float: left;
    margin: 0 5px 5px 0;
    box-sizing: border-box;
  }
  &:hover{
    color: $text;
  }
}

  .today .counter {
    color: $white;
    background-color: $warning;
  }

  .overdue .counter {
    color: $white;
    background-color: $danger;
  }

  .fc-title {
    font-size: 12px;
    line-height: 1.1;
    color: #666666;
  }

  .fc-event-subtitle {
    font-weight: bold;
    color: $highlight;
    font-size: 16px;
  }

  .fc-widget-content {
    text-transform: none;
  }

  .fc-unthemed td{
    border-color: $dataTableBorder;
  }
