@import "compass/css3/border-radius";

.nxg-dash-calendar-container {
  background-color: #eeeeee;
  position: relative;
}

.fc-view {
  .closed {
    background-color: $white;
  }
  .has-events {
    @extend %heavy;
  }
}

.fc-view-month {
  .fc-day {
    &.closed {
      cursor: default;
    }
  }
}

.fc-view {
  .fc-event-subtitle {
    display: block;
  }
}

.fc-day {
  height: 15em;
}

.fc-grid .fc-day-number {
  padding-right: 0.5em;
  padding-top: 0.25em;
}

.fc-grid .fc-day-content {
  padding: 5px 2px 4px;
}

.fc-day.closed {
  background-color: #eaeaea;
  .fc-day-number {
    @include opacity(30);
  }
}

.fc-widget-header.fc-day-header, .fc-widget-content {
  @extend %small;
  @extend %align-right;
  color: #535353;
  background-color: #fff;
  text-transform: uppercase;
  padding: 4px 10px;

  b:first-child {
    @extend %float-l;
    font-weight: normal;
  }
  font-weight: normal;
}

.nxg-upcoming-detail {
  position: absolute;
  background-color: #eee;
  border: 1px solid $black;
  @include border-radius();
  header {
    @extend %center;
    padding: 0 20px;
  }
  footer {
    height: 5px;
  }
  .close {
    position: absolute;
    right: 5px;
    top: 10px;
  }
  div {
    background-color: $white;
    padding: 5px 20px 5px 30px;
  }
  p {
    margin-bottom: 0;
  }
}

.fc-event {
  @extend %align-right;
  display: block;
  padding: 0.5em 0.5em 0 0.5em;
  color: $base-text-color;
  border: none;
  background-color: transparent;

  .nxg-calendar-count {
    @extend %float-l;
  }
}

.fc-event-title {
  @extend %small;
  display: block;
  line-height: 1.166666667;
  color: #999;
}

.fc-event-subtitle {
  @extend %heavy;
  font-size: 13px;
  color: $base-text-color;
  line-height: 1.23;
}

.nxg-calendar-count {
  @extend %heavy;
  @extend %center;
  @extend %float-l;
  @include border-radius(6px);
  line-height: 1.25;
  width: 24px;
  color: $white;
  background-color: $upcoming;
  border: 1px solid $upcoming;
}

.today .nxg-calendar-count {
  color: $base-text-color;
  background-color: $today;
  border: 1px solid $today;
}

.overdue .nxg-calendar-count {
  background-color: $overdue;
  border: 1px solid $overdue;
}

.fc-text-arrow {
  //to style unchangable caret character as close to designs as possible.
  font-family: 'Lucida Sans Unicode';
  margin: 9px 0 0 0;
  display: block;
  font-size: 38px;
}

.fc-header .fc-button.fc-button-prev {
  padding: 0 15px 0 14px;

  &.fc-state-disabled {
    margin: 0px 0px 0px 1px;
    border-right: 1px solid $border;
    @include box-shadow(white 1px 0 0);
  }
}

.fc-button-next {
  padding: 0 14px 0 15px;
}

.fc-header .fc-button {
  color: $brand-light;
  border-bottom: none;
  background-color: $white;
  @include background-image(none);
  @include border-radius(0);
  height: 48px;
  margin: 0;

  &.fc-state-disabled {
    .fc-text-arrow {
      color: #9a9a9a;
    }
    background-color: #eeeeee;
    border: 0;
  }

  &:hover {
    color: #56a4e6;
    @include box-shadow(none);
  }
}

.fc-header .fc-button.fc-button-today {
  @extend %small;
  @extend %heavy;
  @include box-shadow(none);
  background-color: transparent;
  color: $brand-text;
  line-height: 1.5;
  text-transform: uppercase;
  height: auto;
  padding: 0;
  border: 0;
  border-bottom: 1px solid;
  margin: 3px 0;

  &:hover {
    color: #888;
    cursor: pointer;
  }

  &.fc-state-disabled {
    color: #888;
    @include opacity(100);
  }
}

.nxg-dash-calendar-header {
  position: relative;
  label {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .nxg-fancy-radios {
    top: 6px;
    left: 50%;
    position: absolute;
    width: 150px;
    margin-left: -75px;
  }
}

.nxg-cal-month-name {
  top: 4px;
  right: 144px;
  position: absolute;
}

.nxg-cal-header {
  top: 4px;
  left: 59px;
  position: absolute;
}

.fc-button-today {
  position: absolute;
  top: 12px;
  right: 59px;
}

#foo:checked,
.nxg-fancy-radios input[type="radio"]#week + label::before {
  content: 'Week';
}

#foo:checked,
.nxg-fancy-radios input[type="radio"]#month + label::before {
  content: 'Month';
}

#foo:checked,
.nxg-fancy-radios input[type="radio"]#year + label::before {
  content: 'Year';
}
