.scale-description {
  @extend %heavy;
  font-size: $tiny-font-size;
  line-height: 1.25;
}

.nxg-doughnut-chart-nested {
  position: relative;
  display: inline-block;
}
.nxg-doughnut-chart-outer {
}
.nxg-doughnut-chart-inner {
  position: absolute;
  left: 8px;
  bottom: 14px;
}
.nxg-doughnut-chart-label {
  @extend %center;
  cursor: default;
  position: absolute;
}
.nxg-doughnut-chart-label-primary {
  font-size: $large-font-size;
  color: #53BF42;
  margin: 0;
}
.nxg-doughnut-chart-label-secondary {
  font-size: $tiny-font-size;
  line-height: 1;
  margin: 0;
}
.nxg-chart-legend-color {
  @include box(10px);
  display: block;
}
/**
 * These chart colors are also defined in the chart's JSON data.
 * So if you need change these hex colors, you need to do that in both places.
 * @see app/scripts/models/dashboard.js
 */
.nxg-chart-approved-credit    { background-color: #9F9F9F }
.nxg-chart-temporary-credit   { background-color: #575757 }
.nxg-chart-utilized-credit    { background-color: #3D9AF4 }
.nxg-chart-available-credit   { background-color: #54BD45 }
.nxg-chart-fees               { background-color: #444444 }
.nxg-chart-payments           { background-color: #2286f5 }
.nxg-chart-scheduled-payments { background-color: #3fb232 }


//Dashboard charts rules. Container and table rules are in _dashboard.scss
.payments-chart {
  @extend %center;
  border: 1px solid $border;
  position: relative;

  canvas {
    @include rotate(10deg);
  }

  table {
    @extend %full-width;
    @extend %align-left;
  }

  .nxg-doughnut-chart-label {
    top: 58px;
    left: 81px;
  }
}

.dashboard-more-details {
  margin-top: 14px;
}

.credit-chart {
  canvas {
    @include scale(-1);
  }

  .nxg-doughnut-chart-label {
    top: 28px;
    left: 35px;

    .nxg-chart-legend-color {
      margin-right: 5px;
    }
  }
}
