.scale-description {
  @extend %heavy;
  font-size: $tiny-font-size;
  line-height: 1.25;
}

.donut-nested {
  position: relative;

  .inner-nested {
    margin: 15px auto;
  }
}

.temp-activity-chart {
  width: 100%;
}

.donut-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
}

.donut-inner {
  position: absolute;
  left: 11px;
  top: 11px;
}

.chart-legend {
  margin: 0 8px 20px 0;
}

.chart-legend-color {
  @include box(15px);
  @include border-radius(2px);
  display: block;
}
/**
 * These chart colors are also defined in the chart's JSON data.
 * So if you need change these hex colors, you need to do that in both places.
 * @see app/scripts/models/dashboard.js
 */
// .nxg-chart-approved-credit    { background-color: #9F9F9F }
// .nxg-chart-temporary-credit   { background-color: #575757 }
.nxg-chart-utilized-credit    { background-color: $primary; }
.nxg-chart-available-credit   { background-color: $success; }
.nxg-chart-fees               { background-color: #9F9F9F; }
.nxg-chart-payments           { background-color: #3399CC; }
.nxg-chart-scheduled-payments { background-color: #1864A1; }

//Dashboard charts rules. Container and table rules are in _dashboard.scss
.payments-chart {
  @extend %center;
  position: relative;
  padding: 20px 20px 10px;
  z-index: -1;

  .chart-label-primary {
    margin-bottom: 0;
  }
  .chart-label-primary, .chart-label-secondary {
    font-weight: normal;
  }
}

// Vehicle Details semicircle charts.
.chart-label-primary, .chart-label-secondary {
  color: $text;
  text-align: center;
  margin: 0;
  line-height: 1;
}

.chart-obj .highcharts-container {
  margin: 0 auto;
}

.chart-label-primary {
  font-weight: bold;
}
