//absurdly long selector to overcome Bootstrap's specificity.
footer.row-fluid {
  @extend %center;
  @extend %full-width;
  @include gradient-row();
  font-size: $tiny-font-size;
  color: $footer-text;
  padding: 14px 0 11px 0;
  border-top: 1px solid $gray-d;
  margin: 10px 0 -50px 0;
}

.nxg-main-view {
  margin-bottom: 50px;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
}

.nxg-main-container {
  min-height: 100%;
  overflow: hidden;
  /* equal to footer height plus some extra spacing */
  margin-bottom: -40px;
}

.nxg-main:after {
  content: '';
  display: block;
}

footer, .nxg-main:after {
  /* .push must be the same height as footer */
  height: 50px;
}
