// ========
//  FOOTER
// ========

footer.row-footer{
  @extend %center;
  @extend %full-width;
  background: #FFF;
  @include background-image(linear-gradient(#FFF, #e4e4e4));
  font-size: $tiny-font-size;
  color: $highlight;
  padding: 14px 0 11px 0;
  border-top: 1px solid $border;
  margin: 10px 0 -50px 0;
}

.nxg-main-view {
  margin-bottom: 50px;
  margin-left:20px;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
}

.nxg-main-container {
  min-height: 100%;
  overflow: hidden;
  /* equal to footer height plus some extra spacing */
  margin-bottom: -50px;
}

.nxg-main:after {
  content: '';
  display: block;
}

footer, .nxg-main:after {
  /* .push must be the same height as footer */
  height: 50px;
}

.nxg-phone {
  display: inline-block;
  margin: 0 2px;
}
