//absurdly long selector to overcome Bootstrap's specificity.
footer.row-fluid {
  @extend %center;
  @include gradient-row();
  @include box-shadow(rgba(black, 0.3) 0px 1px 1px);
  font-size: $tiny-font-size;
  color: $footer-text;
  width: 100%;
  padding: 14px 0 11px 0;
  border-top: 1px solid $gray-d;
  margin: 0 0 -50px 0;
}

.nxg-main-view {
  margin-bottom: 4em;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
}

.nxg-main-container {
  min-height: 100%;
  overflow: hidden;
  /* equal to footer height */
  margin-bottom: -50px;
}

.nxg-main:after {
  content: '';
  display: block;
}

footer, .nxg-main:after {
  /* .push must be the same height as footer */
  height: 50px;
}
