select {
  @extend %heavy;
  @include border-radius(0);
  background: $white;
  color: $brand-light;
  border: 1px solid $input-border;
  height: 28px;
  width: 200px;
  font-size: 13px;
  -webkit-user-select: none;

  &:focus, &:focus:invalid, &:focus:invalid:focus {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    outline: 0;
    color: $brand-light;
    border-color: $input-border;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include border-radius(0px);
  @include box-shadow(none);
  border: 1px solid $input-border;
  height: 28px;
  margin: 0;

  &:focus {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    outline: 0;
    border-color: $input-border;
  }

  &:focus:invalid, &:invalid {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    color: $gray-5;
    border: 1px solid $input-border;
  }

  // get rid of IE's default clear button
  &::-ms-clear {
    display: none;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &.nxg-invalid {
    border: 1px solid $error-dark;
  }
  &:focus:invalid, &:invalid {
        outline: none;
  }
}

select.nxg-invalid {
  color: $error-dark;
}

// these fields are treated differently b/c the inputs are wrapped in a directive
.nxg-date-field, .nxg-business-field {
  &.nxg-invalid {
    border: 0;

    input {
      border: 1px solid $error-dark;
    }

  }
}

select, .nxg-date-field {
  margin-bottom: 0;
}

.input-prepend.dollar {
  margin-bottom: 0;
}

.input-prepend.dollar .add-on{
  padding-top: 5px;
  background-color: $white;
  border: none;
  margin-right: -16px;
}

.input-prepend.dollar .add-on, .input-prepend.dollar .add-on:first-child, .input-prepend.dollar .btn:first-child {
  padding: 4px 0 0 4px;
  color: #9a9a9a;
  @include border-radius(0);
}

.input-prepend.dollar select,
.input-prepend.dollar textarea,
.input-prepend.dollar input[type="text"],
.input-prepend.dollar input[type="password"],
.input-prepend.dollar input[type="datetime"],
.input-prepend.dollar input[type="datetime-local"],
.input-prepend.dollar input[type="date"],
.input-prepend.dollar input[type="month"],
.input-prepend.dollar input[type="time"],
.input-prepend.dollar input[type="week"],
.input-prepend.dollar input[type="number"],
.input-prepend.dollar input[type="email"],
.input-prepend.dollar input[type="url"],
.input-prepend.dollar input[type="search"],
.input-prepend.dollar input[type="tel"],
.input-prepend.dollar input[type="color"],
.input-prepend.dollar
.uneditable-input {
  padding-left: 16px;
  background: transparent;
}

.nxg-date-field {
  input {
    background-color: transparent;
  }

  .btn {
    color: #9a9a9a;
    @include opacity(50);
    background: transparent;
    @include border-radius(0);
    @include box(28px);
    font-size: $large-font-size;
    border: 0;
    margin: -1px 0 0 -28px;

    &:active {
      border: none;
      @include box-shadow(none);
    }
  }
}

.text-error {
  @extend %small;
  color: $error-dark;
  line-height: $base-line-height;
  display: block;
  margin: 5px 0 10px;
}

label.text-error {
  padding-left: 6px;
}

.nxg-checkbox {
  label {
    margin: 0.5em 0 1em 0.5em;
  }
}

#foo:checked::before,
input[type="checkbox"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="checkbox"] + label::before {
    position: relative;
    top: 3px;
    left: -6px;
    content: url('../img/checkbox.gif');
}

input[type="checkbox"]:checked + label::before {
    position: relative;
    top: 3px;
    left: -6px;
    content: url('../img/checkbox-checked.gif');
}

.nxg-radios {
  label {
    margin: 0 0.5em 0 0.5em;
  }
}

#foo:checked::before,
input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

input[type="radio"] + label::before,
input[type="radio"]:checked + label::before {
  position: relative;
  top: 6px;
  left: -6px;
}

input[type="radio"] + label::before {
  content: url('../img/radio.gif');
}

input[type="radio"]:checked + label::before {
  content: url('../img/radio-checked.gif');
}

input[type="radio"]:disabled {
  & + label {
    color: $gray-c;
  }
  & + label::before {
    @include opacity(40);
  }
}

.form-title {
  @extend .subtitle;
  margin: 0 0 10px 0;
}

.control-group.half {
  @extend %float-l;
  position: relative;

  & + .half {
    margin-left: 10px;
  }

  input {
    width: 110px;
  }
}

.range {
  overflow: hidden;
  margin-bottom: 10px;

  .half {
    @extend %float-l;
    margin-bottom: 0;
  }
}

.inline-submit {
  margin: 0;
  padding: 20px 0 0 120px;

  button, button:active, button:focus, button:hover {
    margin: 3px 0;
    z-index: 100;
  }
}

.form-footer {
  @extend %align-right;
}

.form-separator {
  @extend %center;
}

.nxg-fancy-radios {
  margin-left: 7px;
  label {
    display: inline;
  }
}

.nxg-fancy-radios .group-label {
  padding-right: 15px;
  vertical-align: bottom;
  line-height: 11px;
}

#foo:checked::before,
.nxg-fancy-radios input[type="radio"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
.nxg-fancy-radios input[type="radio"] + label::before {
  @extend .btn;
  @extend %small;
  @include background(linear-gradient($white, $gray-d));
  text-transform: uppercase;
  padding-right: 14px;
  padding-left: 14px;
  margin-right: -4px;
}


#foo:checked,
.nxg-fancy-radios input[type="radio"].first + label::before {
  @include border-radius(3px 0 0 3px);
}

#foo:checked,
.nxg-fancy-radios input[type="radio"] + label::before {
  @include border-radius(0);
}

#foo:checked,
.nxg-fancy-radios input[type="radio"].last + label::before {
  @include border-radius(0 3px 3px 0);
}

.nxg-fancy-radios input[type="radio"]:checked + label::before {
  @extend .btn:active;
  @include background(linear-gradient(#eaeaea, #c4c4c4));
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
}

.nxg-fancy-radios input[type="radio"].last:checked + label::before {
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
}

label.input-title {
  max-width: 200px;
}

// Datepicker
.datepicker {
  &.datepicker-dropdown {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    @include border-radius(0);
    padding: 5px 7px;
  }

  .datepicker-days, .datepicker-months, .datepicker-years {
    .prev, .next {
      font-size: 0;
      width: 27px;

      &:before {
        content: '';
        @extend %heavy;
        position: absolute;
        top: 8px;
        color: $gray-a;
        font-family: 'Lucida Sans Unicode';
        font-size: 16px;
        margin: 0 5px;
      }

      &:hover {
        border-radius: 0;
      }
    }

    .prev:before {
      content: '<';
      left: 7px;
    }

    .next:before {
      content: '>';
      right: 7px;
    }
  }

  .datepicker-switch {
    @include border-radius(0);
    @extend %thin;
    color: $brand-text;
    letter-spacing: 0;
    font-size: $large-font-size;
  }

  thead tr:first-child {
    border-bottom: 1px solid $border;
  }

  .day, .dow, .month {
    @extend %small;
  }

  .dow {
    color: $base-text-color;
  }

  .day, .month, .year {
    @extend %thin;
    @include border-radius(0);
    color: $brand-text;

    &.new, &.old {
      color: $gray-9;
    }
  }

  table tr td.day.active,
  table tr td span.month.active,
  table tr td span.year.active {
    @include border-radius(0);
    @include background-image(none);
    color: $white;
    background-color: $brand-text;

    &:hover {
      background-color: darken($brand-text, 10%);
    }
  }
}
