select {
  -webkit-user-select: none;

  &:focus {
    border-color: darken($input-border, 20%) !important;

    &:invalid, &:invalid:focus {
      @include box-shadow(rgba(0,0,0,0) 0 0 0);
      color: $brand-light;
      border-color: $input-border;
    }
  }
}

// these fields are treated differently b/c the inputs are wrapped in a directive
.nxg-business-field.nxg-invalid {
  border: 0;

  input {
    border: 1px solid $error-dark;
  }
}

.input-prepend.dollar .add-on{
  position: relative;
  top: 7px;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.text-error {
  @extend %small;
  color: $error-dark;
  line-height: $base-line-height;
  display: block;
  margin: 5px 0 10px;
}

label.text-error {
  padding-left: 6px;
  margin: 5px 0 10px;
}

.nxg-checkbox {
  label {
    margin: 0.5em 0 1em 0.5em;
  }
}

.control-group.half {
  @extend %float-l;
  position: relative;

  & + .half {
    margin-left: 10px;
  }

  input {
    width: 110px;
  }
}

.range {
  overflow: hidden;
  margin-bottom: 10px;

  .half {
    @extend %float-l;
    margin-bottom: 0;
  }
}

.inline-submit {
  margin: 0;
  padding: 20px 0 0 120px;

  button, button:active, button:focus, button:hover {
    margin: 3px 0;
    z-index: 100;
  }
}

.form-footer {
  @extend %align-right;
}

.form-separator {
  @extend %center;
}

// .nxg-fancy-radios {
//   margin-left: 7px;

//   label {
//     cursor: pointer;
//     display: inline;

//     &::before {
//       cursor: pointer;
//     }
//   }
// }

// .nxg-fancy-radios .group-label {
//   padding-right: 15px;
//   vertical-align: bottom;
//   line-height: 11px;
// }

/*
 * #foo doesn't refer to a particular element; it's there to prevent
 * browsers from implementing later selectors if it doesn't understand
 * this one. See http://css-tricks.com/snippets/css/custom-radio-buttons
 */
// #foo:checked::before,
// .nxg-fancy-radios input[type="radio"] {
//     position:absolute;
//     clip: rect(0,0,0,0);
//     clip: rect(0 0 0 0);
//     margin: 0;
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"] + label::before {
//   // @extend .btn;
//   @extend %small;
//   @extend %heavy;
//   @include border-radius(3px);
//   display: inline-block;
//   float: left;
//   background-color: $btn-active-bkgd;
//   @include background(linear-gradient($white, $gray-d));
//   color: $btn-active-text;
//   line-height: 20px;
//   text-shadow: none;
//   text-transform: uppercase;
//   padding:2px 14px;
//   border: 0;
//   border-bottom: 1px solid $btn-active-stroke;
//   // margin-right: -4px;
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"].first + label::before {
//   @include border-radius(3px 0 0 3px);
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"] + label::before {
//   @include border-radius(0);
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"].last + label::before {
//   @include border-radius(0 3px 3px 0);
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"]:checked + label::before {
//   @include background(linear-gradient(#eaeaea, #c4c4c4));
//   @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
//   color: $btn-hover-text;
// }

// #foo:checked,
// .nxg-fancy-radios input[type="radio"].last:checked + label::before {
//   @include box-shadow(inset 0 2px 5px rgba(0,0,0,0.15), inset 1px 1px 1px rgba(0,0,0,0.4));
// }

label.input-title {
  max-width: 200px;
}

// Datepicker
.datepicker {
  &.datepicker-dropdown {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    @include border-radius(0);
    padding: 5px 7px;
  }

  .datepicker-days, .datepicker-months, .datepicker-years {
    .prev, .next {
      font-size: 0;
      width: 27px;

      &:before {
        content: '';
        @extend %heavy;
        position: absolute;
        top: 8px;
        color: $gray-a;
        font-family: 'Lucida Sans Unicode';
        font-size: 16px;
        margin: 0 5px;
      }

      &:hover {
        border-radius: 0;
      }
    }

    .prev:before {
      content: '<';
      left: 7px;
    }

    .next:before {
      content: '>';
      right: 7px;
    }
  }

  .datepicker-switch {
    @include border-radius(0);
    @extend %thin;
    color: $brand-text;
    letter-spacing: 0;
    font-size: $large-font-size;
  }

  thead tr:first-child {
    border-bottom: 1px solid $border;
  }

  .day, .dow, .month {
    @extend %small;
  }

  .dow {
    color: $base-text-color;
  }

  .day, .month, .year {
    @extend %thin;
    @include border-radius(0);
    color: $brand-text;

    &.new, &.old {
      color: $gray-9;
    }
  }

  table tr td.active:hover,
  table tr td.active,
  table tr td.disabled.active:hover,
  table tr td.disabled.active,
  table tr td.active.disabled.active,
  table tr td.active:active,
  table tr td.active:hover:active,

  table tr td.day.active,
  table tr td span.month.active,
  table tr td span.year.active {
    @include border-radius(0);
    @include background-image(none);
    color: $white;
    background-color: $brand-text;

    &:hover {
      background-color: darken($brand-text, 10%);
    }
  }
}

// autocomplete
.typeahead.dropdown-menu {
  padding: 0;
  border-color: $border;

  li {
    &.active a {
      @include background-image(none);
      background-color: $brand-bright;
      color: $white;
    }

    a {
      color: $base-text-color;
      border-color: $border;
    }
  }
}

// New/Refactored code for v2.23
// =====================================================================

.form-row {
  margin-bottom: 10px;
}

.form-block {
  padding: 5px 10px;

  .text-error {
    display: block;
    margin: 10px 0 0;
  }
}

// Basic form element styling.
fieldset {}
legend {}
label {
  @extend .heavy;
  display: block;

  &.inline {
    display: inline;
  }
}

label {
  -webkit-user-select: none;
  font-size: 12px;
}

input, select, textarea {
  font-size: $inputFontSize;
  color: $text;
  height: $cta-2-height;
  padding: 5px 9px;
  margin: 5px 0;
}

input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  @include border-radius($borderRadius);
  @include box-shadow(none);
  color: $text;
  font-size: $inputFontSize;
  background: $white;
  border: 1px solid $form-border;

  &:focus {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    color: $text;
    border-color: $highlight;
    outline: none;
  }

  &:disabled, &.disabled {
    border-color: $border;
  }

  &:focus:invalid, &:invalid {
    @include box-shadow(rgba(0,0,0,0) 0 0 0);
    color: $text;
    border: 1px solid $form-border;
  }

  &.nxg-invalid {
    border: 1px solid $danger;

    &:focus {
      border: 1px solid $highlight;
    }
  }

  // placeholder text
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &::-ms-input-placeholder {
    font-weight: normal;
    color: #B7B7B7;
  }

  // get rid of IE10's default clear button
  &::-ms-clear {
    display: none;
  }
}


/*
 * CUSTOM SELECT MENU
 * Overrides default browser styles to use a custom select menu style,
 * complete with custom arrows.
 */
.style-select {
  @include border-radius($borderRadius);
  position: relative;
  overflow: hidden;
  border: 1px solid $highlight;
  margin: 5px 0;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: 9px;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $highlight;
  }

  &.space {
    margin: 8px;
  }

  &.disabled {
    border-color: $border;

    &:after {
      border-color: $border transparent transparent;
    }
  }

  select {
    @extend .truncate;
    @include border-radius($borderRadius);
    width: 100%;
    height: 28px; // to account for outer div border
    font-size: $inputFontSize;
    font-weight: normal;
    background: $white;
    -webkit-gradient: none;
    -webkit-appearance: none;
    padding: 4px 15% 4px 9px;
    border: 0;
    margin: 0;

    &:focus {
      @include box-shadow(none);
      color: $highlight;
      outline: none;
    }

    &:active {
      background-color: #CCCCCC;
    }

    &:disabled {
      color: #B7B7B7;
    }
  }
}

.radio-list {
  margin-left: 15px;

  li {
    margin-bottom: 5px;
  }
}

/*
 * CUSTOM CHECKBOXES
 * Our checkboxes use custom icons rather than default browser-rendered
 * checkboxes. To work properly, the HTML for checkboxes should resemble:
 * <label class="cr-label" for="foo">
 *    Actual label contents
 * </label>
 * <input type="checkbox" id="foo"/>
 * <label class="checkbox-img" for="foo"></label>
 *
 */
input[type="checkbox"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
  background: url('../img/icons/checkbox.svg');
  z-index: 20;

  &:active, &:focus, &:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  &:checked + .checkbox-img {
    background-image: url('../img/icons/checkbox_checked.svg');
  }

  &:checked:disabled + .checkbox-img {
    background-image: url('../img/icons/checkbox_disabled_checked.svg');
  }

  &:disabled + .checkbox-img {
    background-image: url('../img/icons/checkbox_disabled.svg');
  }

  &:focus + .checkbox-img {
    background-image: url('../img/icons/checkbox_focus.svg');
  }

  &:focus:checked + .checkbox-img {
    background-image: url('../img/icons/checkbox_checked_focus.svg');
  }

  td & {
    display: block;
    margin: 0 auto;
  }
}

/*
 * CUSTOM RADIO BUTTONS
 * Our radio buttons use custom icons rather than default browser-rendered
 * radio buttons. To work properly, the HTML for radio buttons should resemble:
 * <label class="cr-label" for="foo">
 *    Actual label contents
 * </label>
 * <input type="radio" id="foo"/>
 * <label class="radio-img" for="foo"></label>
 */
input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
  background: url('../img/icons/radio.svg');
  z-index: 20;

  &:active, &:focus, &:hover {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  &:checked + .radio-img {
    background-image: url('../img/icons/radio_selected.svg');
  }

  &:checked:disabled + .radio-img {
    background-image: url('../img/icons/radio_disabled_selected.svg');
  }

  &:disabled + .radio-img {
    background-image: url('../img/icons/radio_disabled.svg');
  }

  &:focus + .radio-img {
    background-image: url('../img/icons/radio_focus.svg');
  }

  &:focus:checked + .radio-img {
    background-image: url('../img/icons/radio_selected_focus.svg');
  }
}

/*
 * FULL-WIDTH CHECKBOX/RADIO BUTTON AND LABEL PAIRS
 * Pairs the label and checkbox/radio button together in a full-width
 * block, both vertically centered.
 *
 * Used for notifications & filters.
 */
.cr-label {
  display: table-cell;
  vertical-align: middle;
  padding: 0 40px 0 10px; // to account for checkbox or radio button
}

.checkbox-img, .radio-img {
  // display: inline-block;
  // position: absolute;
}

.checkbox-img {
  height: 24px;
  width: 24px;
  background: url('../img/icons/checkbox.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  margin: 0;
}

.radio-img {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 10px;
  height: $radioSize;
  width: $radioSize;
  background: url('../img/icons/radio.svg');
  background-size: $radioSize $radioSize;
  background-repeat: no-repeat;
  margin: 3px 0 0 5px;
}

/*
 * INLINE CHECKBOXES AND RADIO BUTTONS
 * Checkboxes/radio buttons that appear side by side, or
 * appear in a non-full-width context.
 */
.cr-inline {
  position: relative;
  margin-bottom: 5px;

  .checkbox-img, .radio-img {
    position: relative;
    top: 5px;
  }

  .cr-label {
    display: inline-block;
    max-width: 90%;
    padding: 0 15px 0 0;
    margin: 0;

    &:last-child {
      padding: 0;
    }
  }

  .radio-img {
    right: 4px;
  }

  // .checkbox-img {
  //   top: 4px;
  // }
}

.clear-search {
  float: right;
}

/*
 * CUSTOM STYLED INPUT
 * An input with special styling, which may or may not have a
 * button attached to it on the right.
 *
 * Typical HTML:
 * <div class="styled-input with-btn">
 *   <input type="text"/>
 *   <button class="btn btn-input" type="submit">
 *     <span nxg-icon="icon-search"></span>
 *   </button>
 * </div>
 */
.styled-input {
  position: relative;
  width: 100%;
  margin: 5px 0;

  input, input[type="text"] {
    width: 85%;
    margin: 0;

    &:focus + .btn-input {
      background: $highlight;

      &:active, &:hover {
        background: darken($accent, 10%);
      }
    }
  }

  &.with-btn input,
  &.with-btn input[type="text"] {
    @include border-right-radius(0);
    float: left;
  }
}

  /*
   * BUTTON INPUT
   * Button specifically designed to be paired with an input,
   * and positioned exactly at the right edge of the input.
   */
  .btn-input {
    @include border-left-radius(0);
    width: 15%;
    background: $accent;
    display: block;
    float: left;
    height: $cta-2-height;
    padding: 0;
    border: 0;
    margin: 0 0 0 -1px;

    &:focus {
      background: $highlight;
    }

    &:active, &:hover {
      background: darken($accent, 10%);

      .svg-icon svg {
        fill: $white;
      }
    }

    .svg-icon svg {
      fill: $white;
    }
  }

/*
 * DATE FIELD
 */
.date-field {
  position: relative;
  width: 100px;

  &.date-inline {
    display: inline-block;
    margin-right: 15px;
  }

  input, input[type="text"] {
    width: 100%;
    padding-right: 26px; // to account for icon
  }

  .btn-unstyle {
    position: absolute;
    top: 10px;
    right: 7px;
    margin: 0;
  }

  .btn-unstyle:hover, .btn-unstyle:focus {
    .icon-calendar svg {
      fill: $highlight;
    }
  }
}

.range {
  position: relative;

  .start-date, .end-date {
    float: left;
  }

  .end-date {
    margin-left: 5px;
  }
}
