// ========
//  HEADER
// ========

.app-header {
  @extend .row-fluid;
  background: $white;
  margin-bottom: 20px;

  &.login {
    margin: 0;
  }
}

.header {
  @extend .row-fluid;
  position: relative;

  .span6 {
    @extend %center;
  }
}

.nxg-logo {
  background: url(../img/nxg_logo_blue.svg), url(../img/nxg_logo_blue.png);
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: 20px 0;
  height: 70px;
  position: relative;
  top: 10px;
  padding-top: 1px;
  z-index: 5;
}

.nxg-dropdown {
  @extend %align-right;
  @include border-bottom-radius($borderRadius);
  background-color: $white;
  position: absolute;
  top: -1px;
  right: 0;
  padding: 10px 20px;
  border: 1px solid $border;
  z-index: 100;
  max-width: 23.40426%; // same as span3, which is the width of the parent element

  &.expanded {
    @include box-shadow(rgba(0,0,0,0.25) 0 3px 3px);

    .user-info:after {
      border-top: transparent;
      border-bottom: 8px solid $highlight;
    }
  }

  ul {
    margin: 0;

    li {
      margin-bottom: 12px;

      &:first-child {
        margin-top: 15px;
      }

      a {
        color: $accent;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          color: #999;
          text-decoration: none;
        }
      }
    }
  }

  .user-info {
    display: block;
    position: relative;
    font-weight: bold;
    padding-right: 20px;

    &:hover, &:focus {
      text-decoration: none;
    }

    // for the arrow.
    &:after {
      content: '';
      @include box(0);
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid $highlight;
    }

    p {
      @extend .truncate;
    }
  }
}

.nav-primary, .nav-secondary {
  @extend .inline-list;
  margin: 0;

  li a {
    font-weight: bold;
    text-transform: uppercase;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.nav-primary {
  padding: 10px 0;

  li {
    padding: 0 8px;

    a {
      color: $white;
      display: inline-block;
      padding: 8px 8px 9px;

      &.active {
        border-bottom: 4px solid $primary;
      }

      &:hover {
        color: #CCCCCC;
      }
    }
  }
}

.nav-secondary {
  @include border-bottom-radius($borderRadius);
  display: inline-block;
  background-color: #ECECEC;
  height: 40px;
  width: auto;
  position: relative;
  top: -1px;
  border: 1px solid $border;

  ul {
    float: left;
    height: 40px;
    padding: 8px 0 8px;
    margin: 0 auto;

    li {
      padding: 5px 10px 7px;
      border-right: 1px solid $border;

      a {
        color: $accent;
        font-size: 11px;
        display: inline-block;
        position: relative;

        &:hover {
          color: #999;
        }

        &.active:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -11px;
          left: -5%;
          width: 110%;
          margin: 0 auto;
          height: 4px;
          background-color: $secondary;
        }
      }
    }
  }



  .cart-btn {
    @include border-bottom-right-radius($borderRadius);
    display: block;
    float: right;
    height: 38px; // to account for gray border on bottom
    color: $btn-text-disabled;
    background-color: darken($btn-bkgd-disabled, 2%);
    font-size: 14px;
    font-weight: bold;
    padding: 12px 10px 10px;
    border: 0;
    border-left: 1px solid $border;
    margin: 0 0 0 -1px;

    .svg-icon svg {
      fill: $btn-text-disabled;
      position: relative;
      top: -2px;
      margin-left: 2px;
    }

    &.has-items {
      color: $white;
      background: $primary;

      &:hover {
        text-decoration: none;
        background-color: $highlight;

        .svg-icon svg {
          fill: $white;
        }
      }

      .svg-icon svg {
        fill: $white;
      }
    }
  }
}

.nav-bkgd {
  @include box-shadow(rgba(black, 0.25) 0px 2px 3px);
  height: 48px;
  background-color: $highlight;
  border-bottom: 3px solid $primary;
}

.nav-language-chooser {
  margin: 0 auto;
  width: 390px;

  .icon-globe {
    display: block;
    float: left;
    margin-top: -6px;
  }

  .cta {
    margin-top: 16px;
  }
}
@media (max-width: 1200px) {
  .cart-btn {
    width: 45px;
    font-size:9px !important;
  }

}
