// ===============
// Header
// ===============

header > .row-fluid {
  margin-bottom: 10px;
}

.app-header {
  margin: 10px auto 7px;
}

.nxg-logo {
  background-image: url(../img/nxg_logo_blue_2x.png);
  background-repeat: no-repeat;
  background-size: 220px 50px;
  background-position: 20px 0;
  height: 50px;
  top: 0;
  padding-top: 1px;
  z-index: 5;
}

.nxg-settings-drop {
  @extend %small;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: $brand-text;
  padding: 10px;
  border: 1px solid transparent;
  z-index: 1;

  &.open {
    @include box-shadow(rgba(0,0,0,0.5) 0 4px 4px);
    background-color: $white;
    border-color: $gray-b;
  }
}

.nxg-settings.dropdown-menu {
  @extend %full-width;
  position: relative;
  min-width: 100%;
  padding: 0;
  border: 0;

  ul {
    padding: 10px 10px 5px 5px;
    margin: 0;
  }

  button {
    margin-top: 10px;
  }
}

.account-btn {
  display: block;
  position: absolute;
  right: 20px;
  height: 33px;
  color: $brand-text;
  padding: 0 5px;
  border: 0;

  i {
    font-size: 1.75em;

    &:after {
      content: '';
      @include box(0);
      display: block;
      position: absolute;
      right: -15px;
      top: 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $brand-text;
    }
  }

  &:hover i:after {
    border-top-color: $gray-8;
  }
}

.chat {
  @extend %align-right;
  margin-top: 8px;

  a {
    @extend %small;
    color: $brand-text;
    border: 0;

    &:hover, &:active {
      text-decoration: underline;
    }

    i {
      color: $brand-text;
      font-size: 15px;
      margin-right: 4px;
    }
  }
}

.dealer-info {
  position: relative;

  p, h6 {
    @extend %align-right;
    line-height: 1.35;
    padding-right: 45px;
    margin: 0;
  }
}
