// ===============
// Header
// ===============

.app-header {
  @extend .row-fluid;
  background: $white;
  margin-bottom: 20px;

  &.login {
    margin: 0;
  }
}

.header {
  @extend .row-fluid;

  .span6 {
    text-align: center;
  }
}

.nxg-logo {
  background-image: url(../img/nxg_logo_blue.png);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url(../img/nxg_logo_blue_2x.png);
  }
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: 20px 0;
  height: 50px;
  position: relative;
  top: 10px;
  padding-top: 1px;
  z-index: 5;
}

.nxg-dropdown {
  @extend %align-right;
  position: relative; // required for bootstrap's dropdown classes to work
  padding: 10px 20px 10px 10px;

  .dropdown-toggle:hover {
    text-decoration: none;
  }

  // for the arrow.
  &:after {
    content: '';
    @include box(0);
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $highlight;
  }

  &.open {
    background-color: $white;
  }

  .dropdown-menu {
    @include border-radius(0);
    right: 0;
    left: auto;
    padding: 10px;

    .btn {
      margin: 10px 0 0;
    }
  }
}

.nav-primary, .nav-secondary {
  @extend .inline-list;
  margin: 0;

  li a {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.nav-primary {
  padding: 10px 0;

  li {
    padding: 0 8px;

    a {
      color: $white;
      display: inline-block;
      padding: 8px 8px 9px;

      &.active {
        border-bottom: 4px solid $primary;
      }
    }
  }
}

.nav-secondary {
  @include border-bottom-radius($borderRadius);
  display: inline-block;
  background-color: #ECECEC;
  height: 40px;
  width: auto;
  position: relative;
  top: -1px;
  border: 1px solid $border;
  margin: 0 auto;

  li {
    height: 40px;
    padding: 6px 0;

    & + li a {
      border-left: 1px solid $border;
    }

    a {
      color: $accent;
      font-size: 11px;
      display: block;
      padding: 5px 20px;

      &:hover {
        color: $text;
      }
    }

    &.cart {
      @include border-bottom-right-radius($borderRadius);
      background-color: $primary;
      height: 39px; // to account for gray border on bottom
      border: 0;
      margin: 0;

      a {
        color: $white;
        font-size: 13px;
        padding: 5px 15px;
        border: 0;

        &:hover {

        }

        .svg-icon svg {
          fill: $white;
          margin-left: 2px;
        }
      }
    }
  }
}

.nav-bkgd {
  @include box-shadow(rgba(black, 0.25) 0px 2px 3px);
  height: 48px;
  background-color: $highlight;
  border-bottom: 3px solid $primary;
}
