// ============
//  INDICATORS
// ============

.loading {
  @include box(16px);
  display: inline-block;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 1px;
}

.nxg-infinite-scroll-indicator {
  height: 20px;
  background-image: url('../img/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.nxg-global-activity-indicator {
  @extend %center;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,0.1) 1px 2px 2px);
  background: $white;
  position: fixed;
  top: 25px;
  left: 50%;
  width: 160px;
  padding: 10px 27px;
  border: 1px solid $border;
  margin-left: -75px;
  z-index: 8000; /* make sure it's in front of modal backgrounds */

  p, p + div {
    @extend %float-l;
  }

  p {
    @extend %small;
    color: #999;
    margin-bottom: 0;
  }

  p + div {
    margin: 1px 0 0 5px;
  }

  .activity-inner {
    overflow: hidden;
  }
}

/*
 * COUNTER
 * Number with a rounded box, and variable background color
 */
.counter {
  @extend .heavy;
  @extend .center;
  @include border-radius(4px);
  display: inline-block;
  color: #666666;
  font-size: 14px;
  height: 30px;
  min-width: 35px;
  background: $white;
  padding: 7px 10px;
  margin: 6px 15px 6px 15px;
  border: 1px solid #808080;

  &.overdue {
    color: $white;
    background: $danger !important;
  }

  &.due-today {
    color: $white;
    background: $warning !important;
  }
}

.counter-label {
  height: 30px;
  padding: 12px 0;
}

.counter-list {
  li {
    @extend .clearfix;
  }

  .counter {
    @extend %float-l;
    margin: 4px 0px;
  }

  .dash-lockup {
    padding: 4px 10px;
  }
}
