// ========
//  MODALS
// ========

.modal-backdrop {
  @include opacity(.50);
  z-index: 1050;

  // Modal to go over all other modals
  // backdrop for the topmost modal should cover non-topmost modals
  &.topmost {
    z-index: 1090;
  }
}

.modal {
  @extend %small;
  @include border-radius(0);
  display: block;
  width: 450px;
  height: 0;
  //height:100%;
 // max-height: 50%;
  background: #F2F2F2;
  overflow: visible;
  border: 0;
  margin-left: 30%;
  margin-top:60px;
  z-index:2000;

  form {
    margin: 0;
  }

  .search-results { // Uses infinite scroll, so we need overflow:auto and a max height to get it to work.
    overflow-y: auto;
    max-height: 400px;
  }

  // Modal to go over all other modals
  &.topmost {
    z-index: 2000;
  }

  // modal widths
  &.modal-medium {
    width: 500px;
    margin-left: 30%;
  }

  &.modal-large {
    width: 700px;
    margin-left: 25%;
  }

  &.modal-x-large {
    width: 800px;
    margin-left: 20%;
  }
}

.modal-subtitle {
  @extend %heavy;
}

.modal-body-subtitle {
  color: $text;
}

/* Some modals require things to go right to the edge,
 * like payment or fee details. Use the extra "to-edge"
 * class for these modals.
 */
.modal-body {
  max-height: none;
  border: 1px solid $border;
  padding: 20px;
  overflow:visible;
  background: #F2F2F2;

  &.to-edge {
    padding: 0;
  }

  .modal-inner {
    padding: 20px;
  }

  .list-table {
    padding: 10px 50px 10px 30px;
  }

  .table-secondary {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 5px 0;
  }

  h4 {
    margin: 0 0 5px;
  }
}

.modal-header {
  background: $modalHeader;
  color: $white;
  padding: 12px 20px;
  border: none;
  margin: 0;

  // message boxes have the h3 inside a div.modal-header,
  // so we need to apply the styles for text more specifically.
  h3 {
    color: $white;
  }
}

.modal-close {
  font-size: $baseFontSize;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #878787;
  cursor: pointer;

  &:hover {
    color: #676767;
  }

  &.disabled {
    cursor: default;
  }
}

.modal-footer {
  @include box-shadow(none);
  padding: 10px;
  border: 0;
  background: #F2F2F2;
  margin-top:0;

  .btn {
    margin: 5px 10px;

    & + .btn {
      margin: 5px 10px 5px 0;
    }
  }
}

/*
 When a modal is open, stop the body from being able to scroll
 */
body.modal-open {
  overflow: hidden;
}

@media print {
  /*
   When printing, hide anything that's behind a modal, position the modal at the top left,
   expand to full height of content, and add some misc. visual cleanup
   */

  .modal-open > * {
    display: none;
  }

  body > .modal {
    display: block;
    top: 0.5in;
    left: 0.5in;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    background-color: #fff !important;

    .glyphicon-remove {
      display: none;
    }

    .modal-header {
      background-color: #fff;
      border-bottom: 1px solid #adadad;
    }

    .modal-body {
      overflow-y: visible;
      max-height: none;
    }
  }
}
