.modal {
  top: 15%;
  width: 320px;
  margin-left: -160px;
}

.modal-backdrop {
  @include opacity(50);
}

.modal {
  @extend %small;
  @include border-radius(0);
  border: 1px solid #adadad;

  form {
    margin: 0;
  }
}

.modal-subtitle {
  @extend %heavy;
}

.modal-header {
  margin: 0;
  padding: 9px;
  border: none;
  font-size: 16px;
  line-height: 1;
  color: $brand-text;
  font-weight: normal;
  background-color: $gray-e;

  h3 {
    @extend h4;
    line-height: 1;
  }
}

.modal-body {
  max-height: 350px;
}

.modal-close {
  font-size: $base-font-size;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #878787;
  cursor: pointer;

  &:hover {
    color: #676767;
  }

  &.disabled {
    cursor: default;
  }
}

.modal-footer {
  background-color: $white;
  padding: 12px 0 0 0;
  margin: 0 12px 12px 12px;
}

.modal.search-modal {
  width: 720px;
  margin-left: -360px;

  .nxg-search-btn {
    i {
      top: 0;
    }
  }

  .modal-body {
    padding: 0;
    margin: 12px 12px 0 12px;

    &.search-results {
      padding: 0;
      border: none;
    }
  }

  table {
    @extend %full-width;
  }

  thead {
    background-color: #535353;
    color: $white;
  }

  th {
    @extend %thin;
    @extend %align-left;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: normal;
    padding: 6px 18px 6px 6px;
  }

  td, th {
    line-height: $base-line-height;
    border: 1px solid #eaeaea;
    border-top: none;
  }

  td {
    vertical-align: top;
    padding: 6px;
  }

  .modal-footer {
    border: none;
  }

  &.search-modal-business, &.dealer-search-modal {
    td, th {
      &.bus-name, &.bus-legalName {
        width: 23%;
      }
      &.bus-num { width: 17%; }
      &.bus-city { width: 15%; }
      &.bus-state {  width: 12%; }
      &.bus-select { width: 10%; }
    }

    .show-access-num td, .show-access-num th {
      &.bus-name { width: 20%; }
      &.bus-legalName { width: 18%;}
      &.bus-num { width: 16%; }
      &.bus-city { width: 13%; }
      &.bus-state { width: 11%;}
      &.bus-auctionNum { width: 13%; }
      &.bus-select { width: 9%; }
    }
  }
}

.up-arrow {
  border-top: transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid white;
}

.down-arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid white;
  border-bottom: transparent;
}

.sortable {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    @include box(0);
    float: right;
    position: relative;
    top: 1px;
    left: 5px;
    border: 0;
    margin: 3px 0 0;
  }

  &:hover {
    &::after {
      @extend .up-arrow;
    }
  }

  &.sorted {
    &::after {
      @extend .up-arrow;
    }

    &.desc {
      &::after {
        @extend .down-arrow;
      }
    }
  }
}

/*
 When a modal is open, stop the body from being able to scroll
 */
body.modal-open {
  overflow: hidden;
}

@media print {
  /*
   When printing, hide anything that's behind a modal, position the modal at the top left,
   expand to full height of content, and add some misc. visual cleanup
   */

  .modal-open > * {
    display: none;
  }

  body > .modal {
    display: block;
    top: 0.5in;
    left: 0.5in;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    background-color: #fff !important;

    .glyphicon-remove {
      display: none;
    }

    .modal-header {
      background-color: #fff;
      border-bottom: 1px solid #adadad;
    }

    .modal-body {
      overflow-y: visible;
      max-height: none;
    }
  }
}
