.modal-backdrop {
  @include opacity(50);
  z-index: 1050;

  // Modal to go over all other modals
  // backdrop for the topmost modal should cover non-topmost modals
  &.topmost {
    z-index: 1090;
  }
}

.modal {
  @extend %small;
  @include border-radius(0);
  width: 450px;
  height: auto;
  max-height: 90%;
  background: #F2F2F2;
  overflow-y: auto;
  border: 0;
  margin-left: -200px;

  form {
    margin: 0;
  }

  .search-results { // Uses infinite scroll, so we need overflow:auto and a max height to get it to work.
    overflow-y: auto;
    max-height: 350px;
  }

  // Modal to go over all other modals
  &.topmost {
    z-index: 2000;
  }

  // modal widths
  &.modal-medium {
    width: 500px;
    margin-left: -250px;
  }

  &.modal-large {
    width: 700px;
    margin-left: -350px;
  }

  &.modal-x-large {
    width: 800px;
    margin-left: -400px;
  }
}


.modal-subtitle {
  @extend %heavy;
}

/* Some modals require things to go right to the edge,
 * like payment or fee details. Use the extra "to-edge"
 * class for these modals.
 */
.modal-body {
  max-height: none;
  border: 1px solid $border;
  padding: 20px;

  &.to-edge {
    padding: 20px 0 0;
  }

  .list-table {
    padding: 10px 50px 10px 30px;
  }

  .table-secondary {
    margin-bottom: 10px;
  }

  h3 {
    margin: 0 0 5px 0;
  }

  h4 {
    margin: 0 0 5px;
  }
}

.modal-header {
  background: $modalHeader;
  color: $white;
  padding: 12px 20px;
  border: none;
  margin: 0;

  // message boxes have the h3 inside a div.modal-header,
  // so we need to apply the styles for text more specifically.
  h3 {
    color: $white;
  }
}

.modal-close {
  font-size: $baseFontSize;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #878787;
  cursor: pointer;

  &:hover {
    color: #676767;
  }

  &.disabled {
    cursor: default;
  }
}

.modal-footer {
  @include box-shadow(none);
  padding: 10px;
  border: 0;

  .btn {
    margin: 5px 10px;

    & + .btn {
      margin: 5px 10px 5px 0;
    }
  }
}

// .modal.request-credit-increase .modal-body {
//   max-height: none;
// }

// .modal.search-modal {
//   width: 720px;
//   margin-left: -360px;

//   .nxg-search-btn {
//     i {
//       top: 0;
//     }
//   }

//   .modal-body {
//     padding: 0;
//     margin: 12px 12px 0 12px;
//   }

//   .search-results {
//     padding: 0;
//     border: none;
//   }

//   .search-controls {
//     padding: 12px;
//     border: 1px solid #eaeaea;
//   }

//   table {
//     @extend %full-width;
//   }

//   thead {
//     background-color: #535353;
//     color: $white;
//   }

//   th {
//     @extend %thin;
//     @extend %align-left;
//     vertical-align: middle;
//     text-transform: uppercase;
//     font-weight: normal;
//     padding: 6px 6px 6px 6px;
//   }

//   td, th {
//     line-height: $baseLineHeight;
//     border: 1px solid #eaeaea;
//     border-top: none;
//   }

//   td {
//     vertical-align: top;
//     padding: 6px;
//   }

//   .modal-footer {
//     border: none;
//   }

//   &.search-modal-business, &.dealer-search-modal {
//     td, th {
//       &.bus-name, &.bus-legalName {
//         width: 23%;
//       }
//       &.bus-num { width: 17%; }
//       &.bus-city { width: 15%; }
//       &.bus-state {  width: 12%; }
//       &.bus-select { width: 10%; }
//     }

//     .show-access-num td, .show-access-num th {
//       &.bus-name { width: 20%; }
//       &.bus-legalName { width: 18%;}
//       &.bus-num { width: 16%; }
//       &.bus-city { width: 13%; }
//       &.bus-state { width: 11%;}
//       &.bus-auctionNum { width: 13%; }
//       &.bus-select { width: 9%; }
//     }
//   }
// }

/*
 When a modal is open, stop the body from being able to scroll
 */
body.modal-open {
  overflow: hidden;
}

@media print {
  /*
   When printing, hide anything that's behind a modal, position the modal at the top left,
   expand to full height of content, and add some misc. visual cleanup
   */

  .modal-open > * {
    display: none;
  }

  body > .modal {
    display: block;
    top: 0.5in;
    left: 0.5in;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    background-color: #fff !important;

    .glyphicon-remove {
      display: none;
    }

    .modal-header {
      background-color: #fff;
      border-bottom: 1px solid #adadad;
    }

    .modal-body {
      overflow-y: visible;
      max-height: none;
    }
  }
}
