// ===============
// Navigation
// ===============

.nav {
  margin-bottom: 0;

  & > li > a {
    margin: 0;

    &:focus, &:hover {
      border: none;
      background: transparent;
    }
  }
}

.nav-bg {
  @extend %heavy;
  @include gradient-row;
  height: 44px;
  vertical-align: middle;
  border-top: 1px solid #dfdfdf;
  border-bottom: 2px solid $white;

  .container-fluid {
    margin-bottom: 0;
  }

  span {
    display: inline-block;
    margin: 11px 28px 0 14px;
  }

  a {
    @extend %small;
    color: $gray-8;
    text-transform: uppercase;
    border-bottom: 0;

    &.active {
      color: $highlight;
    }

    &:hover, &:focus, &:active {
      color: $highlight;
      text-decoration: none;
    }
  }
}

.nav-tabs {
  border: none;
  font-size: $tiny-font-size;
  text-transform: uppercase;

  & > li {
    margin: 0;

    & > a {
      padding: 12px 20px 10px;
      border: none;
    }
  }

  a {
    color: $white;
    border: none;
  }

  & > .active {
    @include box-shadow(
      inset rgba(black, 0.25) 0px 2px 5px,
      inset rgba(white, 0.2) 0px -2px 0px,
      inset rgba(black, 0.5) 0px 0px 2px
     );
    background-image: url('../img/secondaryNavBgActive.gif');
    border-left: 1px solid darken($highlight, 5%);
    border-right: 1px solid darken($highlight, 5%);
    margin: 0 -1px;

    &:hover {
      color: $white;
    }
    & > a, & > a:hover, & > a:focus {
      color: $white;
      background-color: transparent;
      border: none;
    }
  }
}

.secondary-nav-bg {
  background-image: url('../img/secondaryNavBg.gif');
  @include box-shadow(inset rgba(black, 0.25) 0px 2px 5px, inset rgba(white, 0.2) 0px -2px 0px);
  border-bottom: 1px solid #1b447d;
  margin-bottom: 1em;

  .container-fluid {
    margin-bottom: 0;
  }
}

.container-line {
  padding-top: 14px;
  position: relative;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    content: " ";
    background-image: url('../img/secondaryNavBg.gif');
    @include box-shadow(inset rgba(black, 0.15) 0px 1px 0px, inset rgba(black, 0.3) 0px -1px 0px);
  }
}
