// SEARCH FORM

.search-form {
  &.payments .control-group.half, &.schPayments .control-group.half {
    & + .half {
      margin-left: 5px;
    }

    input {
      width: 102px;
    }
  }

  form.search {
    margin-bottom: 0;
  }

  .well-out {
    padding: 10px;
  }

  .control-group {
    @extend %float-l;
  }

  .keyword {
    padding-right: 10px;
    border-right: 1px solid $border;

    .control-group, input {
       @extend %full-width;
    }
  }

  .filters {
    margin-right: 10px;

    select {
      width: 150px;
    }
  }

  .search-clear-btns {
    @extend %align-right;

    .btn-small {
      margin-left: 10px;
    }
  }
}

// Provides our highlightable search text
.ui-match {
  background: yellow;
}
