// =========
//  SORTING
// =========

/* 
 * Sorting arrows are used in the business search modal and on
 * search pages for floorplan, receipts, payments, etc. 
 * These classes must be used in conjunction with one another
 * for this to work.
 *
 * Sample HTML:
 *  <th class="sortable">
 *    <div class="sortable-inner">
 *      <span class="sortable-text"></span>
 *      <span class="sortArrows"></span>
 *    </div>
 *  </th>
 *
 */

.sortable {
  cursor: pointer;
  @include user-select(none);

  .sortable-inner {
    position: relative;
    height: auto;
    padding-right: 10px;
  }

  .sortable-text {
    @extend %full-width;
    position: relative;
  }

  .sortable-text, .sortArrows {
    display: block;
  }

  .sortArrows {
    position: absolute;
    top: 47%;
    @include translateY(-50%);
    right: 0;

    &::before, &::after {
      content: '';
      display: block;
      @include box(0);
      position: relative;
      top: 0px;
      left: 1px;
      border: 0;
      margin: 0;
    }

    &::after {
      top: 3px;
    }

    &::before {
      @include up-arrow(false);
    }
    &::after {
      @include down-arrow(false);
    }
  }

  &.sorted {
    background-color: #484848;
  }

  &.sorted .sortArrows {
    &::before {
      @include up-arrow(true);
    }
    &::after {
      @include down-arrow(false);
    }
  }

  &.sorted.desc .sortArrows {
    &::before {
      @include up-arrow(false);
    }
    &::after {
      @include down-arrow(true);
    }
  }
}

.sortable-secondary {
  @extend .sortable;
  height: 30px;

  &.sorted {
    background-color: darken($white, 15%);
  }
}
