// ========
//  TABLES
// ========

/*
 * PRIMARY TABLE
 * Used to style large lists of data, such as payments, fees, floorplans,
 * title releases, receipts, etc.
 */
.table-primary {
  @include border-bottom-radius($borderRadius);
  border: 0;
  margin-bottom:0px;
  background-color: white;

  thead th, thead td {
    @extend .heavy;
    @extend .center;
    background: #666666;
    height: 35px;
    font-size: 12px;
    color: $white;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid $tableBorder;

    button {
      margin: 0 auto;
    }

  }

  .separated { // On the checkout pages we use thicker borders to separate items.
    border-bottom: 3px solid $tableBorder;

    &:last-child {
      border-bottom: 0;
    }
  }

  th, td {
    color: #4d4d4d;
    height: 75px;
    text-align: left;
    vertical-align: top;
    padding: 10px 15px;
    border: 1px solid $tableBorder;

    &.numeric {
      text-align: right;
    }

    &.paired {
      min-width: 120px;
      padding: 10px;

      .paired-media, .paired-body {
        vertical-align: top;
      }
    }

    &.split {
      @extend .clearfix;
      padding: 0;

      .split-cell {
        @extend .clearfix;
        padding: 10px;

        & + .split-cell {
          border-top: 1px solid $border;
        }
      }
    }

    .medium-left-margin {
      margin-left: 20%;
    }
  }

  th:first-child, td:first-child {
    border-left: 0;
  }

  th:last-child, td:last-child {
    border-right: 0;
  }

  tr:last-child, tr:last-child td {
    @include border-bottom-radius($borderRadius);
    border-bottom: 0;
  }

  p {
    color: #4D4D4D;
  }

  // Classes for data types within table cells
  .lockup-major,  {
    font-size: 14px;
    color: $text;
    display: block;
  }

  a.lockup-major, a.lockup-major:visited {
    color: $highlight;
  }

  .lockup-minor {
    font-size: 12px;
    //padding-left:15px;
  }
}

/*
 * SECONDARY TABLE
 * Used to style smaller lists of data, such as payment activity
 * or dashboard payment details. Also used for tabular data within
 * modal dialogs.
 */
.table-secondary {
  border: 1px solid $tableBorder;
  border-width: 0 0 1px 0;
  background-color: white;
  &.table-border {
    border: 1px solid $tableBorder;
  }

  thead th {
    @extend .center;
    vertical-align: middle;
    border: 1px solid $tableBorder;
  }

  .error-row {
    border: 2px solid $danger;
  }

  th, td {
    min-width: 100px;
    vertical-align: middle;
    padding: 8px 15px;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  td {
    border-style: solid;
    border-width: 0 1px;
    border-color: $tableBorder;

    &.center, .center {
      text-align: center;
    }
  }

  .modal & {
    border-width: 1px;
  }
}

/*
 * DATA TABLE COMPONENT
 * Table meant to display side by side data,
 * with the assumption of 2 columns.
 */
.list-table {
  @extend %full-width;
  padding: 10px 20px;
  margin: 0;

  &.padded {
    padding: 10px 20px 20px 20px;
  }

  &.mini {
    padding: 0;
  }
}
  .list-table-row {
    @extend .clearfix;
    @extend .row;
    padding: 0 0 0;
    margin: 0;

    .table-symbol {
      @extend %float-l;
      line-height: 1;
      padding: 0;
    }

    .mini & {
      padding: 0;

      p, a {
        font-size: 12px;
        margin: 0;
      }

      p:first-child {
        padding-right: 10px;
      }
    }

    [class*="col"] {
      min-height: 0;
    }

    p, a {
      font-size: 14px;
    }

    p {
      margin: 0 0 5px;
    }
  }

  .list-table-emphasis > * {
    font-weight: bold;
  }

  .list-table-spacer {
    height: 20px;
  }

  .value {
    color: $text;
    font-weight: bold;

    .highlight & {
      color: $highlight;
    }

    .value-note {
      font-weight: normal;
    }
  }

  .list-table-hr {
    border-top: 1px solid $dataTableBorder;
    padding-top: 10px;
    margin-top: 5px;
  }

// General table styles
.table td,
.table th {
  // Some columns need to be a certain
  // width to prevent unwanted text-wrapping.
  &.actions {
    min-width: 150px;
    max-width: 200px;
  }

  &.date {
    min-width: 100px;
  }

  &.description {
    min-width: 225px;
    max-width: 300px;
  }

  &.description-narrow {
    min-width: 225px;
    max-width: 225px;
  }

  &.buyer {
    max-width: 150px;
  }

  &.description-no-vin {
    max-width: 210px;
  }

  &.has-btns {
    padding: 10px;
    min-width: 120px;
  }
}

.row.ng-scope .col-xs-6{
  &:first-child{
    margin-left: 0;
    margin-right: 2%;
  }

  &:last-child{
    margin-left: 2%;
    margin-right: 0;
  }
}

.row .col-xs-2 ul{
  padding: 7px;
}
/*
 * For tabular content with no styling.
 */
.table-unstyle {
  background: transparent;
  border: 0;

  td, th, tr td, tr th {
    padding: 8px 4px;
    border: 0;
  }
}

/*
 * For chart legend data
 */
.table-legend {
  @extend .table-unstyle;
  margin-bottom: 5px;

  td, th, tr td, tr th {
    padding: 6px 0;
  }

  &.table .table-symbol, &.table td.table-symbol {
    line-height: 1;
  }
}

/*
 * Table with Fixed Header (ex. Recently Floored table on Dashboard)
 * Meant to be used as a wrapper class; do not apply to table itself
 * Inspired by http://salzerdesign.com/test/fixedTable.html (1)
 */
.table-fixed-header {
  height: 222px;
  position: relative;
  padding-top: 30px;

  .table-fixed-header-inner {
    overflow-y: auto;
    height: 100%;
  }

  .header-bkgd {
    background-color: $white;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid $tableBorder;
  }

  .table {
    overflow-y: auto;
    width: 100%;

    th, tr th {
      padding: 0;
      border: 0;

      .th-inner {
        position: absolute;
        top: 0;
        padding: 8px 15px;
        border-left: 1px solid $tableBorder;
      }
    }

    th:first-child .th-inner, tr th:first-child .th-inner {
      border: 0;
    }
  }
}

// Table-specific type classes. To override bootstrap,
// we have to be extra-specific.
.table-symbol, .table td.table-symbol {
  @extend .heavy;
  font-size: 16px;
  line-height: 1.3;
  padding: 4px;
}

.table-value, .table .table-value {
  @extend .heavy;
}

.table-numeric, .table .table-numeric,
.numeric, .table .numeric {
  @extend %align-right;
}
