// TABLE LISTS (Payments, Sch. Payments, Receipts, Floorplan)

.table-list-head, .table-list-row {
  @extend %full-width;
  position: relative;
  display: table;

  .cell {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    padding: 8px 5px;
  }
}

.main-info {
  @extend %full-width;
  position: relative;
  display: table;
}

.table-list-head {
  background-color: $gray-6;
  color: $white;
  overflow: hidden;

  .cell {
    @extend %thin;
    @extend %small;
    text-transform: uppercase;

    & + .cell {
      border-left: 1px solid $white;
    }

    .btn {
      text-transform: none;
      letter-spacing: 0;
    }
  }

  .sortable {
    &::before{
      top: 3px;
    }
    &::after {
      top: 11px;
    }
  }
}

.table-list-row {
  background-color: $white;
  border: 1px solid $gray-d;
  line-height: $base-line-height;

  & + .table-list-row {
    border-top: 0;
  }

  &:nth-child(2n + 1) {
    background-color: #F9F9F9;
  }

  &.error-row {
    border: 2px solid $error-dark;
  }

  .cell {
    font-size: 13px;
    line-height: $base-line-height;

    & + .cell {
      border-left: 1px solid $gray-d;
    }
  }

  p {
    margin: 0;
    & + p {
      margin-top: 10px;
    }
  }
}

.no-results {
  @extend %center;
  font-size: $large-font-size;
  line-height: $base-line-height;
  color: $gray-a;
  margin: 20px 0;
}


.recently-floored-table {
  table {
    
  }
}