// TABLE LISTS (Payments, Sch. Payments, Receipts, Floorplan)

.table-list-head, .table-list-row {
  @extend %full-width;
  position: relative;
  display: table;

  .cell {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    padding: 8px 5px;
  }
}

.main-info {
  @extend %full-width;
  position: relative;
  display: table;
}

.table-list-head {
  @extend %center;
  background-color: #666;
  color: $white;
  overflow: hidden;

   .cell {
    @extend %thin;
    @extend %small;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    & + .cell {
      border-left: 1px solid $white;
    }
  }
}

.table-list-row {
  background-color: $white;
  border: 1px solid #DDD;

  & + .table-list-row {
    border-top: 0;
  }

  &:nth-child(2n + 1) {
    background-color: #F9F9F9;
  }

  .cell {
    font-size: 13px;
    line-height: $base-line-height;

    & + .cell {
      border-left: 1px solid #DDD;
    }
  }

  p {
    margin: 0;
    & + p {
      margin-top: 10px;
    }
  }
}

.no-results {
  @extend %center;
  font-size: $large-font-size;
  line-height: $base-line-height;
  color: #AAA;
  margin: 20px 0;
}
