// =======
//  WELLS
// =======

/*
 * Well
 * A containing element to hold content, with a
 * particular header style, background, and rounded corners.
 */
.well {
  @include border-radius($borderRadius);
  @include box-shadow(none);
  padding: 0;
  border: 1px solid $wellBorder;
}

  .well-title { // typically h2
    @include border-top-radius($borderRadius);
    position: relative;
    background: $white;
    line-height: 1.8;
    padding: 5px 18px;
    border-bottom: 1px solid $wellBorder;

    .btn {
      position: absolute;
      height: 30px;
      top: 0;
      right: 10px;
    }

    .subtle {
      font-weight: normal;
    }
  }

  // For additional text in the title bar at the top
  .well-title-secondary {
    @extend .well-title;
    background: #E6E6E6;
    font-size: 16px;
    padding: 8px 18px;
  }

  // For important text within the modal body.
  .well-sub-title {
    font-size: 14px;
    float: right;
    margin: 5px 0 0;

    .btn-unstyle {
      @extend %float-r;
      font-weight: bold;
      margin: 5px 0;

      & + .btn-unstyle {
        margin-left: 15px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.cancel {
        font-size: $small-font-size;
        font-weight: normal;
        color: #1B769D;
        padding-top: 2px;
      }
    }
  }

  // for forms within wells.
  .well-form {
    padding: 20px;
  }

// Queue lists; used for payment and title request summaries.
.queue-list {
  border-top: 1px solid $wellBorder;
  border-bottom: 1px solid $wellBorder;
  margin: 0 0 -1px 0;
}
  .queue-item {
    padding: 15px;
    background: $white;

    &:nth-child(2n) {
      background: #ececec;
    }

    .reversed & {
      background: #ececec;

      &:nth-child(2n) {
        background: $white;
      }
    }

    & + .queue-item {
      border-top: 1px solid $wellBorder;
    }

    p, h6 {
      margin-bottom: 3px;
    }

    .item-summary {
      padding-top: 10px;
    }

    .icon-cancel svg {
      fill: #666666;
    }

    .lockup-major {
      @extend .highlight;
    }
  }

// A block of content within a well. Can be
// bordered, and have a lighter or darker background.
.well-item {
  @extend .clearfix;
  padding: 10px 15px;

  &.bordered {
    border-top: 1px solid $wellBorder;
  }

  &.inset {
    padding: 10px 20px;
  }
}
  .well-light {
    background: #ffffff;
  }

  .well-dark {
    background: #ececec;
  }

// Well footer
.well-footer {
  border-top: 1px solid $wellBorder;

  .btn-checkout {
    border: 0;
    background: #fff;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

p.no-results {
  padding: 1em;
}
