// =======
//  WELLS
// =======

/*
 * Well
 * A containing element to hold content, with a
 * particular header style, background, and rounded corners.
 */
.well {
  @include border-radius($borderRadius);
  @include box-shadow(none);
  padding: 0;
  border: 1px solid $wellBorder;
}

  .well-title { // typically h2
    @include border-top-radius($borderRadius);
    position: relative;
    background: $white;
    line-height: 1.8;
    padding: 5px 18px;
    border-bottom: 1px solid $wellBorder;

    .btn {
      position: absolute;
      height: 30px;
      top: 0;
      right: 10px;
    }

    .subtle {
      font-weight: normal;
    }
  }

  .well-column-header {
    background: $white;
    border-bottom: 1px solid $wellBorder;
    &.col-xs-12{
      padding: 0;
    }
    h6{
      padding: 10px 0px;
      text-align: center;
      margin: 0;
      &.left-align{
        text-align: left;
      }
      &.left-padding{
        padding-left: 15px;
      }
    }
  }

  // For additional text in the title bar at the top
  .well-title-secondary {
    @extend .well-title;
    background: #E6E6E6;
    font-size: 16px;
    padding: 8px 18px;
  }

  // For important text within the modal body.
  .well-sub-title {
    font-size: 14px;
    float: right;
    margin: 5px 0 0;

    .btn-unstyle {
      @extend %float-r;
      font-weight: bold;
      margin: 5px 0;

      & + .btn-unstyle {
        margin-left: 15px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.cancel {
        font-size: $small-font-size;
        font-weight: normal;
        color: #1B769D;
        padding-top: 2px;
      }
    }
  }

  // for forms within wells.
  .well-form {
    padding: 20px;
  }

// Queue lists; used for payment and title request summaries.
.queue-list {
  border-top: 1px solid $wellBorder;
  border-bottom: 1px solid $wellBorder;
  margin: 0 0 -1px 0;
}
  .queue-item {
    padding: 15px;
    background: $white;

    &:nth-child(2n) {
      background: #f5f5f5;
    }

    .reversed & {
      background: #f5f5f5;

      &:nth-child(2n) {
        background: $white;
      }
    }

    & + .queue-item {
      border-top: 1px solid $wellBorder;
    }

    p, h6 {
      margin-bottom: 3px;
    }

    .item-summary {
      padding-top: 10px;
    }

    .icon-cancel svg {
      fill: #666666;
    }

    .lockup-major {
      @extend .highlight;
    }
  }

// A block of content within a well. Can be
// bordered, and have a lighter or darker background.
.well-item {
  @extend .clearfix;
  padding: 10px 15px;

  &.bordered {
    border-top: 1px solid $wellBorder;
  }

  &.inset {
    padding: 10px 20px;
  }

  &.financial-account{
    padding: 0 15px;
    line-height: 3;
  }
}
  .well-light {
    background: #ffffff;
  }

  .well-dark {
    background: #ececec;
  }

// Well footer
.well-footer {
  border-top: 1px solid $wellBorder;

  .btn-checkout {
    border: 0;
    background: #fff;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

p.no-results {
  padding: 1em;
}

// Page-specific well classes
.dash-well {
  position: relative;
  height: 285px;

  &.nxg-dash-calendar-container {
    height: auto;
    min-height: 270px;
  }

  .counter-list {
    padding: 0 6%;
  }

  .cta-full {
    position: absolute;
    bottom: 0;
  }

  &.payment-summary{
    height: 270px;
  }

  &.recent-receipts{
    min-width: 305px;
  }
}

.analytics-well {
  position: relative;
  height: 400px;
}

.auction-well {
  position: relative;
  height: 270px;

  .counter-list {
    padding: 0 6%;
  }

  .cta-full {
    position: absolute;
    bottom: 0;
  }
}


.settings-well {
  padding-bottom: 20px;

  [class*="col"] {
    position: relative;
  }
}

.details-well {
  height: 280px;
}

.promo-item{
  border-bottom: 1px solid $wellBorder;
  margin: 0;
  padding: 10px;
  &:first-child{
    margin-top: 35px;
  }
  &:last-child{
    border-bottom: none;
    margin-bottom: -15px;
  }
  &.inactive{
    color: $wellBorder;
    &:first-child{
      margin-top: 0;
    }
  }
  .promo-auction-name{
    font-size: 14px;
    padding-left: 5px;
  }

  .promo-terms-conditions{
    padding: 5px 5px 5px 50px;
  }

  .paired-media{
    cursor: pointer;
  }

  .promo-empty-tc{
    margin-left: 30px;
  }
}
.promo-header{
  padding-left: 10px !important;
  padding-right: 10px !important;
  .promo-header-item span{
    float: left;
    padding: 0px 15px !important;
  }
}
.promo-contact{
  padding-bottom: 9px;
}
