/app/scripts/react-app.js
/app/client/debug-info.js
/app/client/config/nxg-config.mock.processed.js.sass-cache/*
/app/client/config/nxg-config.mock.processed.js
.tmp/*
api/*
api_tests/*
dist/*
docs/*
e2e/*
po/*
test/*
uv_custom_code/*
Gruntfile.js
karma-e2e.conf.js
karma.conf.js
webpack.config.js
webpack.karma.conf.js
app/scripts/react-app.js
app/client/debug-info.js
react/translations/en.js
react/translations/fr.js
react/translations/es.js
