{
    "env": {
      "jasmine": true,
      "jquery": true,
      "es6": true,
      "browser": true,
      "node": true,
      "mocha": true
    },
    "extends": [
        "airbnb",
        "angular",
        "plugin:jasmine/recommended",
        "plugin:react/recommended",
        "jquery"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "jasmine",
        "angular",
        "jquery"
    ],
    "globals": {
        "Highcharts": true,
        "jQuery": true,
        "Modernizr": true,
        "sinon": true,
        "inject": true,
        "moment": true,
        "_": true,
        "document": true,
        "assert": true
    },
    "parser": "babel-eslint",
    "rules": {
        "camelcase": 0,
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": 1,
        "consistent-return": 0,
        "curly": 0,
        "eol-last": 1,
        "eqeqeq": 1,
        "indent": [2, 4, {SwitchCase: 1}],
        "init-declarations": 2,
        "key-spacing": 0,
        "max-len": [2, 300],
        "no-alert": 1,
        "no-catch-shadow": 2,
        "no-cond-assign": 2,
        "no-console": 0,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-delete-var": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-label-var": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": 2,
        "no-spaced-func": 1,
        "no-sparse-arrays": 2,
        "no-undef-init": 2,
        "no-undef": 2,
        "no-undefined": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "semi": 0,
        "space-infix-ops": 1,
        "use-isnan": 2,
        "valid-jsdoc": 2,
        "valid-typeof": 2,
        "linebreak-style": "off",
        "quotes": [2, "single"],
        "import/prefer-default-export": 0,
        "space-in-parens": 0,
        "computed-property-spacing": 0,
        "array-bracket-spacing": 0,
        "object-curly-spacing": 0,
        "template-curly-spacing": 0,
        "operator-linebreak": 0,
        "space-before-function-paren": ["error", "never"],

        "react/jsx-uses-vars": 1,
        "react/prop-types": [1, { "ignore": ["children"] }],
        "react/prefer-stateless-function": "warn",
        "react/jsx-curly-spacing": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-filename-extension": 0,
        "react/require-extension": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-space-before-closing": 0,

        "angular/controller-name": "warn",
        "angular/controller-as": "warn",
        "angular/controller-as-vm": "warn",
        "angular/definedundefined": "warn",
        "angular/window-service": "warn",
        "angular/json-functions": "warn",
        "angular/document-service": "warn",
        "angular/no-service-method": "warn",
        "angular/on-watch": "warn",
        "angular/no-cookiestore": "warn",
        "angular/typecheck-number": "warn",
        "angular/typecheck-string": "warn",
        "angular/no-private-call": "warn",
        "angular/log": 0,
        "angular/controller-as-route": "warn",
        "angular/timeout-service": "warn"
    }
}
