{
    "env": {
      "jasmine": true,
      "jquery": true,
      "es6": true,
      "browser": true,
      "node": true,
      "mocha": true
    },
    "extends": [
        "airbnb",
        "plugin:jasmine/recommended",
        "plugin:react/recommended",
        "jquery"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "jasmine",
        "angular",
        "jquery"
    ],
    "globals": {
        "angular": true,
        "Highcharts": true,
        "jQuery": true,
        "Modernizr": true,
        "sinon": true,
        "inject": true,
        "moment": true,
        "_": true,
        "document": true,
        "assert": true,
        "ENVIRONMENT": true
    },
    "parser": "babel-eslint",
    "parserOptions":{
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "jsx": true,
            "sourceType": "module",
            "experimentalObjectRestSpread": true
        }
      },
    "rules": {
        "camelcase": "off",
        "comma-dangle": ["off", "always-multiline"],
        "comma-spacing": "warn",
        "consistent-return": "off",
        "curly": "off",
        "eol-last": "warn",
        "eqeqeq": "warn",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "init-declarations": "error",
        "key-spacing": "off",
        "max-len": ["error", 200],
        "no-alert": "warn",
        "no-catch-shadow": "error",
        "no-cond-assign": "error",
        "no-console": "off",
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-delete-var": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty-character-class": "error",
        "no-empty": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-label-var": "error",
        "no-negated-in-lhs": "error",
        "no-obj-calls": "error",
        "no-redeclare": "error",
        "no-regex-spaces": "error",
        "no-shadow-restricted-names": "error",
        "no-shadow": "error",
        "no-spaced-func": "warn",
        "no-sparse-arrays": "error",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-undefined": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "semi": "off",
        "space-infix-ops": "warn",
        "use-isnan": "error",
        "valid-jsdoc": "error",
        "valid-typeof": "error",
        "linebreak-style": "off",
        "quotes": ["error", "single"],
        "import/prefer-default-export": "off",
        "space-in-parens": "off",
        "space-in-brackets": "off",
        "computed-property-spacing": "off",
        "array-bracket-spacing": "off",
        "object-curly-spacing": "off",
        "template-curly-spacing": "off",
        "operator-linebreak": "off",
        "space-before-function-paren": ["error", "never"],

        "react/jsx-uses-vars": "warn",
        "react/prop-types": ["warn", { "ignore": ["children"] }],
        "react/prefer-stateless-function": "warn",
        "react/jsx-curly-spacing": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-filename-extension": "off",
        "react/require-extension": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-space-before-closing": "off",

        "jsx-a11y/no-static-element-interactions": 1,
    }
}
