/node_modules
/dist
/app/components
/app/coverage
/target
.tmp
.sass-cache
/.idea
.idea
.DS_Store
test/coverage
libpeerconnection.log
/app/styles/main.css
/app/styles/main-blessed1.css
npm-debug.log
*.iml
/target
*.processed.*
*.mo
*.pot
app/scripts/translations.js
app/languages/
.metadata/
maintenance
TESTS*.xml