<div class="container">
  <section class="row">
    <section class="col-xs-12 col-sm-9">
      <div class="info-block" ng-show="!canPayNow && canPayNowLoaded">
        <div class="info-block-image">
          <span nxg-icon="icon-info"></span>
        </div>

        <h6 class="info-block-text" translate>
          You have logged in outside of business hours. Any payments made will be scheduled to be applied on the next available business day, {{ nextBusinessDay | moment }}.
        </h6>
      </div>
      <div nxg-search
           title="{{ 'Payment Search' | translate }}"
           prompt="{{ 'By Stock #, VIN, or Description' | translate }}"
           filter-label="{{ 'Filter by Due Date' | translate }}"
           filter-options="payments.filterOptions"
           active-criteria="payments.proposedSearchCriteria"
           show-date-range="payments.proposedSearchCriteria.filter == 'range'"
           on-search="payments.search()"
           on-clear="payments.resetSearch()"
           filterable="true"
           show-location-filter="inventoryLocations">
      </div>

      <div class="info-block" ng-show="fees.results.length > 0">
        <div class="info-block-image">
          <span nxg-icon="icon-info"></span>
        </div>
        <h6 class="info-block-text" translate>
          Amounts shown are valid through 8pm Eastern Time
          <span ng-show="canPayNow">today ({{ todayDate | moment }})</span>
          <span ng-show="!canPayNow">({{ nextBusinessDay | moment }})</span>
        </h6>
      </div>

      <div class="panel panel-default" ng-show="fees.results.length > 0">
        <h2 class="well-title">
          <span translate translate-n="2" translate-plural="Account Fees">Account Fee</span>
        </h2>

        <table class="table table-striped table-primary">
          <thead>
          <tr>
            <th class="sortable hidden-xs"
                ng-click="sortFeesBy('EffectiveDate')"
                ng-class="{ sorted : sortField.fee == 'EffectiveDate', desc : sortDescending.fee }">
              <nxg-sortable sortable-text="{{ 'Due Date' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable hidden-xs"
                ng-click="sortFeesBy('FeeType')"
                ng-class="{ sorted : sortField.fee == 'FeeType', desc : sortDescending.fee }">
              <nxg-sortable sortable-text="{{ 'Fee Type' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable hidden-xs"
                ng-click="sortFeesBy('Description')"
                ng-class="{ sorted : sortField.fee == 'Description', desc : sortDescending.fee }">
              <nxg-sortable sortable-text="{{ 'Description' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable hidden-sm hidden-xs"
                ng-click="sortFeesBy('Posted')"
                ng-class="{ sorted : sortField.fee == 'Posted', desc : sortDescending.fee }">
              <nxg-sortable sortable-text="{{ 'Posted' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable hidden-xs"
                ng-click="sortFeesBy('Balance')"
                ng-class="{ sorted : sortField.fee == 'Balance', desc : sortDescending.fee }">
              <nxg-sortable sortable-text="{{ 'Amount' | translate }}"></nxg-sortable>
            </th>
          </tr>
          </thead>
          <tr ng-repeat="fee in fees.results | orderBy:sortField.fee:sortDescending.fee">
            <td class="paired paired-reversed hidden-xs">
              <div class="paired-body">
                <p class="lockup-major" ng-class="{ 'color-danger': getDueStatus(fee, false) == 'overdue' }">
                <span class="paired-media svg-icon" ng-class="getDueStatus(fee, false)" ng-switch="getDueStatus(fee, false)">
                  <span ng-switch-when="today" nxg-icon="icon-warning"></span>
                  <span ng-switch-when="overdue" nxg-icon="icon-alert"></span>
                </span>
                  {{ fee.EffectiveDate | moment }}</p>
              </div>
            </td>
            <td>
              <p class="lockup-major">{{ fee.FeeType || 'N/A' }}</p>
              <p class="visible-xs">{{ fee.Description }}</p>
              <div class="col-xs-12 vertical-spacing">
                <p translate>Payment Due: </p>
                <div nxg-payment-buttons="fee"
                     item="fee"
                     on-queue="isFeeOnQueue(fee.FinancialRecordId)"
                     class="visible-xs">
                </div>
                <div class="paired-body vertical-spacing visible-xs">
                  <p class="lockup-minor" ng-class="{ 'color-danger': getDueStatus(fee, false) == 'overdue' }">
                    <span translate>Due: </span>
                  <span class="paired-media svg-icon" ng-class="getDueStatus(fee, false)" ng-switch="getDueStatus(fee, false)">
                    <span ng-switch-when="today" nxg-icon="icon-warning"></span>
                    <span ng-switch-when="overdue" nxg-icon="icon-alert"></span>
                  </span>
                    {{ fee.EffectiveDate | moment }}
                  </p>
                </div>
              </div>
            </td>
            <td class="description-narrow hidden-xs">
              <h5>{{ fee.Description }}</h5>
            </td>
            <td class="hidden-sm hidden-xs">
              <p class="lockup-major">{{ fee.Posted | moment }}</p>
            </td>
            <td class="numeric has-btns hidden-xs">
              <div nxg-payment-buttons="fee"
                   item="fee"
                   on-queue="isFeeOnQueue(fee.FinancialRecordId)">
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="info-block" ng-show="payments.results.length > 0">
        <div class="info-block-image">
          <span nxg-icon="icon-info"></span>
        </div>
        <h6 class="info-block-text" translate>
          Amounts shown are valid through 8pm Eastern Time
          <span ng-show="canPayNow">today ({{ todayDate | moment }})</span>
          <span ng-show="!canPayNow">({{ nextBusinessDay | moment }})</span>
        </h6>
      </div>

      <div class="panel panel-default" ng-switch="payments.results.length > 0 || payments.loading">
        <h2 class="well-title">
          <span translate>Vehicle Payments</span>
          <div uib-dropdown class="pull-right visible-xs visible-sm">
            <button class="btn-unstyle dropdown-toggle sort-by right no-padding no-margin" type="button" id="dropdownSort" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong translate>Sort By</strong>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownSort">
              <li ng-click="sortPaymentsBy('DueDate')"><a translate>Due Date</a></li>
              <li ng-click="sortPaymentsBy('UnitDescription')"><a translate>Description</a></li>
              <li class="hidden-xs" ng-click="sortPaymentsBy('FlooringDate')"><a translate>Floored</a></li>
              <li class="hidden-xs" ng-click="sortPaymentsBy('UnitStatus')"><a translate>Unit Status</a></li>
              <li ng-click="sortPaymentsBy('AmountDue')"><a translate>Payment Due</a></li>
              <li ng-click="sortPaymentsBy('CurrentPayoff')"><a translate>Payoff</a></li>
            </ul>
          </div>
        </h2>
        <p class="notice-box" ng-switch-when="false" translate>
          Sorry, no results found. Please <a ng-click="payments.resetSearch()" title="New Search">try a new search</a>.
        </p>
        <div ng-switch-when="true" nxg-infinite-scroll="payments.fetchNextResults()"
             nxg-infinite-scroll-disabled="payments.loading"
             nxg-infinite-scroll-show-indicator="payments.loading">
          <table id="paymentsSearchTable" class="table table-striped table-primary">
            <thead>
            <tr>
              <th class="sortable hidden-xs"
                  ng-click="sortPaymentsBy('DueDate')"
                  ng-class="{ sorted : sortField.payment == 'DueDate', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Due Date' | translate }}"></nxg-sortable>
              </th>
              <th class="sortable hidden-xs"
                  ng-click="sortPaymentsBy('UnitDescription')"
                  ng-class="{ sorted : sortField.payment == 'UnitDescription', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Description' | translate }}"></nxg-sortable>
              </th>
              <th class="sortable hidden-xs"
                  ng-click="sortPaymentsBy('FlooringDate')"
                  ng-class="{ sorted : sortField.payment == 'FlooringDate', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Floored' | translate }}"></nxg-sortable>
              </th>
              <th class="sortable hidden-xs hidden-sm"
                  ng-click="sortPaymentsBy('UnitStatus')"
                  ng-class="{ sorted : sortField.payment == 'UnitStatus', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Status' | translate }}"></nxg-sortable>
              </th>
              <th class="sortable hidden-xs"
                  ng-click="sortPaymentsBy('AmountDue')"
                  ng-class="{ sorted : sortField.payment == 'AmountDue', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Due' | translate }}"></nxg-sortable>
              </th>
              <th class="sortable hidden-xs"
                  ng-click="sortPaymentsBy('CurrentPayoff')"
                  ng-class="{ sorted : sortField.payment == 'CurrentPayoff', desc : sortDescending.payment }">
                <nxg-sortable sortable-text="{{ 'Payoff' | translate }}"></nxg-sortable>
              </th>
            </tr>
            </thead>
            <!-- Vehicle Payments: table body -->
            <tr ng-repeat="payment in payments.results | orderBy:sortField.payment:sortDescending.payment">

              <td class="paired paired-reversed hidden-xs"> <!-- Vehicle Payments: due date column -->
                <div class="paired-body">
                  <p class="lockup-major" ng-class="{ 'color-danger': getDueStatus(payment,true) == 'overdue' }">
                  <span class="paired-media svg-icon" ng-class="getDueStatus(payment,true)" ng-switch="getDueStatus(payment, true)">
                    <span ng-switch-when="today" nxg-icon="icon-warning"></span>
                    <span ng-switch-when="overdue" nxg-icon="icon-alert"></span>
                  </span>
                    {{ payment.DueDate | moment }}</p>
                  <a ng-show="showExtendLink(payment)" ng-click="payments.extension(payment)" href="javascript:void(0)" translate>Request<br/>Extension</a>
                </div>
              </td>

              <td class="description-narrow"> <!-- Vehicle Payments: description column -->
                <div class="col-xs-12 no-padding">
                  <a class="lockup-major " href="#/vehicledetails?stockNumber={{ payment.StockNumber }}">
                    <span nxg-highlight="payment.UnitDescription" highlight="payment.data.query" class="break-word"></span>
                  </a>
                  <div>
                    <p class="lockup-minor caps vin"><span translate>VIN</span>: <span nxg-highlight="payment.Vin" highlight="payment.data.query" class="break-word"></span></p>
                    <p class="lockup-minor caps stock"><span translate>STK</span>: <span nxg-highlight="payment.StockNumber" highlight="payment.data.query"></span></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 visible-xs">
                    <p class="lockup-minor vertical-spacing"><span translate>Payment Due</span>:</p>
                  </div>
                  <div class="col-xs-6 visible-xs">
                    <p class="lockup-minor vertical-spacing"><span translate>Payoff</span>:</p>
                  </div>
                </div>
                <div class="col-xs-6 visible-xs">
                  <div nxg-payment-buttons="payment" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
                  <div class="paired-body">
                    <p class="lockup-minor vertical-spacing" ng-class="{ 'color-danger': getDueStatus(payment,true) == 'overdue' }">
                      <span translate>Due</span>:
                    <span class="paired-media svg-icon" ng-class="getDueStatus(payment,true)" ng-switch="getDueStatus(payment, true)">
                      <span ng-switch-when="today" nxg-icon="icon-warning"></span>
                      <span ng-switch-when="overdue" nxg-icon="icon-alert"></span>
                    </span>
                      {{ payment.DueDate | moment }}
                    </p>
                  </div>
                  <div class="vertical-spacing">
                    <a ng-show="showExtendLink(payment)" ng-click="payments.extension(payment)" href="javascript:void(0)" translate>Request Extension</a>
                  </div>
                </div>
                <div class="col-xs-6 visible-xs no-left-margin">
                  <div nxg-payment-buttons="payoff" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
                </div>
              </td>

              <td class="hidden-xs"> <!-- Vehicle Payments: floored column -->
                <p class="lockup-major">{{ payment.FlooringDate | moment }}</p>
                <p class="lockup-minor">{{ payment.DaysOnFloorplan }} <span translate>days</span></p>
                <p class="lockup-minor visible-sm visible-xs">{{ payment.UnitStatus }}</p>
              </td>

              <td class="hidden-xs hidden-sm">
                <p class="lockup-minor">{{ payment.UnitStatus }}</p>
              </td>

              <td class="numeric has-btns hidden-xs"><!-- Vehicle Payments: payment column -->
                <div nxg-payment-buttons="payment" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
              </td>

              <td class="numeric has-btns hidden-xs">  <!-- Vehicle Payments: payoff column -->
                <div nxg-payment-buttons="payoff" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
              </td>

            </tr>
          </table>
        </div>
      </div>
      <p class="text-error notice-box" ng-show="payments.hitInfiniteScrollMax" translate>
        There are too many results to display, please refine your search further.
      </p>
    </section>
    <div class="col-xs-3">
      <section class="hidden-xs sticky panel panel-default"
               nxg-payment-summary
               nxg-sticky
               scroll=".nxg-sticky-scroll"
               header=".well-title"
               footer=".well-footer"
               empty-message="{{ 'Click the Add button to add a payoff or a payment.' | translate }}"></section>
    </div>
    <div class="visible-xs mobile-checkout-widget">
      <button class="btn-cta cta-primary"
              ng-disabled="paymentQueue.isEmpty()"
              ng-click="navigator('checkout')">
        <span translate>Checkout</span> ({{ getCounter() }})
        {{ getTotal() | currency }}
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </div>
  </section>
</div>
