<h3 class="modal-header" translate>Your Payments Have Been Submitted.</h3>

<div class="receipt-modal aside">
  <div>
  <section ng-show="items.feesToday.length > 0 || items.paymentsToday.length > 0">
    <!-- Today's Fees -->
    <div class="future-payments" ng-show="items.feesToday.length > 0">
      <h3 class="bottom-padding"><span translate>Today's Fees</span>: <span class="color-dollar">{{ items.getTotals().feesToday | currency }}</span></h3>
      <div class="more-payments" >
      <table class="table table-striped table-secondary">
        <thead>
          <th class="hidden-xs" translate>Fee Type</th>
          <th class="hidden-xs" translate>Payment Date</th>
          <th class="hidden-xs" translate>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesToday">
          <td>
            <div class="heavy">
              {{ fee.feeType || 'N/A' }}
            </div>
            <div class="visible-xs">
              <div class="lockup-minor">
                <span>Payment Date: </span>
                {{ today | moment }}
              </div>
              <div class="lockup-major pull-right">
                {{ fee.amount | currency }}
              </div>
            </div>

          </td>
          <td class="center hidden-xs">{{ today | moment }}</td>
          <td class="numeric hidden-xs">{{ fee.amount | currency }}</td>
        </tr>
      </table>
      </div>
    </div>

    <!-- Today's Payments -->
    <div class="future-payments" ng-show="items.paymentsToday.length > 0">
      <h3 class="bottom-padding"><span translate>Payment Total</span>: <span class="color-dollar">{{ items.getTotals().paymentsToday | currency }}</span></h3>
      <div class="more-payments" >
      <table class="table table-striped table-secondary">
        <thead>
          <th class="hidden-xs" translate>Description</th>
          <th class="hidden-xs" translate>Payment Date</th>
          <th class="hidden-xs" translate>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsToday">
          <td class="description">
            <a class="block-title heavy"  ng-click="openVehicleDetail(payment)">{{ payment.description }}</a><br/>
            <p class="caps vin"><span translate>VIN</span>: {{ payment.vin }}</p>
            <p class="caps stock"><span translate>STK</span>: {{ payment.stockNum }}</p>
            <div class="visible-xs">
              <div>
                <span class="lockup-minor" translate>Payment Date: </span>
                {{ today | moment }}
              </div>
              <div class="lockup-major pull-right">
                {{ payment.getCheckoutAmount() | currency }}
              </div>
            </div>
          </td>
          <td class="center hidden-xs">{{ today | moment }}</td>
          <td class="numeric hidden-xs">{{ payment.getCheckoutAmount() | currency }}</td>
        </tr>
      </table>
      </div>
    </div>
  </section>
  <section ng-show="items.paymentsScheduled.length > 0 || items.feesScheduled.length > 0">
    <!-- Scheduled Fees -->
    <div class="future-payments" ng-show="items.feesScheduled.length > 0">
      <h3 class="bottom-padding"><span translate>Future Fees</span>: <span class="color-dollar">{{ items.getTotals().feesScheduled | currency }}</span></h3>
      <div class="more-payments" >
      <table class="table table-striped table-secondary">
        <thead>
          <th class="hidden-xs" translate>Fee Type</th>
          <th class="hidden-xs" translate>Payment Date</th>
          <th class="hidden-xs" translate>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesScheduled">
          <td>
            <div class="heavy">
              {{ fee.feeType || 'N/A' }}
            </div>
            <div class="visible-xs">
              <div class="lockup-minor">
                <span class="lockup-minor" translate>Payment Date: </span>
                {{ fee.scheduleDate | moment }}
              </div>
              <div class="lockup-major pull-right">
                {{ fee.amount | currency }}
              </div>
            </div>
          </td>
          <td class="center hidden-xs">{{ fee.scheduleDate | moment }}</td>
          <td class="numeric hidden-xs">{{ fee.amount | currency }}</td>
        </tr>
      </table>
      </div>
    </div>

    <!-- Scheduled Payments -->
    <div class="future-payments" ng-show="items.paymentsScheduled.length > 0">
      <h3 class="bottom-padding"><span translate>Future Payments</span>: <span class="color-dollar">{{ items.getTotals().paymentsScheduled | currency }}</span></h3>
    <div class="more-payments" >
      <table class="table table-striped table-secondary">
        <thead>
          <th class="hidden-xs" translate>Description</th>
          <th class="hidden-xs" translate>Payment Date</th>
          <th class="hidden-xs" translate>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsScheduled">
          <td class="description">
            <a class="block-title heavy"  ng-click="openVehicleDetail(payment)">{{ payment.description }}</a><br/>
            <p class="caps vin"><span translate>VIN</span>: {{ payment.vin }}</p>
            <p class="caps stock"><span translate>STK</span>: {{ payment.stockNum }}</p>
            <div class="visible-xs">
              <div>
                <span class="lockup-minor" translate>Payment Date: </span>
                {{ payment.scheduleDate | moment }}
              </div>
              <div class="lockup-major pull-right">
                {{ payment.getCheckoutAmount() | currency }}
              </div>
            </div>
          </td>
          <td class="center hidden-xs">{{ payment.scheduleDate | moment }}</td>
          <td class="numeric hidden-xs">{{ payment.getCheckoutAmount() | currency }}</td>
        </tr>
      </table>
      </div>
    </div>
  </section>
  </div>
  <div class="receipt-option" ng-show="!!receiptUrls.length">
      <h3><span translate>Receipt Options</span></h3>
        <p class="receipt-minor" translate>If you wish to view your receipts, please choose from the following formatting options.</p>
        <div class="cr-inline" style="text-align: right">
          <label class="cr-label" style="text-align: right" for="grouped" translate>Grouped by transaction</label>
          <input type="radio" name="receiptOption" id="grouped" ng-model="format" value="grouped">
          <label class="radio-img" for="grouped"></label>
        </div>
        <div class="cr-inline" style="text-align: right">
          <label class="cr-label" for="single" translate>1 VIN per page</label>
          <input type="radio" name="receiptOption" id="single" ng-model="format" value="single">
          <label class="radio-img" for="single"></label>
        </div>
</div>
<div class="modal-footer" ng-show="!!receiptUrls.length">
  <button type="button" ng-click="viewReceipts()" ng-disabled="!format" class="btn-cta cta-secondary" nxg-autofocus translate>View Receipts</button>
  <button type="submit" ng-click="close()" class="btn-cta cta-primary" translate>Close</button>
</div>
<div class="modal-footer" ng-hide="!!receiptUrls.length">
  <button type="submit" ng-click="close()" class="btn-cta cta-primary" nxg-autofocus translate>OK</button>
</div>
</div>
