
<div class="container">
  <div class="row" id="FinancialAccounts">
    <div class="col-md-12">
      <div class="panel panel-default">
        <h2 class="well-title">
          <span translate>Financial Accounts</span>
        </h2>
        <!--Default accounts display-->
        <div class="row" style="padding-bottom: 2px;">
          <div class="well-item col-md-5">
            <div class="col-xs-1">

              <button class="btn-help btn-help-adjust inline-row"
                      tooltip-placement="right"
                      tooltip-trigger="mouseenter"
                      uib-tooltip="{{ 'This account will be used for all system-generated deposits, including automatic payout of unapplied funds.' | translate }}"
                      tooltip-animation="true">
                <span nxg-icon="icon-help"></span>
              </button>
            </div>
            <div class="col-xs-4"><label for="defaultDeposit" translate>Deposit Account: </label></div>
            <div class="col-xs-6">
              <p class=" inline-row" ng-show="!editDefaultDAccount">
                <span style="font-size: 13px;">{{ defaultDeposit.AchBankName + " (..." + defaultDeposit.AchAccountNumberLast4 + ")" }}</span>
              </p>

              <div class="style-select" ng-show="editDefaultDAccount">
                <select id="defaultDeposit"
                        ng-model="defaultDeposit"
                        ng-options="account as [account.AchAccountNumberLast4, account.AchBankName].join(' - ') for account in financial.data.activeBankAccounts | orderBy:'AchBankName'"
                        required>
                </select>
              </div>
              <div class="edit-column" style="padding-top:4px;"
                   ng-show="editBankAccountEnabled && business.data.isStakeholderActive && isUnitedStates">
                <button ng-hide="editDefaultDAccount" class="btn-unstyle" ng-click="financial.editD()"><span
                  class="glyphicon glyphicon-pencil"></span><span class="edit-text" translate>Edit</span></button>
                <button ng-show="editDefaultDAccount" class="col-md-3 custom btn-unstyle cancel-edit"
                        ng-click="financial.cancel()" translate>Cancel
                </button>
                <button ng-show="editDefaultDAccount" class="col-md-3 custom btn-unstyle save-edit"
                        ng-click="financial.save()" translate>Save
                </button>
              </div>

            </div>

          </div>
          <div class="well-item col-md-1 visible-lg visible-md" style="border-right: 1px solid #bbbcbe; line-height: 60px;">
            &nbsp;
          </div>
          <div class="well-item col-md-6 bordered-left">
            <div class="col-xs-1">
              <button class="btn-help btn-help-adjust inline-row"
                      tooltip-placement="right"
                      tooltip-trigger="mouseenter"
                      uib-tooltip="{{ 'This account will be used for all system-generated payments.  When making or scheduling payments online, you can select any active account.' | translate }}"
                      tooltip-animation="true">
                <span nxg-icon="icon-help"></span>
              </button>
            </div>
            <div class="col-xs-4"><label for="defaultPayment" translate>Payment Account:</label></div>
            <div class="col-xs-6">
              <p class=" inline-row" ng-show="!editDefaultPAccount">
                <span style="font-size: 13px;">{{ defaultPayment.AchBankName + " (..." + defaultPayment.AchAccountNumberLast4 + ")" }}</span>
              </p>

              <div class="style-select" ng-show="editDefaultPAccount">
                <select id="defaultPayment"
                        ng-model="defaultPayment"
                        ng-options="account as [account.AchAccountNumberLast4, account.AchBankName].join(' - ') for account in financial.data.activeBankAccounts | orderBy:'AchBankName'"
                        required>
                </select>
              </div>
              <div class="edit-column" style="padding-top:4px;"
                   ng-show="editBankAccountEnabled && business.data.isStakeholderActive && isUnitedStates">
                <button ng-hide="editDefaultPAccount" class="btn-unstyle" ng-click="financial.editP()"><span
                  class="glyphicon glyphicon-pencil"></span><span class="edit-text" translate>Edit</span></button>
                <button ng-show="editDefaultPAccount" class="col-md-3 custom btn-unstyle cancel-edit"
                        ng-click="financial.cancel()" translate>Cancel
                </button>
                <button ng-show="editDefaultPAccount" class="col-md-3 custom btn-unstyle save-edit"
                        ng-click="financial.save()" translate>Save
                </button>
              </div>
            </div>

          </div>
        </div>
        <div class="row forAddButton">
          <div class="col-md-12 ">
            <button class="btn-cta cta-primary" ng-show="financial.isAddBankAccountEditable()" ng-disabled="editDefaultPAccount  || editDefaultDAccount"
                    ng-click="financial.addFinancialAccount()" translate><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-weight: bold;"  ></span> Add Account

            </button>
          </div>
        </div>
        <div class="row" style="border:0px;" >
          <div class="col-md-12 ">
            <div class="panel panel-default forColumn">
              <div class="well-column-header col-md-12 hidden-xs hidden-sm"
                   ng-show="business.data.isStakeholderActive && isUnitedStates">
                <h6 class="col-xs-2 left-align left-padding" translate>Bank Name</h6>
                <h6 class="col-xs-2" translate>Account Number</h6>
                <h6 class="col-xs-2">{{financial.data.routingNumberLabel}}</h6>
                <h6 class="col-xs-2">Last Transaction</h6>
                <h6 class="col-xs-2" translate>Active</h6>
              </div>

              <!--Financial Account information display-->
              <div class="bank-accounts-container">
                <div ng-repeat="account in financial.data.activeBankAccounts | orderBy:'AchBankName'">
                  <nxg-financial-account account="account"
                                         default-deposit-id="defaultDeposit.BankAccountId"
                                         default-payment-id="defaultPayment.BankAccountId"
                                         is-stakeholder-active="business.data.isStakeholderActive"
                                         is-united-states="isUnitedStates"
                                         refresh-active-ach-accounts="refreshActiveAchAccounts()"
                                         recent-transaction="getLatestTransaction(account.BankAccountId)">
                  </nxg-financial-account>
                </div>
                <div ng-repeat="account in financial.data.inactiveBankAccounts | orderBy:'AchBankName'">
                  <nxg-financial-account account="account"
                                         default-deposit-id="defaultDeposit.BankAccountId"
                                         default-payment-id="defaultPayment.BankAccountId"
                                         is-stakeholder-active="business.data.isStakeholderActive"
                                         is-united-states="isUnitedStates"
                                         refresh-active-ach-accounts="refreshActiveAchAccounts()"
                                         recent-transaction="getLatestTransaction(account.BankAccountId)">
                  </nxg-financial-account>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div class="row">
    <!-- BUSINESS SETTINGS -->
    <div class="col-md-6">
      <div class="panel panel-default settings-well" novalidate>
        <h2 class="well-title">
          <span translate>Business Settings</span>
          <button ng-hide="business.editable" class="btn-unstyle right no-padding no-margin" ng-click="business.edit()"
                  translate>Edit Settings
          </button>
          <button ng-show="business.editable" class="btn-unstyle right no-padding no-margin" ng-click="business.save()"
                  translate>Save Settings
          </button>
          <button ng-show="business.editable" class="btn-unstyle right no-padding cancel" ng-click="business.cancel()"
                  translate>Cancel
          </button>
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:business.editable }" name="busSettings">

            <div class="row">
              <label class="col-xs-3" for="businessPhone"><span translate>Phone</span></label>
              <!-- This code should be added back in as soon as contact info management goes live, and the following temporary code
              block should be removed
              <div class="col-xs-7" nxg-input model="business.data.phone" editable="business.editable">
                <input type="tel" class="xsmallInput" id="businessPhone" name="businessPhone" ng-model="business.dirtyData.phone"
                       value="business.dirtyData.phone"
                       ng-class="{ 'nxg-invalid': business.validation.businessPhone.$invalid }" required/>
                <label class="text-error" ng-show="business.validation.businessPhone.$invalid" translate>
                  Please enter a valid phone number.
                </label>
              </div>-->
              <!-- Begin temporary code -->
              <div class="col-xs-6" style="margin-top: 14px;" id="businessPhone" name="businessPhone" ng-cloak>
                {{title.data.titleAddress.Phone | tel}}
              </div>
              <div class="col-xs-1" style="padding-left: 30px;">
                <div class="btn-help btn-help-adjust"
                     tooltip-placement="left"
                     tooltip-trigger="mouseenter"
                     uib-tooltip="{{ 'To change your phone number, please contact customer service for further assistance.' | translate }}"
                     tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </div>
              </div>
            </div>

            <div class="row" ng-show="business.contactInfo.isDisplayed()">
              <label class="col-xs-3" for="businessFax"><span translate>Fax</span></label>

              <div class="col-xs-6" nxg-input model="business.data.fax" editable="business.editable">
                <input type="tel" class="xsmallInput" id="businessFax" name="businessFax"
                       ng-model="title.data.titleAddress.Fax"
                       value="business.dirtyData.fax"
                       ng-class="{ 'nxg-invalid': business.validation.businessFax.$invalid }" required/>
                <label class="text-error" ng-show="business.validation.businessFax.$invalid" translate>
                  Please enter a valid fax number.
                </label>
              </div>
            </div>

            <div class="row">
              <label class="col-xs-3" for="businessEmail"><span translate>Email</span></label>
              <!-- This code should be added back in as soon as contact info management goes live, and the following temporary code
              block should be removed

              <div class="col-xs-7" nxg-input model="business.data.email" editable="business.editable">
                <input type="email" class="xsmallInput" id="businessEmail" name="businessEmail" ng-model="business.dirtyData.email"
                       value="business.dirtyData.email" ng-maxlength="100"
                       ng-class="{ 'nxg-invalid': business.validation.businessEmail.$invalid }" required/>
                <label class="text-error" ng-show="business.validation.businessEmail.$invalid" translate>
                  Please enter a valid email address.
                </label>
              </div> -->
              <!-- Begin temporary code -->
              <div class="col-xs-6" style="margin-top: 14px" id="businessEmail" name="businessEmail" ng-cloak>
                {{business.data.email | truncate: 23}}
              </div>
              <div class="col-xs-1" style="padding-left: 30px">
                <div class="btn-help btn-help-adjust"
                     tooltip-placement="left"
                     tooltip-trigger="mouseenter"
                     uib-tooltip="{{ 'To change your email address, please contact customer service for further assistance.' | translate }}"
                     tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </div>
              </div>
              <!-- End temporary code -->
            </div>

            <div class="divider">
            </div>

            <div class="row" ng-show="isDealer">
              <label class="col-xs-5" for="enhanced"><span translate>Enhanced Registration Enabled</span></label>

              <div class="col-xs-4 pull-left">
                <div class="static" ng-show="business.data.enhancedRegistrationEnabled && !business.editable" translate>
                  Yes
                </div>
                <!-- check if equal to false so "No" doesn't appear until the API call finishes -->
                <div class="static" ng-show="business.data.enhancedRegistrationEnabled == false && !business.editable"
                     translate> No
                </div>

                <div class="cr-inline" ng-show="business.editable">
                  <input type="radio" id="enhancedNo" name="enhancedx"
                         ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='false'
                         ng-click="business.confirmDisableEnhanced()"/>
                  <label class="radio-img" for="enhancedNo"></label>
                  <label class="cr-label" style="padding: 10px 15px 0 0;" for="enhancedNo" translate>No</label>

                  <input type="radio" id="enhancedYes" name="enhanced"
                         ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='true'/>
                  <label class="radio-img" for="enhancedYes"></label>
                  <label class="cr-label" style="padding: 10px 15px 0 0;" for="enhancedYes" translate>Yes</label>
                </div>
              </div>
              <div class="col-xs-1" style="padding-left: 30px;">
                <div class="btn-help btn-help-adjust"
                     tooltip-placement="left"
                     tooltip-trigger="mouseenter"
                     uib-tooltip="{{ 'Enhanced Registration will result in all account access being restricted to users with a PIN.' | translate }}"
                     tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </div>
              </div>


            </div>

            <div ng-show="business.editable && business.dirtyData.enhancedRegistrationEnabled">
              <div class="row">
                <div class="col-md-7 col-md-offset-5">
                  <p class="paragraph" translate>Create your Enhanced Registration four digit PIN.</p>
                </div>
              </div>

              <div ng-show="business.editable">
                <div class="row">
                  <label class="col-md-1 col-md-offset-5"><span translate>PIN</span>:</label>

                  <div class="col-md-1">
                    <input type="text"
                           name="pin"
                           id="pin"
                           maxlength="4"
                           size="4"
                           class="size-fixed"
                           ng-model="business.dirtyData.enhancedRegistrationPin"
                           ng-disabled="!business.dirtyData.enhancedRegistrationEnabled"
                           ng-pattern="/^\d{4}$/"
                           ng-required="business.dirtyData.enhancedRegistrationEnabled"
                           ng-class="{ 'nxg-invalid': business.validation.pin.$invalid }"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7 col-md-offset-5">
                    <label for="pin" class="text-error" ng-show="business.validation.pin.$invalid" translate>
                      Your PIN must consist of four numbers, no letters or special characters.
                    </label>
                  </div>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>


    <!-- ADDRESS SETTINGS (formerly Title Settings)-->
    <div class="col-md-6">
      <div class="panel panel-default settings-well">
        <h2 class="well-title">
          <span translate>Address Settings</span>
          <button ng-show="!title.editable && title.data.addressCount > 1"
                  class="btn-unstyle right no-padding no-margin"
                  ng-click="title.edit()" translate>Edit Settings
          </button>
          <button ng-show="title.editable" class="btn-unstyle right no-padding no-margin" ng-click="title.save()"
                  translate>Save Settings
          </button>
          <button ng-show="title.editable" class="btn-unstyle  right no-padding cancel" ng-click="title.cancel()"
                  translate>Cancel
          </button>
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:title.editable }" name="titleSettings">
            <div class="row">
              <label class="col-xs-3" for="titleAddr"><span translate>Default Address</span></label>

              <div class="col-xs-8">
                <div class="row" ng-show="title.editable">
                  <div class="col-xs-6">
                    <div class="style-select">
                      <select id="titleAddr" ng-model="title.dirtyData.titleAddress"
                              ng-options="addr | address:'oneLineSelect' for addr in title.data.addresses"
                              uib-tooltip="{{ addr | address:'oneLine' }}"
                              tooltip-placement="bottom"
                              tooltip-popup-delay="700">
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn-help btn-help-adjust"
                            tooltip-placement="bottom"
                            tooltip-trigger="mouseenter"
                            uib-tooltip="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                            tooltip-animation="true">
                      <span nxg-icon="icon-help"></span>
                    </button>
                  </div>
                </div>

                <!-- Saved Address -->
                <div class="row static" ng-hide="title.editable">
                  <div class="col-xs-6 noLeftMargin">
                    <div nxg-address-inline="title.data.titleAddress"></div>
                  </div>
                  <div class="col-xs-2 pull-right">
                    <button class="btn-help"
                            tooltip-placement="left"
                            tooltip-trigger="mouseenter"
                            uib-tooltip="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                            tooltip-animation="true">
                      <span nxg-icon="icon-help"></span>
                    </button>
                  </div>
                </div>

                <!-- Current Address Selection-->
                <div class="static" ng-show="title.editable">
                  <div nxg-address-inline="title.dirtyData.titleAddress"></div>
                </div>
              </div>
            </div>

            <div class="row alt-addr"
                 ng-show="title.data.addresses && title.data.addresses.length > 0 && !title.editable">
              <label class="col-xs-3"><span translate>Additional Addresses</span></label>

              <div class="col-xs-8 static" ng-hide="title.editable">
                <ul class="zeroLeftPadding">
                  <li ng-repeat="addr in title.data.addresses | limitTo: 3">
                    <div nxg-address-inline="addr"></div>
                  </li>
                  <li ng-show="title.data.extraAddresses" translate>
                    And {{ title.data.extraAddresses }} additional addresses...
                  </li>
                </ul>
                <p ng-show="title.data.addresses.length == 0" translate>
                  None
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- [BRAND] -->
    <div class="col-xs-6">
      <div class="panel panel-default settings-well" ng-show="brand.autoPay.isDisplayed()">
        <h2 class="well-title">
          <span translate>[New Label Here]</span>
          <button ng-hide="brand.editable" class="btn-unstyle  right no-padding no-margin" ng-click="brand.edit()"
                  translate>Edit Settings
          </button>
          <button ng-show="brand.editable" class="btn-unstyle  right no-padding no-margin" ng-click="brand.save()"
                  translate>Save Settings
          </button>
          <button ng-show="brand.editable" class="btn-unstyle  right no-padding cancel" ng-click="brand.cancel()"
                  translate>Cancel
          </button>
        </h2>

        <div class="well-item">
          <form class="form-block" name="brandSettings" novalidate>
            <div class="row">
              <div class="nxg-small-logo col-xs-2">

              </div>
              <div class="col-xs-10" ng-show="brand.autoPay.isDisplayed()">

                <label class="col-xs-7 no-left-padding" for="autoPay"><span
                  translate>Enrolled in Automated Payments</span></label>

                <div class="col-xs-1"></div>
                <div class="col-xs-4 no-left-padding">
                  <div class="row">
                    <div class="static" ng-show="brand.data.autoPayEnabled && !brand.autoPay.isEditable()" translate>
                      Yes
                    </div>
                    <!-- check if equal to false so "No" doesn't appear until the API call finishes -->
                    <div class="static" ng-show="brand.data.autoPayEnabled == false && !brand.autoPay.isEditable()"
                         translate>
                      No
                    </div>

                    <div class="cr-inline" ng-show="brand.autoPay.isEditable()">
                      <input type="radio" id="autoPayNo" name="autoPay" ng-model="brand.dirtyData.autoPayEnabled"
                             ng-value='false' ng-click="brand.autoPay.confirmDisable()"/>
                      <label class="radio-img" for="autoPayNo"></label>
                      <label class="cr-label" for="autoPayNo" translate>No</label>

                      <input type="radio" id="autoPayYes" name="autoPay" ng-model="brand.dirtyData.autoPayEnabled"
                             ng-value='true' ng-click="brand.autoPay.confirmEnable()"/>
                      <label class="radio-img" for="autoPayYes"></label>
                      <label class="cr-label" for="autoPayYes" translate>Yes</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-7 no-left-padding">
                  <p class="description" translate>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



