<section class="pay-queue">
  <div>
    <h3>Payment Summary</h3>
    <p>Choose to make payments today or schedule your payments when you checkout.</p>
  </div>

  <div class="queue-items">
    <p ng-show="paymentQueue.isEmpty()">
      You have not selected a payment. <br/> Click the Add Payment or Add Payoff button to add one.
    </p>
    <ul ng-hide="paymentQueue.isEmpty()">
      <li ng-repeat="fee in paymentQueue.fees">
        <button class="btn btn-mini" ng-click="removeItem(fee)">X</button>
        Account Fee <br/>
        {{ fee.FeeType }}<br/>
        Payment {{ fee.Balance | currency }}
      </li>
      <li ng-repeat="payment in paymentQueue.payments">
        <button class="btn btn-mini" ng-click="removeItem(payment)">X</button>
        VIN: {{ payment.Vin }} <br/>
        {{ payment.UnitDescription }} <br/>
        {{ payment.$queuedAsPayoff && 'Payoff' || 'Payment' }} {{ payment.$queuedAmount | currency }}
      </li>
    </ul>
  </div>

  <div>
    Subtotal: {{ getSubtotal() | currency }}
    <button class="btn"
            ng-disabled="paymentQueue.isEmpty()"
            ng-click="navigate('home.checkout')">
      Continue to Checkout
    </button>
  </div>
</section>
