<h2 class="well-title">Payment Summary</h2>

<table class="table table-striped table-primary pay-sum-table">
    <tr>
        <td>
            <p>Choose to make payments today or schedule your payments when you checkout.</p>
        </td>
    </tr>
    <tr>
        <td ng-show="paymentQueue.isEmpty()">
            <p >You have not selected a payment.</p>
            <p>{{ emptyMessage }}</p>
        </td>
    </tr>
    <tr ng-repeat="fee in paymentQueue.fees">
    <td>
        <span class="paired-media svg-icon"
        ng-click="removeFee(fee)"
        ng-disabled="paymentInProgress()"
        nxg-icon="icon-cancel"
        ng-class="{disabled: paymentInProgress()}">
        </span>

        Account Fee <br/>
        {{ fee.description }}<br/>
        <span class="queued-as">PAYOFF:</span>
        <span class="amount">{{ fee.amount | currency }}</span>
    </td>
    </tr>

    <tr ng-repeat="payment in paymentQueue.payments">
        <td>
            <button class="paired-media svg-icon btn-unstyle btn-x"
            nxg-icon="icon-cancel"
            ng-click="removePayment(payment)"
            ng-disabled="paymentInProgress()"
            ng-class="{disabled: paymentInProgress()}">
            </button>

           <h3 class="lockup-major truncate">{{ payment.description }}</h3>
           <p>VIN: {{ payment.vin }} </p>
            <p class="queued-as">{{ payment.isPayOff && 'Payoff' || 'Payment' }}</p>
            <p class="amount pull-right">{{ payment.amount | currency }}</p>
            <div nxg-alternate-address="payment" enabled="payment.isPayoff" show-tooltip="false"></div>
        </td>
    </tr>
</table>

<div class="well-footer">
    <button class="btn-cta cta-primary cta-full"
            ng-disabled="paymentQueue.isEmpty()"
            ng-click="navigate('home.checkout')"
            nxg-track="{{metric.CLICK_CHECKOUT_PANEL_CONTINUE_TO_CHECKOUT_BUTTON}}">
      <span class="ie-text">Checkout </span>
        <span class="value"> ( {{ getSubtotal() | currency }} ) </span>
       <span class="paired-media svg-icon" nxg-icon="icon-cart"> </span>
    </button>
</div>
