<header class="app-header" ng-class="{ login: !navState.current.data.showNavBar, auctions: !user.isDealer() }">
  <div class="container">
    <div class="header">
      <a ng-href="{{user.homeLink()}}" class="col-xs-3 custom ng-binding">
        <div class="nxg-logo" nxg-debug-title></div>
      </a>

      <div class="col-xs-6" ng-show="navState.current.data.showNavBar">
        <div class="nav-secondary" ng-show="user.isDealer()">
          <ul>
            <li ng-repeat="link in user.navLinks().secondary" class="link link_{{ link.activeWhen }}">
              <a ng-href="{{link.href}}" class="navLink" ng-class="{ active: isActive(link.activeWhen) }">{{link.name}}</a>
            </li>
            <li ng-show="chatEnabled">
              <a nxg-chat-with-us nxg-track="{{metric.CLICK_CHAT_NOW_LINK}}"
                 track-properties="{{ kissMetricData }}" translate>Chat</a>
            </li>
          </ul>
          <button class="cart-btn" ng-disabled="getQueueCount() < 1" ng-click="onCartClicked()" ng-class="{ 'has-items': getQueueCount() > 0 }">
            {{ getQueueCount() }}
            <span nxg-icon="icon-cart" class="icon-small"></span>
          </button>
        </div>
      </div>

      <div class="col-xs-3 user-info pull-right no-right-padding" ng-show="navState.current.data.showNavBar">
        <div class="align-right">{{ user.BusinessName | uppercase |truncate:20 }}
          <span>
            <span class="dealer-number" ng-show="user.isDealer()" translate>
              Dealer #
            </span>
            <span class="dealer-number" ng-show="!user.isDealer()" translate>
              Auction #
            </span>
            {{ user.BusinessNumber }}
          </span></div>
        <div uib-dropdown>
          <div class="align-right dropdown-toggle dropdown-spaced"  uib-dropdown-toggle data-toggle="dropdown" id="settingsDropdown" aria-haspopup="true" aria-expanded="false">
            <a>
              <span translate>My Account</span>
              <span style="border-top: 4px solid #069" class="caret"></span>
            </a>
          </div>
          <ul class="dropdown-menu margin dropdown-bold text-right" uib-dropdown-menu role="menu" aria-labelledby="settingsDropdown">
            <li>
              <a href="#/act/settings" ng-show="!user.isDealer()" translate>
                <strong>Settings</strong>
              </a>
              <a href="#/profile_settings" ng-show="user.isDealer()" translate>
                <strong>Profile Settings</strong>
              </a>
            </li>
            <li>
              <a ng-href="#/account_management" ng-show="user.isDealer()" translate>
                <strong>Account Management</strong>
              </a>
            </li>
            <li class="menu-divider"></li>
            <li>
              <a href="javascript:void(0)" ng-click="user.logout()" translate>
                <strong>Sign Out</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-5 col-xs-offset-4" ng-hide="navState.current.data.showNavBar">
        <div class="nav-language-chooser">
          <span class="icon-xx-large" nxg-icon="icon-globe"></span>
          <div class="cta btn-toggle toggle-three">
            <div class="btn-slider" ng-class="{ 'active-left': isCurrentLanguage('en'), 'active-center': isCurrentLanguage('es'), 'active-right': isCurrentLanguage('fr_CA') }"></div>
            <button class="btn" ng-click="updateLanguage('en')">English</button>
            <button class="btn" ng-click="updateLanguage('es')">Espa&ntilde;ol</button>
            <button class="btn" ng-click="updateLanguage('fr_CA')">Fran&ccedil;ais</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bkgd" ng-show="navState.current.data.showNavBar">
    <div class="container">
      <div class="header">
        <ul class="nav-primary">
          <li ng-repeat="link in user.navLinks().primary" class="link_{{ link.activeWhen }}">
            <a ng-href="{{link.href}}" class="navLink" ng-class="{ active: isActive(link.activeWhen) }">{{link.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
