<h2 class="well-title" translate>Payment Summary</h2>


<div class="nxg-sticky-scroll">
  <div class="well-item ">
    <p translate >Make payments today or schedule your payments when you checkout.<br/><br/></p>
    <div ng-show="autoPayEnabled">
      <div class="info-block-image col-xs-2 no-left-padding">
        <span nxg-icon="icon-info"></span>
      </div>
      <p class="info-block-text col-xs-10 no-left-padding" translate>
        You are enrolled in Automated Payments. All payments will be processed automatically on their due date.
      </p>
    </div>
  </div>

  <ul ng-hide="paymentQueue.isEmpty()" class="queue-list zeroLeftPadding">
    <li class="queue-item bordered" ng-repeat="fee in paymentQueue.fees">
      <button class="btn-unstyle right"
              ng-click="removeFee(fee)"
              ng-disabled="paymentInProgress()"
              ng-class="{disabled: paymentInProgress()}">
        <span nxg-icon="icon-cancel" class="icon-small"></span>
      </button>

      <h6>{{ fee.description }}</h6>
      <div class="row item-summary">
        <div class="col-xs-6">
          <h6 class="caps"><span translate>Amount</span>:</h6>
        </div>
        <div class="col-xs-6">
          <h6 >{{ fee.amount | currency }}</h6>
        </div>
      </div>
    </li>

    <li class="queue-item bordered" ng-repeat="payment in paymentQueue.payments">
      <button class="btn-unstyle right"
              ng-click="removePayment(payment)"
              ng-disabled="paymentInProgress()"
              ng-class="{disabled: paymentInProgress()}">
        <span nxg-icon="icon-cancel" class="icon-small"></span>
      </button>

      <h6 class="lockup-major caps">
        <a class="truncate" href="#/vehicledetails?stockNumber={{ payment.stockNum }}">{{ payment.description }}</a>
      </h6>
      <p><span translate>VIN</span>: {{ payment.vin }} </p>

      <div class="item-summary">
        <div class="row">
          <h6 class="col-xs-6 caps">{{ getPaymentType(payment) | capitalize }}: </h6>
          <h6 class="col-xs-6 numeric">{{ payment.getCheckoutAmount() - payment.getExtraPrincipal() | currency }}
          </h6>
        </div>
        <div class="row" ng-show="payment.getExtraPrincipal() > 0">
          <p class="col-xs-8 caps"><span translate>ADDITIONAL PRINCIPAL</span>: </p>
          <p class="col-xs-4 numeric">{{ payment.getExtraPrincipal() | currency }}</p>
        </div>
      </div>
      <div nxg-alternate-address="payment" is-enabled="payment.isPayoff()" show-tooltip="false"></div>
    </li>
  </ul>
</div>

<div class="well-footer">
  <div class="well-item row">
    <div class="col-md-4">
      <h4 class="subtotal"><span translate>Subtotal</span>:</h4>
    </div>
    <div class="col-md-8">
      <h3 class="numeric"><strong>{{ getSubtotal() | currency }}</strong></h3>
    </div>
  </div>
  <button class="btn-cta cta-primary cta-full"
          ng-disabled="paymentQueue.isEmpty()"
          ng-click="navigate('checkout')">
    <span translate>Checkout</span> ({{ getCount() }})
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </button>
</div>
