<form name="form" novalidate class="col-sm-7" >
  <section class="col-xs-12 first">
    <div class="well-form" style="padding-top: 0">
      <div class="main-heading" translate>Tell us about the vehicle you would like to floor</div>
      <div class="sub-heading" translate>Search for a VIN to import vehicle details & style</div>
      <div nxg-vin-details floor-model="wizardFloor.data" validity="wizardFloor.validity" form="form" error-flag="carInfo.vinDetailsErrorFlag" nxg-autofocus="reset"></div>

      <div class="main-heading" translate>Color & Odometer</div>
      <div class="style-select full-width" ng-class="{ 'nxg-invalid': form.inputColor.$error.required && form.$submitted }">
        <select id="inputColor" name="inputColor" ng-model="wizardFloor.data.UnitColorId"
                ng-options="color.ColorName for color in wizardFloor.options.colors" required>
          <option value="" translate>Color</option>
        </select>
      </div>
      <label for="inputColor"
             class="text-error"
             ng-show="form.inputColor.$error.required && form.$submitted" translate>
        Please select a Color.
      </label>
      <input type="text"  class="input-full" placeholder="Odometer" id="inputMileage"
             name="inputMileage"
             ng-model="wizardFloor.data.UnitMileage"
             ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*$/"
             nxg-min="1"
             required
             nxg-validate-int="6"
             ng-class="{ 'nxg-invalid': (form.inputMileage.$error.required || form.inputMileage.$error.pattern || form.inputMileage.$error.maxlength || form.inputMileage.$error.nxgMin) && form.$submitted }"
        />
      <label for="inputMileage" class="text-error" ng-show="form.inputMileage.$error.required && form.$submitted">
        <span translate translate-comment="This will be followed by 'odometer'">Please enter the</span>
        <span>{{ carInfo.mileageOrOdometer }}.</span>
      </label>
      <label for="inputMileage"
             class="text-error"
             ng-show="form.inputMileage.$error.pattern || form.inputMileage.$error.nxgMin && form.$submitted" translate>
        Please enter a positive integer value with no decimals.
      </label>
      <label for="inputMileage"
             class="text-error"
             ng-show="form.inputMileage.$error.maxlength && form.$submitted" translate>
        Please enter a value less than 1,000,000.
      </label>
    </div>
  </section>
</form>
