<form name="form" novalidate>
  <h2 translate>Let us know the details of the sale</h2>
  <h4 translate>Purchase Information:</h4>

  <div class="date-field date-picker" style="width: 100% !important; margin-bottom: 24px;">
    <label ng-show="wizardFloor.data.UnitPurchaseDate || salesInfo.fieldHasValue(form.purchaseDate.$viewValue)" for="purchaseDate" class="input-title show-hide"><span translate>Purchase Date</span></label>

    <div class="field row" style="margin-top:-9px;">
      <div class="col-sm-12">

        <button tabindex="-1" type="button" style="left: 25px; width: 18px;" class="btn-unstyle disbursement-btn-calendar" ng-click="salesInfo.openDatePicker()">
          <span nxg-icon="icon-calendar"></span>
        </button>

        <input type="text" uib-datepicker-popup="{{salesInfo.dateFormat}}" style="margin-top: 15px;"
               placeholder="{{ 'Purchase Date (mm/dd/yyyy)' | translate }}" nxg-date class="input-full"
               ng-model="wizardFloor.data.UnitPurchaseDate"
               min-date="salesInfo.dealerMinDate"
               max-date="salesInfo.maxDate"
               form="form"
               show-weeks="false"
               show-button-bar="false"
               is-open="salesInfo.datePicker.opened"
               id="purchaseDate"
               name="purchaseDate"
               required
               ng-class="{ 'nxg-invalid': (form.purchaseDate.$error.required || form.purchaseDate.$error.past || form.purchaseDate.$error.date) && form.$submitted }"/>

        <button class="btn-alert"
                ng-show="(form.purchaseDate.$error.future || form.purchaseDate.$error.past) && form.$submitted"
                tooltip-placement="left"
                tooltip-trigger="mouseenter"
                uib-tooltip-html="salesInfo.purchaseDateDisclaimer"
                tooltip-animation="true">
          <span nxg-icon="icon-alert"></span>
        </button>
      </div>
    </div>
    <label for="purchaseDate" class="text-error"
           ng-show="(form.purchaseDate.$error.required || form.purchaseDate.$error.date) && form.$submitted" translate>
      Please enter a valid purchase date (mm/dd/yyyy).
    </label>
    <label for="purchaseDate" class="text-error"
           ng-show="!form.purchaseDate.$error.date && form.purchaseDate.$error.past && form.$submitted">
      <span translate>You can only floor vehicle purchased on or after</span>
      {{ salesInfo.dealerMinDate | moment }}.
    </label>
    <label for="purchaseDate" class="text-error"
           ng-show="!form.purchaseDate.$error.date && form.purchaseDate.$error.future && form.$submitted">
      <span translate>You entered a future date. You can only floor vehicle purchased on or before</span>
      {{ salesInfo.maxDate | moment }}.
    </label>
  </div>

  <div class="form-group">
    <label ng-show="wizardFloor.data.UnitPurchasePrice || salesInfo.fieldHasValue(form.inputPurchaseAmt.$viewValue)"
           for="inputPurchaseAmt" class="input-title show-hide">
      <span translate>Purchase Amount</span>
    </label>
    <div class="dollar input-group" style="display: block;"
          ng-class="{ 'has-error': (form.inputPurchaseAmt.$error.required || form.inputPurchaseAmt.$error.max || form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.maxlength || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted }">
      <div>
        <i class="glyphicon glyphicon-usd"></i>
      </div>
      <input type="number" id="inputPurchaseAmt" name="inputPurchaseAmt" ng-model="wizardFloor.data.UnitPurchasePrice"
             placeholder="{{ 'Purchase Amount' | translate }}"
             required
             ng-min="1"
             ng-max="399999.99"
             class="form-control"
             ng-class="{ 'nxg-invalid': (form.inputPurchaseAmt.$error.required || form.inputPurchaseAmt.$error.max || form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.maxlength || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted }" />
    </div>
    <label for="inputPurchaseAmt" class="text-error"
           ng-show="form.inputPurchaseAmt.$error.required && form.$submitted" translate>
      Please enter the purchase amount.
    </label>
    <label for="inputPurchaseAmt"
           class="text-error"
           ng-show="!form.inputPurchaseAmt.$error.required && (form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted" translate>
      Please enter a positive numeric value with no <br> special characters, such as a dollar sign.
    </label>
    <label for="inputPurchaseAmt" class="text-error"
           ng-show="!form.inputPurchaseAmt.$error.required && !form.inputPurchaseAmt.$error.pattern && form.inputPurchaseAmt.$error.max && form.$submitted" translate>
      Please enter a value less than $400,000.
    </label>
  </div>

  <div class="form-group">
    <label for="inputMmrStyle" translate>MMR Value Vehicle Style</label>
    <div class="style-select full-width">
      <select id="inputMmrStyle" class="form-control" name="inputMmrStyle"
              ng-cloak
              ng-model="salesInfo.selectedMmrValuation"
              ng-change="salesInfo.onMmrValuationsChange(salesInfo.selectedMmrValuation)"
              ng-options="mmrValuation as mmrValuation.Display for mmrValuation in salesInfo.mmrValuations">
        <option value="" ng-if="!salesInfo.mmrValuations || salesInfo.mmrValuations.length == 0">Valuation Not Available</option>
      </select>
    </div>
  </div>
  <!--<label for="cmn-toggle-1" class="main-heading" style="margin-bottom: 18px;" ng-if="wizardFloor.flooringValuationFeature"><span translate>Request full purchase price financing</span></label>-->
  <!--<input bs-switch type="checkbox" id="cmn-toggle-1" name="cmn-toggle-1" class="noglobal" ng-if="wizardFloor.flooringValuationFeature"-->
         <!--switch-size="normal" switch-off-text="{{ 'No' | translate }}" switch-on-text="{{ 'Yes' | translate }}" switch-on-color="success" ng-model="wizardFloor.data.AdditionalFinancing">-->

  <!--<div class="form-group" style="margin-top: 24px;" ng-show="wizardFloor.data.AdditionalFinancing" ng-if="wizardFloor.flooringValuationFeature">-->
    <!--<label for="comment" class="sr-only" translate>Comment</label>-->
    <!--<textarea class="form-control"-->
              <!--style="height: 100px;"-->
              <!--rows="3"-->
              <!--name="comment"-->
              <!--id="comment"-->
              <!--placeholder="{{ '(Ex. Additional instructions, etc.)' | translate }}"-->
              <!--ng-model="wizardFloor.data.commentAdditionalFinancing"-->
              <!--ng-disabled="wizardFloor.floorPlanSubmitting"-->
              <!--&gt;</textarea>-->
  <!--</div>-->

  <label class="main-heading" translate>Who do you want to pay?</label>
  <div class="cr-inline" style="margin-bottom: 24px;">
    <input type="radio" name="payBuyerSeller" id="payBuyer"
           ng-value="false"
           ng-model="wizardFloor.data.PaySeller"
           ng-disabled="!wizardFloor.canPayBuyer"
           ng-change="salesInfo.toggleTradeIn()"
           required/>
    <label class="radio-img" for="payBuyer"></label>
    <label class="cr-label" for="payBuyer" translate>Pay me</label>
    <br/>
    <input type="radio" name="payBuyerSeller" id="paySeller"
           ng-value="true"
           ng-model="wizardFloor.data.PaySeller"
           ng-change="salesInfo.toggleTradeIn()"
           required/>
    <label class="radio-img" for="paySeller"></label>
    <label class="cr-label" for="paySeller" translate>Pay someone else</label>
  </div>
  <label class="text-error" ng-show="form.payBuyerSeller.$error.required && form.$submitted"
         style="position: relative; top: -16px;" translate>
    Please select who to pay.
  </label>

  <span class="nxg-business-field"
        ng-class="{'has-error': (form.inputBiz.$error.nxgRequires || form.inputBiz.$error.minlength) && form.$submitted }"
        ng-if="salesInfo.showSellerSearch()">
    <input nxg-business-field-v2="sellers"
           id="inputBiz"
           name="inputBiz"
           form="form"
           parent-query="wizardFloor.data.query"
           ng-disabled="wizardFloor.data.SaleTradeIn"
           ng-required="!wizardFloor.data.SaleTradeIn"
           selected-business="wizardFloor.data.BusinessId"
           validity="wizardFloor.validity"/>
  </span>

  <label class="main-heading"><span for="titleLocation" translate>Title Location</span></label>
  <div class="cr-inline" style="margin-bottom: 25px;">
    <input type="radio" name="titleLocation" id="{{location.Id}}" ng-value="{{$index}}" ng-model="wizardFloor.data.TitleLocationIndex" ng-repeat-start="location in wizardFloor.options.titleLocationOptions" required />
    <label class="radio-img" for="{{location.Id}}"></label>
    <label class="cr-label" for="{{location.Id}}">{{ location.Name }}</label>
    <br ng-repeat-end />
  </div>
  <label for="titleLocation" class="text-error" ng-show="form.titleLocation.$error.required && form.$submitted" style="position: relative; top: -16px;" translate>
    Please select who has the title.
  </label>

</form>
