<form name="form" novalidate>
  <h2 translate>Let us know the details of the sale</h2>
  <h4 translate>Purchase Information:</h4>

  <div class="date-field date-picker" style="width: 100% !important; margin-bottom: 24px;">
    <label ng-show="wizardFloor.data.UnitPurchaseDate || salesInfo.purchaseDateHasValue" for="purchaseDate" class="input-title show-hide"><span translate>Purchase Date</span></label>

    <div class="field row" style="margin-top:-9px;">
      <div class="col-sm-12">

        <button tabindex="-1" type="button" style="left: 25px; width: 18px;" class="btn-unstyle disbursement-btn-calendar" ng-click="salesInfo.openDatePicker()">
          <span nxg-icon="icon-calendar"></span>
        </button>

        <input type="text" uib-datepicker-popup="{{salesInfo.dateFormat}}" style="margin-top: 15px;"
               placeholder="{{ 'Purchase Date (mm/dd/yyyy)' | translate }}" nxg-date class="input-full"
               ng-model="wizardFloor.data.UnitPurchaseDate"
               min-date="salesInfo.dealerMinDate"
               max-date="salesInfo.maxDate"
               form="form"
               show-weeks="false"
               show-button-bar="false"
               is-open="salesInfo.datePicker.opened"
               ng-keyup="salesInfo.onPurchaseDateChange(form.purchaseDate.$viewValue)"
               id="purchaseDate"
               name="purchaseDate"
               required
               ng-class="{ 'nxg-invalid': (form.purchaseDate.$error.required || form.purchaseDate.$error.past || form.purchaseDate.$error.date) && form.$submitted }"/>

        <button class="btn-alert"
                ng-show="(form.purchaseDate.$error.future || form.purchaseDate.$error.past) && form.$submitted"
                tooltip-placement="left"
                tooltip-trigger="mouseenter"
                uib-tooltip-html="salesInfo.purchaseDateDisclaimer"
                tooltip-animation="true">
          <span nxg-icon="icon-alert"></span>
        </button>
      </div>
    </div>
    <label for="purchaseDate" class="text-error"
           ng-show="(form.purchaseDate.$error.required || form.purchaseDate.$error.date || form.purchaseDate.$error.past || form.purchaseDate.$error.future) && form.$submitted" translate>
      Please enter a valid purchase date (mm/dd/yyyy).
    </label>
  </div>

  <div class="form-group">
    <label ng-show="wizardFloor.data.UnitPurchasePrice" for="inputPurchaseAmt" class="input-title show-hide"><span translate>Purchase Amount</span></label>
    <div class="dollar input-group" style="display: block;"
          ng-class="{ 'has-error': (form.inputPurchaseAmt.$error.required || form.inputPurchaseAmt.$error.max || form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.maxlength || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted }">
      <div>
        <i class="glyphicon glyphicon-usd"></i>
      </div>
      <input type="number" id="inputPurchaseAmt" name="inputPurchaseAmt" ng-model="wizardFloor.data.UnitPurchasePrice" placeholder="{{ 'Purchase Amount' | translate }}"
             required
             nxg-input-currency="400000"
             nxg-min="1"
             class="form-control"
             ng-class="{ 'nxg-invalid': (form.inputPurchaseAmt.$error.required || form.inputPurchaseAmt.$error.max || form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.maxlength || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted }" />
    </div>
    <label for="inputPurchaseAmt" class="text-error"
           ng-show="form.inputPurchaseAmt.$error.required && form.$submitted" translate>
      Please enter the purchase amount.
    </label>
    <label for="inputPurchaseAmt"
           class="text-error"
           ng-show="!form.inputPurchaseAmt.$error.required && (form.inputPurchaseAmt.$error.pattern || form.inputPurchaseAmt.$error.nxgMin) && form.$submitted" translate>
      Please enter a positive numeric value with no <br> special characters, such as a dollar sign.
    </label>
    <label for="inputPurchaseAmt" class="text-error"
           ng-show="!form.inputPurchaseAmt.$error.required && !form.inputPurchaseAmt.$error.pattern && form.inputPurchaseAmt.$error.max && form.$submitted" translate>
      Please enter a value less than $400,000.
    </label>
  </div>

  <label for="cmn-toggle-1" class="main-heading" style="margin-bottom: 18px;" ng-if="wizardFloor.flooringValuationFeature"><span translate>Request full purchase price financing</span></label>
  <input bs-switch type="checkbox" id="cmn-toggle-1" name="cmn-toggle-1" class="noglobal" ng-if="wizardFloor.flooringValuationFeature"
         switch-size="normal" switch-off-text="{{ 'No' | translate }}" switch-on-text="{{ 'Yes' | translate }}" switch-on-color="success" ng-model="wizardFloor.data.AdditionalFinancing">

  <div class="form-group" style="margin-top: 24px;" ng-show="wizardFloor.data.AdditionalFinancing" ng-if="wizardFloor.flooringValuationFeature">
    <label for="comment" class="sr-only" translate>Comment</label>
    <textarea class="form-control"
              style="height: 100px;"
              rows="3"
              name="comment"
              id="comment"
              placeholder="{{ '(Ex. Additional instructions, etc.)' | translate }}"
              ng-model="wizardFloor.data.commentAdditionalFinancing"
              ng-disabled="wizardFloor.floorPlanSubmitting"
              ></textarea>
  </div>
  <label class="main-heading" style="margin-top: 18px; margin-bottom: 18px;"><span for="cmn-toggle-2" ng-hide="!wizardFloor.canPayBuyer" translate>Trade in</span></label>

    <div style="margin-bottom: 38px;" ng-hide="!wizardFloor.canPayBuyer">
      <input bs-switch type="checkbox" id="cmn-toggle-2" name="cmn-toggle-2" class="noglobal"
            switch-size="normal" switch-off-text="{{ 'No' | translate }}" switch-on-text="{{ 'Yes' | translate }}" switch-on-color="success" ng-change="salesInfo.switchChange(wizardFloor.data.SaleTradeIn)" ng-model="wizardFloor.data.SaleTradeIn">
    </div>

  <span class="nxg-business-field" ng-class="{ 'hidden': wizardFloor.data.SaleTradeIn, 'has-error': (form.inputBiz.$error.nxgRequires || form.inputBiz.$error.minlength) && form.$submitted }">
    <input nxg-business-field-v2="sellers"
           id="inputBiz"
           name="inputBiz"
           form="form"
           parent-query="wizardFloor.data.query"
           ng-disabled="wizardFloor.data.SaleTradeIn"
           ng-required="!wizardFloor.data.SaleTradeIn"
           selected-business="wizardFloor.data.BusinessId"
           validity="wizardFloor.validity" />
  </span>

  <label class="main-heading"><span for="titleLocation" translate>Title Location</span></label>
  <div class="cr-inline" style="margin-bottom: 25px;">
    <input type="radio" name="titleLocation" id="{{location.Id}}" ng-value="{{$index}}" ng-model="wizardFloor.data.TitleLocationIndex" ng-repeat-start="location in wizardFloor.options.titleLocationOptions" required />
    <label class="radio-img" for="{{location.Id}}"></label>
    <label class="cr-label" for="{{location.Id}}">{{ location.Name }}</label>
    <br ng-repeat-end />
  </div>
  <label for="titleLocation" class="text-error" ng-show="form.titleLocation.$error.required && form.$submitted" style="position: relative; top: -16px;" translate>
    Please select who has the title.
  </label>

</form>
