<div class="container container-fluid wizard-container">
  <div class="col-xs-12">
    <ul class="nav nav-pills nav-justified wizard-nav">
      <div class="wizard-line"></div>
      <li class="step-1" ng-class="{'active': wizardFloor.counter == 1}" ng-click="wizardFloor.tabClick(1)">
        <a>1</a>
        <div>Vehicle Information</div>
      </li>
      <li class="step-2" ng-class="{'active': wizardFloor.counter == 2}" ng-click="wizardFloor.tabClick(2)">
        <a>2</a>
        <div>Sale Details</div>
      </li>
      <li class="step-3" ng-class="{'active': wizardFloor.counter == 3}" ng-click="wizardFloor.tabClick(3)">
        <a>3</a>
        <div>Payment Information</div>
      </li>
      <li class="step-4" ng-class="{'active': wizardFloor.counter == 4, 'hidden': !wizardFloor.attachDocumentsEnabled}" ng-click="wizardFloor.tabClick(4)">
        <a>4</a>
        <div>Documentation Upload</div>
      </li>
    </ul>
  </div>

  <!-- <div class="wizard-inner">
      <div class="connecting-line"></div>
      <ul class="nav nav-tabs" role="tablist">

          <li role="presentation" class="active">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-folder-open"></i>
                  </span>
              </a>
          </li>

          <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-pencil"></i>
                  </span>
              </a>
          </li>
          <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-picture"></i>
                  </span>
              </a>
          </li>

          <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                  <span class="round-tab">
                      <i class="glyphicon glyphicon-ok"></i>
                  </span>
              </a>
          </li>
      </ul>
  </div> -->


  <div ui-view class="col-xs-7"></div>
  <div class="col-xs-5"></div>
  <div class="col-xs-7">
    <button type="button"
            class="btn-cta cta-primary pull-right btn-next" translate
            ng-show="wizardFloor.nextAvailable() && (wizardFloor.attachDocumentsEnabled || wizardFloor.counter != 3)"
            ng-disabled="!wizardFloor.validForm"
            ng-click="wizardFloor.next()">
      Next
    </button>
    <button type="button"
            class="btn-cta cta-primary pull-right btn-submit" translate
            ng-show="!wizardFloor.nextAvailable() || (!wizardFloor.attachDocumentsEnabled && wizardFloor.counter == 3)"
            ng-disabled="wizardFloor.floorPlanSubmitting"
            ng-click="wizardFloor.submit()">
      Submit
    </button>
    <button type="button"
            class="btn-cta cta-secondary pull-right btn-previous" translate
            ng-hide="!wizardFloor.previousAvailable()"
            ng-click="wizardFloor.previous()">
      Previous
    </button>
  </div>
</div>
