<div class="input-xlarge">
  <div class="styled-input with-btn inputSmall">
      <div class="icon-addon addon-lg">
      <span class="inner-addon left-addon" nxg-icon="icon-search"></span>
      <input type="text" id="inputVin"
          class="vin-focus input-full" placeholder="VIN"
           name="inputVin"
           ng-model="data.UnitVin" required
           ng-minlength="6"
           ng-maxlength="17"
           nxg-requires="settings.vinMode == 'matched' || settings.vinMode == 'noMatch'"
           ng-change="vinChange()" nxg-blur="vinExit()"
           nxg-autofocus
           ng-class="{ 'nxg-invalid': validity.inputVin.$error.required || validity.inputVin.$error.minlength || validity.inputVin.$error.maxlength || (vinIsSyntacticallyValid(validity.inputVin.$error) && validity.inputVin.$error.nxgRequires)}" />
    <button type="button" href class="btn-cta cta-primary btn-search" ng-click="lookupVin()" translate>Search</button>
  </div>

</div>


<label for="inputVin" class="text-error"
       ng-show="validity.inputVin.$error.required" translate>
  Please enter a VIN.
</label>
<label for="inputVin" class="text-error"
       ng-show="validity.inputVin.$error.minlength || validity.inputVin.$error.maxlength" translate>
  VIN should be 6 to 17 characters.
</label>
<label for="inputVin" class="text-error"
       ng-show="vinIsSyntacticallyValid(validity.inputVin.$error) && validity.inputVin.$error.nxgRequires" translate>
  Please look up the VIN.
</label>
<label for="inputVin" class="text-error"
       ng-show="settings.vinMode == 'noMatch' && !data.VinAckLookupFailure" translate>
  VIN was not located; please enter Make, Model, Year and Style.
</label>

<div ng-show="settings.vinMode == 'noMatch'">
  <div class="cr-inline">
    <input type="checkbox" id="vinFailure" name="vinFailure" ng-model="data.VinAckLookupFailure" ng-required="settings.vinMode == 'noMatch'"/>
    <label class="checkbox-img" for="vinFailure"></label>
    <label class="cr-label" for="vinFailure" translate>Acknowledge VIN Look-Up Failure *</label>
  </div>
  <label for="vinFailure" class="text-error cr-inline-label"
         ng-show="validity.vinFailure.$error.required && errorFlag" translate>
    Please acknowledge VIN look-up failure.
  </label>
</div>

<div ng-switch="settings.vinMode">
  <div ng-switch-when="matched">
    <input id="outputMake" class="input-full" placeholder="Make" ng-model="data.$selectedVehicle.Make" disabled/>

    <input id="outputModel"  class="input-full" placeholder="Model" ng-model="data.$selectedVehicle.Model" disabled/>

    <input id="outputYear"  class="input-full" placeholder="Year" ng-model="data.$selectedVehicle.Year" disabled/>

    <input id="outputStyle"  class="input-full" placeholder="Style" ng-model="data.$selectedVehicle.Style" disabled/>
  </div>

  <div id="nxg-vin-no-match-info" ng-switch-when="noMatch">

    <div class="style-select full-width"  ng-class="{ 'nxg-invalid' : validity.year.$error.required }">
      <select id="year" name="year"
              ng-model="lookupValues.vehicle.years.selected"
              ng-change="lookupValues.vehicle.makes.fill()"
              ng-options="year.Value for year in lookupValues.vehicle.years.list"
              required>
        <option value="">Year</option>
      </select>
    </div>
    <label for="year" class="text-error" ng-show="validity.year.$error.required"
           translate>
      Please select a Year.
    </label>

    <div class="style-select full-width"
         ng-class="{ 'nxg-invalid' : validity.make.$error.required }">
      <select id="make" name="make"
              ng-model="lookupValues.vehicle.makes.selected"
              ng-change="lookupValues.vehicle.models.fill()"
              ng-disabled="!lookupValues.vehicle.years.selected"
              ng-options="make.Value for make in lookupValues.vehicle.makes.list"
              required>
        <option value="">Make</option>
      </select>
    </div>
    <label for="make" class="text-error"
           ng-show="validity.make.$error.required" translate>
      Please enter a Make.
    </label>

    <div class="style-select full-width"
         ng-class="{ 'nxg-invalid': validity.model.$error.required }">
      <select id="model" name="model"
              ng-model="lookupValues.vehicle.models.selected"
              ng-change="lookupValues.vehicle.styles.fill()"
              ng-disabled="!lookupValues.vehicle.makes.selected"
              ng-options="model.Value for model in lookupValues.vehicle.models.list"
              required>
        <option value="">Model</option>
      </select>
    </div>
    <label for="model" class="text-error"
           ng-show="validity.model.$error.required" translate>
      Please enter a Model.
    </label>

    <div class="style-select full-width"
         ng-class="{ 'nxg-invalid':validity.style.$error.required }">
      <select id="style" name="style"
              ng-model="lookupValues.vehicle.styles.selected"
              ng-disabled="!lookupValues.vehicle.models.selected"
              ng-options="style.DisplayName for style in lookupValues.vehicle.styles.list"
              required>
        <option value="">Style</option>
      </select>
    </div>
    <label for="style" class="text-error"
           ng-show="validity.style.$error.required" translate>
      Please enter a Style.
    </label>
  </div>

</div>
</div>
