.tooltip-image {
  background: url(../img/img-checknumbers.png);
  background-repeat: no-repeat;
  background-size: 303px 164px;
  background-position: 0px 0;
  height: 164px;
  position: relative;
  z-index: 5;
}

.image-tooltip {
  .tooltip-inner {
    max-width: 303px;
    width: 303px;
    font-weight: normal;
  }
  padding-top: 36px;
  padding-bottom: 12px;
}

.inline-edit-select{
  width: 100%;
  height: 33px;
}

.save-edit{
  font-weight: bold;
  text-align: left;
}

.cancel-edit{
  font-size: 12px;
  line-height: 12px;
  text-align: left;
}

.checkbox-img.small{
  margin-top: -7px;
  position: relative;
}

.edit-column{
  text-align: left;
  line-height: 12px;
  .edit-text{
    padding-left: 5px;
  }
}

.well-default-header{
  background-color: white;
  border-top: 1px solid #bbbbbb;
  border-radius: 0 0 5px 5px;
  padding: 0;
}

.inline-row{
  padding-top: 0;
  margin-top: 14px;
}

.bank-accounts-container{
  width: inherit;
  -ms-overflow-style: none;
}

.is-not-active{
  color: #BBBBBB;
}

.display-bank-name{
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
  position: relative;
}

.settings-well [class*="col"].tooltip-fix{
  position: static;
}

button[disabled]{
  color: #BBBBBB;
}

.required-text{
  font-style: italic;
  text-align: right;
  padding: 5px;
}

.modal-body h4.add-account.step-two{
  margin-top: 0px;
}

.noWrap {
  word-wrap: break-word;
}

.noWrapCheckbox {
  white-space: nowrap;
}

.userProfileSettingsPanel {
  min-height: 340px;
  max-height: 525px
}

.businessSettingsPanel {
  min-height: 340px;
  max-height: 340px;
}

.titleSettingsPanel {
   min-height: 151px;
 }

@media only screen and (min-width: 767px) and (max-width: 1150px) {
  .titleSettingsPanel {
    min-height: 142px;
  }
}

@media only screen and (max-width: 767px) {
  .businessSettingsPanel {
    min-height:initial;
    max-height: none;
  }

  .titleSettingsPanel {
    max-height: 125px;
    min-height: 125px;
  }
}
