// ANALYTICS

.nxg-analytics {
  .scale-description-x {
    @extend .scale-description;
    @extend %full-width;
    @extend %center;
    position: absolute;
    bottom: 0px;
  }

  .average-turn-chart {
    .chart-obj {
      height: 330px;
    }
  }

// highly specific because we're basically making our own legend to work with highcharts.
  .movers-list {
    position: absolute;
    background: transparent;
    top: 120px;
    left: 10px;
    width: calc(100% - 348px);
    height: 320px;

    .rank, .models {
      @extend %float-l;
    }

    .rank {
      @extend %align-right;
      width: 30px;
      font-size: $large-font-size;
      padding-right: 7px;
      vertical-align: middle;
    }

    .models {
      width: calc(100% - 30px);
      font-size: $tiny-font-size;
      line-height: 1.25;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 135px;
      }

      span:last-child {
        @extend %heavy;
      }
    }
  }

  .movers-chart {
    position: absolute;
    top: 100px;
    right: 10px;
    overflow: hidden;
    width: 65%;

    .chart-obj {
      height: 385px;
      width: 100%;
    }
  }

  .auctions-chart .chart-obj {
    height: 375px;
  }

  .top-auctions-container, .movers-container {
    position: relative;
    height: 500px;
  }
}
