.modal.top-auctions-modal {
  width: 640px;
  margin-left: -320px;

  h4 {
    margin-left: 3px;
  }

  thead {
    font-size: $tiny-font-size;
    color: #666666;
    background-color: #eaeaea;
  }
}

.nxg-analytics {
    .scale-description-x {
      @extend .scale-description;
      @extend %full-width;
      @extend %center;
      position: absolute;
      bottom: 0px;
    }

  .details-toggle-btn {
    padding-left: 0;
    display: block;
  }

  .aging-vehicles {
    .well-out {
      @extend %align-right;
      height: 30em;
    }

    li {
      line-height: 32px;
    }
  }

  .average-turn-chart {
    .well-out {
      height: 30em;
    }

    span {
      position: relative;
      margin-left: 1em;

      &:after {
        content: ' ';
        position: absolute;
        top: 16px;
        left: 14px;
        width: 0;
        height: 0;
        border-top: 6px solid #535353;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }

  .well .well-out {
    @extend %small;
  }

  .business-summary {
    padding: 0;
    margin: 0;

    h5 {
      margin-top: 0;
    }

    li {
      font-size: $tiny-font-size;
    }

    &.collapsed .well-out {
      height: 15em;
    }

    &.expanded .well-out{
      height: 24em;
    }

    table {
      margin: 0.3em 0 1em;
      width: 100%;
      font-size: $tiny-font-size;

      tr td:last-child {
        @extend %align-right;
        @extend %heavy;
      }
    }
  }

  .movers-container {
    position: relative;

    .well-out {
      height: 36em;
    }

    canvas {
      margin: 1em 0 0 10.5em;
    }

    .movers-chart {
      position: relative;
    }

    table {
      position: absolute;
      top: 28px;
      left: -7px;
      height: 320px;

      tr td:first-child {
        @extend %align-right;
        font-size: $large-font-size;
        padding-right: 7px;
      }
    }
    .models {
      font-size: $tiny-font-size;
      line-height: 14px;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 104px;
      }

      span:last-child {
        @extend %heavy;
      }
    }
  }

  .top-auctions-container {
    position: relative;

    .well-out {
      height: 36em;
    }
  }
}


#foo:checked,
.nxg-fancy-radios input[type="radio"]#best-movers + label::before {
  content: 'Ten Best Movers';
}

#foo:checked,
.nxg-fancy-radios input[type="radio"]#worst-movers + label::before {
  content: 'Ten Worst Movers';
}
