.auction-dashboard-summaries {
  margin-top: 7px;

  li {
    margin-bottom: 3px;
  }

  .well-out {
    @extend %small;
    height: 11em;
  }

  .recent-disbursements {
    position: relative;

    table {
      @extend %full-width;

      td:last-child, td:nth-child(3) {
        @extend %align-right;
      }
    }

    .btn {
      margin: 14px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.auction-dashboard-chart {
  position: relative;

  .nxg-fancy-radios {
    margin-bottom: 1em;
  }

  canvas {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  .scale-description-y {
    @extend .scale-description;
    position: absolute;
    top: 108px;
    left: 18px;
  }

  .scale-description-x {
    @extend .scale-description;
    position: absolute;
    bottom: 36px;
    left: 418px;
  }
}
