// Auction Seller Floorplan

.selfloor-list {
  .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5em;

    p {
      margin-bottom: 4px;
    }

    &.selfloor-vin { width: 16%; }
    &.selfloor-descr {  width: 10.5%; }
    &.selfloor-stat { width: 8.5%; }
    &.selfloor-dates { width: 10.5%; }
    &.selfloor-purch { width: 9%; }
    &.selfloor-title-st { width: 6%; }
    &.selfloor-title-loc { width: 8%; }
    &.selfloor-floored { width: 8%; }
    &.selfloor-buy { width: 8%; }
    &.selfloor-id-nums { width: 14%; }
    &.selfloor-actions { width: 9.5%; }
  }

  .table-list-row {
    height: 80px;
  }
}
