// AUCTION

// Reports & Resources/Documents
.auction-documents, .auction-reports {
  p {
    @extend %small;
  }

  h5 {
    margin-top: 0;
  }

  .text-info {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
