// ===========
//  DASHBOARD
// ===========

.col-xs-3.well.payment-summary.dash-well.leftMarginMedium ul.counter-list,
.col-xs-2.well.dash-well ul {
    padding-left: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
}
