// ===========
//  DASHBOARD
// ===========

.col-xs-3.well.payment-summary.dash-well.leftMarginMedium ul.counter-list,
.col-xs-2.well.dash-well ul {
  padding-left: 6%;
}

.col-xs-3.well.payment-summary.dash-well.leftMarginMedium ul.counter-list {
  margin-top: 5%;
}

.col-xs-2.well.dash-well ul {
  margin-top: 14%;
}
