// FLOORPLAN

.cell {
  &.fl-more { width: 3%; }
  &.fl-desc { width: 15%; }
  &.fl-vin { width: 7%; }
  &.fl-stock { width: 9%; }
  &.fl-status { width: 9%; }
  &.fl-purchaseDate { width: 9%; }
  &.fl-floorDate { width: 9%; }
  &.fl-seller { width: 10%; }
  &.fl-lastPayDate { width: 12%; }
  &.fl-titleRelease { width: 12%; }
  &.fl-title { width: 5%; }
}
