.floorcar {
  .btn-primary {
    @extend %float-r;
    margin-left: 1em;
  }
}

.nxg-vin-match-info {
  padding-top: 1em;

  label {
    display: block;
  }

  span {
    display: block;
    margin: 0 0 1em 0;
    width: 230px;
    padding: 3px;
    border: 1px solid #c8c8c8;
    background-color: $gray-e;
  }

  #outputStyle {
    width: 300px;
  }
}

.floorcar {
  margin-top: 1em;

  .modal-footer {
    margin: 10px 0 0 0;
  }
}

#inputSeller, #inputVin {
  width: 300px;
}

.search-modal.search-modal-business {
  .modal-body {
    margin: 12px 12px 0 12px;

    &.search-results {
      border-bottom: 1px solid #eaeaea;
      margin: -1px 12px 12px 12px;
    }
  }

  td {
    vertical-align: middle;
    padding: 5px;
  }

  .modal-footer {
    padding: 0;
  }
}

.floor-confirmation-modal {
  width: 480px;
  margin-left: -240px;

  .floor-confirmation {
    border: 1px solid $border;

    .detail-col {
      @extend %full-width;
      border: 0;

      table {
        @extend %full-width;
      }

      .detail-label {
        width: 40%;
      }

      .detail-value {
        width: 60%;
      }
    }
  }
}

.seller-has-title-box {
  margin: 10px 5px;
}

.floor-confirm-view-checklist {
  @extend %center;
  margin-bottom: 1em;
}
