// FLOORPLAN

.cell {
  &.fl-more { width: 3%; }
  &.fl-desc { width: 17%; }
  &.fl-stock { width: 9%; }
  &.fl-status { width: 11%; }
  &.fl-purchaseDate { width: 11%; }
  &.fl-floorDate { width: 12%; }
  &.fl-seller { width: 18%; }
  &.fl-lastPayDate { width: 14%; }
  &.fl-title { width: 5%; }
}
