// LOGIN & FORGOT USERNAME/PASSWORD

#nxg-logo {
  width: 209px;
}

.login-head {
  @include gradient-row();
  border-bottom: 2px solid $white;

  .row-fluid {
    margin: 0;
  }

  .container-fluid {
    margin: 20px auto;
  }

  & + .container-line::after {
    background-color: $brand-gradient-top; // IE fallback
    @include background-image(linear-gradient($brand-gradient-top, $brand-gradient-bottom));
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
  }
}

.login-contents {
  .login-form {
    padding: 10px 20px 0;
  }

  label {
    font-size: 14px;
    color: #666;
    margin-bottom: 2px;
  }

  input {
    width: 100%;
  }

  .modal-footer {
    padding: 10px 0;
    margin: 10px 20px 0;
  }

  .forgot-link {
    text-align: center;
    margin: 10px auto;
  }

  .headline {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .notice, .login-help {
    color: $white;
  }

  .login-help {
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 20px;

    a {
      color: $white;
      border-bottom: 1px solid $white;

      &:hover, &:active {
        color: #EEE;
        border-bottom: 1px solid #EEE;
      }
    }
  }
}

.forgot {
  h3 {
    color: $white;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin: 30px auto 20px;
  }

  .modal-footer {
    padding: 10px 0;
    margin: 0;
  }

  .well.adjacent {
    @include box-sizing(border-box);
    border: 0;

    & + .adjacent {
      margin-left: 6px;
    }

    .well-out {
      border: 0;
      margin: -14px;
    }
  }

  #userName {
    margin-bottom: 10px;
  }

  .security-question {
    font-size: 18px;
    color: $brand-text;
    margin: 0;
  }

  .answer-label {
    margin-top: 10px;
  }
}

.instructions {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 20px;
}
