// ===============
//  LOGIN-RELATED
// ===============

.login-panel {
  min-height: 325px;
  //min-width: 400px;
  //margin-top: -385px;
  background-color: rgba(77, 75, 75, 0.88);
  border: 1px solid transparent;
  border-radius: 4px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

a.not-enrolled:link {
  font-size: medium;
  font-weight: lighter;
  color: #76b73f;

  &:hover {
    color: #99CE64;
  }
}

a.forgot:link {
  font-size: 15px;
  font-weight: lighter;
  color: #76b73f;
  text-align: right;
  float:right;

  &:hover {
    color: #99CE64;
  }
}

.login-text {
  font-size: medium;
  font-weight: lighter;
  color: #76b73f;
}

.login-margin {
  margin-top: 50px;
}

.login-title {
  color: ghostwhite;
  font-weight: bold;
  font-size: 57px;
}

.login-tagline {
  color: ghostwhite;
  font-weight: normal;
  font-size: 34px;
}

.btn-learn-more {
  box-shadow:none;
  background-color: transparent;
  border: solid;
  border-color: ghostwhite;
  border-radius: 3px;
  margin-top: 35px;
  font-weight: 100;
  padding: 8px 24px;
  color: ghostwhite;

  &:hover {
    background-color: rgba(248, 248, 255, 0.16);
    color: whitesmoke;
    border: solid;
    border-color: ghostwhite;
  }
}

.nxg-login-container {
  min-height: 650px;
  overflow: hidden;
  /* equal to footer height plus some extra spacing */
  margin-bottom: -1px;
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.3)
    ),
    url(../img/login-mockup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-login {
  box-shadow: none;
  border-radius: 3px;
  text-shadow: none;
  background: #85c446;
  margin: 0px 1px;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: lighter;
  stroke: #a2c488;
  margin-top: 20px;
}

.btn-login:hover {
  background-color: #99CE64;
  color: whitesmoke;
}

.login-contents {
  .login-form {
    padding: 10px 20px 0;
  }

  //.col-md-4 {
  //  width:33.33333%;
  //  margin:0;
  //
  //}
  //.col-md-offset-4
  //{
  //  margin-left:33.33333%;
  //}


  .error-table {
    padding: 5px;
    background-color: $wellBackground;
  }

  label {
    font-size: 20px;
    margin-bottom: 2px;
    color: ghostwhite;
    font-weight: normal;
    font-size: 14px;
  }

  .modal-footer {
    padding: 10px 0;
    margin: 10px 20px 0;
  }

  .login-help-link {
    @extend %center;
    margin: 10px auto;
    color:#7eb75d;
  }

  .notice, .login-help {
    color: $white;
  }

  .login-help h2, .login-help p {
    color: $white;
  }

  .login-help {
    @extend .col-lg-12;
    @extend %small;
    line-height: 1.8;
    margin: 0 0 20px;

    .login-help-inner {
      width: 445px;
      margin: 0 auto;
    }

    a {
      color: $white;
      border-bottom: 1px solid $white;

      &:hover, &:active {
        color: #EEE;
        border-bottom: 1px solid $border;
      }
    }
  }
}

.forgot {
  h3 {
    @extend %center;
    color: $white;
    font-size: 22px;
    font-weight: normal;
    margin: 30px auto 20px;
  }

  #email, #userName {
    width: 75%;
  }
  .error-table {
    padding: 5px;
    background-color: $wellBackground;
  }

  .modal-footer {
    padding: 10px 0;
    margin: 0;
  }

  .well.adjacent {
    @include box-sizing(border-box);
    border: 0;

    & + .adjacent {
      margin-left: 6px;
    }

    .well-out {
      border: 0;
      margin: -14px;
    }
  }

  .question-section {
    padding-top: 10px;
  }

  .security-question {
    font-size: $large-font-size;
    color: $highlight;
    margin: 0;
  }

  .answer-label {
    margin-top: 10px;
  }
}

.instructions {
  font-size: 13px;
  line-height: $baseLineHeight;
  height: 30px;
  margin-bottom: 20px;
}

// Update Security Questions
.update-sec {
  .form-horizontal {
    margin: 25px 0 0 0;

    .control-group.email {
      margin-bottom: 30px;
    }

    .sec-ques {
      margin-bottom: 20px;

      .control-group {
        margin: 0;
      }

      select {
        width: auto;
        min-width: 206px;
        margin-bottom: 10px;
      }
    }
  }

  .modal-footer {
    margin: 10px 0 0 0;
  }
}

.create-password {
  p:first-child {
    font-style: italic;
    margin: 0 10px 10px
  }

  form {
    padding: 10px 20px 0;
  }

}
