// PAYMENTS

  .disclaimer {
    color: $text;
    text-align: left;
    font-size: 11px;
    font-style: italic;
    line-height: $base-line-height;
    margin: 5px 0 0;
  }


/* To prevent disabled buttons from moving when active. */
.schPayments-list .cell .btn-small,
.schPayments-list .cell .btn-small:hover,
.schPayments-list .cell .btn-small:active,
        .payments .cell .btn-block,
        .payments .cell .btn-block:hover,
        .payments .cell .btn-block:active,
            .fees .cell .btn-block,
            .fees .cell .btn-block:hover,
            .fees .cell .btn-block:active {
    margin-top: 15px;
}

.sticky, .well.sticky {
  margin-bottom: 0;
}

.alt-addr-link {
  font-size: $tiny-font-size;
  display: block;
  border: 0;
  padding: 5px 0;
}

.nxg-alt-addr {
  position: relative;
  margin-top: 5px;

  .style-select {
    width: 85%;
    @extend %float-l;
  }
}
