// PAYMENTS

  .disclaimer {
    color: $text;
    text-align: left;
    font-size: 11px;
    font-style: italic;
    line-height: $baseLineHeight;
    margin: 5px 0 0;
  }

.disclaimer-interest {
  margin-left: 26px;
}

.sticky, .well.sticky {
  margin-bottom: 0;
}

.alt-addr-link {
  font-size: $tiny-font-size;
  display: block;
  border: 0;
  padding: 5px 0;
}

.nxg-alt-addr {
  position: relative;
  margin-top: 5px;

  .style-select {
    width: 85%;
    @extend %float-l;
  }

  .btn-help {
    position: absolute;
    top: 10px;
  }
}

.btn-alert{
  position: absolute;
  background: transparent;
  top: 22px;
  right: -30px;
  margin: 0;
  height: 17px;
}

.count {
  font-size: 16px;
  font-weight: bold;
  color: $text;
}

#PaymentsPage {
  .paired-media.future {
    display: none;
  }
}

#paymentsSearchTable {
  td, th, tr td, tr th {
    padding: 10px 8px;
  }

  .paired .paired-media {
    margin-left: 0;
  }
}

#CheckoutPage {
  .well.sticky .well-footer {
    .style-select {
      width: auto;
    }
  }
}

.mobile-checkout-widget{
  position: fixed;
  bottom: 3px;
  left: -3px;
  z-index: 700;
  width: 103%;
  margin: -10px;

  .btn-cta{
    width:100%; height: 45px;
  }
}
