// Receipts

.cell {
  &.rec-num { width: 10%; }
  &.rec-status { width: 9%; }
  &.rec-payDate { width: 14%; }
  &.rec-payInfo { width: 18%; }
  &.rec-amtApplied { width: 15%; }
  &.rec-amtProvided { width: 15%; }
  &.rec-view { width: 18%; }
}

.rec-view {
  text-align: center;

  input + label {
    margin: 0;
  }

  input:checked + label, input + label {
    &:before {
      left: 0;
    }
  }
}

.receipt-link {
  display: inline-block;
  margin-top: 10px;
}
