// REPORTS

.reports form {
  overflow: hidden;
  margin-bottom: 0;

  hr {
    @extend %align-left;
    width: 230px;
  }

  & + hr {
    margin: 10px 0 20px;
  }

  input, select {
    width: 230px;
  }

  .control-group {
    width: 240px;

    &.half, &.half .control-group {
      width: 110px;
    }
  }

  .text-error {
    display: block;
    width: 300px;
    padding: 0;
    margin: 5px 0;
  }
}

.control-group.right {
  @extend %align-right;
  padding-right: 10px;
}
