// Scheduled Payments

.sch-label {
  @extend %heavy;
}

.sch-sub-label {
  @extend %thin;
  @extend %small;
  text-transform: uppercase;
  font-variant: small-caps;
}

.vin-small {
  @extend %small;
}

.cell {
  &.sch-more { width: 4%; }
  &.sch-schDate { width: 18%; }
  &.sch-desc { width: 34%; }
  &.sch-status { width: 20%; }
  &.sch-amount { width: 24%; }

  &.schFee-date { width: 25%; }
  &.schFee-desc { width: 35%; }
  &.schFee-type { width: 20%; }
  &.schFee-amt { width: 20%; }
}

.sch-amount button, .schFee-amt button {
  margin-top: 5px;
}
