// PROFILE SETTINGS

// so we can edit all the widths in one place
$set-label-width: 40%;

.settings {
  margin-top: 20px;

  .well {
    position: relative;
  }

  ul {
    margin: 0;
  }
}

.settings-opts {
  @extend %full-width;
  @extend %small;

  p {
    line-height: $base-line-height;
  }

  select {
    margin-bottom: 10px;
  }

  & > .control-group {
    @extend .clearfix;
  }

  .control-group {
    overflow: auto;
  }

  .control-label {
    @extend %thin;
    @extend %float-l;
    display: block;
    width: $set-label-width;
    height: 100%;
    color: $base-text-color;

    &.business {
      margin:0;
    }

    +.static {
      width: 100% - $set-label-width;
      float: right;
    }
  }

  .controls.static, .enhanced-info {
    margin-left: $set-label-width;
  }

  .static {
    font-weight: normal;
    color: $darker-text-color;

    p, span {
      line-height: 1.5;
    }

    .alt-addr {
      margin-bottom: 10px;
    }
  }

  .head-labels {
    overflow: hidden;

    label {
      @extend %heavy;
      @extend %float-l;
      margin: 0 0 10px;

      &:first-child {
        width: $set-label-width;
      }
    }
  }

  .notifications {
    .n-title {
      @extend %float-l;
      @extend %thin;
      width: $set-label-width;
      padding-right: 10px;
    }

    .inner {
      @extend %float-l;
      margin: 0;

      label {
        margin: 0;
      }
    }

    .read-only {
      line-height: $base-line-height;
      display: inline-block;

      &:after {
        content: ',';
        margin-left: -3px;
      }

      &:last-child {
        &:after {
          content: '';
          margin: 0;
        }
      }

      & + .read-only {
        margin-left: 7px;
      }
    }

    .notification {
      line-height: $base-line-height;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

  // When in edit mode:
  &.editable {
    .control-group {
      margin-bottom: 10px;
    }

    .nxg-radios label + p {
      margin-top: 10px;
    }

    .read-only {
      &:after {
        content: '';
        margin: 0;
      }

      & + .read-only {
        margin-left: 20px;
      }
    }
  }

  .contain {
    overflow: hidden;
  }

}

// Settings Form Buttons
.edit-btn, .save-btn, .cancel-btn {
  @extend .btn-small;
  position: absolute;
  top: 10px;
}

.edit-btn, .cancel-btn {
  @include background-image(linear-gradient($white, #F0F0F0));

  &:hover, &:active {
    @include background-image(linear-gradient($gray-e, #CFCFCF));
  }
}

.edit-btn, .save-btn {
  right: 10px;
}

.edit-btn {
  padding-left: 24px;

  i {
   position: absolute;
   top: 5px;
   left: 8px;
  }
}

.save-btn {
  @extend .btn-primary;
}

.cancel-btn {
  right: 70px;
}


// Tooltip in title settings when only 1 address available
.title-settings {

  .btn-help {
    margin-top: -10px;
  }

  .static .btn-help {
    float: left;
    margin: 2px 20px;
  }

  .static p {
    float: left;
  }
}

// ACCOUNT MANAGEMENT
.settings.account .well.self-service .well-out {
  @extend %clear;
}

.settings.account {
  .row-fluid {
    border-bottom: 0;
    margin-bottom: 0;
    &:last-child {
      border-bottom: 1px solid $border;
    }
  }
}
