// TITLE RELEASES

.cell {
  &.title-more { width: 4%; }
  &.title-desc { width: 22%; }
  &.title-vin { width: 10%; }
  &.title-stock { width: 12%; }
  &.title-status { width: 15%; }
  &.title-floorDate { width: 12%; }
  &.title-actions {
    width: 25%;
    padding: 8px 10px;
  }
}

.title-checkout-list {

  .remove {
    font-size: 13px;
  }

  .cell {
    &.title-desc { width: 45%; }
    &.title-vin { width: 15%; }
    &.title-stock { width: 15%; }
    &.title-status { width: 25%; }
  }
}

#toggleRequest {
  position: relative;
  padding-left: 26px;
  width: 130px;
  margin: 5px 0 5px;

  span {
    display: block;

    &:before {
      content: '';
      @include background-image(url('../img/icons/twocolor_chkbx.png'));
      display: block;
      position: absolute;
      left: 5px;
      width: 16px;
      height: 16px;
      margin: 2px 0;
    }
  }

  &.requested span:before {
    width: 17px;
    @include background-image(url('../img/icons/twocolor_chkbx_checked.png'));
  }

  &.requested {
    background-color: #878787; // IE fallback
    @include background-image(linear-gradient(#878787, $gray-5));
    color: $white;
  }
}

// REQUESTS SUMMARY
.request-queue {
  .well-out {
    border-bottom :0;
  }

  .queue-items {
    border-bottom: 1px solid $border;
  }
}

.request-summary {
  .submit button {
    @extend %full-width;
  }
}

.emphasis {
  @extend %heavy;
  color: darken($base-text-color, 10%);
  font-size: 1.3em;
  margin: 0 2px;
}

.request-sum-footer {
  padding: 6px 15px 15px 15px;
  background: $well-out-bkgd;
  margin: 15px -15px -15px -15px;
  border-style: solid;
  border-color: $well-out-border;
  border-width: 0px 1px 1px 1px;

  .btn-checkout {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}

// CONFIRMATION MODAL
.confirm-title-request {
  width: 500px;
  margin-left: -250px;

  .cell {
    &.title-desc { @extend %half-width; }
    &.title-vin, &.title-stock { @extend %quarter-width; }
  }
}
