// TITLE RELEASES

.send-to-label {
  display: block;
  float: left;
  width: 20%;
  margin: 15px 0 10px 0;

  & + .nxg-alt-addr {
    float: left;
    width: 80%;
  }
}

.description.no-right-padding {
  padding-right: 0px;
}

#TitleReleasesPage {
  .requests-grid {
    .btn-title-request {
      width: 135px;
    }
  }

  @media only screen and (max-width: 767px) {
    .styled-input {
      input, input[type="text"] {
        width: 90%;
      }
    }

    .search-date-picker {
      padding-right: 0 !important;
      input {
        width: 100% !important;
      }
    }
  }
}
