// =============
//  UNSUPPORTED
// =============

// This page has lots of tweaks because it has to work in all our
// unsupported browsers, IE7 & IE8 in particular.
.lt-ie9 body {
  background: $primary;
}

.unsupported {
  top: 0;
  width: 100%;
  height: 100%;

  .heavy {
    font-weight: bold;
  }

  .well-item {
    padding: 20px 30px;
  }

  .nxg-logo {
    background: transparent;
  }

  .browsers {
    @extend .clearfix;
    margin: 0 auto 20px;

    img {
      margin-right: 10px;
    }

    li {
      width: 50%;
      float: left;
      margin-bottom: 10px;
    }
  }

  .nxg-logo {
    background-image: url(../img/nxg_logo_blue_unsupported.png);
    background-size: 200px 66px;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    padding-top: 1px;
    z-index: 5;
  }

  .span2 {
    margin-bottom: 20px;
  }
  .nxg-cox-logo {
    background: url(../img/Logo-CoxAutomotive.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
    height: 33px;
    position: relative;
    top: -7px;
    z-index: 5;
  }
  .horizontal-list { // used for footer content
    margin: 5px 0;
    padding-left:10px;

    li {
      display: inline-block;
      padding: 0 6px;

      & + li {
        border-left: 1px solid $highlight;
      }
    }
  }

  .footer-element{
    padding-left: 2px;
  }
  .footer{
    @extend %center;
    @extend %full-width;
    background: #FFF;
    @include background-image(linear-gradient(#FFF, #e4e4e4));
    font-size: $tiny-font-size;
    color: $highlight;
    border-top: 1px solid $border;
    margin-top: 10px;
    margin-bottom: -50px;
    padding-top: 14px;
    padding-bottom:11px;
  }
}
