// =============
//  UNSUPPORTED
// =============

// This page has lots of tweaks because it has to work in all our
// unsupported browsers, IE7 & IE8 in particular.
.lt-ie9 body {
  background: $primary;
}

.unsupported {
  top: 0;
  width: 100%;
  height: 100%;

  p, a {
    font-size: 16px;
    line-height: 1.4;
  }

  p {
    margin-bottom: 20px;
  }

  .heavy {
    font-weight: bold;
  }

  .well-item {
    padding: 20px 30px;
  }

  .nxg-logo {
    background: transparent;
  }

  .browsers {
    @extend .clearfix;
    margin: 0 auto 20px;

    img {
      margin-right: 10px;
    }

    li {
      width: 50%;
      float: left;
      margin-bottom: 10px;
    }
  }

  .nxg-logo {
    background-image: url(../img/nxg_logo_blue_unsupported.png);
    background-size: 200px 66px;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
    padding-top: 1px;
    z-index: 5;
  }

  .span2 {
    margin-bottom: 20px;
  }
  .nxg-cox-logo {
    background: url(../img/Logo-CoxAutomotive.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
    height: 33px;
    position: relative;
    top: -7px;
    z-index: 5;
  }
  .footer-element {
    padding-left: 2px;
  }
  .horizontal-list {
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .horizontal-list li {
    display: inline-block;
    padding: 0 6px;
  }

  .horizontal-list li a{
    color: #069;
    cursor: pointer;
  }
  .horizontal-list li + li {
    border-left: 1px solid #069;
  }
  .footer {
    text-align: center;
    font-size: 11px;
    color: #0088CC;
    background-color: #EEE;
    width: 100%;
    /*padding: 1.25em 0 1em 0;*/
    border-top: 1px solid #DDD;
    background: #FFF;
    background-size: 100%;
    /* Background Gradient */
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFF), color-stop(100%, #E4E4E4));
    background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
    background-image: -webkit-linear-gradient(#ffffff,#e4e4e4);
    background-image: linear-gradient(#ffffff,#e4e4e4);
    font-size: 11px;
    color: #069;
    padding: 14px 0 11px 0;
    border-top: 1px solid #bbb;
    margin: 10px 0 -50px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  }
}
