#ValueLookupPage {
  .tooltip-inner {
    max-width: 400px;
    width: 400px;
    font-weight: normal;
  }

  .nav-tabs {
    background-color: #DDD;
    .active {
      a {
        background-color: #F5F5F5;
      }
    }
    a {
      color: #39C;
    }
  }

  // value look-up table
  .valuation-table {
    @extend .clearfix;
    @extend .col-bordered;
    @include border-radius($borderRadius);
    background-color: $white;
    border: 1px solid $border;
    padding: 10px 0;
    margin: 10px 0 20px;

    & > [class*="col"] {
      padding: 0px;
      border-right: 1px solid #BBBBBB;
      width: 25%;
      & + [class*="col"] {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .kbb-tooltip {
      float: right;
      .tooltip-inner {
        width: 250px;
      }
    }
  }
}
