.wizard-container {
  ul.wizard-nav {

    margin: 0px 0px 35px 0px;
    position: relative;

    div.wizard-line {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #dddddd;
    }

    li {

      // position: absolute;
      text-align: center;
      // width: 100px;

      // &.step-1 {
      //   left: 0;
      // }
      //
      // &.step-2 {
      //   right: 66%;
      // }
      //
      // &.step-3 {
      //   left: 66%;
      // }
      //
      // &.step-4 {
      //   right: 0;
      // }


      a {
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 25px;
        padding-top: 17px;
        margin: auto;
        background-color: #FFFFFF;
      }

      div {
        margin-top: 10px;
        white-space: nowrap;
      }

      &.active > a {
        background-color: #428bca;
      }

    }

  }

  .date-field .disbursement-btn-calendar {
    left: 10px;
    top: 40%;
  }

  .date-field input, .date-field input[type="text"] {
    padding-left: 35px;
    padding-right: 0px;
    width: 100%;
  }

  input {
    margin-top: 0px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
  }

  .switch input {
    display:none;
  }

  .slider {
    color: #FFFFFF;
    font-weight: 300;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }

  .slider.round:before {
    border-radius: 50%;
    border: 1px solid #bbb;
  }

  .slider-left {
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all .4s;
    -webkit-transition: all .4s;
  }

  .slider-right {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all .4s;
    -webkit-transition: all .4s;
  }

  input:checked + .slider > .slider-right {
    opacity: 0;
  }

  input:not(:checked) + .slider > .slider-left {
    opacity: 0;
  }

  .input-group-addon {
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-right: none;
  }

  input.ng-invalid ~ .input-group-addon {
    border-color: #C43926;
  }

  .input-group-addon + input {
    border-left: none;
  }
}
