<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <h2 style="font-size: 1.714em; line-height: 1.2; margin-top: 28px; margin-bottom: 20px;" translate>Thank you for your floor plan request.</h2>
      <h4 style="font-size: 1.429em; line-height: 1.2; margin-bottom: 20px;"><span translate>Stock Number:</span> {{ flooringConfirmation.stockNumber }}</h4>
      <p class="hidden" style="font-size: 1.15em; font-weight: 200; margin-bottom: 60px;"><span translate>You will receive an email confirmation shortly at</span> {{ flooringConfirmation.user.BusinessEmail }}</p>

      <h4 style="font-size: 1.429em; line-height: 1.2; font-weight: 400; color: #FFA500;" ng-hide="flooringConfirmation.surveyComplete" translate>How would you rate your experience with flooring online?</h4>

      <form name="confirmationForm" ng-hide="flooringConfirmation.surveyComplete" novalidate>
        <nxg-star-rating rating-value="flooringConfirmation.starValue" max-rating="5"></nxg-star-rating>

        <div class="form-group">
          <label for="comment" ng-show="flooringConfirmation.surveyComment" translate>Tell us more!</label>
          <textarea id="comment" name="comment" class="form-control" style="height: 100px; margin-bottom: 10px;" placeholder="{{ 'Tell us more!' | translate }}" ng-model="flooringConfirmation.surveyComment" required></textarea>
          <label for="comment" class="text-error" ng-show="confirmationForm.comment.$error.required && confirmationForm.$submitted" translate>Survey comment is required.</label>
        </div>

        <div style="height: 35px; margin-bottom: 20px;">
          <button class="btn-cta btn-lg cta-secondary pull-right" ng-click="flooringConfirmation.submitSurvey()" style="margin: 0px; font-size: 1.429em; height: 40px; font-weight: 300; padding: 8px 20px;" type="submit" translate>submit</button>
        </div>
      </form>

      <p style="font-size: 1.15em; font-weight: 200; margin-bottom: 60px; height: 53px; padding-top: 10px;" ng-show="flooringConfirmation.surveyComplete" translate>Thank you for the feedback!</p>

      <div class="hidden" style="margin-bottom: 30px;">
        <a href><span class="glyphicon glyphicon-print"></span>&nbsp;<span translate>Print Request Summary</span></a>
      </div>

      <div>
        <button class="fedex-label" ng-click="flooringConfirmation.getWaybill()"  type="submit" translate>Print Fedex Label</button>
      </div>

      <button class="btn-cta btn-lg cta-primary" style="font-size: 1.429em; height: 40px; font-weight: 300; margin-left: 0px; padding: 8px 20px;" ui-sref="flooringWizard.car" translate>Floor Another Vehicle</button>
    </div>
  </div>
</div>
