{
    "env": {
      "jasmine": true,
      "jquery": true,
      "es6": true,
      "browser": true,
      "node": true,
      "mocha": true
    },
    "extends": [
        "airbnb",
        "angular",
        "plugin:jasmine/recommended",
        "jquery"
    ],
    "plugins": [
        "jsx-a11y",
        "import",
        "jasmine",
        "angular",
        "jquery"
    ],
    "globals": {
        "Highcharts": true,
        "jQuery": true,
        "Modernizr": true,
        "sinon": true,
        "inject": true,
        "moment": true,
        "_": true,
        "document": true,
        "assert": true
    },
    "parser": "babel-eslint",
    "rules": {
        "camelcase": 0,
        "comma-dangle": 0,
        "comma-spacing": 0,
        "consistent-return": 0,
        "curly": 0,
        "eol-last": 1,
        "eqeqeq": 1,
        "indent": [1, 2],
        "key-spacing": 0,
        "no-alert": 1,
        "no-catch-shadow": 2,
        "no-cond-assign": 2,
        "no-console": 0,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-delete-var": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-label-var": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": 1,
        "no-spaced-func": 1,
        "no-sparse-arrays": 2,
        "no-undef-init": 2,
        "no-undef": 1,
        "no-undefined": 1,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "no-unused-vars": 1,
        "semi": 0,
        "space-infix-ops": 1,
        "use-isnan": 2,
        "valid-jsdoc": 1,
        "valid-typeof": 2,
        "linebreak-style": "off",
        "quotes": [1, "single"],
        "import/prefer-default-export": 0,
        "space-in-parens": 0,
        "computed-property-spacing": 0,
        "array-bracket-spacing": 0,
        "object-curly-spacing": 0,
        "template-curly-spacing": 0,
        "quote-props": 0,
        "func-names": 0,
        "max-len": 0,
        "lines-around-comment": 1,
        "space-before-function-paren": 1,
        "padded-blocks": 1,
        "strict": 1,
        "no-use-before-define": 1,
        "prefer-arrow-callback": 1,
        "no-var": 1,
        "vars-on-top": 1,
        "space-before-blocks": 1,
        "object-shorthand": 1,
        "no-param-reassign": 1,
        "init-declarations": 1,
        "one-var-declaration-per-line": 1,
        "one-var": 1,
        "spaced-comment": 1,
        "no-lonely-if": 1,
        "no-nested-ternary": 1,
        "prefer-const": 1,
        "no-useless-escape": 1,
        "keyword-spacing": 1,
        "prefer-template": 1,
        "no-else-return": 1,
        "no-prototype-builtins": 1,
        "no-unneeded-ternary": 1,
        "no-multi-spaces": 1,
        "semi-spacing": 1,
        "no-useless-concat": 1,
        "no-plusplus": 1,
        "operator-assignment": 1,
        "func-call-spacing": 1,
        "block-spacing": 1,
        "dot-notation": 1,
        "lines-around-directive": 1,
        "prefer-rest-params": 1,
        "no-mixed-operators": 1,
        "no-bitwise": 1,
        "brace-style": 1,
        "no-throw-literal": 1,
        "no-underscore-dangle": 1,
        "no-multiple-empty-lines": 1,
        "no-trailing-spaces": 1,
        "prefer-spread": 1,
        "radix": 1,
        "wrap-iife": 1,
        "no-self-compare": 1,
        "array-callback-return": 1,
        "default-case": 1,
        "operator-linebreak": 1,
        "guard-for-in": 1,
        "no-restricted-syntax": 1,
        "no-irregular-whitespace": 1,
        "object-property-newline": 1,
        "no-unused-expressions": 1,
        "no-sequences": 1,
        "space-unary-ops": 1,

        "angular/di": "warn",
        "angular/controller-name": "warn",
        "angular/controller-as": "warn",
        "angular/controller-as-vm": "warn",
        "angular/definedundefined": "warn",
        "angular/window-service": "warn",
        "angular/json-functions": "warn",
        "angular/document-service": "warn",
        "angular/no-service-method": "warn",
        "angular/on-watch": "warn",
        "angular/no-cookiestore": "warn",
        "angular/typecheck-number": "warn",
        "angular/typecheck-string": "warn",
        "angular/no-private-call": "warn",
        "angular/log": 0,
        "angular/controller-as-route": "warn",
        "angular/timeout-service": "warn"
    }
}
