<header class="app-header" ng-class="{ login: !navState.current.data.showNavBar, auctions: !user.isDealer() }">
  <div class="container" ng-class="{'hidden-xs':navState.current.data.showNavBar}">
    <div class="header">
      <a ng-href="{{user.homeLink()}}" class="col-sm-4 col-md-8 custom ng-binding">
        <div class="nxg-logo" nxg-debug-title></div>
      </a>
      <div class="col-sm-8 user-info no-left-padding no-right-padding" ng-show="navState.current.data.showNavBar">
        <div class="user-info-list pull-right">
          <div>
            <span class="" ng-show="user.isDealer()" translate>
              Dealer #
            </span>
            <span class="" ng-show="!user.isDealer()" translate>
              NGC #
            </span>
            {{ user.BusinessNumber }}
          </div>
          <div class="spacer" ng-show="user.isDealer()">
            <a class="cart-btn" ng-disabled="getQueueCount() < 1" ng-click="onCartClicked()" ng-class="{ 'has-items': getQueueCount() > 0 }">
              {{ getQueueCount() }}
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </a>
            <br/>
          </div>
          <div class="spacer" ng-show="chatEnabled && user.isDealer()">
            <a nxg-chat-with-us nxg-track="{{metric.CLICK_CHAT_NOW_LINK}}"
               track-properties="{{ kissMetricData }}"><span translate>Chat</span>
              <span class="glyphicon glyphicon-comment"></span>
            </a>
          </div>
          <div class="spacer" ng-show="fedExWaybillEnabled">
            <nxg-download-waybill class="navLink"></nxg-download-waybill>
          </div>
          <div uib-dropdown class="spacer">
            <span class="dropdown-toggle" uib-dropdown-toggle
                  id="settingsDropdown"
                  aria-haspopup="true" aria-expanded="false">
              <a>
                <span translate>My Account</span>
                <span style="border-top: 4px solid #069" class="caret"></span>
              </a>
            </span>
            <ul class="dropdown-menu dropdown-bold text-right" uib-dropdown-menu role="menu" aria-labelledby="settingsDropdown">
              <li>
                <a href="#/act/settings" ng-show="!user.isDealer()">
                  <strong translate>Settings</strong>
                </a>
                <a href="#/profile_settings" ng-show="user.isDealer()">
                  <strong translate>Profile Settings</strong>
                </a>
              </li>
              <li>
                <a ng-href="#/account_management" ng-show="user.isDealer()">
                  <strong translate>Account Management</strong>
                </a>
              </li>
              <li class="menu-divider"></li>
              <li>
                <a href="javascript:void(0)" ng-click="user.logout()" id="signOut">
                  <strong translate>Sign Out</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-2 col-md-6 col-md-offset-4 col-xs-12" ng-hide="navState.current.data.showNavBar">
        <div class="nav-language-chooser">
          <span class="icon-xx-large hidden-xs" nxg-icon="icon-globe"></span>
          <div class="cta btn-toggle toggle-three">
            <div class="btn-slider"
                 ng-class="{ 'active-left': isCurrentLanguage('en'), 'active-center': isCurrentLanguage('es'), 'active-right': isCurrentLanguage('fr_CA') }"></div>
            <button class="btn" ng-click="updateLanguage('en')">English</button>
            <button class="btn" ng-click="updateLanguage('es')">Espa&ntilde;ol</button>
            <button class="btn" ng-click="updateLanguage('fr_CA')">Fran&ccedil;ais</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="navState.current.data.showNavBar">
    <nav id="navbar" class="navbar navbar-default mng-navbar main-navbar" ng-class="{'menu-open in' : navState.current.data.showMenu, 'mobile-navbar' : isMobile }">
      <div
           ng-class="{'auction-nav':!user.isDealer(), 'es-nav':isCurrentLanguage('es') && !user.isDealer(), 'fr-nav': isCurrentLanguage('fr_CA') && !user.isDealer(), 'container' : !isMobile}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed mobile-menu-button"                  
                  ng-click="toggleMenu(); closeSupport()"
                  popover-placement="bottom"
                  uib-popover-template="'client/shared/directives/navbar/menuTip.html'"
                  popover-is-open="!hideMenuTip && isMobile"
                  popover-trigger="none">
            <span class="sr-only" translate>Toggle navigation</span>
            <span class="hamburger"></span>
          </button>
          <div class="logo-center visible-xs">
            <div ng-if="isDashboard()">
              <div class="mng-logo"></div>
            </div>
            <div ng-if="!isDashboard()" translate>
              {{getPageTitle()}}
            </div>
          </div>
        </div>

        <div id="navbarContainer" class="navbar-collapse" ng-class="{'open': navState.current.data.showMenu, 'closed': (!navState.current.data.showMenu && navState.current.data.menuToggled)}" ng-click="closeMenu()">
          <ul class="nav navbar-nav"
              popover-placement="bottom"
              uib-popover-template="'client/shared/directives/navbar/menuTip.html'"
              popover-is-open="!hideMenuTip && !isMobile && user.isDealer()"
              popover-trigger="none">
            <li class="visible-xs" ng-if="user.isDealer()">
              <a href="#" ng-href="#/checkout" ng-click="setPageTitle('Checkout')" translate>Checkout</a>
            </li>
            <li ng-repeat="link in user.navLinks().primary" class="link_{{ link.activeWhen }}" ng-class="{'dropdown': link.subMenu, 'hover': link.hasHover}">
              <a ng-href="{{link.href}}" ng-class="{ active: isActive(link.activeWhen) }" ng-if="!link.subMenu"
                 ng-click="setPageTitle(link.name)" translate>{{link.name}}</a>
              <a class="sub-menu dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                 ng-class="{ active: isActiveGroup(link.subMenu) }"
                 ng-if="link.subMenu"
                 ng-click="gotoPageIf(link.href, link.activeWhen); setPageTitle(link.name); removeHover()"
                 ng-mouseenter="addHover()"
                 ng-mouseleave="removeHover()"
                 translate
              >
                {{link.name}} <span class="caret"></span></a>
              <ul class="dropdown-menu" ng-if="link.subMenu" ng-mouseenter="addHover()"
                  ng-mouseleave="removeHover()">
                <li ng-repeat="item in link.subMenu" ng-class="{ active: isActive(item.activeWhen) }" ng-click="removeHover()">
                  <a href="#" ng-href="{{item.href}}" ng-click="setPageTitle(item.name)" translate>{{item.name}}</a>
                </li>
              </ul>
              <ul class="visible-xs mobile-nav-list">
                <li class="visible-xs" ng-repeat="item in link.subMenu" ng-class="{ active: isActive(item.activeWhen) }" ng-click="removeHover()">
                  <a href="#" ng-href="{{item.href}}" ng-click="setPageTitle(item.name)" translate>{{item.name}}</a>
                </li>
              </ul>
            </li>
            <li class="visible-xs" ng-show="fedExWaybillEnabled">
              <nxg-download-waybill></nxg-download-waybill>
            </li>
            <li class="visible-xs" ng-hide="user.isDealer()">
              <a href="#/act/settings" ng-click="setPageTitle('Settings')">
                <span translate>Settings</span>
              </a>
            </li>
            <li class="visible-xs" ng-show="user.isDealer()">
              <a href="#/profile_settings" ng-click="setPageTitle('Profile Settings')">
                <span translate>Profile Settings</span>
              </a>
            </li>
            <li class="visible-xs" ng-show="user.isDealer()">
              <a ng-href="#/account_management" ng-click="setPageTitle('Account Management')">
                <span translate>Account Management</span>
              </a>
            </li>
            <li class="visible-xs" ng-click="$event.stopPropagation()">
                <a ng-click="toggleSupport()">
                <span translate>Support</span>
                 <span class="paired-media icon-chevron support-chevron"
                   ng-class="{ 'point-up':showSupport, 'point-down':!showSupport }"
                   nxg-icon="icon-chevron" style="float: right;">
                   </span>
              </a>
            </li>
            <li class="visible-xs" ng-show="user.isDealer() && showSupport">
              <span class="spacer" ng-show="chatEnabled && user.isDealer()">
                <a class="support-text" nxg-chat-with-us nxg-track="{{metric.CLICK_CHAT_NOW_LINK}}"
                   track-properties="{{ kissMetricData }}" translate>Chat
                  <span class="glyphicon"></span>
                </a>
                </span>
            </li>
            <li class="visible-xs" ng-show="user.isDealer() && showSupport">
              <a class="support-text" href="tel:+{{support.phone}}">
                Call Account Executive
              </a>
            </li>
            <li class="visible-xs" ng-show="showSupport">
              <a class="support-text" href= "tel:+{{ support.customerSupportPhone }}">
                Call Customer Service
              </a>
            </li>
            <li class="visible-xs" ng-show="showSupport">
              <a class="support-text" href="mailto:{{ support.email }}">
                Send Email
              </a>
            </li>
            <li class="visible-xs" ng-show="showSupport">
              <a class="support-text" href="javascript:void(0)"
                 data-uv-lightbox="classic_widget"
                 data-uv-mode="full"
                 data-uv-primary-color="#135889"
                 data-uv-link-color="#1864A1" 
                 data-uv-default-mode="support"
                 data-uv-forum-id="{forumId}"
                 data-uv-custom-template-id="{customTemplateId}"
                 data-uv-trigger>
                <span translate>Feedback</span>
              </a>
            </li>
            <li class="visible-xs">
              <a href="javascript:void(0)" ng-click="user.logout()">Sign Out</a>
            </li>
          </ul>
        </div>

        <div class="navbar-scroll-fix" ng-click="closeMenu()"></div>
      </div>
    </nav>
  </div>
</header>
