<div>
	<div class="control-group">
	    <label class="control-label" for="paidOffStockNo">Stock Number Filter (optional)</label>
	    <div class="controls">
	        <select id="paidOffStockNo"
				ng-model="selectData.value"
				ng-options="v for v in selectData.values"
				ng-change="selectChange()" />
	    </div>
	</div>

	<!-- Range of stock numbers conditional fields. -->
	<div ng-show="isRange">
		<div class="control-group"
		    <label class="control-label" for="paidOffRangeStart">Stock # Range Start</label>
		    <div class="controls">
		        <input type="text" id="paidOffRangeStart" name="paidOffRangeStart" ng-model="rangeStart" />
		    </div>
		</div>
		<div class="control-group"
		    <label class="control-label" for="paidOffRangeEnd">Stock # Range End</label>
		    <div class="controls">
				<input type="text" id="paidOffRangeEnd" name="paidOffRangeEnd" ng-model="rangeEnd" />
		    </div>
		</div>
	</div>
	<!-- -->

	<!-- Specific stock number conditional field. -->
	<div ng-show="isSpecific">
		<div class="control-group" 
		    <label class="control-label" for="paidOffStockNo">Enter Stock #'s separated by a comma.</label>
		    <div class="controls">
		        <input type="text" class="text" ng-model="stockNos">
		    </div>
		</div>
	</div>
	<!-- -->
</div>