<div class="container-fluid">
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<button ng-hide="profile.editable" class="btn-unstyle btn-clear right clear-search" ng-click="reset()"><strong translate>Clear Form</strong></button>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <form name="form" novalidate>
      <!-- Vehicle Information -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <h2 class="well-title" translate>1. Vehicle Information</h2>
          <div class="well-form">

            <div nxg-vin-details floor-model="data" validity="validity" form="form" error-flag="vinDetailsErrorFlag" nxg-autofocus="reset"></div>

            <label for="inputColor" class="input-title" translate>Color</label>
            <div class="style-select full-width" ng-class="{ 'nxg-invalid': validity.inputColor.$error.required }">
              <select id="inputColor" name="inputColor" ng-model="data.UnitColorId"
                      ng-options="color.ColorName for color in options.colors" required>
                <option value="" translate>Make Selection</option>
              </select>
            </div>
            <label for="inputColor"
                   class="text-error"
                   ng-show="validity.inputColor.$error.required" translate>
              Please select a Color.
            </label>

            <label for="inputMileage" class="input-title" translate>Odometer</label>
            <input type="number" id="inputMileage"
                   name="inputMileage"
                   ng-model="data.UnitMileage"
                   ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*$/"
                   nxg-min="1"
                   required
                   nxg-validate-int="6"
                   ng-class="{ 'nxg-invalid': validity.inputMileage.$error.required || validity.inputMileage.$error.pattern || validity.inputMileage.$error.maxlength || validity.inputMileage.$error.nxgMin }"
            />
            <label for="inputMileage" class="text-error" ng-show="validity.inputMileage.$error.required">
              <span translate>Please enter the</span>
              <span>{{ mileageOrOdometer}}.</span>
            </label>
            <label for="inputMileage"
                   class="text-error"
                   ng-show="validity.inputMileage.$error.pattern || validity.inputMileage.$error.nxgMin" translate>
              Please enter a positive integer value with no decimals.
            </label>
            <label for="inputMileage"
                   class="text-error"
                   ng-show="validity.inputMileage.$error.maxlength" translate>
              Please enter a value less than 1,000,000.
            </label>

            <label for="inputTitleHolder" class="input-title" translate>Who has the Title?</label>
            <div class="style-select full-width" ng-class="{ 'nxg-invalid': validity.inputTitleHolder.$error.required }">
              <select id="inputTitleHolder"
                      name="inputTitleHolder" ng-model="data.TitleLocationId"
                      ng-options="location.Name for location in options.titleLocationOptions"
                      required >
                <option value="" translate>Make Selection</option>
              </select>
            </div>
            <label for="inputTitleHolder"
                   class="text-error"
                   ng-show="validity.inputTitleHolder.$error.required" translate>
              Please select who has the title.
            </label>

            <label for="inputInvLoc" class="input-title" translate>Inventory Location</label>
            <div class="style-select full-width" ng-class="{ 'nxg-invalid': validity.inputInvLoc.$error.required }">
              <select id="inputInvLoc" name="inputInvLoc" ng-model="data.PhysicalInventoryAddressId"
                      ng-options="(location | address:'oneLineSelect') for location in options.locations"
                      required>
                <option value="" translate>Make Selection</option>
              </select>
            </div>
            <label for="inputInvLoc"
                   class="text-error"
                   ng-show="validity.inputInvLoc.$error.required" translate>
              Please select an Inventory Location.
            </label>
          </div>
        </div>
      </div>
      <!-- Sale Information -->
      <div class="col-md-4">
        <div class="panel panel-default">
          <h2 class="well-title" translate>2. Sale Information</h2>
          <div class="well-form">
            <label translate>Trade in</label>
            <div class="form-inline">
              <div class="cr-inline">
                <input type="radio" id="yes" name="inputTradeIn" ng-value="true" ng-model="data.SaleTradeIn" ng-change="data.PaySeller = !data.SaleTradeIn" ng-disabled="!canPayBuyer">
                <label class="radio-img" for="yes"></label>
                <label class="cr-label" for="yes" translate>Yes</label>

                <input type="radio" id="no" name="inputTradeIn" ng-value="false" ng-model="data.SaleTradeIn" ng-disabled="!canPayBuyer">
                <label class="radio-img" for="no"></label>
                <label class="cr-label" for="no" translate>No</label>
              </div>
            </div>
            <div class="date-field date-picker" style="width: 120px;">
              <label for="purchaseDate" class="input-title" translate>Purchase Date</label>
              <input type="text" uib-datepicker-popup="{{dateFormat}}"
                     placeholder="mm/dd/yyyy" nxg-date
                     ng-model="data.UnitPurchaseDate"
                     min-date="dealerMinDate"
                     max-date="maxDate"
                     show-weeks="false"
                     show-button-bar="false"
                     is-open="datePicker.opened"
                     id="purchaseDate"
                     name="purchaseDate"
                     required
                     ng-class="{ 'nxg-invalid': validity.purchaseDate.$error.required || validity.purchaseDate.$error.past || validity.purchaseDate.$error.date }"/>
              <button tabindex="-1" type="button" class="btn-unstyle disbursement-btn-calendar" ng-click="openDatePicker()">
                <span nxg-icon="icon-calendar"></span></button>
              <button class="btn-alert" ng-show="validity.purchaseDate.$error.future || validity.purchaseDate.$error.past"
                      tooltip-placement="right"
                      tooltip-trigger="mouseenter"
                      uib-tooltip="{{ 'To floor plan purchases older than 365 days, please contact NextGear Capital Floorplan Services at fundingservices@nextgearcapital.com, attach the Bill of Sale, and provide the customer’s NextGear Dealer Number.' | translate }}"
                      tooltip-animation="true">
                <span nxg-icon="icon-alert"></span>
              </button>

            </div>

            <label for="purchaseDate" class="text-error"
                   ng-show="validity.purchaseDate.$error.required || validity.purchaseDate.$error.date || validity.purchaseDate.$error.past || validity.purchaseDate.$error.future" translate>
              Please enter a Valid Purchase Date.
            </label>
            <div class="form-group" ng-hide="data.SaleTradeIn">
              <label for="inputBiz" class="input-title" translate>Seller</label>
              <div class="nxg-business-field" ng-class="{ 'nxg-invalid': validity.inputBiz.$error.nxgRequires || validity.inputBiz.$error.minlength }">
                <input nxg-business-field="sellers"
                       id="inputBiz"
                       name="inputBiz"
                       ng-required="!data.SaleTradeIn"
                       selected-business="data.BusinessId"
                       validity="validity" />
              </div>
            </div>
            <label for="inputPurchaseAmt" class="input-title" translate>Purchase Amount</label>
            <div class="input-prepend dollar">
              <span class="add-on no-top" translate>$</span>
              <input type="number" id="inputPurchaseAmt" name="inputPurchaseAmt" ng-model="data.UnitPurchasePrice"
                     required
                     nxg-input-currency="1000000000000"
                     nxg-min="1"
                     ng-class="{ 'nxg-invalid': validity.inputPurchaseAmt.$error.required || validity.inputPurchaseAmt.$error.max || validity.inputPurchaseAmt.$error.pattern || validity.inputPurchaseAmt.$error.maxlength || validity.inputPurchaseAmt.$error.nxgMin }" />
              <label for="inputPurchaseAmt" class="text-error"
                     ng-show="validity.inputPurchaseAmt.$error.required" translate>
                Please enter the Purchase Amount
              </label>
              <label for="inputPurchaseAmt"
                     class="text-error"
                     ng-show="!validity.inputPurchaseAmt.$error.required && (validity.inputPurchaseAmt.$error.pattern || validity.inputPurchaseAmt.$error.nxgMin)" translate>
                Please enter a positive numeric value with no <br> special characters, such as a dollar sign.
              </label>
              <label for="inputPurchaseAmt" class="text-error"
                     ng-show="!validity.inputPurchaseAmt.$error.required && !validity.inputPurchaseAmt.$error.pattern && validity.inputPurchaseAmt.$error.max" translate>
                Please enter a value less than $1,000,000,000,000.
              </label>
            </div>

            <label for="inputCreditLine" class="input-title" translate>Line of Credit</label>
            <div class="style-select full-width" ng-class="{ 'nxg-invalid': validity.inputCreditLine.$error.required }">
              <select id="inputCreditLine"
                      name="inputCreditLine"
                      ng-model="data.LineOfCreditId"
                      ng-options="line.LineOfCreditName for line in options.LinesOfCredit"
                      required>
                <option value="" translate>Make Selection</option>
              </select>
            </div>
            <label for="inputCreditLine" class="text-error"
                   ng-show="validity.inputCreditLine.$error.required" translate>
              Please select a Line of Credit.
            </label>
            <div class="form-group" ng-hide="data.SaleTradeIn">
              <label for="inputSendPay" class="input-title"><span translate>Send Payment To</span>:</label>
              <div class="style-select full-width">
                <select id="inputSendPay" name="inputSendPay" ng-model="data.PaySeller"
                        ng-options="value && 'Seller' || 'Buyer' | translate for value in paySellerOptions"
                        ng-change="data.BankAccountId = null"
                        ng-disabled="data.SaleTradeIn">
                  <option value="" translate>Make Selection</option>
                </select>
              </div>
            </div>

            <label for="inputDisburseAcct" translate>Bank Account for Deposit (when applicable)</label>
            <div class="style-select full-width" ng-class="{ 'nxg-invalid': validity.inputDisburseAcct.$error.required, 'disabled': data.PaySeller }">
              <select id="inputDisburseAcct"
                      name="inputDisburseAcct"
                      ng-model="data.BankAccountId"
                      ng-disabled="data.PaySeller"
                      ng-required="!data.PaySeller"
                      ng-options="account as [account.AchAccountNumberLast4, account.AchBankName].join(' - ') for account in options.BankAccounts">
                <option value="" translate>Make Selection</option>
              </select>
            </div>
            <label for="inputDisburseAcct" class="text-error"
                   ng-show="validity.inputDisburseAcct.$error.required" translate>
              Please select a Bank Account for Deposit.
            </label>
          </div>
          <button class="btn-cta cta-full cta-primary"
                  ng-disabled="submitInProgress"
                  type="button"
                  ng-click="submit()"
                  ng-hide="canAttachDocuments()"
                  translate>
            Review and Floor Vehicle
          </button>
        </div>
      </div>
      <!-- Optional Items -->
      <div class="col-md-4">
        <div class="panel panel-default" ng-show="canAttachDocuments()">
          <h2 class="well-title" translate>3. Optional Items</h2>

          <div class="well-form">
            <h4 translate>Document Upload</h4>
            <div class="column-divider"></div>
            <div class="hidden-xs">
              <p class="spaced" translate>
                For faster funding, please upload your floor plan documents now. Document types should include:
              </p>
              <ul class="document-list">
                <li><span class="glyphicon glyphicon-ok icon-spacing"></span><span translate>Bill of Sale</span></li>
                <li><span class="glyphicon glyphicon-ok icon-spacing"></span><span translate>Front of Title</span></li>
                <li><span class="glyphicon glyphicon-ok icon-spacing"></span><span translate>Back of Title</span></li>
                <li><span class="glyphicon glyphicon-ok icon-spacing"></span><span translate>Other required documents</span></li>
              </ul>
              <p>
                <span translate>Not sure what to send?</span>
                <a href="client/resources/documents/Dealer%20Funding%20Checklist.pdf" target="_blank" class="primary" translate>View the Dealer Funding Checklist.</a>
              </p>

              <p class="supported-files" translate>Supported formats: image, word, excel and pdf. 5MB max per file.</p>

              <!-- Upload file code -->
              <div ngf-drop
                   name="boxDocuments"
                   class="drop-box"
                   ng-class="{ 'file-error': (form.documents.$error.pattern || form.boxDocuments.$error.pattern) && invalidFiles.length > 0 }"
                   ng-model="files"
                   ngf-model-invalid="invalidFiles"
                   ngf-fix-orientation="false"
                   ngf-drag-over-class="'dragover'"
                   ngf-allow-dir="true"
                   ngf-pattern="'image/*,application/pdf,application/vnd.ms*,application/vnd.open*,application/ms*'"
                   ngf-multiple="true"
                   ngf-keep="true"
                   ngf-max-size="'5MB'">
                <div ng-hide="files.length > 0" class="drop-box-empty" translate>Drag files here...</div>
                <div ng-show="files.length > 0">
                  <ul class="files-container">
                    <li ng-repeat="file in files">
                      <img ngf-thumbnail="file" class="thumb">
                      <div class="file-delete" ng-click="removeFile(file)">&times;</div>
                      <div>{{ file.name | truncate:18 }}</div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-5 paragraph">
          <span ng-show="files.length > 0">
            <span class="glyphicon glyphicon-ok icon-spacing"></span>
            <span>{{ files.length }} <span translate>valid files.</span></span>
          </span>
                </div>
                <div class="col-xs-7 paragraph" ng-show="invalidFiles.length > 0">
                  <span class="glyphicon glyphicon-ban-circle icon-spacing"></span>
                  <span>{{ invalidFiles.length }} <span translate>invalid files.</span></span>
                  <button class="btn-unstyle btn-link" ng-click="removeInvalidFiles()">clear</button>
                </div>
              </div>

              <span translate>Can't drag &amp; drop?</span>
              <input type="file"
                     id="documents"
                     name="documents"
                     ng-class="{ 'nxg-invalid': validity.documents.$error.pattern || validity.documents.$error.maxSize }"
                     ngf-select
                     ng-model="files"
                     ngf-model-invalid="invalidFiles"
                     ngf-multiple="true"
                     ngf-pattern="'image/*,application/pdf,application/vnd.ms*,application/vnd.open*,application/ms*'"
                     ngf-keep="true"
                     ngf-fix-orientation="false"
                     ngf-max-size="'5MB'">
              <label for="documents" class="text-error"
                     ng-show="(form.documents.$error.pattern || form.boxDocuments.$error.pattern)"
                     translate>
                Unsupported file found in selection.
              </label>
              <label for="documents" class="text-error"
                     ng-show="form.documents.$error.maxSize || form.boxDocuments.$error.maxSize" translate>
                One or more files exceeded the 5MB limit.
              </label>
              <!--IE9 workaround -->
              <div ngf-no-file-drop>
                <div ng-show="files">
                  <ul class="files-container" style="border-style: solid">
                    <li ng-repeat="file in files">
                      <img ngf-thumbnail="file" class="thumb">
                      <div class="file-delete" ng-click="removeFile(file)">&times;</div>
                      <div>{{file.name}}</div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End upload file code -->
            </div>

            <div class="visible-xs">
              <input type="file"
                     id="documents"
                     name="documents"
                     ng-class="{ 'nxg-invalid': validity.documents.$error.pattern || validity.documents.$error.maxSize }"
                     ngf-select
                     ng-model="files"
                     ngf-model-invalid="invalidFiles"
                     ngf-multiple="true"
                     ngf-pattern="'image/*,application/pdf,application/vnd.ms*,application/vnd.open*,application/ms*'"
                     ngf-keep="true"
                     ngf-fix-orientation="false"
                     ngf-max-size="'5MB'">
              <label for="documents" class="text-error"
                     ng-show="(form.documents.$error.pattern || form.boxDocuments.$error.pattern)"
                     translate>
                Unsupported file found in selection.
              </label>
              <label for="documents" class="text-error"
                     ng-show="form.documents.$error.maxSize || form.boxDocuments.$error.maxSize" translate>
                One or more files exceeded the 5MB limit.
              </label>


              <ul class="document-list">
                <li ng-repeat="file in files">
                  <span ng-bind="file.name"></span>
                  <small class="glyphicon glyphicon-remove text-danger"
                         ng-click="removeFile(file)">
                  </small>
                </li>
              </ul>
            </div>

            <!-- Floor Plan Comments -->
            <h4 style="padding-top:15px" translate>Floor Plan Comments</h4>
            <div class="column-divider"></div>
            <textarea class="comment-box" placeholder="(Ex. Additional instructions, etc.)" ng-model="comment"></textarea>

          </div>

          <button class="btn-cta cta-full cta-primary"
                  ng-disabled="submitInProgress"
                  ng-click="submit()"
                  translate>
            Review and Floor Vehicle
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
