<section>
  <h2 class="well-title" translate>Requests Summary</h2>

  <div class="well-item">
    <h5 translate>Title Release Limits for this Account:<br/>
      You have <span class="count">{{ eligibility.RemainingReleasesAvailable - titleQueue.contents.length }}</span> out of <span class="count">{{ eligibility.TotalReleasesAllowed || 0 }}</span> available.</h5>
  </div>

  <div class="" ng-show="titleQueue.contents.length > 0">
    <ul class="queue-list">
      <li class="queue-item bordered" ng-repeat="item in titleQueue.contents">
        <button class="btn-unstyle right" nxg-track="{{metric.}}" ng-click="titleQueue.removeFromQueue(item)">
          <span nxg-icon="icon-cancel" class="icon-small"></span>
        </button>
        <p translate>Title Request</p>
        <h6 class="highlight caps">{{ getVehicleDescription(item) }}</h6>
        <p><span translate>VIN</span>: {{ item.UnitVIN }}</p>
      </li>
    </ul>
  </div>

  <button class="btn-cta cta-primary cta-full" nxg-track="{{metric.CLICK_TITLE_RELEASE_CONTINUE_TO_CHECKOUT_BUTTON}}" ng-click="navigate('titleReleaseCheckout')" ng-disabled="titleQueue.contents.length == 0" >
    <span class="paired-body" translate>Confirm Requests</span>
    <span class="paired media" nxg-icon="icon-title"></span>
  </button>
</section>
