<section class="request-queue">
  <h4>Requests Summary</h4>

  <div class="well-out">
    <p>Title Release Limits for this Account:<br/>
      <span class="emphasis">{{ eligibility.RemainingReleasesAvailable - titleQueue.contents.length }}</span> out of <span class="emphasis">{{ eligibility.TotalReleasesAllowed || 0 }}</span> title releases available.</p>

    <div class="queue-items" ng-show="titleQueue.contents.length > 0">
      <!-- <p ng-show="">You have not requested any titles.</p> -->

      <ul>
        <li ng-repeat="item in titleQueue.contents">
          <button class="btn-unstyle btn-x" ng-click="titleQueue.removeFromQueue(item)"><span class="glyphicon"></span></button>
          Title Request <br/>
          {{ getVehicleDescription(item) }}<br/>
          <span>VIN: {{ item.UnitVIN }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="request-sum-footer">
    <button class="btn btn-primary btn-checkout" ng-click="navigate('home.titleReleaseCheckout')" ng-disabled="titleQueue.contents.length == 0" >
      <span class="ie-text">Continue to Checkout</span>
    </button>
  </div>
</section>
