<h3 class="modal-header" translate>Select the Schedule Date</h3>

<div class="modal-body to-edge">
  <div class="well-item aside" ng-switch on="type">
    <p class="truncate" ng-switch-when="payment"><span translate>Description</span>: <span class="highlight heavy">{{ model.payment.description }}</span></p>
    <p class="truncate" ng-switch-when="fee"><span translate>Fee Type</span>: <span class="highlight heavy">{{ model.fee.feeType }}</span></p>
  </div>

  <form name="dateForm" class="modal-inner">
    <h3 translate>Schedule Date</h3>
    <p><span translate>Select a date from the picker below</span>:</p>
    <div class="date-field date-picker col-xs-5 col-sm-3 custom reports-search-date-picker">
      <input id="inputScheduleDate" name="inputScheduleDate"
             uib-datepicker-popup="{{dateFormat}}"
             date-disabled="disabled(date, mode)"
             hide-placeholder="true"
             ng-model="model.selectedDate"
             show-weeks="false"
             show-button-bar="false"
             is-open="datePicker.opened"
             nxg-requires="checkDate(model.selectedDate)"
             required
             ng-class="{ 'nxg-invalid': validity.inputScheduleDate.$error.required || validity.inputScheduleDate.$error.date || validity.$error.nxgRequires}" />
      <button tabindex="-1" type="button" class="btn-unstyle checkout-btn-calendar" ng-click="openDatePicker()"><span nxg-icon="icon-calendar"></span></button>
    </div>
    <button ng-click="commit()" ng-disabled="submitInProgress" class="hide"></button>

    <div class="row">
      <div class="col-xs-12">
        <label for="inputScheduleDate" class="text-error"
               ng-show="validity.inputScheduleDate.$error.required" translate>
          Please select a schedule date.
        </label>
        <label for="inputScheduleDate" class="text-error"
               ng-show="validity.$error.nxgRequires  || validity.inputScheduleDate.$error.date" translate>
          Please select a valid banking date no earlier than tomorrow and no later than the payment due date.
        </label>

      </div>
    </div>
    <p class="paragraph" translate>Scheduled payments are not made until the scheduled date. <br/> Interest and/or fees
      may continue to accrue between now and your scheduled payment date.</p>

  </form>

  <div class="modal-inner aside" ng-show="isPayment">
    <h3 translate>Payment Breakdown</h3>

    <ul class="list-table">
      <li class="list-table-row">
        <p class="col-xs-5" translate>Principal</p>
        <p class="col-xs-7 value numeric">{{ model.breakdown.principal | currency }}</p>
      </li>
      <li class="list-table-row" ng-show="model.breakdown.additionalPrincipal">
        <p class="col-xs-5" translate>Additional Principal</p>
        <p class="col-xs-7 value numeric">{{ model.breakdown.additionalPrincipal | currency }}</p>
      </li>
      <li class="list-table-row">
        <p class="col-xs-5" translate>Interest</p>
        <p class="col-xs-7 value numeric">{{ model.breakdown.interest | currency }}</p>
      </li>
      <li class="list-table-row">
        <p class="col-xs-5" translate>Fee(s)</p>
        <p class="col-xs-7 value numeric">{{ model.breakdown.fees | currency }}</p>
      </li>
      <li class="list-table-row">
        <p class="col-xs-5" translate>CPP</p>
        <p class="col-xs-7 value numeric">{{ model.breakdown.cpp | currency }}</p>
      </li>
      <li class="list-table-hr"></li>
      <li class="list-table-row">
        <p class="col-xs-5" translate>Payment Total</p>
        <p class="col-xs-7 value numeric">{{ model.getPaymentTotal() | currency }}</p>
      </li>
    </ul>
  </div>
</div>


<div class="modal-footer">
  <button type="button" ng-click="close()" ng-disabled="submitInProgress || updateInProgress" class="btn-cta cta-secondary" translate>Cancel</button>
  <button type="submit" ng-click="commit()" ng-disabled="submitInProgress || updateInProgress" nxg-autofocus class="btn-cta cta-primary" translate>Confirm</button>
</div>
