// =============
//  BASE STYLES
// =============

* {
  @include box-sizing(border-box);

  &:focus {
    outline: none;
  }
}

body, html {
  min-width: 1020px !important;
  color: $text;
}

body {
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background: url(../img/backgroundNoise.png) repeat;
}

.container {
  position: relative;
  width: 100%;
  min-width: 1020px;
  max-width: 1180px;
  padding: 0 40px;
  margin: 0 auto 30px;
}

.nxg-fade {
  background-color: $white;
  position: relative;

  /*
   * There is an opacity bug in IE where child elements will not inherit
   * the parent element's opacity unless the parent has a non-static
   * position. So, .nxg-fade has a relative position, and any immediate
   * children have the decreased opacity.
   *
   * See: http://www.jacklmoore.com/notes/ie-opacity-inheritance/
   */

  & > * {
    @include opacity(40);
  }
}

.row-item {
  display: inline-block;
  margin-right: 1px;
}

// we're on a public page, we need a blue background
.container-public {
  padding-top: 30px;
  border-top: 3px solid $highlight;
  position: relative;

  &::after {
    background-color: $primary;
    @extend %full-width;
    content: '';
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -5;
  }
}



// so that our feedback tab displays beneath the modal backdrop.
#uvTab, #ki_container{
  z-index: 1000 !important;
}

//Bootstrap 3 override for margins between columns, and padding
.RecievableDetailMargin
{
  margin-left:-35px;
}
.centerTextAlign
{
  text-align:center;
}
.numericRightFloat
{
  float:right;
}

.additionalPaymentText
{
  margin-left:160px;
  margin-top:-30px;
}
.zeroPadding
{
  padding:0;
}
.zeroLeftPadding
{
  padding-left:0;
}
.zeroRightPadding
{
  padding-right:0;
}
.zeroLeftMargin
{
  margin-left:0;
}

.zeroRightMargin
{
  margin-right:0;
}
.padding-left
{
  padding-left:15px;
}

.topMargin
{
  margin-top:10px;
}
.containerLeftMargin{
  margin-left:15px;
}
.leftMargin {
  margin-left:0px;
}
.rightMargin{
  margin-right:0px;
}
.leftMarginMedium
{
  margin-left:15px;
}
.leftMarginLarge {
  margin-left:25px;
}
.col-xs-3 {
  width:23%;
}
.col-xs-4 {
  width: 31%;
}

.col-xs-6 {
width:48%;
  margin: 0 1%;
}
.col-xs-10{
  width: 81%;
  margin: 0 1.0%;
}
