// ===============
// Base Styles
// ===============

* {
  @include box-sizing(border-box);

  &:focus {
    outline: none;
  }
}

//drop a span with this ID anywhere you use checkboxes.
#checkbox-image-preloader { background: url(../img/checkbox-checked.gif) no-repeat -9999px -9999px; }

body, html {
  min-width: 1020px;
  color: $base-text-color;
}

.container-fluid {
  position: relative;
  width: 100%;
  min-width: 1020px;
  max-width: 1180px;
  padding: 0 40px;
  margin: 0 auto 30px;
}


.nxg-fade {
  background-color: $white;
  position: relative;

  /*
   * There is an opacity bug in IE where child elements will not inherit
   * the parent element's opacity unless the parent has a non-static
   * position. So, .nxg-fade has a relative position, and the two immediate
   * children have the decreased opacity.
   *
   * See: http://www.jacklmoore.com/notes/ie-opacity-inheritance/
   */

  .well-out, h4 {
    @include opacity(40);
  }
}

.row-item {
  display: inline-block;
  margin-right: 1px;
}

// so that our feedback tab displays beneath the modal backdrop.
#uvTab, #ki_container{
  z-index: 1000 !important;
}
