// HELPER CLASSES

%full-width {
  width: 100%;
}

%half-width {
  width: 50%;
}

%quarter-width {
  width: 25%;
}

%center {
  text-align: center;
}

%align-right {
  text-align: right;
}

%align-left {
  text-align: left;
}

%float-l {
  float: left;
}

%float-r {
  float: right;
}

%clear {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

%heavy {
  font-weight: bold;
}

%thin {
  font-weight: 200;
  letter-spacing: 0.05em;
}

%small {
  font-size: $small-font-size;
}
