// ===============
// Helper Classes
// ===============

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.quarter-width {
  width: 25%;
}

.small {
  font-size: 11px;
}

.l-horizontal, .l-vertical {
  list-style-type: none;
}
.l-horizontal li {
  display: inline-block;
}

.l-vertical li {
  display: block;
}

.float-left {
  float: right;
}

.float-right {
  float: left;
}