// ================
//  HELPER CLASSES
// ================

%full-width {
  width: 100%;
}

%center, .center {
  text-align: center;
}

%align-right {
  text-align: right;
}

%align-left {
  text-align: left;
}

%float-l {
  float: left;
}

%float-r {
  float: right;
}

.clearfix {
  *zoom:1;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%heavy, .heavy {
  font-weight: bold;
}

%thin {
  font-weight: 200;
  letter-spacing: 0.05em;
}

%small {
  font-size: $small-font-size;
}

.highlight {
  color: $highlight;
}

.highlight-dark {
  @extend .highlight;
  color: darken($highlight, 10%);
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* As found via http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
.break-word {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
