// MIXINS

/*
 * Used for header and nav backgrounds, footer, etc.
 */
@mixin gradient-row() {
  background: #FFF;
  @include background-image(linear-gradient(#FFF, #e4e4e4));
}

/*
 * Used for counter icons, square boxes, etc.
 */
@mixin box($length) {
  width: $length;
  height: $length;
}

/*
 * Used for sortable column headers.
 */
@mixin up-arrow($selected) {
  border-top: transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  @if $selected {
    border-bottom: 5px solid $selected-color;
  } @else {
    border-bottom: 5px solid $not-selected-color;
  }
}

@mixin down-arrow($selected) {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  @if $selected {
    border-top: 5px solid $selected-color;
  } @else {
    border-top: 5px solid $not-selected-color;
  }
  border-bottom: transparent;
}
