// MIXINS

/*
 * Used for header and nav backgrounds, footer, etc.
 */
@mixin gradient-row() {
  background: #FFF;
  @include background-image(linear-gradient(#FFF, #e4e4e4));
}

/*
 * Used for counter icons, square boxes, etc.
 */
@mixin box($length) {
  width: $length;
  height: $length;
}
