// TYPOGRAPHY

a {
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #888;
  }
}

.boxed {
  @extend %thin;
  font-size: 20px;
  line-height: 1;
  color: $base-text-color;
  padding: 10px 10px 12px;
  border: 1px solid #F1F1F1;
  margin-bottom: 0;
}

// override Bootstrap; we don't need pointers on labels.
label {
  cursor: default;
}

// looks like h4s in .well, but isn't part of .well
.well-head {
  @extend %thin;
  background: #F1F1F1;
  font-size: 1em;
  line-height: $base-line-height;
  color: $base-text-color;
  padding: 5px 10px;
  margin: 0;
}

.subtitle {
  @extend %heavy;
  color: $base-text-color;
  font-size: $base-font-size;
  line-height: 1;
  margin: 20px 0 10px 0;
}

.headline {
  @extend %heavy;
  font-size: $large-font-size;
  margin-bottom: 0;
}

.unsupported {
  .span2 {
    margin-bottom: 20px;
  }

  p, a {
    @extend %center;
    color: $white;
    font-size: $large-font-size;
    line-height: 1.4;
  }

  p {
    margin-bottom: 20px;
  }

  a:hover, a:active {
    color: #EEE;
  }

  .subtitle {
    display: block;
    color: $white;
    margin: 10px 0 5px;
  }

  a.browserbox {
    width: 100px;
    height: 100px;
    border: 0;
    margin: 0 auto 15px;

    img {
      height: 100px;
    }
  }
}
