// ===========
//  VARIABLES
// ===========

// Primary Colors
$primary: #3399CC; // light blue for main interaction buttons (ctas) and primary accent
$highlight: #0067AC; // blue (exact corporate blue) for interaction or highlight text
$secondary: #91969D; // silver used for secondary interactions, buttons and checkboxes.
$accent: #666666; // medium gray used to create divisions between sections
$text: #404040; // primary text color

// override bootstrap
$baseFontFamily: Helvetica, Arial, sans-serif;
$baseFontSize: 12px;
$baseLineHeight: 1.2;
$tableBackground: #FFFFFF;
$tableBackgroundAccent: #F2F2F2;
$tableBorder: #BBBBBB;
$tooltipArrowWidth: 10px;
$tooltipArrowColor: #FFF;
$tooltipBackground: #FFF;
$wellBackground: #f8f8f8;
// end bootstrap overrides

// Borders
$dataTableBorder: #BBBBBB;
$wellBorder: #bbbcbe;
$border: #BBBBBB;
$borderRadius: 5px;

// Color Indicators
$danger: #be1e2d; // red
$error: $danger;
$warning: #faaf40; // yellow
$success: #54bd45; // green

$overdue: $danger;
$today: $warning;
$upcoming: $success;

$white: #FFFFFF;

// Type Sizes
$tiny-font-size: 11px;
$small-font-size: 12px;
$large-font-size: 18px;

// Buttons
$btn-bkgd: $white;
$btn-text: $highlight;
$btn-bkgd-active: #CCCCCC;
$btn-text-active: $highlight;
$btn-bkgd-disabled: #FFFFFF;
$btn-text-disabled: #B7B7B7;
$btn-bkgd-selected: #585858;
$btn-text-selected: #FFFFFF;

$toggle-color: #1B769D;
$toggle-slider-color: #FFFFFF;

// CTA
$cta-1-height: 45px;
$cta-2-height: 30px;

$cta-primary-text: #FFFFFF;
$cta-primary-bkgd: $primary;
$cta-primary-text-active: #FFFFFF;
$cta-primary-bkgd-active: $highlight;

$cta-secondary-text: $primary;
$cta-secondary-bkgd: #FFFFFF;
$cta-secondary-text-active: $highlight;

$modalHeader: #58595b;

// UI Elements
$radioSize: 18px;
$form-border: $accent;
$inputFontSize: 11px;

// Sorting
$selected-color: white;
$not-selected-color: #B3B3B3;
