<div ng-switch="internalType">

  <button ng-switch-when="fee"
          type="button"
          id="toggleFee"
          class="btn-cta cta-secondary"
          ng-class="{'in-queue': onQueue}"
          ng-click="toggleFeeInQueue()"
          nxg-track="{{onQueue && metric.CLICK_PAYMENTS_VEHICLE_ADD_FEE || metric.CLICK_PAYMENTS_VEHICLE_REMOVE_FEE}}"
          ng-disabled="paymentInProgress()"
          tooltip="{{ !onQueue && 'Select the fees you want to pay by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
      <span>{{ item.Balance | currency }}</span>
      <span ng-show="!onQueue" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
      <span ng-show="onQueue" class="paired-media svg-icon icon-minus" nxg-icon="icon-minus"></span>
  </button>

  <div ng-switch-when="fee-scheduledFee">
    <p class="lockup-major">Scheduled</p>
    <p class="lockup-minor">for {{item.ScheduledDate}}</p>
    <button type="button"
            id="cancelScheduledFee"
            class="btn-unstyle btn-link"
            nxg-track="{{metric.CLICK_PAYMENTS_VEHICLE_UNSCHEDULE_FEE}}"
            ng-disabled="paymentInProgress()"
            ng-click="cancelScheduledFee()">
      <span>Unschedule</span>
    </button>
  </div>

  <button ng-switch-when="payment"
          type="button"
          id="togglePayment"
          class="btn-switch"
          ng-class="{'in-queue': onQueue == 'payment'}"
          nxg-track="{{!onQueue && metric.CLICK_PAYMENTS_VEHICLE_ADD_PAYMENT || metric.CLICK_PAYMENTS_VEHICLE_REMOVE_PAYMENT}}"
          ng-click="togglePaymentInQueue(false)"
          tooltip="{{ onQueue != 'payment' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
        <span>{{ item.AmountDue | currency }}</span>
        <span ng-show="onQueue != 'payment' && onQueue != 'payoff'" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
        <span ng-switch="onQueue">
          <span ng-switch-when="payoff" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
          <span ng-switch-when="payment" class="paired-media svg-icon icon-minus" nxg-icon="icon-minus"></span>
        </span>
  </button>

  <div ng-switch-when="payment-scheduledPayment" class="scheduled-payment">
    <p class="lockup-major">Scheduled</p>
    <p class="lockup-minor"> for {{ item.ScheduledPaymentDate | moment }} </p>
    <button type="button"
            id="cancelScheduledPayment"
            class="btn-unstyle btn-link"
            ng-disabled="paymentInProgress()"
            nxg-track="{{metric.CLICK_PAYMENTS_VEHICLE_UNSCHEDULE_PAYMENT}}"
            ng-click="cancelScheduledPayment()">
      <span>Unschedule</span>
    </button>
  </div>

  <button ng-switch-when="payment-scheduledPayoff"
          type="button"
          id="togglePayoff2"
          class="btn-switch"
          nxg-track="{{!onQueue && metric.CLICK_PAYMENTS_VEHICLE_ADD_PAYOFF || metric.CLICK_PAYMENTS_VEHICLE_REMOVE_PAYOFF}}"
          ng-click="togglePaymentInQueue(true)"
          tooltip="{{ onQueue != 'payoff' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
    <span>{{ item.AmountDue | currency }}</span>
    <span ng-show="onQueue != 'payment' && onQueue != 'payoff'" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
    <span ng-switch="onQueue">
        <span ng-switch-when="payment" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
        <span ng-switch-when="payoff" class="paired-media svg-icon icon-minus" nxg-icon="icon-minus"></span>
      </span>
    <!-- TODO: confirm the functionality of 'Remove' with @Ryan
      <span>{{ (onQueue != 'payoff') && 'Add' || 'Remove' }}</span>
    -->
  </button>

  <button ng-switch-when="payoff"
          type="button"
          id="togglePayoff"
          class="btn-switch"
          ng-class="{'in-queue': onQueue == 'payoff'}"
          nxg-track="{{!onQueue && metric.CLICK_PAYMENTS_VEHICLE_ADD_PAYOFF || metric.CLICK_PAYMENTS_VEHICLE_REMOVE_PAYOFF}}"
          ng-click="togglePaymentInQueue(true)"
          tooltip="{{ onQueue != 'payoff' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
      <span>{{ item.CurrentPayoff | currency }}</span>
      <span ng-show="onQueue != 'payment' && onQueue != 'payoff'" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
      <span ng-switch="onQueue">
        <span ng-switch-when="payment" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
        <span ng-switch-when="payoff" class="paired-media svg-icon icon-minus" nxg-icon="icon-minus"></span>
      </span>
  </button>

  <button ng-switch-when="payoff-scheduledPayment"
          type="button"
          id="togglePayment2"
          class="btn-switch"
          nxg-track="{{!onQueue && metric.CLICK_PAYMENTS_VEHICLE_ADD_PAYOFF || metric.CLICK_PAYMENTS_VEHICLE_REMOVE_PAYOFF}}"
          ng-class="{'in-queue': onQueue == 'payoff'}"
          ng-disabled="onQueue == 'payment' || paymentInProgress()"
          ng-click="togglePaymentInQueue(true)"
          tooltip="{{ onQueue != 'payoff' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
    <span>{{ item.CurrentPayoff | currency }}</span>
    <span ng-show="onQueue != 'payment' && onQueue != 'payoff'" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
    <span ng-switch="onQueue">
        <span ng-switch-when="payment" class="paired-media svg-icon icon-plus" nxg-icon="icon-plus"></span>
        <span ng-switch-when="payoff" class="paired-media svg-icon icon-minus" nxg-icon="icon-minus"></span>
      </span>
      <!-- TODO: confirm the functionality of 'Remove' with @Ryan
        <span>{{ (onQueue != 'payoff') && 'Add' || 'Remove' }}</span>
      -->
  </button>

  <div ng-switch-when="payoff-scheduledPayoff" class="scheduled-payoff">
    <p class="lockup-major">Scheduled</p>
    <p class="lockup-minor"> for {{ item.ScheduledPaymentDate | moment }} </p>
    <button type="button"
            id="cancelScheduledPayoff"
            class="btn-unstyle btn-link"
            ng-disabled="paymentInProgress()"
            nxg-track="{{metric.CLICK_PAYMENTS_VEHICLE_UNSCHEDULE_PAYOFF}}"
            ng-click="cancelScheduledPayment()">
      <span>Unschedule</span>
    </button>
  </div>
</div>
