<div ng-switch="type">

  <div ng-switch-when="fee">
    <button type="button"
            class="btn btn-mini btn-block"
            ng-disabled="!canPayNow"
            ng-click="toggle()">{{isAdded && 'Remove' || 'Add'}} Fee</button>
  </div>

  <div ng-switch-when="payment">

    <button type="button"
            class="btn btn-mini btn-block"
            ng-disabled="isAdded && isPayoff"
            ng-click="toggle()">{{ (isAdded && !isPayoff) && (isScheduled && 'Cancel Scheduled' || 'Remove') || 'Add'}} Payment</button>

    <button type="button"
            class="btn btn-mini btn-block"
            ng-disabled="isAdded && !isPayoff"
            ng-click="toggle({payoff: true})">{{ (isAdded && isPayoff) && (isScheduled && 'Cancel Scheduled' || 'Remove') || 'Add'}} Payoff</button>

  </div>

  <div ng-switch-when="payment-checkout">

    <button type="button"
            class="btn btn-mini btn-block"
            ng-click="toggle()">{{ (isAdded) && (isScheduled && 'Cancel Scheduled' || 'Remove') || 'Add'}} Payment</button>

    <button type="button"
            class="btn btn-mini btn-block"
            ng-click="toggle()">{{ (!isScheduled) && (isAdded && 'Cancel Scheduled' || 'Remove') || 'Add'}} Payment</button>

  </div>
</div>
