<div ng-switch="internalType">

  <button ng-switch-when="fee"
          type="button"
          id="toggleFee"
          class="btn btn-mini btn-block"
          ng-class="{'in-queue': queueStatus}"
          ng-disabled="!canPayNow"
          ng-click="toggleInQueue()"
          tooltip="{{ !queueStatus && 'Select the fees you want to pay by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
    <span>{{!queueStatus && 'Add' || 'Remove'}}</span>
  </button>

  <button ng-switch-when="payment"
          type="button"
          id="togglePayment"
          class="btn btn-mini btn-block"
          ng-class="{'in-queue': queueStatus == 'payment'}"
          ng-disabled="queueStatus == 'payoff'"
          ng-click="toggleInQueue()"
          tooltip="{{ queueStatus != 'payment' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
    <span>{{ (queueStatus != 'payment') && 'Add' || 'Remove' }}</span>
  </button>

  <button ng-switch-when="payment-scheduledPayment"
          type="button"
          id="cancelScheduledPayment"
          class="btn btn-mini btn-block"
          ng-click="cancelScheduled()">
    <span>Unschedule</span>
  </button>

  <button ng-switch-when="payment-scheduledPayoff"
          type="button"
          id="fakeTogglePayment"
          class="btn btn-mini btn-block"
          disabled>
    <span>Add Payment</span>
  </button>

  <button ng-switch-when="payoff"
          type="button"
          id="togglePayoff"
          class="btn btn-mini btn-block"
          ng-class="{'in-queue': queueStatus == 'payoff'}"
          ng-disabled="queueStatus == 'payment'"
          ng-click="toggleInQueue(true)"
          tooltip="{{ queueStatus != 'payoff' && 'Select the payments you want to make or schedule by adding them to your payment queue.' || null }}"
          tooltip-placement="right"
          tooltip-popup-delay="700">
    <span>{{ (queueStatus != 'payoff') && 'Add' || 'Remove' }}</span>
  </button>

  <button ng-switch-when="payoff-scheduledPayment"
          type="button"
          id="fakeTogglePayoff"
          class="btn btn-mini btn-block"
          disabled>
    <span>Add Payoff</span>
  </button>

  <button ng-switch-when="payoff-scheduledPayoff"
          type="button"
          id="cancelScheduledPayoff"
          class="btn btn-mini btn-block"
          ng-click="cancelScheduled()">
    <span>Unschedule</span>
  </button>

</div>
