<div class="container non-responsive">
  <div class="row">

    <!-- USER PROFILE -->
    <div class="col-xs-6">
      <section class="panel panel-default settings-well" ng-controller="ProfileSettingsCtrl">
        <h2 class="well-title"><span translate>User Profile</span>
          <div class="well-sub-title well-sub-title-edit">
            <button ng-hide="profile.editable" class="btn-unstyle" ng-click="profile.edit()" translate>Edit Settings</button>
            <button ng-show="profile.editable" class="btn-unstyle" ng-click="profile.save()" translate>Save Settings</button>
            <button ng-show="profile.editable" class="btn-unstyle cancel" ng-click="profile.cancel()" translate>Cancel</button>
          </div>
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:profile.editable }" name="userSettings" novalidate>
            <div class="row">
              <label class="col-xs-4 " for="setUsername" translate>Username</label>
              <div class="col-xs-8 zeroLeftPadding" nxg-input model="profile.data.username" editable="profile.editable">
                <input type="text" class="smallInput" name="setUsername" ng-model="profile.dirtyData.username" value="profile.dirtyData.username" ng-maxlength="40" ng-class="{ 'nxg-invalid': profile.validation.setUsername.$error.required || profile.validation.setUsername.$error.maxlength }" required/>
                <label for="setUsername" class="text-error"
                       ng-show="profile.validation.setUsername.$error.required" translate>
                  Please enter a Username.
                </label>
                <label for="setUsername" class="text-error"
                       ng-show="profile.validation.setUsername.$error.maxlength" translate>
                  Please enter a Username that is 40 characters or less.
                </label>
              </div>
            </div>

            <div class="row">
              <label class="col-xs-4" for="setPassword"><span ng-show="editable" translate>New Password</span><span ng-show="!editable" translate>Password</span></label>
              <div class="col-xs-8 zeroLeftPadding">
                <div class="static" ng-hide="profile.editable">***********</div>
                <div ng-show="profile.editable">
                  <input type="password" class="smallInput" name="setPassword" ng-model="profile.dirtyData.password" ng-class="{ 'nxg-invalid': profile.validation.setPassword.$error.pattern }" />
                  <button class="btn-help"
                          id="password-help-tooltip"
                          tooltip-placement="right"
                          tooltip-trigger="mouseenter"
                          uib-tooltip=" passwordTooltip | translate"
                          tooltip-animation="true"><span nxg-icon="icon-help"></span></button>
                </div>
                <label class="text-error" ng-show="profile.validation.setPassword.$error.pattern" translate>
                  Please enter a valid password.
                </label>
              </div>
            </div>

            <div class="row" ng-show="profile.editable">
              <label class="col-xs-4 " for="confirmPassword" translate>Confirm Password</label>
              <div class="col-xs-8 zeroLeftPadding">
                <input type="password" id="confirmPassword" class="smallInput" ng-model="profile.dirtyData.passwordConfirm" ng-class="{ 'nxg-invalid': profile.validation.setPassword.$error.nomatch }" />
                <label class="text-error" ng-show="profile.validation.setPassword.$error.nomatch" translate>
                  The passwords do not match. Please re-enter the password.
                </label>
              </div>
            </div>

            <div ng-repeat="question in profile.data.questions" ng-hide="profile.editable">
              <!-- Question Select -->
              <div class="row">
                <label class="col-xs-4  questText" translate>Security Question {{$index + 1}}</label>
                <div class="col-xs-8 static zeroLeftPadding" ng-hide="profile.editable"> {{ question.QuestionText }} </div>
              </div>
            </div>

            <div ng-repeat="question in profile.dirtyData.questions" ng-show="profile.editable">
              <!-- Question Select -->
              <div class="row">
                <label class="col-xs-4 questText" translate>Security Question {{$index + 1}}</label>
                <div class="col-xs-8 style-select zeroLeftPadding">
                  <select ng-model="question.SecurityQuestionId"
                          ng-options="q.QuestionId as q.QuestionText for q in profile.data.allQuestions"
                          uib-tooltip="{{ question.QuestionText }}"
                          class="style-select"
                          tooltip-placement="right"
                          tooltip-popup-delay="700">
                  </select>
                </div>
              </div>

              <!-- Answer -->
              <div class="row" ng-show="profile.editable">
                <label class="col-xs-4" for="secAnswer" translate>Answer</label>
                <div class="col-xs-8 zeroLeftPadding">
                  <input type="text" class="smallInput" name="secAnswer" ng-model="question.Answer" ng-class="{ 'nxg-invalid': question.$error.required || question.$error.maxLength }" required/>
                  <label class="text-error" ng-show="question.$error.required" translate>
                    Please enter an Answer.
                  </label>
                  <label class="text-error" ng-show="question.$error.maxLength" translate>
                    Please enter an Answer that is a maximum of 100 characters.
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-xs-4 " for="email" translate>Email</label>
              <div class="col-xs-8 zeroLeftPadding" nxg-input model="profile.data.email" editable="profile.editable">
                <input type="email" class="smallInput" name="email" ng-model="profile.dirtyData.email" value="profile.dirtyData.email" class="styled-input" ng-class="{ 'nxg-invalid': profile.validation.email.$invalid }" required/>
                <label class="text-error" ng-show="profile.validation.email.$invalid" translate>
                  Please enter a valid email address.
                </label>
              </div>
            </div>

            <div class="row">
              <label class="col-xs-4" for="phone" translate>Cell Phone</label>
              <div class="col-xs-8 zeroLeftPadding" nxg-input model="formatPhonenumber(profile.data.phone)" editable="profile.editable">
                <input type="tel"
                       name="phone"
                       class="smallInput"
                       ng-model="profile.dirtyData.phone"
                       ng-pattern="phonePattern"
                       size="10"
                       ng-class="{ 'nxg-invalid': profile.validation.phone.$error.pattern }" />
                <label class="text-error" ng-show="profile.validation.phone.$error.pattern" translate>
                  Please enter a valid phone number.
                </label>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- BUSINESS SETTINGS -->
    <div class="col-xs-6">
      <section class="panel panel-default settings-well" novalidate ng-controller="AccountManagementCtrl">
        <h2 class="well-title"><span translate>Business Settings</span>
          <!-- This code should be added back in as soon as contact info management goes live, and the following temporary code
          <div class="well-sub-title well-sub-title-edit">
            <button ng-hide="business.editable" class="btn-unstyle" ng-click="business.edit()" translate>Edit Settings</button>
            <button ng-show="business.editable" class="btn-unstyle" ng-click="business.save()" translate>Save Settings</button>
            <button ng-show="business.editable" class="btn-unstyle cancel" ng-click="business.cancel()" translate>Cancel</button>
          </div>
          -->
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:business.editable }" name="busSettings">
            <div class="row">
              <label class="col-xs-5" for="businessEmail" translate>Business Email</label>
              <!-- This code should be added back in as soon as contact info management goes live, and the following temporary code
              block should be removed
              <div class="col-xs-7 zeroLeftPadding" nxg-input model="business.data.email" editable="business.editable">
                <input type="email" class="styled-input" name="businessEmail" ng-model="business.dirtyData.email" value="business.dirtyData.email" ng-maxlength="100" ng-class="{ 'nxg-invalid': business.validation.businessEmail.$invalid }" required />
                <label class="text-error" ng-show="business.validation.businessEmail.$invalid" translate>
                    Please enter a valid email address.
                </label>
              </div>
              -->
              <!-- Begin temporary code -->
              <div class="col-xs-5" style="margin-top: 14px" id="businessEmail" name="businessEmail" ng-cloak>{{business.data.email | truncate: 28}}</div>
              <div class="col-xs-2">
                <div class="btn-help btn-help-adjust"
                     tooltip-placement="left"
                     tooltip-trigger="mouseenter"
                     uib-tooltip="{{ 'To change your email address, please contact customer service for further assistance.' | translate }}"
                     tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </div>
              </div>
              <!-- End temporary code -->
            </div>

            <div class="row" ng-show="isDealer">
              <label class="col-xs-5" for="enhanced" translate>Enhanced Registration Enabled?</label>
              <div class="col-xs-7">
                <!-- Show "Yes" if enhanced registration is enabled.
                If it is not enabled, show nothing. -->
                <div class="static" ng-show="business.data.enhancedRegistrationEnabled && !business.editable" translate> Yes </div>
                <div class="static" ng-show="!business.data.enhancedRegistrationEnabled && !business.editable" translate> No </div>

                <div class="cr-inline" ng-show="business.editable">
                  <input type="radio" id="enhancedNo" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='false' ng-click="business.confirmDisableEnhanced()"/>
                  <label class="radio-img" for="enhancedNo"></label>
                  <label class="cr-label" for="enhancedNo" translate>No</label>
                  <input type="radio" id="enhancedYes" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='true' />
                  <label class="radio-img" for="enhancedYes"></label>
                  <label class="cr-label" for="enhancedYes" translate>Yes</label>
                </div>
              </div>
            </div>

            <div class="row" ng-show="isDealer && business.editable">
              <div class="col-xs-7 col-xs-offset-5">
                <p class="paragraph" translate>Enhanced Registration will result in all account access being restricted to users with a PIN. All guarantors will be asked to set up their PIN when logging in to myNextGear.</p>
                <p class="paragraph" translate>Create your Enhanced Registration four digit PIN.</p>
              </div>
            </div>

            <div class="row" ng-show="isDealer && business.editable">
              <label class="col-xs-5" translate>Enhanced Registration PIN</label>
              <div class="col-xs-7 zeroLeftPadding">
                <input type="text"
                       class="styled-input"
                       id="pin"
                       name="pin"
                       ng-model="business.dirtyData.enhancedRegistrationPin"
                       ng-disabled="!business.dirtyData.enhancedRegistrationEnabled"
                       ng-pattern="/^\d{4}$/"
                       ng-required="business.dirtyData.enhancedRegistrationEnabled"
                       ng-class="{ 'nxg-invalid': business.validation.pin.$invalid }" />
                <label for="pin" class="text-error" ng-show="business.validation.pin.$invalid" translate>
                  Your PIN must consist of four numbers, no letters or special characters.
                </label>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <!-- TITLE SETTINGS -->
    <div class="col-xs-6">
      <section class="panel panel-default settings-well" ng-controller="AccountManagementCtrl">
        <h2 class="well-title"><span translate>Title Settings</span>
          <div class="well-sub-title well-sub-title-edit">
            <button ng-hide="title.editable || title.data.addresses.length <= 1" class="btn-unstyle" ng-click="title.edit()" translate>Edit Settings</button>
            <button ng-show="title.editable" class="btn-unstyle" ng-click="title.save()" translate>Save Settings</button>
            <button ng-show="title.editable" class="btn-unstyle cancel" ng-click="title.cancel()" translate>Cancel</button>
          </div>
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:title.editable }" name="titleSettings">
            <div class="row">
              <label class="col-xs-5" for="titleAddr"><span translate>Default Address</span>:</label>
              <div class="col-xs-7 zeroLeftPadding">
                <div class="row" ng-show="title.editable">
                  <div class="col-xs-10">
                    <div class="style-select leftMarginMedium">
                      <select ng-model="title.dirtyData.titleAddress"
                              ng-options="addr | address:'oneLineSelect' for addr in title.data.addresses"
                              tooltip="{{ addr | address:'oneLine' }}"
                              tooltip-placement="right"
                              tooltip-popup-delay="700">
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn-help btn-help-adjust"
                            tooltip-placement="right"
                            tooltip-trigger="mouseenter"
                            uib-tooltip="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                            tooltip-animation="true">
                      <span nxg-icon="icon-help"></span>
                    </button>
                  </div>
                </div>

                <!-- Saved Address -->
                <div class="row static" ng-hide="title.editable">
                  <div class="col-xs-6">
                    <div nxg-address="title.data.titleAddress"></div>
                  </div>
                  <div class="col-xs-6">
                    <button class="btn-help"
                            ng-show="title.data.addresses.length == 0"
                            tooltip-placement="right"
                            tooltip-trigger="mouseenter"
                            uib-tooltip="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                            tooltip-animation="true"><span nxg-icon="icon-help"></span></button>
                  </div>
                </div>

                <!-- Current Address Selection-->
                <div class="static" ng-show="title.editable">
                  <div nxg-address="title.dirtyData.titleAddress"></div>
                </div>
              </div>
            </div>

            <div class="row" ng-show="title.data.addresses && title.data.addresses.length > 0 && !title.editable">
              <label class="col-xs-5"><span translate>Additional Addresses</span>:</label>
              <div class="col-xs-7 static no-left-padding" ng-hide="title.editable">
                <ul class="no-left-padding" ng-show="title.data.addresses.length > 0">
                  <li class="alt-addr smallest-bottom-margin" ng-repeat="addr in title.data.addresses | limitTo: 3">
                    <div nxg-address="addr"></div>
                  </li>
                  <li ng-show="title.data.extraAddresses" translate>And {{ title.data.extraAddresses }} additional addresses...</li>
                </ul>
                <p ng-show="title.data.addresses.length == 0" translate>
                  None
                </p>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="col-xs-6">
      <section class="panel panel-default settings-well" ng-controller="ProfileSettingsCtrl">
        <h2 class="well-title"><span translate>Notifications</span>
          <div class="well-sub-title well-sub-title-edit">
            <button ng-hide="notifications.editable" class="btn-unstyle" ng-click="notifications.edit()" translate>Edit Settings</button>
            <button ng-show="notifications.editable" class="btn-unstyle" ng-click="notifications.save()" translate>Save Settings</button>
            <button ng-show="notifications.editable" class="btn-unstyle cancel" ng-click="notifications.cancel()" translate>Cancel</button>
          </div>
        </h2>

        <div class="well-item">
          <form class="form-block" ng-class="{ editable:notifications.editable }" name="notificationSettings">
            <div class="row">
              <label class="col-xs-5" translate>Notifications</label>
              <label class="col-xs-7" ng-hide="notifications.editable || notifications.data.selected.length == 0" translate>Delivery Type</label>
            </div>

            <ul class="zeroLeftPadding">
              <li class="row" ng-repeat="n in notifications.data.selected" ng-hide="notifications.editable || notifications.data.selected.length == 0">
                <div class="col-xs-5">{{ n.NotificationName }}</div>

                <div class="col-xs-7">
                  <p>
                <span ng-repeat="d in n.DeliveryMethods">
                {{ d.DeliveryMethodName }}<span ng-show="$index < n.DeliveryMethods.length - 1">, </span>
                </span>
                  </p>
                </div>
              </li>
              <li ng-show="notifications.data.selected.length == 0 && !notifications.editable" translate>No notifications are currently enabled.</li>

              <!-- Edit -->
              <li class="row" ng-repeat="n in notifications.dirtyData.available" ng-show="notifications.editable">
                <div class="col-xs-5">{{ n.Name }}</div>
                <div class="col-xs-7 cr-inline">
              <span ng-repeat="d in n.DeliveryMethods">
                <input type="checkbox" id="{{ n.NotificationId + d.DeliveryMethodId }}" name="{{ d.Name }}" ng-model="d.Enabled" />
                <label class="checkbox-img small" for="{{ n.NotificationId + d.DeliveryMethodId }}"></label>
                <label class="cr-label" for="{{ n.NotificationId + d.DeliveryMethodId }}">{{ d.Name }}</label>
              </span>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
