<div ng-if="displayed">
  <div class="well-item bordered financial-account">
    <div class="row" ng-show="isEditable()">
      <div class="col-xs-1 text-center text-vertical-center">
          <div class="glyphicon glyphicon-ok" ng-show="defaultForDisbursement"></div>
      </div>
      <div class="col-xs-15 text-center text-vertical-center">
          <div class="glyphicon glyphicon-ok" ng-show="defaultForBilling"></div>
      </div>
      <div class="col-xs-2 text-left no-left-padding text-vertical-center"
        style="padding-left: 15px">
          <div >{{ account.AchBankName }}</div>
      </div>
      <div class="col-xs-1" ng-show="!isEditable()"></div>
      <div class="col-xs-2 text-center text-vertical-center">
          <div>******{{account.AchAccountNumberLast4}}</div>
      </div>
      <div class="col-xs-15 text-center text-vertical-center">
          <div>{{routingNumberDisplay}}</div>
      </div>
      <div class="col-xs-2 text-center text-vertical-center" ng-click="generateReceipt()" ng-show="isEditable()">
        <div class="recent-transaction">
          {{RecentTransaction}}
          <button class="btn-unstyle"  ng-show="isDisplayed">
            <span class="glyphicon glyphicon-file"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-1" ng-show="!isEditable()"></div>
      <div class="col-xs-1 text-center text-vertical-center">
          <div class="glyphicon glyphicon-ok" ng-show="status"></div>
      </div>
      <div class="col-xs-1 icon-padding-right" ng-show="isEditable()">
        <button class="btn-unstyle pull-right" ng-click="editFinancialAccount()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
    </div>

    <!--The following allows for the re-spacing when recent transactions is hidden.
    This can be removed as soon as recent transactions goes live-->
    <div class="row" ng-show="!isEditable()">
      <div class="col-xs-1 text-center text-vertical-center">
        <div class="glyphicon glyphicon-ok" ng-show="defaultForDisbursement"></div>
      </div>
      <div class="col-xs-15 text-center text-vertical-center">
        <div class="glyphicon glyphicon-ok" ng-show="defaultForBilling"></div>
      </div>
      <div class="col-xs-3 text-left no-left-padding text-vertical-center"
           style="padding-left: 15px">
        <div >{{ account.AchBankName }}</div>
      </div>

      <div class="col-xs-2 text-center text-vertical-center">
        <div>******{{account.AchAccountNumberLast4}}</div>
      </div>
      <div class="col-xs-15 text-center text-vertical-center">
        <div>{{routingNumberDisplay}}</div>
      </div>
      <div class="col-xs-2 text-center text-vertical-center">
        <div class="glyphicon glyphicon-ok" ng-show="status"></div>
      </div>
      <div class="col-xs-1 icon-padding-right" ng-show="isEditable()">
        <button class="btn-unstyle pull-right" ng-click="editFinancialAccount()">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
    </div>
  </div>
</div>
