<div class="row-fluid vehicle-info">
  <div class="detail-col ">
    <h4 class="well-head">Vehicle Information</h4>
    <table>
      <tr>
        <td class="detail-label">VIN</td>
        <td class="detail-value">{{ vehicleDetails.vin }}</td>
      </tr>
      <tr>
        <td class="detail-label">Make</td>
        <td class="detail-value">{{ vehicleDetails.make }}</td>
      </tr>
      <tr>
        <td class="detail-label">Model</td>
        <td class="detail-value">{{ vehicleDetails.model }}</td>
      </tr>
      <tr>
        <td class="detail-label">Style</td>
        <td class="detail-value">{{ vehicleDetails.style }}</td>
      </tr>
      <tr>
        <td class="detail-label">Color</td>
        <td class="detail-value">{{ vehicleDetails.color }}</td>
      </tr>
      <tr>
        <td class="detail-label">Year</td>
        <td class="detail-value">{{ vehicleDetails.year }}</td>
      </tr>
      <tr>
        <td class="detail-label">Current Mileage</td>
        <td class="detail-value">{{ vehicleDetails.currentMileage | number }}</td>
      </tr>
      <tr>
        <td class="detail-label">Salvage</td>
        <td class="detail-value">{{ vehicleDetails.salvage | yesno }}</td>
      </tr>
    </table>
  </div>

  <div class="detail-col">
    <h4 class="well-head">Flooring Information</h4>
    <table>
      <tr>
        <td class="detail-label">Status</td>
        <td class="detail-value">{{ vehicleDetails.status }}</td>
      </tr>
      <tr>
        <td class="detail-label">Stock Number</td>
        <td class="detail-value">{{ vehicleDetails.stockNumber }}</td>
      </tr>
      <tr>
        <td class="detail-label">Purchase Date</td>
        <td class="detail-value">{{ vehicleDetails.purchaseDate | moment }}</td>
      </tr>
      <tr>
        <td class="detail-label">Date Submitted</td>
        <td class="detail-value">{{ vehicleDetails.dateSubmitted | moment }}</td>
      </tr>
      <tr>
        <td class="detail-label">Finance Amount</td>
        <td class="detail-value">{{ vehicleDetails.financedAmount | currency }}</td>
      </tr>
      <tr>
        <td class="detail-label">Purchase Amount</td>
        <td class="detail-value">{{ vehicleDetails.purchaseAmount | currency }}</td>
      </tr>
      <tr>
        <td class="detail-label">Last Payment</td>
        <td class="detail-value">{{ vehicleDetails.lastPayment | moment }}</td>
      </tr>
      <tr>
        <td class="detail-label">Line of Credit</td>
        <td class="detail-value">{{ vehicleDetails.lineOfCredit }}</td>
      </tr>
      <tr>
        <td class="detail-label">Term Plan Name</td>
        <td class="detail-value">{{ vehicleDetails.termPlanName }}</td>
      </tr>
      <tr>
        <td class="detail-label">Product Type</td>
        <td class="detail-value">{{ vehicleDetails.productType }}</td>
      </tr>
      <tr>
        <td class="detail-label">Seller</td>
        <td class="detail-value">{{ vehicleDetails.seller }}</td>
      </tr>
    </table>
  </div>

  <div class="detail-col">
    <h4 class="well-head">Title Information</h4>
    <table>
      <tr>
        <td class="detail-label">Title Location</td>
        <td class="detail-value">{{ vehicleDetails.titleLocation }}</td>
      </tr>
      <tr>
        <td class="detail-label">Title State</td>
        <td class="detail-value">{{ vehicleDetails.titleState }}</td>
      </tr>
      <tr>
        <td class="detail-label">Tracking Number</td>
        <td class="detail-value">{{ vehicleDetails.trackingNumber }}</td>
      </tr>
      <tr>
        <td class="detail-label">Disbursement Date</td>
        <td class="detail-value">{{ vehicleDetails.disbursementDate | moment }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid curtail-sch">
  <h4 class="well-head">Original Curtailment Schedule</h4>
  <table>
      <tr>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Principal</th>
          <th>Principal <br/>Payment</th>
          <th>Interest</th>
          <th>CPP</th>
          <th>Fees</th>
          <th>Total Payments</th>
          <th>Highline Fee Applied</th>
      </tr>
      <tr ng-repeat="cur in vehicleDetails.curtailments">
          <td> {{ cur.StartDate | moment }} </td>
          <td> {{ cur.DueDate | moment }} </td>
          <td> {{ cur.Principal | currency }} </td>
          <td> {{ cur.PrincipalPayment | currency }} </td>
          <td> {{ cur.Interest | currency }} </td>
          <td> {{ cur.Cpp | currency }} </td>
          <td> {{ cur.Fees | currency }} </td>
          <td> {{ cur.TotalPayment | currency }} </td>
          <td><span ng-hide="cur.HighlineFeeApplied">N/A</span>
            <span ng-show="cur.HighlineFeeApplied">Yes</span>
          </td>
      </tr>
  </table>

  <button class="btn-close" ng-click="isCollapsed = !isCollapsed">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </button>
</div>
