<h3 class="modal-header">Request Unapplied Funds Payout</h3>
<div class="modal-close" ng-disabled="submitInProgress" ng-click="cancel()">
  <span class="glyphicon glyphicon-remove"></span>
</div>

<form name="form" novalidate>
  <div class="modal-body request-unapplied-funds-modal">
    <div class="amounts">
      <label>Unapplied Funds</label>
      <div>{{ funds.balance | currency }}</div>
      <label>Total Available</label>
      <div>{{ funds.available | currency }}</div>
    </div>
    <label for="payoutAmt">Payout Amount</label>
    <div ng-class="{invalid: validity.payoutAmt.$invalid}">
      <div class="input-prepend dollar">
        <span class="add-on">$</span>
        <input type="text"
               id="payoutAmt"
               name="payoutAmt"
               placeholder="0.00"
               ng-model="selections.amount"
               nxg-min="0.01"
               nxg-max="funds.available"
               ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*(\.[0-9]{2})?$/"
               required
               autofocus="autofocus"/>
      </div>
      <label class="text-error" ng-show="validity.payoutAmt.$error.required">Please enter a payout amount.</label>
      <label class="text-error" ng-show="validity.payoutAmt.$error.pattern">Please enter payout amount as a number.</label>
      <label class="text-error" ng-show="validity.payoutAmt.$error.nxgMin || validity.payoutAmt.$error.nxgMax">
        Payout amount must be $0.01 to {{ funds.available | currency }}
      </label>
    </div>
    <label for="payoutBankAcct">Bank Account for Payout</label>
    <div ng-class="{invalid: validity.payoutBankAcct.$invalid}">
      <select id="payoutBankAcct"
              name="payoutBankAcct"
              ng-model="selections.account"
              ng-options="account.BankAccountName for account in user.getStatics().bankAccounts"
              required>
        <option class="disabled" disabled="disabled" value="">Make Selection</option>
      </select>
      <label class="text-error" ng-show="validity.payoutBankAcct.$error.required">Please select a bank account for payout.</label>
    </div>
  </div>
  <div class="modal-footer">
    <!-- not in wireframes, but user needs some way to back out that's more obvious than Esc key -->
    <button class="btn btn-small btn-secondary left-align"
            type="submit"
            ng-disabled="submitInProgress"
            ng-click="cancel()">Cancel</button>
    <button class="btn btn-small btn-primary left-align"
            ng-class="{'btn-primary': form.$valid}"
            type="submit"
            ng-disabled="submitInProgress"
            ng-click="submit()">Request Payout</button>
  </div>
</form>
