<label for="inputVin" class="input-title">VIN</label>
<span>
  <input type="text" id="inputVin" name="inputVin" ng-model="data.UnitVin"
         required ng-minlength="17" ng-maxlength="17"
         nxg-requires="settings.vinMode == 'matched' || settings.vinMode == 'noMatch'"
         ng-change="vinChange()" nxg-blur="vinExit()"
         nxg-autofocus
         ng-class="{ 'nxg-invalid': validity.inputVin.$error.required || validity.inputVin.$error.minlength || validity.inputVin.$error.maxlength || (vinIsSyntacticallyValid(validity.inputVin.$error) && validity.inputVin.$error.nxgRequires) }" />
  <button href class="btn btn-secondary nxg-search-btn" ng-click="lookupVin()">
    <i class="glyphicon glyphicon-search"></i>
  </button>
</span>
<label for="inputVin" class="text-error"
       ng-show="validity.inputVin.$error.required">
  Please enter a VIN.
</label>
<label for="inputVin" class="text-error"
       ng-show="validity.inputVin.$error.minlength || validity.inputVin.$error.maxlength">
  VIN should be 17 characters.
</label>
<label for="inputVin" class="text-error"
       ng-show="vinIsSyntacticallyValid(validity.inputVin.$error) && validity.inputVin.$error.nxgRequires">
  Please look up the VIN.
</label>
<label for="inputVin" class="text-error"
       ng-show="settings.vinMode == 'noMatch' && !data.VinAckLookupFailure">
  VIN was not located; please enter Make, Model, Year and Style.
</label>

<span class="form-inline nxg-checkbox" ng-show="settings.vinMode == 'noMatch'">
  <input type="checkbox" id="vinFailure" name="vinFailure" ng-model="data.VinAckLookupFailure"
         ng-required="settings.vinMode == 'noMatch'" />
  <label for="vinFailure">Acknowledge VIN Look-Up Failure</label>
  <label for="vinFailure" class="text-error"
         ng-show="validity.vinFailure.$error.required">
    Please acknowledge VIN look-up failure.
  </label>
</span>

<div ng-switch="settings.vinMode">

  <div class="nxg-vin-match-info nxg-static" ng-switch-when="matched">
    <label for="outputMake">Make</label>
    <span id="outputMake">{{ data.$selectedVehicle.Make }}</span>

    <label for="outputModel">Model</label>
    <span id="outputModel">{{ data.$selectedVehicle.Model }}</span>

    <label for="outputYear">Year</label>
    <span id="outputYear">{{ data.$selectedVehicle.Year }}</span>

    <label for="outputStyle">Style</label>
    <span id="outputStyle">{{ data.$selectedVehicle.Style }}</span>
  </div>

  <div id="nxg-vin-no-match-info" ng-switch-when="noMatch">
    <label for="inputMake">Make</label>
    <input type="text" id="inputMake" name="inputMake" ng-model="data.UnitMake"
           required maxlength="50" ng-class="{ 'nxg-invalid': validity.inputMake.$error.required }" />
    <label for="inputMake" class="text-error"
           ng-show="validity.inputMake.$error.required">
      Please enter a Make.
    </label>

    <label for="inputModel">Model</label>
    <input type="text" id="inputModel" name="inputModel" ng-model="data.UnitModel"
           required maxlength="50" ng-class="{ 'nxg-invalid': validity.inputModel.$error.required }" />
    <label for="inputModel" class="text-error"
           ng-show="validity.inputModel.$error.required">
      Please enter a Model.
    </label>

    <label for="inputYear">Year</label>
    <input type="text" id="inputYear" name="inputYear" ng-model="data.UnitYear"
           required ng-pattern="/^\d{4}$/" nxg-min="1901" nxg-max="settings.maxYear" ng-class="{ 'nxg-invalid': validity.inputYear.$error.required || validity.inputYear.$error.pattern || validity.inputYear.$error.nxgMin || validity.inputYear.$error.nxgMax }" />
    <label for="inputYear" class="text-error"
           ng-show="validity.inputYear.$error.required">
      Please enter a Year.
    </label>
    <label for="inputYear" class="text-error"
           ng-show="validity.inputYear.$error.pattern">
      Please enter a four-digit Year.
    </label>
    <label for="inputYear" class="text-error"
           ng-show="validity.inputYear.$error.nxgMin || validity.inputYear.$error.nxgMax">
      Please enter a Year between 1901 and {{ settings.maxYear }}.
    </label>

    <label for="inputStyle">Style</label>
    <input type="text" id="inputStyle" name="inputStyle" ng-model="data.UnitStyle"
           required maxlength="50" ng-class="{ 'nxg-invalid': validity.inputStyle.$error.required }" />
    <label for="inputStyle" class="text-error"
           ng-show="validity.inputStyle.$error.required">
      Please enter a Style.
    </label>
  </div>

</div>
