<h3 class="modal-header" translate>Would you like to disable Enhanced Registration?</h3>
<section class="modal-body">
  <p translate>Disabling the Enhanced Registration Program will delete any current PINs associated with this business.</p>
</section>

<div class="modal-footer">
  <button class="btn-cta cta-secondary" type="button" ng-click="close(false)" translate>No, Thanks</button>
  <button class="btn-cta cta-primary" type="submit" ng-click="close(true)" nxg-autofocus translate>Yes</button>
</div>
