<h3 class="modal-header" translate>
  Business Search
</h3>

<div class="modal-body">
  <form class="row form-block" name="searchControls">
    <div class="col-xs-5 zeroLeftPadding">
      <label translate>Business Name or Number</label>

      <!-- using nxgRequires instead of required, ng-required, and/or ng-minlength because :invalid
           pseudoclass is messing with styles onfocus when input is empty -->
      <input type="text" class="input-full" id="businessSearchModalInput" ng-model="data.proposedQuery" nxg-autofocus nxg-enter="search()" nxg-requires="data.proposedQuery.length >= 3" ng-class="{ 'nxg-invalid': validity.$error.nxgRequires }">
      <label for="businessSearchModalInput" class="text-error" ng-show="validity.$error.nxgRequires" translate>
        Please enter at least 3 characters.
      </label>
    </div>
    <button class="btn inline-submit" ng-click="search()" translate>
      Search
    </button>

  </form>

  <div class="form-block" ng-show="data.results.length > 0">
    <p class="paragraph" translate>Select a business name below.</p>
  </div>

  <div ng-switch="data.results.length > 0 || data.loading">
    <p class="notice-box" ng-switch-when="false" ng-switch="!data.query">
      <span ng-switch-when="false" translate>Sorry, no results found. Please try a new search.</span>
      <span ng-switch-when="true" translate>Please enter a business name or number to search.</span>
    </p>

    <div class="search-results" ng-switch-when="true"
         nxg-infinite-scroll="fetchNextResults()"
         nxg-infinite-scroll-disabled="data.loading"
         nxg-infinite-scroll-show-indicator="data.loading"
         nxg-scroll-container>
      <table class="table table-secondary table-striped">
        <thead>
          <th class="sortable-secondary"
              ng-click="sortBy('BusinessName')"
              ng-class="{ sorted : data.sortBy == 'BusinessName', desc : data.sortDescending }">
            <nxg-sortable sortable-text="{{ 'Business Name' | translate }}"></nxg-sortable>
          </th>
          <th class="sortable-secondary"
              ng-click="sortBy('BusinessLegalName')"
              ng-class="{ sorted : data.sortBy == 'BusinessLegalName', desc : data.sortDescending }">
            <nxg-sortable sortable-text="{{ 'Legal Name' | translate }}"></nxg-sortable>
          </th>
          <th class="sortable-secondary"
              ng-click="sortBy('BusinessNumber')"
              ng-class="{ sorted : data.sortBy == 'BusinessNumber', desc : data.sortDescending }">
            <nxg-sortable sortable-text="{{ 'Business No.' | translate }}"></nxg-sortable>
          </th>
          <th class="bus-auctionNum" ng-show="data.searchBuyersMode" translate>
            Auction Access No.
          </th>
          <th class="sortable-secondary"
              ng-click="sortBy('City')"
              ng-class="{ sorted : data.sortBy == 'City', desc : data.sortDescending }">
              <nxg-sortable sortable-text="{{ 'City' | translate }}"></nxg-sortable>
          </th>
          <th class="sortable-secondary"
              ng-click="sortBy('State')"
              ng-class="{ sorted : data.sortBy == 'State', desc : data.sortDescending }">
            <nxg-sortable sortable-text="{{ 'State' | translate }}"></nxg-sortable>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="result in data.results | orderBy:sortField.result:sortDescending.result">
            <td class="value">
              <a href="javascript:void(0)" ng-click="select(result)">
                <span nxg-highlight="result.BusinessName" highlight="data.query"></span>
              </a>
            </td>
            <td><span nxg-highlight="result.BusinessLegalName" highlight="data.query"></span></td>
            <td><span nxg-highlight="result.BusinessNumber" highlight="data.query"></span></td>
            <td ng-show="data.searchBuyersMode">
              <span uib-tooltip="{{ result.AuctionAccessDealershipNumbers | list:'<br>' }}"
                    tooltip-placement="right"
                    tooltip-popup-delay="700"
                    tooltip-append-to-body="true">
                {{ result.AuctionAccessDealershipNumbers | list }}
              </span>
            </td>
            <td><span nxg-highlight="result.City" highlight="data.query"></span></td>
            <td><span nxg-highlight="result.State" highlight="data.query"></span></td>
          </tr>
        </tbody>
      </table>
      <p class="text-error notice-box" ng-show="data.hitInfiniteScrollMax" translate>
        There are too many results to display, please refine your search further.
      </p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-secondary" translate>Close Window</button>
</div>
