<h3 class="modal-header">
  After Hours Payments
</h3>

<div class="modal-body">
  <p>
    Same-day payments cannot be made after 8pm Eastern.
  </p>

  <p ng-show="ejectedFees.length > 0 || ejectedPayments.length > 0">
    The following items that cannot be scheduled have been removed from your checkout list:
  </p>

  <ul ng-show="ejectedFees.length > 0 || ejectedPayments.length > 0">
    <li ng-show="ejectedFees.length > 0">
      {{ ejectedFees.length }} Account Fee(s) due before next available schedule date
    </li>
    <li ng-show="ejectedPayments.length > 0">
      {{ ejectedPayments.length }} Payment(s) due before next available schedule date
    </li>
  </ul>

  <p>
    Any <span ng-show="ejectedFees.length > 0 || ejectedPayments.length > 0">other</span>
    payments or fees that were not scheduled have been scheduled for the next available
    business day ({{ autoScheduleDate | moment }}).
  </p>
  <p>
    Please review and confirm these changes before submitting.
  </p>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-primary" nxg-autofocus>OK</button>
</div>


