<div class="modal-header">
  <h3>Business Search</h3>
</div>
<div class="modal-body">
  <label>Business Name or Number</label>
  <input type="text" ng-model="query">
  <!-- demo/debug: shows the current business search mode -->
  <em>Mode: {{ mode }}</em>
  <table>
    <thead>
      <tr>
        <th>Business Name</th>
        <th>Legal Name</th>
        <th>Business #</th>
        <!-- this should be hidden unless on the Bulk Flooring page -->
        <th ng-hide="true">Auction Access #</th>
        <!-- -->
        <th>City</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody infinite-scroll="businessSearch.loadMoreData()" infinite-scroll-disabled="businessSearch.loading">
      <tr ng-repeat="result in businessSearch.results">
        <td>{{result.BusinessId}}</td>
        <td>{{result.BusinessName}}</td>
        <td>{{result.BusinessNumber}}</td>
        <!-- this should be hidden unless on the Bulk Flooring page -->
        <td ng-hide="true">{{result.AuctionAccessNum}}</td>
        <!-- -->
        <td>Grand Prarie</td>
        <td>TX</td>
        <td><a href class="btn btn-mini" ng-click="select(result)">Select</a></td>
      </tr>
      <tr ng-show="businessSearch.loading">
        <td colspan="6">Loading data...</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary" >Cancel</button>
</div>
