<h3 class="modal-header">
  {{title}}
</h3>

<div class="modal-body">
  <h3 translate>Would you like to cancel your scheduled payment?</h3>
  <h4><span translate>VIN</span>: {{ payment.vin }} - {{ payment.description }}</h4>
  <ul class="list-table">
    <li class="list-table-row">
      <p class="col-xs-6" translate>Stock #</p>
      <p class="col-xs-6 value">{{ payment.stockNumber }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-xs-6" translate>Scheduled</p>
      <p class="col-xs-6 value">{{ payment.scheduledDate | moment }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-xs-6" translate>Payment Amount</p>
      <p class="col-xs-6 value">{{ (payment.isPayOff && payment.currentPayoff || payment.amountDue) | currency }}</p>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button ng-click="handleNo()" class="btn-cta cta-secondary" ng-disabled="submitInProgress" nxg-autofocus translate>No</button>
  <button ng-click="handleYes()" class="btn-cta cta-primary" ng-disabled="submitInProgress" translate>Yes</button>
</div>

