<div class="modal-header">
  {{title}}
</div>

<div class="modal-body">
  <div class="alert alert-error" ng-show="!!submitError">{{ submitError }}</div>
  <div>
    <strong>VIN</strong> {{ payment.vin }}
  </div>
  <div>
    {{ payment.description }}
  </div>
  <div>
    <strong>Stock #</strong> {{ payment.stockNumber }}
  </div>
  <div>
    <strong>Scheduled</strong>
    <p>{{ payment.scheduledDate | moment }}</p>
  </div>
  <div>
    <strong>Payment Amount</strong>
    <p>{{ (payment.isPayOff && payment.currentPayoff || payment.amountDue) | currency }}</p>
  </div>
</div>

<div class="modal-footer">
  <span class="loading" ng-show="submitInProgress"></span>
  <button ng-click="handleYes()" class="btn" ng-disabled="submitInProgress">Yes</button>
  <button ng-click="handleNo()" class="btn btn-primary" ng-disabled="submitInProgress">No</button>
</div>

