<h3 class="modal-header">
  {{title}}
</h3>

<div class="modal-body">
  <h3>Would you like to cancel your scheduled payment?</h3>
  <h4>VIN: {{ payment.vin }} - {{ payment.description }}</h4>
  <ul class="list-table">
    <li class="list-table-row">
      <p class="span6">Stock #</p>
      <p class="span6 value">{{ payment.stockNumber }}</p>
    </li>
    <li class="list-table-row">
      <p class="span6">Scheduled</p>
      <p class="span6 value">{{ payment.scheduledDate | moment }}</p>
    </li>
    <li class="list-table-row">
      <p class="span6">Payment Amount</p>
      <p class="span6 value">{{ (payment.isPayOff && payment.currentPayoff || payment.amountDue) | currency }}</p>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button ng-click="handleNo()" class="btn-cta cta-secondary" ng-disabled="submitInProgress" nxg-autofocus>No</button>
  <button ng-click="handleYes()" class="btn-cta cta-primary" ng-disabled="submitInProgress">Yes</button>
</div>

