<h3 class="modal-header">Your payment(s) have been {{ items.getStatus('submitted', 'scheduled') }}.</h3>

<div class="modal-body">
  <section ng-show="items.paymentsScheduled.length > 0 || items.feesScheduled.length > 0">
    <h3>Scheduled Payment(s)</h3>

    <div ng-show="items.feesScheduled.length > 0">
      <h4>Fees</h4>
      <table class="table table-striped table-secondary">
        <thead>
          <th>Fee Type</th>
          <th>Description</th>
          <th>Scheduled</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesScheduled">
          <td>{{ fee.type || 'N/A' }}</td>
          <td>{{ fee.description }}</td>
          <td>{{ fee.scheduleDate | moment }}</td>
          <td><p class="numeric">{{ fee.amount | currency }}</p></td>
        </tr>
      </table>
    </div>

    <div ng-show="items.paymentsScheduled.length > 0">
      <h4>Payments</h4>

      <table class="table table-striped table-secondary">
        <thead>
          <th>Description</th>
          <th>Scheduled</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsScheduled">
          <td>
            <a class="" href="#/vehicledetails?stockNumber={{ payment.stockNum }}">{{ payment.description }}</a><br/>
            <p class="caps vin">VIN: {{ payment.vin }}</p>
            <p class="caps stock">STK: {{ payment.stockNum }}</p>
          </td>
          <td><p class="">{{ payment.scheduleDate | moment }}</p></td>
          <td><p class="numeric">{{ payment.amount | currency }}</p></td>
        </tr>
      </table>
    </div>
  </section>

  <section ng-show="items.feesToday.length > 0 || items.paymentsToday.length > 0">
    <h3>Submitted Payment(s): {{ items.todayTotal() | currency }}</h3>

    <div ng-show="items.feesToday.length > 0">
      <h4>Fees</h4>

      <table class="table table-striped table-secondary">
        <thead>
          <th>Fee Type</th>
          <th>Description</th>
          <th>Paid</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesToday">
          <td>{{ fee.type || 'N/A' }}</td>
          <td>{{ fee.description }}</td>
          <td>{{ today | moment }}</td>
          <td><p class="numeric">{{ fee.amount | currency }}</p></td>
        </tr>
      </table>
    </div>

    <div ng-show="items.paymentsToday.length > 0">
      <h4>Payments</h4>

      <table class="table table-striped table-secondary">
        <thead>
          <th>Description</th>
          <th>Scheduled</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsToday">
          <td>
            <a class="" href="#/vehicledetails?stockNumber={{ payment.stockNum }}">{{ payment.description }}</a><br/>
            <p class="caps vin">VIN: {{ payment.vin }}</p>
            <p class="caps stock">STK: {{ payment.stockNum }}</p>
          </td>
          <td>{{ today | moment }}</td>
          <td><p class="numeric">{{ payment.amount | currency }}</p></td>
        </tr>
      </table>
    </div>
  </section>
</div>

<div class="modal-footer" ng-show="!!receiptUrls.length">
  <button type="button" ng-click="viewReceipts()" class="btn-cta cta-secondary" nxg-autofocus>View Receipts</button>
  <button type="submit" ng-click="close()" class="btn-cta cta-primary">Close</button>
</div>
<div class="modal-footer" ng-hide="!!receiptUrls.length">
  <button type="submit" ng-click="close()" class="btn-cta cta-primary" nxg-autofocus>OK</button>
</div>
