<h3 class="modal-header">Your Payments Have Been Submitted.</h3>

<div class="modal-body aside">
  <section ng-show="items.feesToday.length > 0 || items.paymentsToday.length > 0">
    <!-- Today's Fees -->
    <div ng-show="items.feesToday.length > 0">
      <h5 class="modal-body-subtitle">Today's Fees: <span class="heavy color-success">{{ items.getTotals().feesToday | currency }}</span></h5>

      <table class="table table-striped table-secondary">
        <thead>
          <th>Fee Type</th>
          <th>Payment Date</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesToday">
          <td class="description heavy">{{ fee.feeType || 'N/A' }}</td>
          <td class="center">{{ today | moment }}</td>
          <td class="numeric">{{ fee.amount | currency }}</td>
        </tr>
      </table>
    </div>

    <!-- Today's Payments -->
    <div ng-show="items.paymentsToday.length > 0">
      <h5 class="modal-body-subtitle">Today's Payments: <span class="heavy color-success">{{ items.getTotals().paymentsToday | currency }}</span></h5>

      <table class="table table-striped table-secondary">
        <thead>
          <th>Description</th>
          <th>Payment Date</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsToday">
          <td class="description">
            <a class="block-title heavy" href="#/vehicledetails?stockNumber={{ payment.stockNum }}">{{ payment.description }}</a><br/>
            <p class="caps vin">VIN: {{ payment.vin }}</p>
            <p class="caps stock">STK: {{ payment.stockNum }}</p>
          </td>
          <td class="center">{{ today | moment }}</td>
          <td class="numeric">{{ payment.getCheckoutAmount() | currency }}</td>
        </tr>
      </table>
    </div>
  </section>
  <section ng-show="items.paymentsScheduled.length > 0 || items.feesScheduled.length > 0">
    <!-- Scheduled Fees -->
    <div ng-show="items.feesScheduled.length > 0">
      <h5 class="modal-body-subtitle">Future Fees: <span class="heavy color-success">{{ items.getTotals().feesScheduled | currency }}</span></h5>
      <table class="table table-striped table-secondary">
        <thead>
          <th>Fee Type</th>
          <th>Payment Date</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="fee in items.feesScheduled">
          <td class="description heavy">{{ fee.feeType || 'N/A' }}</td>
          <td class="center">{{ fee.scheduleDate | moment }}</td>
          <td class="numeric">{{ fee.amount | currency }}</td>
        </tr>
      </table>
    </div>

    <!-- Scheduled Payments -->
    <div ng-show="items.paymentsScheduled.length > 0">
      <h5 class="modal-body-subtitle">Future Payments: <span class="heavy color-success">{{ items.getTotals().paymentsScheduled | currency }}</span></h5>
      <table class="table table-striped table-secondary">
        <thead>
          <th>Description</th>
          <th>Payment Date</th>
          <th>Amount</th>
        </thead>
        <tr ng-repeat="payment in items.paymentsScheduled">
          <td class="description">
            <a class="block-title heavy" href="#/vehicledetails?stockNumber={{ payment.stockNum }}">{{ payment.description }}</a><br/>
            <p class="caps vin">VIN: {{ payment.vin }}</p>
            <p class="caps stock">STK: {{ payment.stockNum }}</p>
          </td>
          <td class="center">{{ payment.scheduleDate | moment }}</td>
          <td class="numeric">{{ payment.getCheckoutAmount() | currency }}</td>
        </tr>
      </table>
    </div>
  </section>
</div>

<div class="modal-footer" ng-show="!!receiptUrls.length">
  <button type="button" ng-click="viewReceipts()" class="btn-cta cta-secondary" nxg-autofocus>View Receipts</button>
  <button type="submit" ng-click="close()" class="btn-cta cta-primary">Close</button>
</div>
<div class="modal-footer" ng-hide="!!receiptUrls.length">
  <button type="submit" ng-click="close()" class="btn-cta cta-primary" nxg-autofocus>OK</button>
</div>
