<h3 class="modal-header">
  <span ng-show="counts.failed == 0 && counts.total > 0" translate>Your title {{ {true: 'requests have', false: 'request has'}[counts.total-counts.failed > 1] }} been submitted.</span>
  <span ng-show="counts.failed == counts.total" translate>Your title request(s) can not be processed at this time.</span>
  <span ng-show="counts.failed > 0 && counts.total > counts.failed" translate>Some title request(s) can not be processed at this time.</span>
</h3>

<div class="modal-body">
  <h3 translate>
    Title Request{{ {false: 's'}[counts.total == 1] }}: {{ counts.total }}
  </h3>

  <table class="table table-striped table-secondary">
    <thead>
      <th translate>Description</th>
      <th translate>VIN</th>
      <th translate>Stock No.</th>
    </thead>
    <tr ng-repeat="item in results" ng-class="{ 'error-row': !item.ReleaseSuccessful }">
      <td>{{ item.description }}</td>
      <td>{{ item.UnitVIN }}</td>
      <td>{{ item.StockNumber }}</td>
    </tr>
  </table>

  <!-- All Title Release Requests Succeed -->
  <p  class="paragraph" ng-show="counts.failed == 0" translate>Your title {{ {true: 'requests have', false: 'request has'}[counts.total-counts.failed > 1] }} been approved. An email will be sent to you shortly with a tracking number.</p>

  <!-- Some Title Release Requests Failed -->
  <p  class="paragraph" ng-show="counts.failed > 0" translate>We're sorry, the highlighted title(s) listed above cannot be processed at this time. Please call Customer Service at <span class="highlight"><nxg-customer-support-phone /></span></p>

  <!-- Some Title Release Requests Succeed -->
  <section ng-show="counts.failed < counts.total">
    <!-- Some succeed but not ALL (Email message is already included in the ALL success case) -->
    <p  class="paragraph" ng-show="counts.failed != 0" translate>An email will be sent to you shortly with a tracking number.</p>

    <p class="paragraph" translate>Please be advised that such title(s) must be returned to NextGear Capital, at the address listed below, by close of business on the seventh (7th) day after the date of NextGear Capital's release of such title(s) to you. You understand and agree that NextGear Capital will declare a Maturity Event (as such term is defined in your Demand Promissory Note and Loan and Security Agreement ("Note")) and initiate a Required Payment (as such term is defined in your ACH Authorizaiton and Request Form) for all Liabilities (as defined in your Note) related to any title(s) not returned to NextGear Captital within such time frame. You agree that each Required Payment made pursuant to this request shall be deemed an Authorized Debit under your ACH Form.</p>
    <p class="paragraph center">NextGear Capital, Inc. Attn: Records Department<br />1320 City Center Dr. Suite # 100A&nbsp;&nbsp;&nbsp;Carmel, IN 46032</p>
    <p class="paragraph" translate>Additional fees may apply. Please check your Rates and Fees schedule.</p>
  </section>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-primary" nxg-autofocus translate>Close Window</button>
</div>
