<h3 class="modal-header" translate>Enroll in ProperNounTBD</h3>

<section class="modal-body">
  <p translate>You are about to enroll in ProperNounTBD. Please review the Authorization and Request for Automated Payments below.</p>

  <div class="legal-textarea">
    <h4>AUTHORIZATION AND REQUEST FOR AUTOMATED PAYMENTS</h4>
    This Authorization and Request for Automated Payments (the “<span class="underline">Automated Payment
    Request</span>”) may be submitted only by an authorized representative of the Borrower designated on this account
    (this “<span class="underline">Account</span>”).  By submitting this Automated Payment Request, you are certifying
    to NextGear Capital, Inc. (“<span class="underline">Lender</span>”) that you are an authorized representative of
    Borrower and have all necessary authority to provide the authorizations and make the requests set forth herein,
    in each case for and on behalf of Borrower.  Capitalized terms used herein but not defined herein shall have the
    respective meanings as set forth in that certain Demand Promissory Note and Loan and Security Agreement by and
    between Borrower and Lender (the “<span class="underline">Note</span>”).
    <br><br>
    By clicking the box below stating  “I have reviewed and agree to this Automated Payment Request”  and, thereafter
    clicking, the “Yes, I want to enroll for Automated Payments” button at the bottom of this Automated Payment Request,
    Borrower hereby authorizes and requests Lender to initiate recurring electronic debit entries (each, an
    “<span class="underline">Automated Debit</span>”) from the bank account specified by Borrower in that certain ACH
    Authorization and Request or similar authorization, executed by Borrower in favor of Lender (as the same now exists
    or is hereafter amended, the “Designated Account”) in payment of amounts and other Liabilities owed by Borrower
    under the Note and the other Loan Documents. Lender may initiate an Automated Debit from the Designated Account at
    any time on or after the Maturity Date for any Liability, in each case in such amount as is due and owing with
    respect to such Liability on the Maturity Date (or in such other amount as may be outstanding on the date such
    Automated Debit is initiated by Lender).
    <br><br><br>

    Borrower further acknowledges and agrees that:
    <br><br>
    <ul>
      <li>
        This Automated Payment Request may take up to five (5) Business Days for Lender to process.  Once this
        Automated Payment Request has been processed by Lender, a confirmation may be sent to Borrower via email to the
        email address designated for Borrower’s account (the “<span class="underline">Designated Email</span>”). Subject
        to the provisions noted below, once this Automated Payment Request is processed by Lender, the Automated Debits
        will continue to be initiated by Lender until such time as Borrower terminates this Automated Payment Request by
        logging into Borrower’s Account at https://customer.nextgearcapital.com and un-enrolling in the Automated
        Payment Request program.  Any termination of this Automated Payment Request by Borrower may take up to five (5)
        Business Days for Lender to process, and during that time Lender may continue to initiate Automated Debits in
        accordance with this Automated Payment Request. Repeated enrolling and un-enrolling will result in Borrower’s
        termination from the program.
      </li>
      <li>
        Borrower must maintain sufficient funds in the Designated Account to satisfy all Automated Debits authorized
        under this Automated Payment Request.  If the Designated Account holds insufficient funds to cover an Automated
        Debit, Borrower may be assessed fees or other charges by both the financial institution at which the Designated
        Account is held (the “<span class="underline">Depository Bank</span>”) and by Lender, just as if Borrower had
        written a check to Lender that was returned for insufficient funds.
      </li>
      <li>
        Borrower is solely responsible for any overdraft charges or other fees that the Depository Bank may assess in
        connection with any Automated Debits initiated pursuant to this Automated Payment Request.
      </li>
      <li>
        This Automated Payment Request shall be deemed a “Loan Document” for all intents and purposes under the Note.
        Lender shall be entitled to avail itself of any limitations of liability and other similar protections or relief
        afforded Lender under the Note and the other Loan Documents, and these provisions and protections shall apply to
        any Automated Debit or other transaction initiated by Lender (or its designated service providers) or your
        financial institution hereunder.  Additionally, Lender shall have no liability and shall not be responsible for
        any damages arising from or relating to any checks or other payments dishonored after the available balance in
        the Designated Account is reduced by any Automated Debit or other transaction initiated by Lender hereunder.
      </li>
      <li>
        Borrower will remain liable and responsible for all Liabilities and other amounts owed under the Note and
        other Loan Documents which remain unpaid as a result of an unsuccessful attempt to debit funds from the
        Designated Account pursuant to this Automated Payment Request.
      </li>
      <li>
        This Automated Payment Request does not create a fiduciary relationship between Lender and Borrower.
      </li>
      <li>
        Borrower is bound by the Operating Rules of the National Automated Clearing House Association (NACHA), as in
        effect from time to time with regard to each Automated Debit and other transaction initiated by Lender
        hereunder.
      </li>
      <li>
        Lender may send to Borrower at its Designated Email a confirmation of each Automated Debit and other
        transaction processed hereunder.  Borrower shall maintain the active status of the Designated Email (or provide
        immediate written notification to Lender of any change in the Designated Email) at all times.
      </li>
      <li>
        In the event that any of Borrower’s Designated Account information changes, or in the event that Borrower
        closes the Designated Account, Borrower will update its Designated Account information at least ten (10)
        Business Days prior to the effective date of such change or closure by logging into Borrower’s Account at
        https://customer.nextgearcapital.com.
      </li>
    </ul>

    Lender may, if necessary, initiate adjustments at any time and without advance notice to Borrower for any Automated
    Debit made in error to the Designated Account pursuant to this Automated Payment Request.  Lender reserves the right
    to decline to initiate any Automated Debit, terminate Borrower’s participation in the Automated Payment Request
    program or end the Automated Payment Request program in whole or in part, in each case, at any time and without
    prior notice to Borrower.  This Automated Payment Request does not in any way terminate, amend or modify, in whole
    or in part the Note or any other Loan Documents, including any ACH Authorization and Request or similar
    authorization or any other agreements between Borrower and Lender.  Borrower acknowledges and agrees that this
    Automated Payment Request and the Automated Debits being authorized and requested herein are in addition to, and are
    not replacements for, nor amendments to, any ACH Authorization and Request or similar authorization or request
    submitted to Lender. This Automated Payment Request shall in no way nullify, rescind, or otherwise affect, in any
    way, Borrower’s authorization of any electronic debits or other payments through any other means.
  </div>
</section>
<div class="modal-footer">
  <div class="cr-inline text-left" style="margin-left:10px;">
    <input type="checkbox" name="terms" id="enableAutoPayTerms" ng-model="agree"/>
    <label for="enableAutoPayTerms" class="checkbox-img small"></label>
    <label for="enableAutoPayTerms" class="cr-label" translate>
      I have reviewed and agree to the Authorization and Request for Automated Payments.
    </label>
  </div>
</div>
<hr class="hr-no-margin"/>
<div class="modal-footer">
  <button class="btn-cta cta-secondary" type="button" ng-click="close(false)" translate>Cancel</button>
  <button class="btn-cta cta-primary" type="submit" ng-click="close(agree)" nxg-autofocus ng-disabled="!agree"
          translate>
    Yes, I want to enroll
  </button>
</div>
