<h3 class="modal-header" translate>Unenroll from ProperNounTBD</h3>
<section class="modal-body">
  <h4>Authorization and Request to Unenroll</h4>
  <p translate>By clicking on the button "Unenroll Now", you acknowledge and agree that you are unenrolling from
    ProperNounTBD.
  </p>
</section>
<hr class="hr-no-margin"/>
<div class="modal-footer">
  <button class="btn-cta cta-secondary" type="button" ng-click="close(false)" translate>Cancel</button>
  <button class="btn-cta cta-primary" type="submit" ng-click="close(true)" nxg-autofocus translate>
    Unenroll Now
  </button>
</div>
