<div class="modal-header">
  <h3 ng-show="counts.failed == 0 && counts.total > 0">Your title request(s) have been submitted.</h3>
  <h3 ng-show="counts.failed == counts.total">Your title request(s) can not be processed at this time.</h3>
  <h3 ng-show="counts.failed > 0 && counts.total > counts.failed">Some title request(s) can not be processed at this time.</h3>
</div>
<div class="modal-body">

  <section>
    <h4 class="boxed">
      Title Request{{ {false: 's'}[counts.total == 1] }}: {{ counts.total }}
    </h4>

    <div>
      <ul class="unstyled">
        <li class="table-list-head">
          <div class="cell title-desc">Description</div>
          <div class="cell title-vin">Vin</div>
          <div class="cell title-stock">Stock #</div>
        </li>

        <li class="table-list-row" ng-class="{'error-row': !item.ReleaseSuccessful}" ng-repeat="item in results">
          <div class="cell title-desc">
            <p>{{ item.description }}</p>
          </div>
          <div class="cell title-vin">
            <p>{{ item.UnitVIN | shortenVIN }}</p>
          </div>
          <div class="cell title-stock">
            <p>{{ item.StockNumber }}</p>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <p ng-show="counts.failed < counts.total">Your title request(s) have been submitted. Please allow 3-5 business days for processing. If you have any questions regarding your request, please call Customer Service at <span class="highlight">888.989.3721.</span></p>
  <p ng-show="counts.failed > 0">We're sorry, the highlighted title(s) listed above cannot be processed at this time. Please call Customer Service at <span class="highlight">888.989.3721.</span></p>
  <p>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary">Close Window</button>
</div>
