<h3 class="modal-header" translate>
  Buyer Business Line of Credit Query
</h3>

<section class="modal-body" nxg-autofocus>
  <h3 translate>Buyer Information</h3>

  <div class="row">
    <div class="col-xs-5 paragraph" translate>Business No.</div>
    <div class="col-xs-7 paragraph value">{{ business.number }}</div>
  </div>
  <div class="row">
    <div class="col-xs-5 paragraph" translate>AuctionACCESS No.</div>
    <div class="col-xs-7 paragraph value">{{ business.auctionAccessNumbers }}</div>
  </div>
  <div class="row">
    <div class="col-xs-5 paragraph" translate>Auction Buyer No.</div>
    <div class="col-xs-7 value">
      <input type="text">
      <button class="btn">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 paragraph" translate>Business Name</div>
    <div class="col-xs-7 paragraph value">{{ business.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-5 paragraph" translate>Address</div>
    <div class="col-xs-7 paragraph value">
      {{ business.address }} <br />
      {{ business.city }}, {{ business.state }} {{ business.zipCode }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 paragraph" translate>Line(s) of Credit</div>
    <div class="col-xs-7 paragraph value">
      <div ng-repeat="credit in business.creditQuery.results">
        {{ credit.CreditType }} - {{ credit.CreditAvailable | currency }}'<br />
      </div>
    </div>
  </div>
</section>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-primary">
    <span ng-show="business.creditQuery.requested" translate>Close Window</span>
  </button>
</div>
