<div class="modal-header">
    <h3>Buyer Business Line of Credit Query</h3>
</div>

<section class="modal-body" nxg-autofocus>
  <p class="modal-subtitle">Buyer Information</p>

  <table class="buyer-info">
    <tr>
      <th>Business Number</th>
      <td>{{ business.number }}</td>
    </tr>
    <tr>
      <th>Auction Access Number(s)</th>
      <td>{{ business.auctionAccessNumbers }}</td>
    </tr>
    <tr>
      <th>Business Name</th>
      <td>{{ business.name }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        {{ business.address }} <br/>
        {{ business.city }}, {{ business.state }} {{ business.zipCode }}
      </td>
    </tr>
  </table>

  <hr ng-show="business.creditQuery.retrieved" />

  <table class="credit-values" ng-show="business.creditQuery.retrieved">
    <thead>
      <tr>
          <th>Credit Type</th>
          <th>Available Credit</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-show="business.creditQuery.error">
        <td class="text-error">{{ business.creditQuery.error }}</td>
    </tr>
    <tr ng-repeat="credit in business.creditQuery.results">
        <td>{{ credit.CreditType }}</td>
        <td>{{ credit.CreditAvailable | currency }}</td>
    </tr>
    </tbody>
  </table>
</section>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-mini" ng-class="{ 'btn-secondary': !business.creditQuery.requested, 'btn-primary': business.creditQuery.requested }" >
    <span ng-show="business.creditQuery.requested">OK</span>
    <span ng-hide="business.creditQuery.requested">Cancel</span>
  </button>
  <button nxg-autofocus ng-click="business.creditQuery.get()"
          class="btn btn-mini btn-primary"
        ng-show="!business.creditQuery.requested">Query</button>
</div>
