<div class="modal-header">
  <h3>Edit Title</h3>
</div>
<div class="modal-body">

  <form name="form">
    <span><strong>VIN</strong> {{ floorplan.UnitVIN }}</span><br/>
    <span>{{ vehicleDescription }}</span>

    <label for="titleNumber" class="input-title">Title Number</label>
    <input id="titleNumber" name="titleNumber" type="text"
          ng-model="inputModel.titleNumber"
          ng-class="{ 'nxg-invalid': validity.titleNumber.$error.required }"
          required>
    <label for="titleNumber" class="text-error"
           ng-show="validity.titleNumber.$error.required">
      Please enter the Title Number
    </label>

    <label for="titleState" class="input-title">Title State</label>
    <select name="titleState" id="titleState" ng-model="inputModel.titleState"
            ng-options="state.StateName for state in states"
            ng-class="{ 'nxg-invalid': validity.titleState.$error.required }"
            required>
      <option class="disabled" disabled="disabled" value="">Make Selection</option>
    </select>
    <label for="titleState" class="text-error"
           ng-show="validity.titleState.$error.required">
      Please select the Title State
    </label>
  </form>

</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn">Cancel</button>
  <button ng-click="submit()" class="btn btn-primary">Update Title</button>
</div>
