<div class="modal-header">
  Confirm Flooring Request
</div>

<div class="modal-close" ng-disabled="submitInProgress" ng-click="close()">
  <span class="glyphicon glyphicon-remove"></span>
</div>

<div class="modal-body row-fluid">
  <p>
    Confirm the vehicle information to send the flooring request to NextGear. <br />Print this screen for your records.
  </p>
  <div class="row-fluid floor-confirmation">
    <div class="detail-col">
      <h4 class="well-head">Vehicle Information</h4>
      <table>
        <tbody>
          <tr>
            <td class="detail-label">VIN</td>
            <td class="detail-value">{{ formData.UnitVin }}</td>
          </tr>
          <tr>
            <td class="detail-label">Make</td>
            <td class="detail-value">
              {{ formData.$selectedVehicle && formData.$selectedVehicle.Make || formData.UnitMake }}
            </td>
          </tr>
          <tr>
            <td class="detail-label">Model</td>
            <td class="detail-value">
              {{ formData.$selectedVehicle && formData.$selectedVehicle.Model || formData.UnitModel }}
            </td>
          </tr>
          <tr>
            <td class="detail-label">Style</td>
            <td class="detail-value">
              {{ formData.$selectedVehicle && formData.$selectedVehicle.Style || formData.UnitStyle }}
            </td>
          </tr>
          <tr>
            <td class="detail-label">Year</td>
            <td class="detail-value">
              {{ formData.$selectedVehicle && formData.$selectedVehicle.Year || formData.UnitYear }}
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- end .detail-col -->

    <div class="detail-col">
      <h4 class="well-head">Flooring Information</h4>
      <table>
        <tbody>
          <tr>
            <td class="detail-label">Purchase Amount</td>
            <td class="detail-value">{{ formData.UnitPurchasePrice | currency }}</td>
          </tr>
          <tr>
            <td class="detail-label">Purchase Date</td>
            <td class="detail-value">{{ formData.UnitPurchaseDate | momentUTC:'M/D/YYYY' }}</td>
          </tr>
          <tr>
            <td class="detail-label">Send Payment To</td>
            <td class="detail-value">{{ formData.PaySeller && 'Seller' || 'Buyer' }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end .detail-col -->
  </div>
</div>

<div class="floorcar-confirm-view-checklist">
  <a href="/MyDSC/documents/DSC%20Vehicle%20Verification%20Checklist.pdf" target="_blank">View Vehicle Verification Checklist</a>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-mini btn-secondary">Cancel</button>
  <button ng-click="confirm()" class="btn btn-mini btn-primary">Submit Flooring Request</button>
</div>
