<div class="modal-header">
  Confirm Flooring Request
</div>

<div class="modal-close" ng-disabled="submitInProgress" ng-click="close()">
  <span class="glyphicon glyphicon-remove"></span>
</div>

<div class="modal-body">
  <p>Confirm the vehicle information to send the flooring request to NextGear. Print this screen for your records.</p>
    <table>
    <thead>Buyer Information</thead>
    <tbody>
      <tr>
        <td>Business Number</td>
        <td>formData.Business.BusinessNumber</td>
      </tr>
      <tr>
        <td>Auction Access Number</td>
        <td>formData.Business.AuctionAccessNumber</td>
      </tr>
      <tr>
        <td>Business Name</td>
        <td>formData.Business.BusinessName</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>formData.Business.Address</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>Vehicle Information</thead>
    <tbody>
      <tr>
        <td>VIN</td>
        <td>formData.VIN</td>
      </tr>
      <tr>
        <td>Make</td>
        <td>formData.Make</td>
      </tr>
      <tr>
        <td>Model</td>
        <td>formData.Model</td>
      </tr>
      <tr>
        <td>Style</td>
        <td>formData.Style</td>
      </tr>
      <tr>
        <td>Year</td>
        <td>formData.Year</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>Flooring Information</thead>
    <tbody>
      <tr>
        <td>Purchase Amount</td>
        <td>formData.PurchaseAmount</td>
      </tr>
      <tr>
        <td>Purchase Date</td>
        <td>formData.PurchaseDate</td>
      </tr>
      <tr>
        <td>Send Payment To</td>
        <td>formData.SendPaymentTo</td>
      </tr>
    </tbody>
  </table>
  <span>View Vehicle Verification Checklist</span>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-mini btn-primary">Return to Form</button>
  <button class="btn btn-primary">Submit Flooring Request</button>
</div>
