<div class="modal-header">
  <h3>Buyer Business Line of Credit Query</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <table>
      <thead>
        <tr>
          <th>Buyer Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Business Number</td>
          <td>{{businessNumber}}</td>
        </tr>
        <tr>
          <td>Auction Access Number</td>
          <td>{{auctionAccessNum}}</td>
        </tr>
        <tr>
          <td>Business Name</td>
          <td>{{businessName}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{businessAddressLn1}}<br>{{businessAddressLn2}}</td>
        </tr>
        <tr>
          <td>Credit Type</td>
          <td>{{creditType}}</td>
        </tr>
        <tr>
          <td>Retail</td>
          <td>{{creditAmount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="close()" class="btn btn-primary" >Cancel</button>
  <button ng-click="creditQuery()" class="btn btn-primary" >Credit Query</button>
</div>
