<h3 class="modal-header" translate>
  Payment Details
</h3>

<div class="modal-body to-edge">
  <ul class="list-table">
    <li class="list-table-row">
      <p class="col-md-6" translate>Receipt No.</p>
      <p class="col-md-6 value">{{ payment.ReceiptNumber }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Payment Made</p>
      <p class="col-md-6 value">{{ payment.PaymentDate | moment }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Effective Date</p>
      <p class="col-md-6 value">{{ payment.EffectiveDate | moment }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Payment Method</p>
      <p class="col-md-6 value">{{ payment.PaymentMethod }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Account</p>
      <p class="col-md-6 value">{{ payment.Account }}</p>
    </li>
  </ul>

  <ul class="list-table aside">
    <li class="list-table-row"></li>
    <li class="list-table-row" ng-repeat="item in payment.PaymentItems">
      <p class="col-md-6">{{ item.ItemName }}</p>
      <p class="col-md-6 value numeric">{{ item.ItemAmount | currency }}</p>
    </li>
    <li class="list-table-hr"></li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Total</p>
      <p class="col-md-6 value numeric">{{ payment.TotalPaymentAmount | currency }}</p>
    </li>
    <li class="list-table-row">
      <p class="col-md-6" translate>Receipt Total</p>
      <p class="col-md-6 value numeric">{{ payment.ReceiptTotal | currency }}</p>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-primary" translate>Close Window</button>
</div>
