<div class="modal-header">
  Payment Details
</div>

<div class="modal-close" ng-click="close()">
  <span class="glyphicon glyphicon-remove"></span>
</div>

<div class="modal-body">
  <table class="table">
    <tr>
      <td class="">Receipt No.</td>
      <td class="">{{ payment.ReceiptNumber }}</td>
    </tr>
    <tr>
      <td class="">Payment Made</td>
      <td class="">{{ payment.PaymentDate | moment }}</td>
    </tr>
    <tr>
      <td class="">Effective Date</td>
      <td class="">{{ payment.EffectiveDate | moment }}</td>
    </tr>
    <tr>
      <td class="">Payment Method</td>
      <td class="">{{ payment.PaymentMethod }}</td>
    </tr>
    <tr>
      <td class="">Account</td>
      <td class="">{{ payment.Account }}</td>
    </tr>
    <tr></tr>
    <tr ng-repeat="item in payment.PaymentItems">
      <td class="">{{ item.ItemName }}</td>
      <td class="">{{ item.ItemAmount | currency }}</td>
    </tr>
    <tr></tr>
    <tr>
      <td class="">Total</td>
      <td class="">{{ payment.TotalPaymentAmount | currency }}</td>
    </tr>
    <tr>
      <td class="">Receipt Total</td>
      <td class="">{{ payment.ReceiptTotal | currency }}</td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn btn-mini btn-secondary">Return to Vehicle Details</button>
</div>
