<h3 class="modal-header">
  Payment Options & Breakdown
</h3>

<div class="modal-body" nxg-autofocus>
  <h3>Payment Options</h3>

  <form class="modal-inner" name="paymentOptionsForm">
    <p class="paragraph">Select a payment from the options below:</p>
    <!-- <div class="form-row"> -->

    <ul class="form-block">
      <li class="cr-inline">
        <input type="radio" ng-model="selector.paymentOption" name="paymentOption" value="payoff" id="paymentOptionPayoff" required />
        <label class="radio-img" for="paymentOptionPayoff"></label>
        <label class="cr-label" for="paymentOptionPayoff">
          <strong>__AMOUNT__</strong> – Payoff this vehicle
        </label>
      </li>
      <li class="cr-inline">
        <input type="radio" ng-model="selector.paymentOption" name="paymentOption" value="curtailment" id="paymentOptionCurtailment" required />
        <label class="radio-img" for="paymentOptionCurtailment"></label>
        <label class="cr-label" for="paymentOptionCurtailment">
          <strong>__AMOUNT__</strong> – Curtailment Payment
        </label>
        <div class="form-row" ng-show="selector.paymentOption == 'curtailment'">
          <div class="input-prepend dollar">
              <span class="add-on">$</span>
              <input type="text" class="input-small" name="increaseAmt" id="increaseAmt" ng-model="selector.amount" ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*(\.[0-9]{1,2})?$/" nxg-min="1" nxg-input-currency="1000000000000" ng-disabled="loading" ng-class="{ 'nxg-invalid':formValidation.increaseAmt.$error.required || formValidation.increaseAmt.$error.pattern || formValidation.increaseAmt.$error.nxgMin || formValidation.increaseAmt.$error.max }" required />
            </div>
        </div>
      </li>
<!--       <li class="cr-inline">
        <input type="radio" ng-model="selector.paymentOption" name="paymentOption" value="interest" id="paymentOptionInterest" required />
        <label class="radio-img" for="paymentOptionInterest"></label>
        <label class="cr-label" for="paymentOptionInterest">
          <strong>__AMOUNT__</strong> – Interest-Only Payment
        </label>
      </li> -->
    </ul>

    <!-- </div> -->
  </form>


</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-secondary" type="button">Cancel Changes</button>
  <button ng-click="confirm()" class="btn-cta cta-primary" type="submit">Confirm Changes</button>
</div>

