<div class="modal-header">
  <h3>Select the Schedule Date</h3>
</div>
<div class="modal-body">
  <section>
    <div class="row">
      <header class="row-fluid">
        <div class="span2 offset1">
          <strong>VIN</strong> {{ payment.vin }}
          <strong>Stock #</strong> {{ payment.stockNum }}
        </div>
        <div class="span4">
          <strong>Description</strong> {{ payment.description }}
        </div>
      </header>
      <span class="row-fluid">
        <span class="span2 offset1">
          <span>
            <strong>Due</strong>
          </span>
          <p>{{ payment.dueDate | moment }}</p>
        </span>
        <span class="span3">
          <span>
            <strong>Payment</strong>
          </span>
          <p>{{ payment.amount }}</p>
        </span>
      </span>
    </div>
  </section>
  <form name="dateForm">
    <label for="inputScheduleDate">Schedule For</label>
    <input id="inputScheduleDate" name="inputScheduleDate"
           nxg-date-field before-show-day="checkDate(date)"
           ng-model="model.selectedDate"
           required nxg-requires="checkDate(model.selectedDate)" />
    <label for="inputScheduleDate" class="text-error"
           ng-show="validity.inputScheduleDate.$error.required">
      Please select a schedule date
    </label>
    <label for="inputScheduleDate" class="text-error"
           ng-show="validity.inputScheduleDate.$error.nxgRequires">
      Please select a valid banking date no earlier than tomorrow and no later than the payment due date
    </label>
  </form>
  <div>
    or <button ng-click="removeSchedule()" class="btn btn-primary" ng-disabled="!model.canPayNow">Pay Now</button>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="commit()" class="btn btn-primary">OK</button>
  <button ng-click="close()" class="btn btn-primary">Cancel</button>
</div>
