<h3 class="modal-header">
  Your Top Auctions
</h3>

<div class="modal-body">
  <p class="paragraph">Your Top Auctions is a list of auctions and dealers that you have purchased at least two vehicles from in the past 12 months. For each auction, a breakdown is given which allows you to analyze which auctions or sellers are providing you with the best value on vehicle purchases.</p>

  <div class="search-results">
    <table class="table table-striped table-secondary">
      <thead>
        <th>Seller</th>
        <th>Purchased</th>
        <th>Avg Purchase Price</th>
        <th>Avg NextGear Capital Book Value</th>
        <th>Savings Per Purchase</th>
      </thead>

      <tr ng-repeat="datum in data">
        <td>{{ datum.SellerName }}</td>
        <td class="numeric">{{ datum.NumVehiclesAnalyzed }}</td>
        <td class="numeric">{{ datum.AvgPurchasePrice | currency }}</td>
        <td class="numeric">{{ datum.AvgBookValue | currency }}</td>
        <td class="numeric">{{ datum.AvgMarginBelowBookValue | currency }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button ng-click="close()" class="btn-cta cta-primary" nxg-autofocus>Close Window</button>
</div>
