<h3 class="modal-header" translate>
  Updating Financial Account
</h3>

<div class="modal-body to-edge" nxg-autofocus>
  <form class="modal-inner" name="paymentOptionsForm">
    <h3 translate>Financial Account</h3>

    <p class="paragraph"><span translate>Please update your financial account below:</span></p>

    <form name="updateFinancialAccount">
      <div class="row">
        <div class="col-xs-12 cr-inline">
          <input type="checkbox" name="financialAccountActive" id="financialAccountActive"
                 ng-model="account.IsActive" required/>
          <label class="checkbox-img" for="financialAccountActive"></label>
          <label class="cr-label" for="financialAccountActive">
            <strong translate>Active</strong>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="accountName" translate>Account Name</label>
          <input type="text" id="accountName" class="input-full" ng-model="account.BankAccountName"
                 ng-class="{ 'nxg-invalid': validity.$error.pattern }">
          <label for="accountName" class="text-error" ng-show="validity.$error.pattern" translate>
            Account name must only have letters and spaces.
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="bankName" translate>Bank Name</label>
          <input type="text" id="bankName" class="input-full" ng-model="account.AchBankName"
                 ng-pattern="/^[A-Za-z ]*$/" ng-class="{ 'nxg-invalid': validity.$error.pattern }">
          <label for="bankName" class="text-error" ng-show="validity.$error.pattern" translate>
            Bank name must only have letters and spaces.
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
            <label for="routingNumber" translate>Routing Number</label>
            <input type="text" id="routingNumber" class="input-full" ng-model="account.AchAbaNumber"
                   value="1234567890" disabled="disabled" ng-class="{ 'nxg-invalid': validity.$error.pattern }">
            <label for="routingNumber" class="text-error" ng-show="validity.$error.pattern" translate>
              Routing number must only have numbers.
            </label>
        </div>
        <div class="col-xs-6">
          <label for="accountNumber" translate>Account Number</label>
          <input type="text" id="accountNumber" class="input-full" ng-model="account.AchAccountNumberLast4"
                 value="******7890" disabled="disabled" ng-class="{ 'nxg-invalid': validity.$error.pattern }">
          <label for="accountNumber" class="text-error" ng-show="validity.$error.pattern" translate>
            Account number must only have numbers.
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 cr-inline">
          <input type="checkbox" name="defaultForDisbursement" id="defaultForDisbursement"
                 ng-model="defaultForDisbursement" required/>
          <label class="checkbox-img" for="defaultForDisbursement"></label>
          <label class="cr-label" for="defaultForDisbursement">
            <strong translate>Default for disbursement</strong>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 cr-inline">
          <input type="checkbox" name="defaultForPayment" id="defaultForPayment"
                 ng-model="defaultForBilling" required/>
          <label class="checkbox-img" for="defaultForPayment"></label>
          <label class="cr-label" for="defaultForPayment">
            <strong translate>Default for payment</strong>
          </label>
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button type="button" ng-disabled="loading" ng-click="close()" class="btn-cta cta-secondary" translate>
        Cancel Changes
      </button>
      <button type="submit" ng-disabled="loading" ng-click="confirmRequest()" class="btn-cta cta-primary" translate>
        Save Changes
      </button>
    </div>


