<div class="nxg-alt-addr clearfix" ng-show="canChangeTitleAddress() && addrLoaded">
  <button ng-disabled="ngDisabled" ng-hide="showSelectMenu" class="btn-unstyle btn-link alt-addr-link" ng-click="onClickAddress()" translate>Send Title to a Different Address?</button>
  <div class="style-select" ng-show="showSelectMenu">
    <select ng-disabled="ngDisabled"
    ng-model="selectedAddress"
    ng-options="(addr | address) for addr in addrList"
    ng-class="{ wide: !showTooltip }"></select>
  </div>
  <button ng-show="showTooltip && showSelectMenu"
   class="btn-help"
   type="button"
   tooltip-placement="right"
   tooltip-trigger="click"
   tooltip-popup-delay="300"
   tooltip="{{ 'You may select an already approved address on file with NextGear.' | translate }}"
   tooltip-animation="true"><span nxg-icon="icon-help"></span></button>
</div>
