body.lang_es {

  /* Floor Plan */
  #FloorplanPage {
    .search-form {
      .form-block {
        .range-end {
          width: 125px;
        }
      }
    }
  }

  /* Details */
  #VehicleDetailsPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;

        .well-sub-title, a {
          font-size: 13px;
          margin-top: 2px;
        }
      }

    }
  }


  /* Analytics */
  #AnalyticsPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;
      }

    }

    .movers-container {
      .btn-toggle {
        width: 400px;
      }
    }
  }
}