body.lang_es {

  /* Floor Plan */
  #FloorplanPage {
    .search-form {
      .form-block {
        .range-end {
          width: 125px;
        }
      }
    }
  }

  /* Details */
  #VehicleDetailsPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;

        .well-sub-title, a {
          font-size: 13px;
          margin-top: 2px;
        }
      }

    }

    .btn-save-changes {
      width: 120px;
    }
  }


  /* Analytics */
  #AnalyticsPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;
      }

    }

    .movers-container {
      .btn-toggle {
        width: 400px;
      }
    }
  }


  /* Title Releases */
  #TitleReleasesPage {

    .filter-options {
      .span5 {
        width: 31%;
      }
      .span7 {
        width: 66%;
      }
      .range-end {
        width: 125px;
      }
    }

  }


  /* Payments */
  #PaymentsPage {
    @media (max-width: 1150px) {

      .well-title {
        font-size: 16px;

        .well-sub-title, a {
          font-size: 12px;
          margin-top: 4px;
        }
        button {
          font-size: 14px;
          margin-top: 6px;
        }
      }

    }

    .filter-options {
      .span5 {
        width: 120px;
        margin-top: -14px;
      }
      .span7 {
        width: 232px;
      }

      .range-end {
        width: 125px;
      }
    }

    @media (min-width: 1170px) {
      .filter-options {
        .span5 {
          width: 180px;
          margin-top: 0;
        }
      }
    }
  }

  /* Checkout */
  #CheckoutPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;
      }

    }
  }


  #ReceiptsPage {
    .filter-options {
      .span5 {
        width: 120px;
        margin-top: -14px;
      }
      .span7 {
        width: 232px;
      }

      .range-end {
        width: 125px;
      }
    }

    @media (min-width: 1120px) {
      .filter-options {
        .span5 {
          width: 160px;
          margin-top: 0;
        }
      }
    }
  }


  #ReportsPage {
    .form-row.range {
      .range-end {
        width: 125px;
      }
    }
  }


  #AuctionDashboardPage {
    @media (max-width: 1090px) {

      .counter-list .counter {
        margin-left: 0;
      }

    }
  }

  #AuctionFloorplanPage {
    .range {
      .range-end {
        width: 125px;
      }
    }
  }

  /* Auction Nav */
  .app-header.auctions {
    .nav-bkgd {
      height: 62px;
    }
    .nav-primary li {
      max-width: 20%;
      text-align: center;

      &.link_auction_bulkflooring {
        width: 160px;
      }

      &.link_auction_dealersearch {
        width: 150px;
      }
    }
  }


  #ProfileSettingsPage, #AccountManagementPage, #AuctionSettingsPage {
    @media (max-width: 1090px) {

      .well-title {
        font-size: 16px;

        .well-sub-title, a {
          font-size: 13px;
          margin-top: 2px;
        }
        button {
          font-size: 12px;
          margin-top: 6px;
        }
      }

    }
  }


  #ValueLookupPage {
    .btn-toggle {
      width: 300px;
    }

    .lookup-options {
      .well-title {
        height: 60px;
      }
    }
  }
}