<div class="well">
  <h2 class="well-title">
    {{ title }}
    <button id="clearSearch" class="btn-unstyle right clear-search" ng-click="clear($event)" nxg-track="{{metricClearSearch}}"><strong translate>Clear Search</strong></button>
  </h2>

  <form name="searchForm" class="row-fluid search" novalidate>
      <div class="col-md-5 form-block">
        <label for="keyword" translate>
          Find a Floor Plan
        </label>

        <div class="form-row">
          <div class="styled-input with-btn">
            <input type="text" id="keyword" name="keyword" placeholder="{{ prompt }}" ng-model="activeCriteria.query"/>
            <button id="floorPlanSearch" class="btn btn-input" type="submit" ng-click="search()" nxg-track="{{metricSearch}}">
              <span nxg-icon="icon-search"></span>
            </button>
          </div>
        </div>
      </div>

      <div ng-show="filterable" class="form-block">
        <div class="row form-row filter-options">
          <div class="col-md-5">
            <label for="filterSelect">{{ filterLabel }}</label>
            <div class="style-select auto">
              <select id="filterSelect" name="filterSelect"
                      nxg-track="{{metricFilterByInput}}"
                      ng-change="search()"
                      ng-model="activeCriteria.filter"
                      ng-options="o.value as o.label for o in filterOptions"></select>
            </div>
          </div>

          <div class="col-md-7" ng-show="dateRangeShown">
            <div class="row range leftMargin">
              <div class="range-start">
                <label for="startDate"><span translate>Start Date</span><span ng-show="showHelpText"> *</span></label>
                <input type="text" id="startDate" name="startDate"
                      ng-model="activeCriteria.startDate"
                      nxg-track="{{metricFilterFromDate}}"
                      nxg-date-field
                      ng-class="{ 'nxg-invalid': validity.$error.invalidDateRange }">
              </div>

              <div class="range-end">
                <label for="endDate" translate>End Date</label>
                <input type="text" id="endDate" name="endDate"
                      ng-model="activeCriteria.endDate"
                      nxg-track="{{metricFilterToDate}}"
                      nxg-date-field
                      ng-class="{ 'nxg-invalid': validity.$error.invalidDateRange }">
              </div>
            </div>
            <label for="endDate" class="text-error" ng-show="validity.$error.invalidDateRange" translate>Invalid date range</label>
          </div>

          <div ng-show="!dateRangeShown && showInventoryLocation && inventoryLocations.length > 2" class="col-md-7">
          <label for="invLocSelect" translate>Filter by Inventory Location</label>

          <div class="style-select input-large">
            <select id="invLocSelect" name="invLocSelect"
              ng-change="search()"
              nxg-track="{{metricFilterByInventoryLocation}}"
              ng-model="activeCriteria.inventoryLocation"
              ng-options="i.value as i.label for i in inventoryLocations"></select>
          </div>
        </div>
        </div>

        <div ng-show="dateRangeShown && showInventoryLocation && inventoryLocations.length > 2">
          <label for="invLocSelect" translate>Filter by Inventory Location</label>

          <div class="style-select input-large">
            <select id="invLocSelect" name="invLocSelect"
              ng-change="search()"
              nxg-track="{{metricFilterByInventoryLocation}}"
              ng-model="activeCriteria.inventoryLocation"
              ng-options="i.value as i.label for i in inventoryLocations"></select>
          </div>
        </div>
        <p class="tip form-tip" ng-show="showHelpText">* {{ helpText }}</p>
        <p class="tip info" ng-show="info">{{ info }}</p>
      </div>
  </form>
</div>
