<div class="container-line">
  <div class="container-fluid settings account">
    <div class="row-fluid">

      <section class="span6">
        <!-- BUSINESS SETTINGS -->
        <section class="well" novalidate>
          <h2 class="well-title">
            Business Settings
            <button ng-hide="business.editable" class="btn cta-secondary" ng-click="business.edit()"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
            <button ng-show="business.editable" class="btn cta-secondary" ng-click="business.cancel()">Cancel</button>
            <button ng-show="business.editable" class="btn cta-secondary" ng-click="business.save()">Save</button>
          </h2>
          <form class="settings-opts well-item" ng-class="{ editable:business.editable }" name="busSettings">
            <div class="control-group">
              <label class="control-label business" for="businessEmail">Business Email</label>
              <div class="controls" nxg-input model="business.data.email" editable="business.editable">
                <input type="email" name="businessEmail" ng-model="business.dirtyData.email" value="business.dirtyData.email" ng-maxlength="100" ng-class="{ 'nxg-invalid': business.validation.businessEmail.$invalid }" required />
                <div class="text-error" ng-show="business.validation.businessEmail.$invalid">
                    Please enter a valid email address.
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label business" for="enhanced">Enhanced Registration Enabled?</label>


              <div class="" ng-show="business.data.enhancedRegistrationEnabled && !business.editable"> Yes </div>
              <!-- check if equal to false so "No" doesn't appear until the API call finishes -->
              <div class="" ng-show="business.data.enhancedRegistrationEnabled == false && !business.editable"> No </div>

              <div class="cr-inline" ng-show="business.editable">
                <input type="radio" id="enhancedNo" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='false' ng-click="business.confirmDisableEnhanced()"/>
                <label class="radio-img" for="enhancedNo"></label>
                <label class="cr-label" for="enhancedNo">No</label>

                <input type="radio" id="enhancedYes" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='true' />
                <label class="radio-img" for="enhancedYes"></label>
                <label class="cr-label" for="enhancedYes">Yes</label>
              </div>
            </div>

            <div class="control-group" ng-show="business.editable">
              <div class="pushed">
                <p>Enhanced Registration will result in all account access being restricted to users with a PIN.</p>
                <p>All guarantors will be asked to set up their PIN when logging in to MyNextGear.</p>
                <p>Create your Enhanced Registration four digit PIN.</p>
              </div>

              <label class="control-label business">Enhanced Registration PIN</label>

              <div class="controls">
                <input type="text"
                       name="pin"
                       ng-model="business.dirtyData.enhancedRegistrationPin"
                       ng-disabled="!business.dirtyData.enhancedRegistrationEnabled"
                       ng-pattern="/^\d{4}$/"
                       ng-required="business.dirtyData.enhancedRegistrationEnabled"
                       ng-class="{ 'nxg-invalid': business.validation.pin.$invalid }" />
                <p class="text-error" ng-show="business.validation.pin.$invalid">
                    Your PIN must consist of four numbers, no letters or special characters.
                </p>
              </div>
            </div>
          </form>
        </section><!-- end .well.adjacent -->

        <!-- TITLE SETTINGS -->
        <section class="well">
          <h2 class="well-title">
            Title Settings
            <button ng-show="!title.editable && title.data.addressCount > 1" class="btn cta-secondary" ng-click="title.edit()"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
            <button ng-show="title.editable" class="btn cta-secondary" ng-click="title.cancel()">Cancel</button>
            <button ng-show="title.editable" class="btn cta-secondary" ng-click="title.save()">Save</button>
          </h2>
          <form class="settings-opts title-settings well-item" ng-class="{ editable:title.editable }" name="titleSettings">
            <div class="control-group">
              <label class="control-label" for="titleAddr">Default Address:</label>
              <div class="controls" ng-show="title.editable">
                <div class="style-select">
                  <select ng-model="title.dirtyData.titleAddress"
                          ng-options="addr | address:'oneLineSelect' for addr in title.data.addresses"
                          tooltip="{{ addr | address:'oneLine' }}"
                          tooltip-placement="right"
                          tooltip-popup-delay="700">
                  </select>
                </div>
                <button class="btn-help"
                  tooltip-placement="right"
                  tooltip-trigger="focus"
                  tooltip-html="true"
                  tooltip-html-unsafe="To update or add a Title Settings address, please contact NextGear Capital at: {{customerSupportPhone}}."
                  tooltip-animation="true">?</button>
              </div>

              <!-- Saved Address -->
              <div class="controls static clearfix" ng-hide="title.editable">
                  <div nxg-address="title.data.titleAddress"></div>
                  <button class="btn-help" ng-show="title.data.addresses.length == 0"
                    tooltip-placement="right"
                    tooltip-trigger="focus"
                    tooltip-html="true"
                    tooltip-html-unsafe="To update or add a Title Settings address, please contact NextGear Capital at: {{customerSupportPhone}}"
                    tooltip-animation="true">?</button>
              </div>
              <!-- Current Address Selection-->
              <div class="controls static pushed" ng-show="title.editable">
                <div nxg-address="title.dirtyData.titleAddress"></div>
              </div>
            </div>

            <div class="control-group" ng-show="title.data.addresses && title.data.addresses.length > 0 && !title.editable">
              <label class="control-label">Additional Addresses:</label>
              <div class="controls static" ng-hide="title.editable">
                <ul>
                  <li class="alt-addr" ng-repeat="addr in title.data.addresses | limitTo: 3">
                    <div nxg-address="addr"></div
                  </li>
                  <li ng-show="title.data.extraAddresses">And {{ title.data.extraAddresses }} additional addresses...</li>
                </ul>
              </div>
            </div>
          </form>
        </section>
      </section>

      <section class="span6">
        <!-- FINANCIAL ACCOUNTS -->
        <section class="well">
          <h2 class="well-title">Financial Accounts</h2>

          <form class="settings-opts well-item" name="financialSettings" novalidate>
            <div class="control-group">
              <label class="control-label" for="setBankAcct">Bank Account(s):</label>
              <div class="controls static">
                <ul>
                  <li ng-repeat="acct in financial.data.bankAccounts">{{ acct.BankAccountName }}</li>
                </ul>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Available Credit:</label>
              <div class="controls static">{{ financial.data.availableCredit | currency }}</div>
            </div>

            <div class="control-group">
              <label class="control-label">Reserve Funds:</label>
              <div class="controls static">{{ financial.data.reserveFunds || 0 | currency }}</div>
            </div>

            <div class="control-group">
              <label class="control-label">Last Payment:</label>
              <div class="controls static">{{ financial.data.lastPayment.amount | currency }}</div>
            </div>

            <div class="control-group">
              <label class="control-label">Last Payment Date:</label>
              <div class="controls static">{{ financial.data.lastPayment.date | moment }}</div>
            </div>

            <div class="control-group">
              <label class="control-label">Unapplied Funds:</label>
              <div class="controls static">{{ financial.data.unappliedFunds | currency }}</div>
            </div>

            <div class="control-group">
              <label class="control-label">Total Available:</label>
              <div class="controls static">{{ financial.data.totalAvailable | currency }}</div>
            </div>

            <div ng-show="financial.data.autoDisburseUnappliedFunds" class="control-group">
              <label class="control-label">Auto-Disburse Unapplied Funds:</label>
              <div class="controls static">{{ { true: 'Enabled', false: 'Disabled' }[financial.data.autoDisburseUnappliedFunds] }}</div>
            </div>
          </form>
        </section>

        <!-- SELF-SERVICE LINKS -->
        <section class="well self-service">
          <h2 class="well-title">Self-Service Links</h2>

          <div class="well-item row-fluid">

            <!-- CREDIT INCREASE -->
            <div class="span6">
              <p><a href="javascript:void(0)" ng-click="onRequestCredIncr()">Request a Credit Increase</a><br/>
              Initiate your request for a permanent or temporary increase to your current line of credit.</p>
            </div>

            <!-- GO FINANCIAL -->
            <div class="span6">
                <p><a href="https://www.gofinancial.com/Dealer" target="_blank">Login to GO Financial</a><br/>
                    Access your GO Financial account directly from here.</p>
            </div>
          </div>
        </section>
      </section>

    </div>
  </div><!-- end .container-fluid -->
</div><!-- end .container-line -->
