<div class="row" id="FinancialAccounts">
  <section class="col-md-12 well settings-well financial-table">
    <h2 class="well-title no-bottom-border">
      <span translate>Financial Accounts</span>
      <div class="well-subtitle well-subtitle-edit pull-right" ng-show="addBankAccountEnabled">
        <button class="btn-unstyle heavy" ng-click="financial.addFinancialAccount()" translate>Add Account</button>
      </div>
    </h2>
    <div ng-repeat="account in financial.data.bankAccounts | orderBy:'IsActive':true" class="">
      <nxg-financial-account account="account" disbursement-account="financial.data.disbursementAccount"
                             billing-account="financial.data.billingAccount"
                             update-billing-account="updateBillingAccount(billingAccountId)"
                             update-disbursement-account="updateDisbursementAccount(disbursementAccountId)"
                             is-stakeholder-active="business.data.isStakeholderActive">
      </nxg-financial-account>
    </div>
  </section>
</div>

<div class="row">
  <!-- BUSINESS SETTINGS -->
  <section class="col-xs-6 well settings-well" novalidate>
    <h2 class="well-title">
      <span translate>Business Settings</span>
      <div class="well-sub-title well-sub-title-edit">
        <button ng-hide="business.editable" class="btn-unstyle" ng-click="business.edit()" translate>Edit Settings</button>
        <button ng-show="business.editable" class="btn-unstyle" ng-click="business.save()" translate>Save Settings</button>
        <button ng-show="business.editable" class="btn-unstyle cancel" ng-click="business.cancel()" translate>Cancel</button>
      </div>
    </h2>

    <div class="well-item">
      <form class="form-block" ng-class="{ editable:business.editable }" name="busSettings">
        <div class="row">
          <label class="col-xs-5" for="businessEmail"><span translate>Business Email</span>:</label>
          <div class="col-xs-7" nxg-input model="business.data.email" editable="business.editable">
            <input type="email" class="xsmallInput" id="businessEmail" name="businessEmail" ng-model="business.dirtyData.email"
                   value="business.dirtyData.email" ng-maxlength="100"
                   ng-class="{ 'nxg-invalid': business.validation.businessEmail.$invalid }" required/>
            <label class="text-error" ng-show="business.validation.businessEmail.$invalid" translate>
              Please enter a valid email address.
            </label>
          </div>
        </div>

        <div class="row">
          <label class="col-xs-5" for="enhanced"><span translate>Enhanced Registration Enabled</span>:</label>
          <!--From develop: <label class="span5" for="enhanced"><span translate>Enhanced Registration Enabled</span>:</label>-->
          <div class="col-xs-7">
            <div class="row">
              <div class="col-xs-6">
                <div class="static" ng-show="business.data.enhancedRegistrationEnabled && !business.editable" translate> Yes </div>
                <!-- check if equal to false so "No" doesn't appear until the API call finishes -->
                <div class="static" ng-show="business.data.enhancedRegistrationEnabled == false && !business.editable" translate> No </div>

                <div class="cr-inline" ng-show="business.editable">
                  <input type="radio" id="enhancedNo" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='false' ng-click="business.confirmDisableEnhanced()"/>
                  <label class="radio-img" for="enhancedNo"></label>
                  <label class="cr-label" for="enhancedNo" translate>No</label>

                  <input type="radio" id="enhancedYes" name="enhanced" ng-model="business.dirtyData.enhancedRegistrationEnabled" ng-value='true' />
                  <label class="radio-img" for="enhancedYes"></label>
                  <label class="cr-label" for="enhancedYes" translate>Yes</label>
                </div>
              </div>
              <div class="col-xs-6">
                <button class="btn-help btn-help-adjust"
                        tooltip-placement="left"
                        tooltip-trigger="focus"
                        tooltip-html="true"
                        tooltip-html-unsafe="{{ 'Enhanced Registration will result in all account access being restricted to users with a PIN.' | translate }}"
                        tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="business.editable && business.dirtyData.enhancedRegistrationEnabled">
          <div class="row">
            <div class="col-md-7 col-md-offset-5">
              <p class="paragraph" translate>Create your Enhanced Registration four digit PIN.</p>
            </div>
          </div>

          <div ng-show="business.editable">
            <div class="row">
              <label class="col-md-1 col-md-offset-5"><span translate>PIN</span>:</label>

              <div class="col-md-1">
                <input type="text"
                       name="pin"
                       id="pin"
                       maxlength="4"
                       size="4"
                       class="size-fixed"
                       ng-model="business.dirtyData.enhancedRegistrationPin"
                       ng-disabled="!business.dirtyData.enhancedRegistrationEnabled"
                       ng-pattern="/^\d{4}$/"
                       ng-required="business.dirtyData.enhancedRegistrationEnabled"
                       ng-class="{ 'nxg-invalid': business.validation.pin.$invalid }"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-5">
                <label for="pin" class="text-error" ng-show="business.validation.pin.$invalid" translate>
                  Your PIN must consist of four numbers, no letters or special characters.
                </label>
              </div>
            </div>
          </div>

        </div>

        <div class="row" ng-show="business.autoPay.isDisplayed()">

          <label class="col-md-5" for="autoPay"><span translate>Enrolled in ProperNounTBD</span>:</label>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6">
                <div class="static" ng-show="business.data.autoPayEnabled && !business.autoPay.isEditable()" translate> Yes </div>
                <!-- check if equal to false so "No" doesn't appear until the API call finishes -->
                <div class="static" ng-show="business.data.autoPayEnabled == false && !business.autoPay.isEditable()"
                     translate>
                  No
                </div>

                <div class="cr-inline" ng-show="business.autoPay.isEditable()">
                  <input type="radio" id="autoPayNo" name="autoPay" ng-model="business.dirtyData.autoPayEnabled" ng-value='false' ng-click="business.autoPay.confirmDisable()"/>
                  <label class="radio-img" for="autoPayNo"></label>
                  <label class="cr-label" for="autoPayNo" translate>No</label>

                  <input type="radio" id="autoPayYes" name="autoPay" ng-model="business.dirtyData.autoPayEnabled" ng-value='true' ng-click="business.autoPay.confirmEnable()"/>
                  <label class="radio-img" for="autoPayYes"></label>
                  <label class="cr-label" for="autoPayYes" translate>Yes</label>
                </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- TITLE SETTINGS -->
  <section class="col-xs-6 well settings-well">
    <h2 class="well-title">
      <span translate>Title Settings</span>
      <div class="well-sub-title well-sub-title-edit">
        <button ng-show="!title.editable && title.data.addressCount > 1" class="btn-unstyle" ng-click="title.edit()" translate>Edit Settings</button>
        <button ng-show="title.editable" class="btn-unstyle" ng-click="title.save()" translate>Save Settings</button>
        <button ng-show="title.editable" class="btn-unstyle cancel" ng-click="title.cancel()" translate>Cancel</button>
      </div>
    </h2>

    <div class="well-item">
      <form class="form-block" ng-class="{ editable:title.editable }" name="titleSettings">
        <div class="row">
          <label class="col-xs-5" for="titleAddr"><span translate>Default Address</span>:</label>

          <div class="col-xs-7">
            <div class="row" ng-show="title.editable">
              <div class="col-xs-10">
                <div class="style-select">
                  <select id="titleAddr" ng-model="title.dirtyData.titleAddress"
                          ng-options="addr | address:'oneLineSelect' for addr in title.data.addresses"
                          tooltip="{{ addr | address:'oneLine' }}"
                          tooltip-placement="right"
                          tooltip-popup-delay="700">
                  </select>
                </div>
              </div>
              <div class="col-xs-2">
                <button class="btn-help btn-help-adjust"
                        tooltip-placement="left"
                        tooltip-trigger="focus"
                        tooltip-html="true"
                        tooltip-html-unsafe="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                        tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </button>
              </div>
            </div>

            <!-- Saved Address -->
            <div class="row static" ng-hide="title.editable">
              <div class="col-xs-6">
                <div nxg-address="title.data.titleAddress"></div>
              </div>
              <div class="col-xs-6">
                <button class="btn-help"
                        tooltip-placement="left"
                        tooltip-trigger="focus"
                        tooltip-html="true"
                        tooltip-html-unsafe="{{ 'To update or add a Title Settings address, please contact NextGear Capital at:' | translate }} {{ customerSupportPhone }}"
                        tooltip-animation="true">
                  <span nxg-icon="icon-help"></span>
                </button>
              </div>
            </div>

            <!-- Current Address Selection-->
            <div class="static" ng-show="title.editable">
              <div nxg-address="title.dirtyData.titleAddress"></div>
            </div>
          </div>
        </div>

        <div class="row" ng-show="title.data.addresses && title.data.addresses.length > 0 && !title.editable">
          <label class="col-xs-5"><span translate>Additional Addresses</span>:</label>

          <div class="col-xs-7 static" ng-hide="title.editable">
            <ul class="zeroLeftPadding">
              <li class="alt-addr" ng-repeat="addr in title.data.addresses | limitTo: 3">
                <div nxg-address="addr"></div>
              </li>
              <li ng-show="title.data.extraAddresses" translate>
                And {{ title.data.extraAddresses }} additional addresses...
              </li>
            </ul>
            <p ng-show="title.data.addresses.length == 0" translate>
              None
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<div class="row topMargin">
  <!-- ACCOUNT INFORMATION (previously FINANCIAL ACCOUNTS) -->
  <section class="col-xs-6 well settings-well">
    <h2 class="well-title" translate>NextGear Account Information</h2>

    <div class="well-item">
      <form class="form-block" name="financialSettings" novalidate>
        <div class="row">
          <label class="col-xs-5"><span translate>Available Credit</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.availableCredit | currency }}</div>
        </div>

        <div class="row">
          <label class="col-xs-5"><span translate>Reserve Funds</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.reserveFunds || 0 | currency }}</div>
        </div>

        <div class="row">
          <label class="col-xs-5"><span translate>Last Payment</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.lastPayment.amount | currency }}</div>
        </div>

        <div class="row">
          <label class="col-xs-5"><span translate>Last Payment Date</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.lastPayment.date | moment }}</div>
        </div>

        <div class="row">
          <label class="col-xs-5"><span translate>Unapplied Funds</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.unappliedFunds | currency }}</div>
        </div>

        <div class="row">
          <label class="col-xs-5"><span translate>Total Available</span>:</label>

          <div class="col-xs-7 static">{{ financial.data.totalAvailable | currency }}</div>
        </div>

        <div ng-show="financial.data.autoDisburseUnappliedFunds" class="row">
          <label class="col-xs-5"><span translate>Auto-Disburse Unapplied Funds</span>:</label>

          <div class="col-xs-7 static">
            <span ng-show="financial.data.autoDisburseUnappliedFunds" translate>Enabled</span>
            <span ng-show="!financial.data.autoDisburseUnappliedFunds" translate>Disabled</span>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- SELF-SERVICE LINKS -->
  <section class="col-xs-6 well settings-well topMargin">
    <h2 class="well-title" translate>Self-Service Links</h2>

    <div class="well-item">
      <div class="row form-block">
        <!-- CREDIT INCREASE -->
        <div class="col-xs-6 static">
          <p><a href="javascript:void(0)" ng-click="onRequestCredIncr()" translate>Request a Credit Increase</a><br/>
            <span
                translate>Initiate your request for a permanent or temporary increase to your current line of credit.</span>
          </p>
        </div>

        <!-- GO FINANCIAL -->
        <div class="col-xs-6 static" ng-show="isUnitedStates">
          <p>
            <a href="https://www.gofinancial.com/Dealer" target="_blank" translate>Login to GO Financial</a><br/>
            <span translate>Access your GO Financial account directly from here.</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
