<div class="container-line">
  <div class="container-fluid nxg-analytics">
    <section class="row-fluid business-summary {{ showDetails && 'expanded' || 'collapsed'}}">
      <div class="span6 adjacent well">
        <h4>Business Summary</h4>
        <ul class="well-out">
          <h5>Approved Floor Plans</h5>
          <span class="item-total">
          {{ businessSummary.ApprovedFloorplans }}
          </span>
          Approved

          <table>
            <tr>
              <td>
                Total NextGear Capital Book Value
              </td>
              <td>
                {{ businessSummary.TotalApprovedBlackBookValue | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total Financed Amount
              </td>
              <td>
                {{ businessSummary.TotalApprovedFinancedAmount| currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total Outstanding
              </td>
              <td>
                {{ businessSummary.TotalOutstandingPrincipal | currency }}
              </td>
            </tr>
            <tr ng-show="showDetails">
              <td>
                Average Purchase Price:
              </td>
              <td>
                {{ businessSummary.AveragePurchasePrice | currency }}
              </td>
            </tr>
            <tr ng-show="showDetails">
              <td>
                Total Purchase Price:
              </td>
              <td>
                {{ businessSummary.TotalApprovedPurchasePrice | currency }}
              </td>
            </tr>
          </table>

          <li ng-show="showDetails" class="small">
            NextGear Capital Book is {{ businessSummary.DerivedCapitalBook | number:2 }}% of the Purchase Price
          </li>
          <li ng-show="showDetails" class="small">
            Amount Outstanding is {{ businessSummary.DerivedAmountOutstanding | number:2 }}% of the NextGear Capital Book
          </li>
          <!-- end conditional <li>s -->
          <li>
            <button ng-click="toggleDetails()" class="details-toggle-btn">
              <!-- activates above conditional <li>
              s --> <i class="glyphicon glyphicon-chevron-{{ showDetails && 'up' || 'down'}}"></i>
              {{ showDetails && 'Close' || 'Show'}} Details
            </button>
          </li>
        </ul>

      </div>
      <div class="span6 adjacent well">
        <h4>&nbsp;</h4>
        <ul class="well-out">
          <h5>Pending Floor Plans</h5>
          <span class="item-total">
            {{ businessSummary.PendingFloorplans }}
          </span>
          Pending

          <table>
            <tr>
              <td>
                Total Purchase Price:
              </td>
              <td>
                {{ businessSummary.TotalPendingPurchasePrice | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total NextGear Capital Book Value:
              </td>
              <td>
                {{ businessSummary.TotalPendingBlackBookPrice | currency }}
              </td>
            </tr>
          </table>

          <!-- should show conditionally on-click of "Show Details" bar. -->
          <li ng-show="showDetails" class="small">
            NextGear Capital Book is {{ businessSummary.DerivedPendingBook | number:2 }}% of the Purchase Price.
          </li>
          <!-- end conditional <li>s --></ul>
      </div>
      <div class="span4 adjacent well">
        <h4>&nbsp;</h4>
        <ul class="well-out">
          <h5>Credits and Payments</h5>

          <table>
            <tr>
              <td>
                Available Credit:
              </td>
              <td>
                {{ businessSummary.TotalAvailableCredit | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Reserve Funds:
              </td>
              <td>
                {{ businessSummary.ReserveFundsBalance | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Last Payment:
              </td>
              <td>
                {{ businessSummary.LastPaymentAmount | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Last Payment Date:
              </td>
              <td>
                {{ businessSummary.LastPaymentDate | moment }}
              </td>
            </tr>
          </table>
        </ul>
      </div>

    </section>


    <section class="row-fluid">
      <div class="span9 well average-turn-chart">
        <h4>Average Turn</h4>
        <div class="well-out">
          <p>Average # of Days to Turn</p>
          <canvas width="680"
                  height="300"
                  nxg-chart
                  nxg-chart-type="Line"
                  nxg-chart-data="analytics.averageTurn"
                  nxg-chart-options="{ pointDot: false, datasetStrokeWidth: 4, bezierCurve: false }"></canvas>
        </div>
      </div>
      <div class="span3 well aging-vehicles">
        <h4>Stale & Aging Vehicles</h4>
        <ul class="well-out">
          <li>
            <span class="item-total overdue">{{ analytics.aging[4] }}</span>
            <strong>100+</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[3] }}</span>
            <strong>75-99</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[2] }}</span>
            <strong>50-74</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[1] }}</span>
            <strong>25-49</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[0] }}</span>
            <strong>1-24</strong>
            Days</li>
        </ul>
      </div>
    </section>

    <section class="row-fluid">

      <div class="span8 adjacent movers-container well">
          <h4>Best and Worst Movers by Zipcode</h4>
          <div class="well-out">
            <div class="nxg-fancy-radios">

              <input type="radio" class="first" name="movers" id="best-movers"
                     ng-value="bestMovers" ng-model="selectedMoverChart" placeholder="Ten Best Movers">
              <label for="best-movers" id="best-movers-label"></label>

              <input type="radio" class="last" name="movers" id="worst-movers"
                     ng-value="worstMovers" ng-model="selectedMoverChart" placeholder="Ten Worst Movers">
              <label for="worst-movers" id="worst-movers-label"></label>
            </div>

            <table class="movers-list">
              <tr ng-repeat="model in selectedMoverChart.labels">
                <td class="rank">
                  {{ $index + 1 }}
                </td>
                <td class="models">
                  <div>
                    <span>({{ model.year }})</span>
                    <span>{{ model.make }}</span>
                  </div>
                  <div>{{ model.model }}</div>
                </td>
              </tr>
            </table>

            <div class="movers-chart">
              <div>
                <div class="chart-obj"
                     nxg-chart
                     nxg-chart-type="bar"
                     nxg-chart-data-name="Days to Turn"
                     nxg-chart-description-x="Avg. # of Days to Turn"
                     nxg-chart-data="selectedMoverChart.data"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="span8 adjacent well top-auctions-container">

          <h4>Your Top 10 Auctions</h4>
          <div class="well-out">

            <p>Number of Cars Purchased Per-Auction (in the last 12 months)</p>

            <a href class="btn btn-mini" ng-click="openTopAuctions()"> <i class="glyphicon glyphicon-eye-open"></i>
              View All Auctions
            </a>
            <div class="auctions-chart">
              <div class="chart-obj"
                   nxg-chart
                   nxg-chart-type="bar"
                   nxg-chart-data-name="# Purchased"
                   nxg-chart-description-x="# of Cars Purchased"
                   nxg-chart-data="analytics.top10Auctions"
                   nxg-chart-labels="true">
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
