<div class="container-line">
  <div class="container-fluid nxg-analytics">
    <section class="row-fluid business-summary {{ showDetails && 'expanded' || 'collapsed'}}">
      <div class="span6 adjacent well">
        <h4>Business Summary</h4>
        <ul class="well-out">
          <h5>Approved Floorplans</h5>
          <span class="item-total">
          {{ businessSummary.ApprovedFloorplans }}
          </span>
          Approved

          <table>
            <tr>
              <td>
                Total Book Value
              </td>
              <td>
                {{ businessSummary.TotalApprovedBlackBookValue | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total Financed Amount
              </td>
              <td>
                {{ businessSummary.TotalApprovedFinancedAmount| currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total Outstanding
              </td>
              <td>
                {{ businessSummary.TotalOutstandingPrincipal | currency }}
              </td>
            </tr>
            <tr ng-show="showDetails">
              <td>
                Average Purchase Price:
              </td>
              <td>
                {{ businessSummary.AveragePurchasePrice | currency }}
              </td>
            </tr>
            <tr ng-show="showDetails">
              <td>
                Total Purchase Price:
              </td>
              <td>
                {{ businessSummary.TotalApprovedPurchasePrice | currency }}
              </td>
            </tr>
            <tr ng-show="showDetails">
              <td>
                Total NextGear Capital Book Value:
              </td>
              <td>
                {{ businessSummary.TotalApprovedBlackbookValue | currency }}
              </td>
            </tr>
          </table>

          <li ng-show="showDetails" class="small">
            NextGear Capital Book is {{ businessSummary.DerivedCapitalBook | number:2 }}% of the Purchase Price
          </li>
          <li ng-show="showDetails" class="small">
            Amount Outstanding is {{ businessSummary.DerivedAmountOutstanding | number:2 }}% of the NextGear Capital Book
          </li>
          <!-- end conditional <li>s -->
          <li>
            <button ng-click="toggleDetails()" class="details-toggle-btn">
              <!-- activates above conditional <li>
              s --> <i class="glyphicon glyphicon-chevron-{{ showDetails && 'up' || 'down'}}"></i>
              {{ showDetails && 'Close' || 'Show'}} Details
            </button>
          </li>
        </ul>

      </div>
      <div class="span6 adjacent well">
        <h4>&nbsp;</h4>
        <ul class="well-out">
          <h5>Pending Floorplans</h5>
          <span class="item-total">
            {{ businessSummary.PendingFloorplans }}
          </span>
          Pending

          <table>
            <tr>
              <td>
                Total Purchase Price:
              </td>
              <td>
                {{ businessSummary.TotalPendingPurchasePrice | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Total NextGear Capital Book Value:
              </td>
              <td>
                {{ businessSummary.TotalPendingBlackBookPrice | currency }}
              </td>
            </tr>
          </table>

          <!-- should show conditionally on-click of "Show Details" bar. -->
          <li ng-show="showDetails" class="small">
            NextGear Capital Book is {{ businessSummary.DerivedCapitalBook | number:2 }}% of the Purchase Price.
          </li>
          <!-- end conditional <li>s --></ul>
      </div>
      <div class="span4 adjacent well">
        <h4>&nbsp;</h4>
        <ul class="well-out">
          <h5>Credits and Payments</h5>

          <table>
            <tr>
              <td>
                Available Credit:
              </td>
              <td>
                {{ businessSummary.TotalAvailableCredit | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Reserve Funds:
              </td>
              <td>
                {{ businessSummary.ReserveFundsBalance | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Last Payment:
              </td>
              <td>
                {{ businessSummary.LastPaymentAmount | currency }}
              </td>
            </tr>
            <tr>
              <td>
                Last Payment Date:
              </td>
              <td>
                {{ businessSummary.LastPaymentDate | moment }}
              </td>
            </tr>
          </table>
        </ul>
      </div>

    </section>


    <section class="row-fluid">
      <div class="span9 well average-turn-chart">
        <h4>Average Turn</h4>
        <div class="well-out">
          <p>Average # of Days to Turn</p>
          <canvas width="630"
                  height="300"
                  nxg-chart
                  nxg-chart-type="Line"
                  nxg-chart-data="analytics.averageTurn"
                  nxg-chart-options="{ pointDot: false, datasetStrokeWidth: 4, bezierCurve: false }"></canvas>
        </div>
      </div>
      <div class="span3 well aging-vehicles">
        <h4>Stale & Aging Vehicles</h4>
        <ul class="well-out">
          <li>
            <span class="item-total overdue">{{ analytics.aging[3] }}</span>
            <strong>100-125</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[2] }}</span>
            <strong>75-99</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[1] }}</span>
            <strong>50-74</strong>
            Days</li>
          <li>
            <span class="item-total">{{ analytics.aging[0] }}</span>
            <strong>1-25</strong>
            Days</li>
        </ul>
      </div>
    </section>

    <section class="row-fluid">

      <div class="span8 adjacent movers-container well">
          <h4>NextGear's Best and Worst Movers</h4>
          <div class="well-out">
            <div class="nxg-fancy-radios">

              <input type="radio" class="first" name="best-movers" id="best-movers" value="true" ng-model="selectedMoverChart" placeholder="Ten Best Movers">
              <label for="best-movers" id="best-movers-label"></label>

              <input type="radio" class="last" name="worst-movers" id="worst-movers" value="false" ng-model="selectedMoverChart" placeholder="Ten Worst Movers">
              <label for="worst-movers" id="worst-movers-label"></label>

            </div>
            <div class="movers-chart">

              <table>
                <tr ng-repeat="models in bestMovers.models">
                  <td class="rank">
                    {{ $index + 1 }}
                  </td>
                  <td class="models">
                    <div>
                      <span>({{ bestMovers.years[$index] }})</span>
                      <span>{{ bestMovers.makes[$index] }}</span>
                    </div>
                    <div>{{ models }}</div>
                  </td>
                </tr>
              </table>

              <div ng-show="selectedMoverChart">
                <canvas width="290"
                        height="350"
                        nxg-chart
                        nxg-chart-type="Bar"
                        nxg-chart-data="bestMovers"
                        nxg-chart-options="{barValueSpacing: 1, align:'h'}"></canvas>
              </div>
              <div ng-hide="selectedMoverChart">
                <canvas width="290"
                        height="350"
                        nxg-chart
                        nxg-chart-type="Bar"
                        nxg-chart-data="worstMovers"
                        nxg-chart-options="{barValueSpacing: 1, align:'h'}"></canvas>
              </div>
            </div>
              <p class="scale-description-x">Avg. # of Days to Turn</p>
          </div>
        </div>

        <div class="span8 adjacent well top-auctions-container">

          <h4>Top 10 Auctions</h4>
          <div class="well-out">

            <p>Average Number of Cars Purchased Per-Auction (in the last 12 months.)</p>

            <a href class="btn btn-mini" ng-click="openTopAuctions()"> <i class="glyphicon glyphicon-eye-open"></i>
              View All Auctions
            </a>

            <canvas width="420"
                      height="335"
                      nxg-chart
                      nxg-chart-type="Bar"
                      nxg-chart-data="analytics.top10Auctions"
                      nxg-chart-options="{barValueSpacing: 1, align:'h'}"></canvas>
            <p class="scale-description-x"># of Cars Purchased</p>
          </div>
        </div>
    </section>
  </div>
</div>
