<div class="row-fluid">
  <div class="span6 well">
    <h2 class="well-title" translate>Current Reports</h2>
    <div class="well-item">
      <ul class="text-list">
        <li ng-repeat="doc in documents">
          <a target="_blank" ng-href="{{ doc.url }}"
             nxg-track="{{ metric.VIEW_CURRENT_REPORT }}"
             track-properties="{ reportName: doc.title }">
            {{ doc.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="span6 well">
    <h2 class="well-title" translate>Historical Reports</h2>
    <div class="well-item">
      <form id="disForm" name="disForm" class="row-fluid" novalidate>
        <h4 translate>Disbursement Detail</h4>

          <div class="form-row" ng-show="subsidiaries.length > 0">
            <label for="subsidiary" translate>Subsidiary Manufacturer</label>
            <div class="style-select">
              <select id="subsidiary"
                      name="subsidiary"
                      ng-model="selectedSubsidiary"
                      ng-options="o.BusinessName for o in subsidiaries"
                      ng-required="subsidiary.length > 0">
              </select>
            </div>
          </div>

          <div class="form-row">
            <label for="disDate" class="input-title date-search-label" translate>Date Search</label>
            <input id="disDate"
                    name="disDate"
                    nxg-date-field
                    ng-model="data.disDate"
                    date-allow="past"
                    ng-class="{ 'nxg-invalid': disFormValidity.disDate.$error.required || disFormValidity.disDate.$error.past || disFormValidity.disDate.$error.date }"
                    required />
          </div>
          <div class="form-row btn-group">
            <button class="btn" ng-click="viewDisbursementDetail()" translate>View Report</button>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <label for="disDate" class="text-error form-block" ng-show="disFormValidity.disDate.$error.required || disFormValidity.disDate.$error.date" translate>
             Please select a Valid Date.
            </label>
            <label for="disDate" class="text-error form-block" ng-show="disFormValidity.disDate.$error.past" translate>
               Please select a Date in the past.
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
