<div nxg-search
     title="{{ 'Find a Floor Plan' | translate }}"
     class="search-form"
     prompt="{{ 'VIN, Make, Model, or Year' | translate }}"
     filter-label="{{ 'Filter by Status' | translate }}"
     filter-options="filterOptions"
     active-criteria="floorplanData.searchCriteria"
     on-search="floorplanData.search(floorplanData.searchCriteria)"
     on-clear="floorplanData.resetSearch(filterOptions)"
     help-text="{{ 'Date range based on Date Floored OR Disbursement Date.' | translate }}"
     filterable="true">
</div>

<div class="well" ng-switch="floorplanData.results.length > 0 || floorplanData.loading">
  <h2 class="well-title" translate>Floor Plan</h2>
  <p class="no-results" ng-switch-when="false" translate>
    Sorry, no results found. Please <a ng-click="resetSearch()" title="New Search">try a new search</a>.
  </p>
  <section ng-switch-when="true"
           nxg-infinite-scroll="floorplanData.fetchNextResults()"
           nxg-infinite-scroll-disabled="floorplanData.loading"
           nxg-infinite-scroll-show-indicator="floorplanData.loading">

    <table class="table table-striped table-primary">
      <thead>
        <th class="sortable"
            ng-click="floorplanData.sortBy('FlooringDate')"
            ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'FlooringDate', desc : floorplanData.searchCriteria.sortDescending }">
            <span translate>Dates</span> <span class="sortArrows"></span>
        </th>
        <th class="sortable"
            ng-click="floorplanData.sortBy('UnitMake')"
            ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'UnitMake', desc : floorplanData.searchCriteria.sortDescending }">
          <span translate>Description</span> <span class="sortArrows"></span>
        </th>
        <th translate>Status</th>
        <th translate>Purchased For</th>
        <th class="sortable"
            ng-click="floorplanData.sortBy('BuyerBusinessName')"
            ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'BuyerBusinessName', desc : floorplanData.searchCriteria.sortDescending }">
          <span translate>Buyer</span><span class="sortArrows"></span>
        </th>
        <th translate>Ticket No.</th>
        <th translate>Title Location</th>
        <th translate>Title</th>
      </thead>

      <tr ng-repeat="item in floorplanData.results">
        <td class="date">
          <h4>{{ (item.FlooringDate | moment) || 'n/a'}}</h4>
          <p translate>Floored</p>
          <br/>
          <h4>{{ (item.DisbursementDate | moment) || 'n/a' }}</h4>
          <p translate>Disbursement</p>
        </td>
        <td class="description">
          <p class="lockup-major" nxg-highlight="item.Description" highlight="item.data.query"></p>
          <p class="lockup-minor caps">
            <span translate>VIN</span>: <span nxg-highlight="item.UnitVIN" highlight="searchCriteria.query" class="break-word"></span>
          </p>
        </td>
        <td>
          <h5>{{ item.FloorplanStatusName }}</h5>
        </td>
        <td class="numeric">
          <h4>{{ item.PurchaseAmount | currency }}</h4>
        </td>
        <td>
          <h5>{{ item.BuyerName }}</h5>
        </td>
        <td>
          <h4>{{ item.ConsignerTicketNumber }}</h4>
        </td>
        <td>
          <h5>{{ item.TitleLocation }}</h5>
          <div class="seller-has-title-box cr-inline" ng-show="item.TitleEditable">
            <input type="checkbox" id="{{ item.FloorplanId }}" name="sellerHasTitle"
                    ng-model="item.sellerHasTitle"
                    ng-click="sellerHasTitle(item, item.sellerHasTitle)" />
            <label class="checkbox-img small" for="{{ item.FloorplanId }}"></label>
            <label for="{{ item.FloorplanId }}"
                    class="cr-label"
                    tooltip-placement="top"
                    tooltip-trigger="click"
                    tooltip-html="true"
                    tooltip-html-unsafe="{{ 'NextGear has been notified of this change and will be sending funding soon.' | translate }}"
                    tooltip-animation="true" translate>
              I Have the Title
            </label>
          </div>
        </td>
        <td>
          <a class="btn btn-square" ng-show="item.TitleImageAvailable"
            ng-href="{{ item.$titleURL }}"
            nxg-track="{{ metric.VIEW_TITLE }}"
            target="_blank">
            <span nxg-icon="icon-title"></span>
          </a>
        </td>
      </tr>
    </table>
  </section>
</div>
