<div class="container-line">
  <div class="container-fluid auction-documents">

    <p class="text-info">
      Do you have <a href="http://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader 8.1</a> or newer? Your documents are displayed in Acrobat Reader.
    </p>

    <div class="row-fluid">
      <div class="span12 well">
        <h4>NextGear Capital Documents</h4>
        <ul class="well-out">
          <li ng-repeat="doc in documents">
            <a ng-href="{{ doc.url }}"
               target="_blank"
               nxg-track="{{ metric.VIEW_RESOURCE_DOCUMENT }}"
               track-properties="{ documentName: doc.title }">
              {{ doc.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
