<div class="row">
  <div class="span3">Disbursement Groups
    <ul>
      <li>
        <span class="item-total">{{ dashboardData.PaidAwaitingTitleDisbursments }}</span>
        <span>Paid Awaiting Title ({{ dashboardData.PaidAwaitingTitleDisbursementTotal | currency }})</span>
      </li>
      <li>
        <span class="item-total">{{ dashboardData.PaidDisbursments }}</span>
        <span>Paid ({{ dashboardData.PaidDisbursmentTotal | currency }})</span>
      </li>
      <li>
        <span class="item-total">{{ dashboardData.PendingDisbursements }}</span>
        <span>Pending ({{ dashboardData.PendingDisbursementTotal | currency }})</span>
      </li>
    </ul>
  </div>
  <div class="span4">Most Recent Disbursements
    <table>
      <tbody>
        <tr ng-repeat="dis in dashboardData.Disbursements">
          <td>{{ dis.DisbursmentDate | moment }}</td>
          <td>{{ dis.DisbursementNumber }}</td>
          <td>{{ dis.DisbursementAmount | currency }}</td>
          <td><a href="#">View</a></td> <!-- TODO: Wire link for viewing single disbursements -->
        </tr>
      </tbody>
    </table>
    <span>
      <a href="">Disbursement Reports<i class="icon icon-arrow-right"></i></a>
    </span>
  </div>
</div>
<div class="row">
  <div class="span3">Floorplan
    <ul>
      <li>
        <span class="item-total">{{ dashboardData.ApprovedFloorplans }}</span>
        <span>Approved ({{ dashboardData.ApprovedFloorplanOutstandingAmount | currency }})</span>
      </li>
      <li>
        <span class="item-total">{{ dashboardData.FloorplansAwaitingTitle }}</span>
        <span>Awaiting Titles ({{ dashboardData.FloorplansAwaitingTitleOutstandingAmount | currency }})</span>
      </li>
      <li>
        <span class="item-total">{{ dashboardData.PendingFloorplans }}</span>
        <span>Pending ({{ dashboardData.PendingFloorplansOutstandingAmount | currency }})</span>
      </li>
    </ul>
  </div>
  <div class="span6">Volume of Nextgear Floorplans
    <span class="row">
      <select ng-model="floorplanChartSelection" ng-options="o for o in floorplanChartOptions"></select>
    </span>
    <span>Number of Floored Vehicles</span>
    <canvas width="300"
            height="300"
            ng-show="true"
            nxg-chart
            nxg-chart-type="Line"
            nxg-chart-data="chartData"
            nxg-chart-options="{scaleOverride:true, scaleSteps:10, scaleStepWidth:10}">
    </canvas>
    <span>Month this year</span>
  </div>
</div>
