<div nxg-search
     title="Floor Plan Search"
     class="search-form"
     prompt="Enter VIN, Make, Model, or Year"
     filter-label="Filter by Status"
     filter-options="filterOptions"
     active-criteria="proposedSearchCriteria"
     on-search="search()"
     on-clear="resetSearch()"
     help-text="Date range based on floorplan date OR disbursement date."
     filterable="true">
</div>

<div ng-switch="data.results.length > 0 || data.loading">
  <p class="no-results" ng-switch-when="false">
    Sorry, no results found. Please <a ng-click="resetSearch()" title="New Search">try a new search</a>.
  </p>
  <section class="selfloor-list"
           ng-switch-when="true"
           nxg-infinite-scroll="fetchNextResults()"
           nxg-infinite-scroll-disabled="data.loading"
           nxg-infinite-scroll-show-indicator="data.loading">
    <ul class="unstyled">
      <li class="table-list-head">
        <div class="cell selfloor-descr sortable"
                 ng-click="sortBy('UnitMake')"
                 ng-class="{ sorted : sortField == 'UnitMake', desc : sortDescending }">Description</div>
        <div class="cell selfloor-stat">Status</div>
        <div class="cell selfloor-dates sortable"
                 ng-click="sortBy('FlooringDate')"
                 ng-class="{ sorted : sortField == 'FlooringDate', desc : sortDescending }">Dates</div>
        <div class="cell selfloor-purch">Purchase Amount</div>
        <div class="cell selfloor-buy sortable"
                 ng-click="sortBy('BuyerBusinessName')"
                 ng-class="{ sorted : sortField == 'BuyerBusinessName', desc : sortDescending }">Buyer</div>
        <div class="cell selfloor-ticket-num">Ticket #</div>
        <div class="cell selfloor-title-loc">Title Location</div>
        <div class="cell selfloor-title">Title</div>
      </li><!-- end .table-list-head -->

      <li class="table-list-row" ng-repeat="item in data.results">
        <div class="cell selfloor-descr">
          <p>{{ getVehicleDescription(item) }}</p>
          <p ng-bind-html-unsafe="item.UnitVIN | highlight:searchCriteria.query" class="break-word"></p>
        </div>
        <div class="cell selfloor-stat">{{ item.FloorplanStatusName }}</div>
        <div class="cell selfloor-dates">
          <p>
            <span class="sch-sub-label">Floored:</span><br/>{{ (item.FlooringDate | moment) || 'n/a' }}
          </p>
          <p>
            <span class="sch-sub-label">Disbursement: </span><br/>{{ (item.DisbursementDate | moment) || 'n/a' }}
          </p>
        </div>
        <div class="cell selfloor-purch">{{ item.PurchaseAmount | currency }}</div>
        <div class="cell selfloor-buy">{{ item.BuyerName }}</div>
        <div class="cell selfloor-ticket-num">{{ item.ConsignerTicketNumber }}</div>
        <div class="cell selfloor-title-loc">{{ item.TitleLocation }}</div>
        <div class="cell selfloor-title">
          <p>

            <a class="view-title-link" ng-show="item.TitleImageAvailable" ng-href="{{ item.$titleURL }}"
               nxg-track="{{ metric.VIEW_TITLE }}"
               target="_blank">
              View
            </a>
            <div class="seller-has-title-box" ng-show="item.TitleEditable">
              <input type="checkbox" id="{{ item.FloorplanId }}" name="sellerHasTitle"
                      ng-model="item.sellerHasTitle"
                      ng-click="sellerHasTitle(item, item.sellerHasTitle)" />
              <label for="{{ item.FloorplanId }}"
                      tooltip-placement="top"
                      tooltip-trigger="click"
                      tooltip-html="true"
                      tooltip-html-unsafe="NextGear has been notified of this change and will be sending funding soon."
                      tooltip-animation="true">
                I Have the Title
              </label>
            </div>
          </p>
        </div>
      </li><!-- end .table-list-row -->
    </ul>
  </section>
</div>
