<div class="row">
  <div class="col-xs-4 well auction-well">
    <h2 class="well-title" translate>Disbursement Groups</h2>
    <ul class="counter-list">
      <li>
        <span class="counter">
          {{ dashboardData.PaidAwaitingTitleDisbursement }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Paid Awaiting Title</p>
          <h4 class="dash-major">{{ dashboardData.PaidAwaitingTitleDisbursementTotal | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.PaidDisbursements }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Paid</p>
          <h4 class="dash-major">{{ dashboardData.PaidDisbursementTotal | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.PendingDisbursements }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Awaiting Disbursement</p>
          <h4 class="dash-major">{{ dashboardData.PendingDisbursementTotal | currency }}</h4>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-xs-4 well auction-well leftMarginLarge">
    <h2 class="well-title" translate>Floor Plan</h2>
    <ul class="counter-list">
      <li>
        <span class="counter">
          {{ dashboardData.ApprovedFloorplans }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Approved</p>
          <h4 class="dash-major">{{ dashboardData.ApprovedFloorplanOutstandingAmount | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.AwaitingTitleZeroToFifteenDays }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Awaiting Titles 0-15 Days</p>
          <h4 class="dash-major">{{ dashboardData.AwaitingTitleZeroToFifteenDaysAmount | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.AwaitingTitleSixteenToThirtyDays }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Awaiting Titles 16-30 Days</p>
          <h4 class="dash-major">{{ dashboardData.AwaitingTitleSixteenToThirtyDaysAmount | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.AwaitingTitleOverThirtyDays }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Awaiting Titles 30+ Days</p>
          <h4 class="dash-major">{{ dashboardData.AwaitingTitleOverThirtyDaysAmount | currency }}</h4>
        </div>
      </li>

      <li>
        <span class="counter">
          {{ dashboardData.PendingFloorplans }}
        </span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Pending</p>
          <h4 class="dash-major">{{ dashboardData.PendingFloorplansOutstandingAmount | currency }}</h4>
        </div>
      </li>

    </ul>

  </div>
  <div class="col-xs-4 well auction-well leftMarginLarge">
    <h2 class="well-title" translate>Recent Disbursements</h2>
    <table class="table table-striped table-secondary">
      <thead>
        <th translate>Date</th>
        <th translate>No.</th>
        <th translate>Amount</th>
      </thead>
      <tr ng-repeat="dis in dashboardData.Disbursements | orderBy:'DisbursementDate':true | limitTo:5">
        <td class="tabel-label center">{{ dis.DisbursementDate | moment }}</td>
        <td class="table-value">
          <a href="javascript:void(0);" class="center" ng-click="viewDisbursementDetail(dis.DisbursementDate)"> #{{ dis.DisbursementNumber }}</a>
        </td>
        <td class="table-value numeric">
          <strong>{{ dis.DisbursementAmount | currency }}</strong>
        </td>
      </tr>
    </table>
    <button class="btn-cta cta-full cta-secondary" ng-click="onClickButtonLink('auction_reports')">
      <span class="paired-body" translate>Previous Disbursements</span>
      <span class="paired-media icon-x-small" nxg-icon="icon-triangle"></span>
    </button>
  </div>
</div>
<div class="row">
  <div class="well auction-dashboard-chart">
    <h2 class="well-title" translate>Volume of Past NextGear Capital Floorplans</h2>

    <div class="cta btn-toggle toggle-three">
      <div class="btn-slider" ng-class="{ 'active-left': isYearMode(), 'active-center': isMonthMode(), 'active-right': isWeekMode() }"></div>
      <button class="btn" ng-click="changeFloorplanChart('year')" translate>Year</button>
      <button class="btn" ng-click="changeFloorplanChart('month')" translate>Month</button>
      <button class="btn" ng-click="changeFloorplanChart('week')" translate>Week</button>
    </div>
    <div class="chart-obj"
         nxg-chart
         nxg-chart-type="line"
         nxg-chart-data-name="{{ 'Vehicles Floored' | translate }}"
         nxg-chart-description-x="{{ '# of Floored Vehicles' | translate }}"
         nxg-chart-data="chartData.data"
         nxg-chart-labels="true">
    </div>
  </div>
</div>
