<div nxg-search
     title="Floor Plan Search"
     class="search-form"
     prompt="Enter VIN"
     filter-label="Filter List by Status"
     filter-options="filterOptions"
     active-criteria="proposedSearchCriteria"
     on-search="search()"
     on-clear="resetSearch()">
</div>

<div ng-switch="data.results.length > 0 || data.loading">
  <p class="no-results" ng-switch-when="false">
    Sorry, no results found. Please try a new search.
  </p>
  <section class="selfloor-list"
           ng-switch-when="true"
           nxg-infinite-scroll="fetchNextResults()"
           nxg-infinite-scroll-disabled="data.loading"
           nxg-infinite-scroll-show-indicator="data.loading">
    <ul class="unstyled">
      <li class="table-list-head">
        <div class="cell selfloor-descr">Vehicle</div>
        <div class="cell selfloor-stat">Status</div>
        <div class="cell selfloor-dates">Dates</div>
        <div class="cell selfloor-purch">Purchase Amount</div>
        <div class="cell selfloor-buy">Buyer</div>
        <div class="cell selfloor-ticket-num">Ticket #</div>
        <div class="cell selfloor-title-loc">Title Location</div>
        <div class="cell selfloor-title">Title</div>
      </li><!-- end .table-list-head -->

      <li class="table-list-row" ng-repeat="item in data.results">
        <div class="cell selfloor-descr">
          <p>
            <span class="sch-label">VIN: </span>
            <span ng-bind-html-unsafe="item.UnitVIN | highlight:searchCriteria.query"></span>
          <p>{{ getVehicleDescription(item) }}</p>
        </div>
        <div class="cell selfloor-stat">{{ item.FloorplanStatusName }}</div>
        <div class="cell selfloor-dates">
          <p>
            <span class="sch-sub-label">Floored:</span><br/>{{ (item.FlooringDate | moment) || 'n/a' }}
          </p>
          <p>
            <span class="sch-sub-label">Disbursement: </span><br/>{{ (item.DisbursementDate | moment) || 'n/a' }}
          </p>
        </div>
        <div class="cell selfloor-purch">{{ item.PurchaseAmount | currency }}</div>
        <div class="cell selfloor-buy">{{ item.BuyerName }}</div>
        <div class="cell selfloor-ticket-num">{{ item.ConsignerTicketNumber }}</div>
        <div class="cell selfloor-title-loc">{{ item.TitleLocation }}</div>
        <div class="cell selfloor-title">
          <p>
            <input type="checkbox" id="{{ item.FloorplanId }}" name="sellerHasTitle" ng-model="item.$sellerHasTitle" />
            <a class="btn btn-mini" ng-hide="!item.TitleEditable || item.TitleLocation == 'Seller'" ng-click="sellerHasTitle(item, true)">I Have It</a>
            <a class="btn btn-mini" ng-show="item.TitleEditable && item.TitleLocation == 'Seller'" ng-click="sellerHasTitle(item, false)">I Don't Have It</a>
            <a ng-show="item.TitleImageAvailable" ng-href="{{ item.$titleURL }}"
               nxg-track="{{ metric.VIEW_TITLE }}"
               target="_blank">
              View
            </a>
          </p>
        </div>
      </li><!-- end .table-list-row -->
    </ul>
  </section>
</div>
