<div class="row dealer-search">
  <div class="col-md-6 well">
    <h2 class="well-title" translate>Dealer Number Search</h2>
    <form name="numberSearchForm" ng-submit="numberSearch.search()" class="row search zeroLeftMargin zeroRightMargin" novalidate>
      <p translate> If you have the NextGear Capital Dealer Number or Auction Access Number, use the Dealer Number search. </p>

      <div class="row">
        <div class="col-md-8">
          <label for="dealerNum" translate>NextGear Capital Dealer Number</label>

          <div class="styled-input with-btn">
            <input type="text"
                   id="dealerNum"
                   name="dealerNum"
                   ng-pattern="onlyNumbersPattern"
                   ng-model="numberSearch.query.dealerNumber"
                   nxg-focus="numberSearch.setDealerNumActive()"
                   nxg-requires="data.proposedQuery.length >= 3"
                   ng-class="{ 'nxg-invalid': numberSearch.invalid.required.dealerNumber || numberSearch.invalid.pattern.dealerNumber }">
            <button class="btn btn-input" type="button" ng-click="numberSearch.search('dealerNum')"
                    ng-disabled="numberSearch.searchInProgress">
              <span nxg-icon="icon-search"></span>
            </button>
          </div>

          <label for="dealerNum" class="text-error" ng-show="numberSearch.noresults.dealerNumber" translate>
            No results found, please enter a valid Dealer Number.
          </label>
          <label for="dealerNum" class="text-error" ng-show="numberSearch.invalid.required.dealerNumber" translate>
            Please enter a Dealer Number.
          </label>
          <label for="dealerNum" class="text-error" ng-show="numberSearch.invalid.pattern.dealerNumber" translate>
            Please enter a numeric value.
          </label>
        </div>
      </div>

        <h2 class="col-md-12" translate>- OR -</h2>

      <div class="row">
        <div class="col-md-8">
          <label for="auctionAccessNum" translate>Auction Access Number</label>
          <div class="styled-input with-btn">
            <input type="text"
                   id="auctionAccessNum"
                   name="auctionAccessNum"
                   ng-pattern="onlyNumbersPattern"
                   ng-model="numberSearch.query.auctionAccessNumber"
                   ng-class="{'nxg-fade' : !numberSearch.auctionAccessNumberActive, 'nxg-invalid': numberSearch.invalid.required.auctionAccessNumber || numberSearch.invalid.pattern.auctionAccessNumber }"
                   nxg-focus="numberSearch.setAuctionNumActive()">
           <button class="btn btn-input" type="button" ng-click="numberSearch.search('auctionNum')"
                    ng-disabled="numberSearch.searchInProgress">
              <span nxg-icon="icon-search"></span>
           </button>
          </div>
          <label for="auctionAccessNum" class="text-error" ng-show="numberSearch.noresults.auctionAccessNumber" translate>
            No results found, please enter a valid Auction Access Number.
          </label>
          <label for="auctionAccessNum" class="text-error" ng-show="numberSearch.invalid.required.auctionAccessNumber" translate>
            Please enter an Auction Access Number.
          </label>
          <label for="auctionAccessNum" class="text-error" ng-show="numberSearch.invalid.pattern.auctionAccessNumber" translate>
            Please enter a numeric value.
          </label>
        </div>
      </div>
      <button class="btn-hide" tabindex="-1" type="submit"></button>
    </form>
  </div>

  <div class="col-md-6 well">
    <h2 class="well-title" translate>Dealer Name Search</h2>

    <form name="nameSearchForm" class="row search zeroLeftMargin zeroRightMargin" novalidate>
      <p translate> To look up a dealer in Dealer search, use a combination of their Name and City or
      State. </p>

      <div class="row">
        <div class="col-md-8">
          <label for="dealerName" translate>Dealer Name</label>
          <input type="text"
                 id="dealerName"
                 ng-model="nameSearch.query.dealerName"
                 ng-class="{ 'nxg-invalid': nameSearch.invalid.dealerName || nameSearch.invalid.minlength }">

          <label for="dealerName" class="text-error" ng-show="nameSearch.invalid.dealerName" translate>
            Please enter a Dealer Name.
          </label>
          <label for="dealerName" class="text-error" ng-show="nameSearch.invalid.minlength" translate>
            Please enter at least 3 characters.
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <label for="city" translate>City</label>

          <input type="text"
                 id="city"
                 class="input-full"
                 ng-model="nameSearch.query.city"
                 ng-class="{ 'nxg-invalid': nameSearch.invalid.cityFormat }">
        </div>

        <div class="col-md-2">
          <h2 class="form-separator center" translate>- OR -</h2>
        </div>

        <div class="col-md-4">
          <label for="state" translate>State</label>
          <div class="style-select auto">
            <select id="state" class="input-medium" ng-model="nameSearch.query.state" ng-options="state.StateName for state in states">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label for="city" class="text-error" ng-show="nameSearch.invalid.cityFormat" translate>
          City names must only have letters and spaces.
        </label>

        <label for="city" class="text-error" ng-show="nameSearch.invalid.CityOrState" translate>
          Please enter a City or select a State.
        </label>
      </div>

      <button class="btn-cta cta-primary" type="submit" ng-click="nameSearch.search()" translate>Search Dealers</button>
    </form>
  </div>
</div>
