<div class="row-fluid auction-dashboard-summaries">
  <div class="span5 adjacent well item-list">
    <h4>Disbursement Groups</h4>
    <div class="well-out">
      <table>
        <tr>
          <td><span class="item-total">{{ dashboardData.PaidAwaitingTitleDisbursement }}</span></td>
          <td class="fl-label">Paid Awaiting Title ({{ dashboardData.PaidAwaitingTitleDisbursementTotal | currency }})</td>
        </tr>
        <tr>
          <td><span class="item-total">{{ dashboardData.PaidDisbursements }}</span></td>
          <td class="fl-label">Paid ({{ dashboardData.PaidDisbursementTotal | currency }})</td>
        </tr>
        <tr>
          <td><span class="item-total">{{ dashboardData.PendingDisbursements }}</span></td>
          <td class="fl-label">Pending ({{ dashboardData.PendingDisbursementTotal | currency }})</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="span6 adjacent well item-list">
    <h4>Floor Plan</h4>
    <div class="well-out">
      <table>
        <tr>
          <td><span class="item-total">{{ dashboardData.ApprovedFloorplans }}</span></td>
          <td class="fl-label">Approved ({{ dashboardData.ApprovedFloorplanOutstandingAmount | currency }})</td>
        </tr>
        <tr>
          <td><span class="item-total">{{ dashboardData.FloorplansAwaitingTitle }}</span></td>
          <td class="fl-label">Awaiting Titles ({{ dashboardData.FloorplansAwaitingTitleOutstandingAmount | currency }})</td>
        </tr>
        <tr>
          <td><span class="item-total">{{ dashboardData.PendingFloorplans }}</span></td>
          <td class="fl-label">Pending ({{ dashboardData.PendingFloorplansOutstandingAmount | currency }})</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="span5 adjacent well">
    <h4>Most Recent Disbursements</h4>
    <div class="well-out recent-disbursements">
      <table>
        <tbody>
          <tr ng-repeat="dis in dashboardData.Disbursements | orderBy:'DisbursementDate':true | limitTo:5">
            <td>{{ dis.DisbursementDate | moment }}</td>
            <td>#{{ dis.DisbursementNumber }}</td>
            <td><strong>{{ dis.DisbursementAmount | currency }}</strong></td>
            <td><a href="javascript:void(0);" ng-click="viewDisbursementDetail(dis.DisbursementDate)">View</a></td>
          </tr>
        </tbody>
      </table>
      <a href="#/act/reports" class="btn btn-primary">Previous Reports</a>
    </div>
  </div>
</div>
<div class="row-fluid auction-dashboard-chart">
  <div class="span16 adjacent well">
    <h4>Volume of NextGear Floor Plans</h4>
    <div class="well-out">
      <div class="row nxg-fancy-radios">
        <label class="group-label">Past:</label>

        <input type="radio" class="first" name="year" id="year" value="year" ng-model="selectedFloorplanChart" placeholder="Ten Best Movers">
        <label for="year" id="year-label"></label>

        <input type="radio" name="month" id="month" value="month" ng-model="selectedFloorplanChart" placeholder="Ten Best Movers">
        <label for="month" id="month-label"></label>

        <input type="radio" class="last" name="week" id="week" value="week" ng-model="selectedFloorplanChart" placeholder="Ten Worst Movers">
        <label for="week" id="week-label"></label>
      </div>

      <div class="chart-obj"
          nxg-chart
          nxg-chart-type="line"
          nxg-chart-data-name="Vehicles Floored"
          nxg-chart-description-x="# of Floored Vehicles"
          nxg-chart-data="chartData.data"
          nxg-chart-labels="true">
      </div>
    </div>
  </div>
</div>
