<form class="row floorcar" name="form" novalidate>
  <section class="col-xs-6 well">
    <h2 class="well-title" translate>Vehicle Information</h2>

    <fieldset class="well-item">
      <div nxg-vin-details floor-model="data" validity="validity" error-flag="vinDetailsErrorFlag" form="form" nxg-autofocus="reset"></div>

      <label for="inputColor" class="input-title" translate>Color</label>
      <div class="style-select small" ng-class="{ 'nxg-invalid': validity.inputColor.$error.required }" >
        <select id="inputColor"  name="inputColor" ng-model="data.UnitColorId"
               ng-options="color.ColorName for color in options.colors" required>
          <option value="" translate>Make Selection</option>
         </select>
      </div>
      <label for="inputColor" class="text-error"
              ng-show="validity.inputColor.$error.required" translate>
         Please select a Color.
      </label>

      <label for="inputMileage" class="input-title" translate>Odometer</label>
      <input type="text" id="inputMileage" name="inputMileage"
              ng-model="data.UnitMileage"
              ng-class="{ 'nxg-invalid': validity.inputMileage.$error.required || validity.inputMileage.$error.pattern || validity.inputMileage.$error.maxlength || validity.inputMileage.$error.nxgMin }"
              ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*$/"
              required
              nxg-min="1"
              nxg-validate-int="6"
              nxg-blur="mileageExit(form.inputMileage)" />
      <label for="inputMileage" class="text-error"
              ng-show="validity.inputMileage.$error.required" translate>
          Please enter the Mileage.
      </label>
      <label for="inputMileage" class="text-error"
              ng-show="!validity.inputMileage.$error.required && (validity.inputMileage.$error.pattern || validity.inputMileage.$error.nxgMin)" translate>
          Please enter a positive integer value with no decimals.
      </label>
      <label for="inputMileage" class="text-error"
              ng-show="!validity.inputMileage.$error.required && validity.inputMileage.$error.maxlength" translate>
          Please enter a value less than 1,000,000.
      </label>

      <label for="inputTitleHolder" class="input-title" translate>Who has the Title?</label>
      <div class="style-select small" ng-class="{ 'nxg-invalid': validity.inputTitleHolder.$error.required }">
        <select id="inputTitleHolder"  name="inputTitleHolder" ng-model="data.TitleLocationId"
               ng-options="location.Name for location in options.titleLocationOptions"
               required>
          <option value="" translate>Make Selection</option>
        </select>
      </div>
      <label for="inputTitleHolder" class="text-error"
              ng-show="validity.inputTitleHolder.$error.required" translate>
         Please select who has the title.
      </label>

      <label for="consignerTicket" class="input-title" translate>Consigner Ticket Number</label>
      <input type="text" id="consignerTicket" name="consignerTicket"
            ng-model="data.ConsignerTicketNumber"
            ng-class="{ 'nxg-invalid': validity.consignerTicket.$error.required }"
            required/>
      <label for="consignerTicket" class="text-error"
             ng-show="validity.consignerTicket.$error.required" translate>
        Please enter a Consigner Ticket Number.
      </label>

      <label for="inputLotNum" class="input-title" translate>Lot Number</label>
      <input type="text" id="inputLotNum" name="inputLotNum"
            ng-model="data.LotNumber"
            ng-class="{ 'nxg-invalid': validity.inputLotNum.$error.required }"
            required/>
      <label for="inputLotNum" class="text-error"
             ng-show="validity.inputLotNum.$error.required" translate>
        Please enter the Lot Number.
      </label>
    </fieldset>
  </section>

  <section class="col-xs-6 well">
    <h2 class="well-title" translate>Sale Information</h2>

    <fieldset class="well-item">
      <label for="inputBiz" class="input-title" translate>Buyer</label>
      <span class="nxg-business-field" ng-class="{ 'nxg-invalid': validity.inputBiz.$error.nxgRequires }">
        <input nxg-business-field="buyers" id="inputBiz" class="input-xlarge"
               name="inputBiz"
               ng-required="true"
               selected-business="data.BusinessId"
               validity="validity"
               form="form" />
      </span>

      <label for="inventoryAddress" class="input-title" translate>Inventory Address</label>
      <div class="style-select small" ng-class="{ 'nxg-invalid': validity.inventoryAddress.$error.required, 'disabled': sellerLocations == null || sellerLocations.length <= 1 }">
        <select id="inventoryAddress"
               name="inventoryAddress"
               ng-model="data.PhysicalInventoryAddressId"
               ng-options="(location | address:'oneLineSelect') for location in sellerLocations"
               ng-disabled="sellerLocations == null || sellerLocations.length <= 1"
               required>
          <option value="" translate>Make Selection</option>

        </select>
      </div>
      <label for="inputAddress" class="text-error" ng-show="validity.inventoryAddress.$error.required" translate>
        Please select an Inventory Location.
      </label>

      <label for="inputPurchaseAmt" class="input-title" translate>Purchase Amount</label>
      <div class="input-prepend dollar">
        <span class="add-on no-top" translate>$</span>
        <input type="text" id="inputPurchaseAmt" name="inputPurchaseAmt" ng-model="data.UnitPurchasePrice"
               nxg-min="1"
               required
               nxg-input-currency="1000000000000"
               ng-class="{ 'nxg-invalid': validity.inputPurchaseAmt.$error.required || validity.inputPurchaseAmt.$error.max || validity.inputPurchaseAmt.$error.pattern || validity.inputPurchaseAmt.$error.maxlength || validity.inputPurchaseAmt.$error.nxgMin }" />
        <label for="inputPurchaseAmt" class="text-error"
               ng-show="validity.inputPurchaseAmt.$error.required" translate>
          Please enter the Purchase Amount.
        </label>
        <label for="inputPurchaseAmt" class="text-error"
               ng-show="!validity.inputPurchaseAmt.$error.required && (validity.inputPurchaseAmt.$error.pattern || validity.inputPurchaseAmt.$error.nxgMin)" translate>
          Please enter a positive numeric value with no <br> special characters, such as a dollar sign.
        </label>
          <label for="inputPurchaseAmt" class="text-error"
               ng-show="!validity.inputPurchaseAmt.$error.pattern && !validity.inputPurchaseAmt.$error.required && validity.inputPurchaseAmt.$error.max" translate>
                Please enter a value less than $1,000,000,000,000.
        </label>
      </div>

      <label for="inputSaleDate" class="input-title" translate>Sales Date</label>

      <input id="inputSaleDate" name="inputSaleDate" ng-model="data.UnitPurchaseDate"
             nxg-date-field date-allow="past"
             required
             ng-pattern="isYear"
             ng-class="{ 'nxg-invalid': validity.inputSaleDate.$error.required || (validity.inputSaleDate.$error.nxgRequires && !validity.inputSaleDate.$error.required) || validity.inputSaleDate.$error.past || validity.inputSaleDate.$error.pattern || validity.inputSaleDate.$error.date }" />
      <label for="inputSaleDate" class="text-error"
             ng-show="validity.inputSaleDate.$error.required || validity.inputSaleDate.$error.date" translate>
        Please enter a Valid Sales Date.
      </label>
      <label for="inputPurchaseDate" class="text-error"
             ng-show="validity.inputSaleDate.$error.pattern && !validity.inputSaleDate.$error.date" translate>
          Please enter a Valid Sales Date Year between {{minValidModelYear}} and {{maxValidModelYear}}.
        </label>
      <label for="inputSaleDate" class="text-error"
             ng-show="validity.inputSaleDate.$error.past" translate>
        Please enter a Sales Date in the past.
      </label>
      <p class="scale-description">
        <span translate>The actual sale date must be used when flooring a car</span>
        <button class="btn-help inline"
                tooltip-placement="right"
                tooltip-popup-delay="300"
                tooltip="{{ 'Actual sales dates must be used when flooring a car. By entering a sale date of the car being floored the auction certifies the entered sale date for the car is true and correct.' | translate }}"
                tooltip-animation="true"><span nxg-icon="icon-help"></span></button>
      </p>

      <label for="inputDisburseAcct" class="input-title" translate>Bank Account</label>
      <div class="style-select small" ng-class="{ 'nxg-invalid': validity.inputDisburseAcct.$error.required }">
        <select id="inputDisburseAcct" name="inputDisburseAcct" ng-model="data.BankAccountId"
              ng-options="account.BankAccountName for account in options.BankAccounts"
              required>
         <option value="" translate>Make Selection</option>
        </select>
      </div>
      <label for="inputDisburseAcct" class="text-error"
             ng-show="validity.inputDisburseAcct.$error.required" translate>
        Please select a Bank Account for Deposit.
      </label>

      <div class="form-footer button-group">
        <button class="btn-cta cta-secondary"
                type="button"
                ng-disabled="submitInProgress"
                ng-click="cancel()" translate>
          Cancel
        </button>
        <button class="btn-cta cta-primary"
                ng-disabled="submitInProgress"
                type="submit"
                ng-click="submit()" translate>
          Floor Vehicle
        </button>
      </div>
    </fieldset>
  </section>
</form>
