<div class="secondary-nav-bg">
  <div class="container-fluid">
    <nav role="navigation">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('auction_home.dashboard') }">
                <a href="#/act/home">Dashboard</a>
            </li>

            <li ng-class="{ 'active': $state.includes('auction_home.dealersearch') }">
                <a href="#/act/home/dealersearch" >Dealer Search</a>
            </li>

            <li ng-class="{ 'active': $state.includes('auction_home.bulkflooring') }">
                <a href="#/act/home/bulkflooring" >Floor a Vehicle</a>
            </li>

            <li ng-class="{ 'active': $state.includes('auction_home.sellerfloorplan') }">
                <a href="#/act/home/sellerfloorplan" >Seller Floor Plan Search</a>
            </li>
        </ul>
    </nav>
  </div>
</div>

<div ui-view class="container-fluid">
    something here
</div>
