<div class="row-fluid two-col dealer-search">
  <form name="numberSearchForm" novalidate>
      <div class="span8 well adjacent">
        <h4>Dealer Number Search</h4>
        <div class="well-out">
          <p>
            If you have the NextGear dealer number or Auction Access Number, use the Dealer Number search.
          </p>
          <p for="city" class="text-error" ng-show="numberSearch.invalid.required.dealerOrAccessNumber">
              Please enter a dealer number or an auction access number.
          </p>
          <div class="control-group"
               ng-class="{'nxg-fade' : numberSearch.dealerNumInactive}"
               >
            <label for="dealer-num" class="control-label input-title">NextGear Dealer Number</label>
            <div class="controls">
              <input type="text"
                     id="dealer-num"
                     name="dealerNum"
                     ng-pattern="onlyNumbersPattern"
                     ng-model="numberSearch.query.dealerNumber"
                     nxg-focus="numberSearch.setDealerNumActive()"
                     ng-class="{ 'nxg-invalid': numberSearch.invalid.required.dealerNumber || numberSearch.invalid.pattern.dealerNumber }"></div>
              <label for="dealer-num" class="text-error" ng-show="numberSearch.noresults.dealerNumber">
                  No results found, please enter a valid dealer number.
              </label>
              <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.required.dealerNumber">
                  Please enter a dealer number.
              </label>
              <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.pattern.dealerNumber">
                  Please enter a numeric value.
              </label>
          </div><!-- end first .control-group -->

          <p class="form-separator">-OR-</p>

          <div class="control-group"
               ng-class="{'nxg-fade' : numberSearch.auctionNumInactive}"
               >
            <label for="auction-access-num" class="control-label input-title">Auction Access Number</label>
            <div class="controls">
              <input type="text"
                     id="auction-access-num"
                     name="auctionAccessNum"
                     ng-pattern="onlyNumbersPattern"
                     ng-model="numberSearch.query.auctionAccessNumber"
                     ng-class="{'nxg-fade' : !numberSearch.auctionAccessNumberActive, 'nxg-invalid': numberSearch.invalid.required.auctionAccessNumber || numberSearch.invalid.pattern.auctionAccessNumber }"
                     nxg-focus="numberSearch.setAuctionNumActive()"></div>
              <label for="auction-access-num" class="text-error" ng-show="numberSearch.noresults.auctionAccessNumber">
                  No results found, please enter a valid auction access number.
              </label>
              <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.required.auctionAccessNumber">
                  Please enter an auction access number.
              </label>
              <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.pattern.auctionAccessNumber">
                  Please enter a numeric value.
              </label>
          </div><!-- end second .control-group -->
          <hr/>
          <div class="form-footer">
            <button class="btn btn-primary" type="submit" ng-click="numberSearch.search()">Search</button>
          </div>
        </div>
      </div><!-- end first well -->

      <div class="span8 well adjacent">
        <h4>Dealer Name Search</h4>
        <div class="well-out">
          <p>
            To look up a dealer in Dealer search, use a combination of their name and City or State.
          </p>
          <div class="control-group">
            <label for="dealer-name" class="control-label input-title">Dealer Name</label>
            <div class="controls">
              <input type="text" id="dealer-name" ng-model="nameSearch.query.dealerName" ng-class="{ 'nxg-invalid': nameSearch.invalid.dealerName }">
              <label class="text-error" ng-show="nameSearch.invalid.dealerName">
                  Please enter a dealer name.
              </label>
            </div>
          </div>

          <p class="form-separator">-AND-</p>


          <div class="control-group">
            <label for="city" class="control-label input-title">City</label>
            <div class="controls">
              <input type="text" id="city" ng-model="nameSearch.query.city">
            </div>
          </div><!-- end second .control-group -->

          <p class="form-separator">-OR-</p>

          <div class="control-group">
            <label class="control-label input-title" for="state">State</label>
            <div class="controls">
              <select id="state" ng-model="nameSearch.query.state" ng-options="state.StateName for state in states">
                <option value=""></option>
              </select>
            </div>
          </div><!-- end second .control-group -->

           <label class="text-error" ng-show="nameSearch.invalid.CityOrState">
            Please enter a city or select a state.
          </label>
          <hr/>
          <div class="form-footer">
            <button class="btn btn-primary" type="submit" ng-click="nameSearch.search()">Search</button>
          </div>
        </div>
      </div><!-- end second well -->
  </form>
</div>
