<div class="row-fluid dealer-search">

  <div class="span6 well dash-well">
    <h2 class="well-title">Dealer Number Search</h2>

    <div class="row-fluid well-content">
      <p class="form-description"> If you have the NextGear Dealer Number or Auction Access Number, use the Dealer
        Number search. </p>

      <form name="numberSearchForm" class="row-fluid search" novalidate>
        <div class="row-fluid">
          <div class="span7 form-block">
            <p for="city" class="text-error" ng-show="numberSearch.invalid.required.dealerOrAccessNumber">
              Please enter a Dealer Number or an Auction Access Number.
            </p>

            <label for="dealer-num">NextGear Dealer Number</label>

            <div class="styled-input with-btn">
              <input type="text"
                     id="dealer-num"
                     name="dealerNum"
                     ng-pattern="onlyNumbersPattern"
                     ng-model="numberSearch.query.dealerNumber"
                     nxg-focus="numberSearch.setDealerNumActive()"
                     nxg-requires="data.proposedQuery.length >= 3"
                     ng-class="{ 'nxg-invalid': numberSearch.invalid.required.dealerNumber || numberSearch.invalid.pattern.dealerNumber }">
              <button class="btn btn-input" type="submit" ng-click="numberSearch.search()"
                      ng-disabled="numberSearch.searchInProgress">
                <span nxg-icon="icon-search"></span>
              </button>
            </div>
          </div>

          <div class="span5 form-block error-block">
            <label for="dealer-num" class="text-error" ng-show="numberSearch.noresults.dealerNumber">
              No results found, please enter a valid Dealer Number.
            </label>
            <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.required.dealerNumber">
              Please enter a Dealer Number.
            </label>
            <label for="dealer-num" class="text-error" ng-show="numberSearch.invalid.pattern.dealerNumber">
              Please enter a numeric value.
            </label>
          </div>
        </div>

        <h2> OR </h2>

        <div class="row-fluid">
          <div class="span7 form-block">
            <label for="auction-access-num">Auction Access Number</label>
            <div class="styled-input with-btn">
              <input type="text"
                     id="auction-access-num"
                     name="auctionAccessNum"
                     ng-pattern="onlyNumbersPattern"
                     ng-model="numberSearch.query.auctionAccessNumber"
                     ng-class="{'nxg-fade' : !numberSearch.auctionAccessNumberActive, 'nxg-invalid': numberSearch.invalid.required.auctionAccessNumber || numberSearch.invalid.pattern.auctionAccessNumber }"
                     nxg-focus="numberSearch.setAuctionNumActive()">
             <button class="btn btn-input" type="submit" ng-click="numberSearch.search()"
                      ng-disabled="numberSearch.searchInProgress">
                <span nxg-icon="icon-search"></span>
             </button>
            </div>
          </div>
          <div class="span5 form-block error-block">
          <label for="auction-access-num" class="text-error" ng-show="numberSearch.noresults.auctionAccessNumber">
            No results found, please enter a valid Auction Access Number.
          </label>
          <label for="auction-access-num" class="text-error" ng-show="numberSearch.invalid.required.auctionAccessNumber">
            Please enter an Auction Access Number.
          </label>
          <label for="auction-access-num" class="text-error" ng-show="numberSearch.invalid.pattern.auctionAccessNumber">
            Please enter a numeric value.
          </label>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- end first well -->

  <div class="span6 well dash-well">
    <h2 class="well-title">Dealer Name Search</h2>

    <div class="well-content">
      <p class="form-description"> To look up a dealer in Dealer search, use a combination of their Name and City or
        State. </p>

      <form name="nameSearchForm" class="search" novalidate>
        <div class="row-fluid">
          <div class="span8">
            <label for="dealer-name" class="control-label input-title">Dealer Name</label>

            <div class="styled-input with-btn">
              <input type="text"
                     id="dealer-name"
                     ng-model="nameSearch.query.dealerName"
                     ng-class="{ 'nxg-invalid': nameSearch.invalid.dealerName || nameSearch.invalid.minlength }">
              <button class="btn btn-input" type="submit" ng-click="nameSearch.search()">
                <span nxg-icon="icon-search"></span>
              </button>
            </div>
            <label for="dealer-name" class="text-error" ng-show="nameSearch.invalid.dealerName">
              Please enter a Dealer Name.
            </label>
            <label for="dealer-name" class="text-error" ng-show="nameSearch.invalid.minlength">
              Please enter at least 3 characters.
            </label>
          </div>
        </div>

        <h2>OR</h2>

        <div class="row-fluid">
          <div class="span6">
            <label for="city">City</label>

            <div class="styled-input with-btn">
              <input type="text"
                     id="city"
                     ng-model="nameSearch.query.city"
                     ng-class="{ 'nxg-invalid': nameSearch.invalid.cityFormat }">
              <button class="btn btn-input" type="submit" ng-click="nameSearch.search()">
                <span nxg-icon="icon-search"></span>
              </button>
            </div>

            <label for="city" class="text-error" ng-show="nameSearch.invalid.cityFormat">
              City names must only have letters and spaces.
            </label>

            <label for="city" class="text-error" ng-show="nameSearch.invalid.CityOrState">
              Please enter a City or select a State.
            </label>
          </div>

          <div class="span6">
            <label class="control-label input-title" for="state">State</label>
            <div class="style-select">
              <select id="state" ng-model="nameSearch.query.state" ng-options="state.StateName for state in states">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <!-- end second well -->
</div>
