<section class="row-fluid upcoming">
  <!-- Calendar -->
  <div class="span9 nxg-dash-calendar-container well dash-well" >
    <div class="dash-calendar-header">
      <h5>
        <a href class="featured today-btn" ng-class="{ 'disabled': isPast() }" ng-click="onClickToday()"><span translate>Today</span>:</a>
        {{ today }}
      </h5>

      <div class="cta btn-toggle btn-toggle-static">
        <div class="btn-slider" ng-class="{ 'active-left':isWeekMode(), 'active-right':!isWeekMode() }"></div>
        <button class="btn" ng-click="changeViewMode('week')" translate>Week</button>
        <button class="btn" ng-click="changeViewMode('month')" translate>Month</button>
      </div>
    </div>

    <div nxg-upcoming-calendar display="viewMode" data="dashboardData.calendarData"></div>

    <div class="dash-calendar-footer" ng-show="viewMode == 'month'">
      <h5>
        <a href class="featured today-btn" ng-class="{ 'disabled': isPast() }" ng-click="onClickToday()"><span translate>Today</span>:</a>
        {{ today }}
      </h5>

      <div class="cta btn-toggle btn-toggle-static">
        <div class="btn-slider" ng-class="{ 'active-left':isWeekMode(), 'active-right':!isWeekMode() }"></div>
        <button class="btn" ng-click="changeViewMode('week')" translate>Week</button>
        <button class="btn" ng-click="changeViewMode('month')" translate>Month</button>
      </div>

      <table class="fc-header" style="width:100%">
        <tbody>
          <tr>
            <td class="fc-header-left"></td>
            <td class="fc-header-center">
              <span class="fc-button fc-button-prev fc-state-default fc-corner-left fc-corner-right" unselectable="on" ng-click="onClickPrev()" ng-class="{ 'fc-state-disabled': isPast() }">
                <span class="fc-text-arrow">‹</span>
              </span>
              <span class="fc-header-space"></span>
              <span class="fc-header-title">
                <h2>{{ getCalendarTitle() }}</h2>
              </span>
              <span class="fc-header-space"></span>
              <span class="fc-button fc-button-next fc-state-default fc-corner-left fc-corner-right" unselectable="on" ng-click="onClickNext()">
                <span class="fc-text-arrow">›</span>
              </span>
            </td>
            <td class="fc-header-right"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Upcoming Payments Table -->
    <div collapse="isCollapsed" ng-init="isCollapsed = true" ng-class="{ open: !isCollapsed }">
      <div class="upcoming-payments table-holder">
        <table class="table table-striped table-secondary table-border">
          <thead>
            <tr>
              <th translate>Due Date</th>
              <th translate>Description</th>
              <th translate>Payoff Due</th>
              <th translate>Payment Due</th>
            </tr>
          </thead>
          <tr ng-repeat="payment in dashboardData.UpcomingPaymentsList">
            <td class="center" ng-switch="getDueStatus(payment)">
              <div class="paired" ng-switch-when="overdue">
                <span class="paired-media" nxg-icon="icon-alert"></span>
                <span class="paired-body color-danger value">
                  {{ payment.DueDate | moment }}
                </span>
              </div>

              <div class="paired" ng-switch-when="today">
                <span class="paired-media" nxg-icon="icon-warning"></span>
                <span class="paired-body color-warning value">
                  {{ payment.DueDate | moment }}
                </span>
              </div>

              <div class="paired" ng-switch-when="future">
                <span class="paired-media svg-icon"></span>
                <span class="paired-body">
                  {{ payment.DueDate | moment }}
                </span>
              </div>
            </td>

            <td>
              <a class="primary" href="#/vehicledetails?stockNumber={{ payment.StockNumber }}">{{ payment.Description }}</a>
            </td>
            <td class="numeric">
              <span>{{ payment.PayoffDue | currency }}</span>
            </td>
            <td class="numeric">
              <span>{{ payment.PaymentDue | currency }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <button class="accordion-button paired-reversed" ng-click="isCollapsed = !isCollapsed" ng-class="{ expanded:!isCollapsed }">
      <span class="paired-body">
        <span ng-show="isCollapsed" translate>Show Payment Details</span>
        <span ng-show="!isCollapsed" translate>Hide Payment Details</span>
      </span>
      <span class="paired-media" ng-class="{ 'point-up':!isCollapsed, 'point-down':isCollapsed }" nxg-icon="icon-chevron">
      </span>
    </button>
  </div>

  <!-- Payment Summary -->
  <div class="span3 well payment-summary dash-well">
    <h2 class="well-title" translate>Payments Summary</h2>
    <ul class="counter-list">
      <li class="clickable" ng-click="filterPayments('overdue')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_OVERDUE}}">
        <span class="counter" ng-class="{overdue: paymentSummary[viewMode].OverduePayments > 0}">{{paymentSummary[viewMode].OverduePayments}}</span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Overdue</p>
          <h4 class="dash-major" ng-class="{'overdue-amount': paymentSummary[viewMode].OverduePaymentAmount > 0}">{{paymentSummary[viewMode].OverduePaymentAmount | currency}}</h4>
        </div>
      </li>
      <li class="clickable" ng-click="filterPayments('today')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_DUE_TODAY}}">
        <span class="counter" ng-class="{'due-today': paymentSummary[viewMode].PaymentsDueToday > 0}">{{paymentSummary[viewMode].PaymentsDueToday}}</span>
        <div class="dash-lockup">
          <p class="dash-minor" translate>Due Today</p>
          <h4 class="dash-major">{{paymentSummary[viewMode].PaymentsDueTodayAmount | currency}}</h4>
        </div>
      </li>
      <li class="clickable" ng-click="filterPayments(viewMode)" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_WEEK}}">
        <span class="counter">{{paymentSummary[viewMode].UpcomingPayments}}</span>

        <div class="dash-lockup">
          <span class="lockup-minor" translate
                translate-n="paymentSummary[viewMode].UpcomingPayments"
                translate-plural="Payments This {{ viewMode | capitalize }}"
                translate-comment="Payment This [Month, Year]">Payment This {{ viewMode | capitalize }}</span>
          <h4 class="dash-major">{{paymentSummary[viewMode].UpcomingPaymentsAmount | currency}}</h4>
        </div>
      </li>
      <li class="clickable" ng-click="filterPayments()" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_FEES}}">
        <span class="counter">{{paymentSummary[viewMode].AccountFees}}</span>
        <div class="dash-lockup">
          <p class="dash-minor" translate
             translate-n="paymentSummary[viewMode].AccountFees"
             translate-plural="Account Fees">Account Fee</p>
          <h4 class="dash-major">{{paymentSummary[viewMode].AccountFeeAmount | currency}}</h4>
        </div>
      </li>
    </ul>
    <button class="btn-cta cta-full cta-primary" ng-click="onClickButtonLink('payments')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_VIEW_ALL_PAYMENTS_BUTTON}}">
      <span class="paired-body" translate>View All Payments</span>
      <span class="paired-media" nxg-icon="icon-eye"></span>
    </button>

    <!-- Payments Chart -->
    <div class="payments-chart" collapse="isCollapsed" ng-init="isCollapsed = true" ng-class="{ open: !isCollapsed }">
      <div class="chart-obj"
          nxg-chart
          nxg-chart-type="pie"
          nxg-chart-tooltip="false"
          nxg-chart-size="chartOptions.size"
          nxg-chart-data="chartData.payments"
          nxg-donut-options="chartOptions.donutOptions"
          nxg-chart-title="chartData.paymentsTitle">
      </div>

      <table class="table table-unstyle chart-legend">
        <tr>
          <td><i class="chart-legend-color nxg-chart-fees"></i></td>
          <td class="table-label" translate>Fees</td>
          <td class="table-value numeric">{{ dashboardData.paymentChartData.fees | currency }}</td>
        </tr>
        <tr>
          <td><i class="chart-legend-color nxg-chart-payments"></i></td>
          <td class="table-label" translate>Payments</td>
          <td class="table-value numeric">{{ dashboardData.paymentChartData.payments | currency }}</td>
        </tr>
        <tr class="">
          <td><i class="chart-legend-color nxg-chart-scheduled-payments"></i></td>
          <td class="table-label" translate>Scheduled</td>
          <td class="table-value numeric">
            {{ dashboardData.paymentChartData.scheduledPayments | currency }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section class="page-break"></section>

<section class="row-fluid">
  <!-- Credit Summary -->
  <div class="span5 well dash-well">
    <h2 class="well-title" translate>Credit Information</h2>
    <div class="row-fluid clearfix">
      <div class="span5 donut-nested">
          <div class="donut-outer"
                nxg-chart
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-size="chartOptions.size"
                nxg-chart-data="chartData.credit.outer"
                nxg-donut-options="chartOptions.donutOptions"
                nxg-chart-title="chartData.creditTitle"></div>
          <div class="donut-inner"
                nxg-chart
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-size="chartOptions.innerSize"
                nxg-chart-data="chartData.credit.inner"
                nxg-donut-options="chartOptions.donutOptions"></div>
      </div>

      <div class="span7">
        <div class="chart-legend">
          <h6 class="static-option" ng-show="dashboardData.LinesOfCredit.length == 1">{{ dashboardData.selectedLineOfCredit.CreditTypeName }}</h6>
          <div class="style-select auto" ng-hide="dashboardData.LinesOfCredit.length == 1">
            <select id="lineOfCredit" name="lineOfCredit" ng-model="dashboardData.selectedLineOfCredit" ng-options="loc.CreditTypeName for loc in dashboardData.LinesOfCredit"></select>
          </div>
          <table class="table table-legend">
            <tr>
              <td><i class="chart-legend-color nxg-chart-total-credit"></i></td>
              <td class="table-label" translate>Total</td>
              <td class="table-symbol">=</td>
              <td class="table-value table-numeric">
                {{ dashboardData.selectedLineOfCredit.LineOfCreditAmount | numeral:'$0,0.00' }}
              </td>
            </tr>
            <tr>
              <td>
                <i class="chart-legend-color nxg-chart-utilized-credit"></i>
              </td>
              <td class="table-label" translate>Utilized</td>
              <td class="table-symbol color-danger">–</td>
              <td class="table-value table-numeric">{{ dashboardData.selectedLineOfCredit.UtilizedCreditAmount | numeral:'$0,0.00' }}</td>
            </tr>
            <tr>
              <td>
                <i class="chart-legend-color nxg-chart-available-credit"></i>
              </td>
              <td class="table-label" translate>Available</td>
              <td class="table-symbol">=</td>
              <td class="table-value table-numeric">{{ dashboardData.selectedLineOfCredit.AvailableCreditAmount | numeral:'$0,0.00' }}</td>
            </tr>
          </table>
          <p class="tip" ng-show="dashboardData.selectedLineOfCredit.TempLineOfCreditExpiration != null" translate>This line has a temporary credit increase of {{ dashboardData.selectedLineOfCredit.TempLineOfCreditAmount | numeral:'$0,0.00' }} that expires on {{dashboardData.selectedLineOfCredit.TempLineOfCreditExpiration | moment}}.</p>
        </div>
      </div>
    </div>
    <button class="btn-cta cta-full cta-secondary" href="javascript:void(0)" ng-click="onRequestCredIncr()" nxg-track="{{metric.CLICK_DASHBOARD_REQUEST_CREDIT_INCREASE_BUTTON}}">
        <span class="paired-body" translate>Request Credit Increase</span>
        <span class="paired-media icon-x-small" nxg-icon="icon-triangle"></span>
    </button>
  </div>

  <!-- Receipts Summary -->
  <div class="span4 well dash-well">
    <h2 class="well-title" translate>Recent Receipts</h2>
    <table class="table table-striped table-secondary">
      <thead>
        <th translate>Receipt Date</th>
        <th translate>Receipt No.</th>
        <th translate>Amount</th>
      </thead>
      <tr ng-repeat="receipt in dashboardData.Receipts">
        <td class="table-label">{{ receipt.ReceiptDate | moment }}</td>
        <td class="table-value center"><a ng-href="{{ receipt.$receiptURL }}" target="_blank" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_RECEIPTS}}">#{{ receipt.ReceiptNumber }}</a></td>
        <td class="table-value table-numeric">{{ receipt.ReceiptAmount | currency }}</td>
      </tr>
    </table>
    <button class="btn-cta cta-full cta-secondary" ng-click="onClickButtonLink('receipts')" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_ALL_RECEIPTS}}">
      <span class="paired-body" translate>View All Receipts</span>
      <span class="paired-media icon-x-small" nxg-icon="icon-triangle"></span>
    </button>
  </div>

  <!-- Unapplied Funds Summary -->
  <div nxg-unapplied-funds-widget
       balance="dashboardData.UnappliedFundsTotal"
       available="dashboardData.TotalAvailableUnappliedFunds">
  </div>
</section>

<section class="row-fluid">
  <!-- Floor Plan Summary -->
  <div class="span2 well dash-well">
    <h2 class="well-title" translate>Floor Plan</h2>
    <ul>
      <li class="row-fluid">
        <div class="span6">
          <span class="counter">
            {{ dashboardData.ApprovedFloorplans | alt }}
          </span>
        </div>
        <div class="span6 counter-label">
          <span tooltip="{{ 'This status applies to vehicles floored via NextGearCapital.com or by a NextGear employee via NextGear\'s Discover system that have been approved and are currently on the NextGear dealer\'s floor plan.' | translate }}"
            tooltip-placement="right"
            tooltip-popup-delay="700">
              <a href="#/floorplan?filter=approved" translate>Approved</a>
          </span>
        </div>
      </li>

      <li class="row-fluid">
        <div class="span6">
          <span class="counter">
            {{ dashboardData.PendingFloorplans | alt }}
          </span>
        </div>
        <div class="span6 counter-label">
          <span tooltip="{{ 'This status applies to vehicles floored via NextGearCapital.com or by a NextGear employee via NextGear\'s Discover system that have not yet been approved by a NextGear employee.' | translate }}"
            tooltip-placement="right"
            tooltip-popup-delay="700">
              <a href="#/floorplan?filter=pending" translate>Pending</a>
          </span>
        </div>
      </li>

      <li class="row-fluid">
        <div class="span6">
          <span class="counter">
            {{ dashboardData.DeniedFloorplans | alt }}
          </span>
        </div>
        <div class="span6 counter-label">
          <span tooltip="{{ 'This status applies to vehicles floored via NextGearCapital.com that have been denied by a NextGear employee. Please contact NextGear Customer Service to find out why a vehicle has been denied.' | translate }}"
            tooltip-placement="right"
            tooltip-popup-delay="700">
              <a href="#/floorplan?filter=denied" translate>Denied</a>
          </span>
        </div>
      </li>
    </ul>

    <button class="btn-cta cta-full cta-secondary btn-floor-plans" ng-click="onClickButtonLink('floorplan')" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_FLOORPLAN_BUTTON}}">
      <span class="paired-body" translate>Floor Plans</span>
      <span class="paired-media icon-x-small" nxg-icon="icon-triangle"></span>
    </button>
  </div><!-- end .summary.floorplan -->

  <div class="span10 well dash-well infinite">
    <h2 class="well-title" translate>Recently Floored Vehicles</h2>
    <div ng-switch="floorplanData.results.length > 0 || floorplanData.loading">
      <p class="notice-box" ng-switch-when="false" translate>
        Sorry, no results found.
      </p>

      <div ng-switch-when="true"
           nxg-infinite-scroll="floorplanData.fetchNextResults()"
           nxg-infinite-scroll-disabled="floorplanData.loading"
           nxg-infinite-scroll-show-indicator="floorplanData.loading">
        <table class="table table-striped table-secondary">
          <thead>
            <th translate>Floored On</th>
            <th translate>Description</th>
            <th translate>Line of Credit</th>
            <th translate>Status</th>
          </thead>
          <tr ng-repeat="item in floorplanData.results">
            <td class="center">{{ item.FlooringDate | moment }}</td>
            <td class="table-value"><a href="#/vehicledetails?stockNumber={{ item.StockNumber }}">{{ item.Description }}</a></td>
            <td>{{ item.LineOfCredit }}</td>
            <td>{{ item.FloorplanStatusName }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
