<div class="row ng-scope">
  <section class="col-xs-6 well video-well">
    <h2 class="well-title" translate>Video Walkthrough</h2>
    <div class="nxg-video">
      <iframe class='sproutvideo-player' type='text/html' src='https://videos.sproutvideo.com/embed/e89bd9b5121ce8cf60/0425ed83c4b99dd9?type=sd' width='630' height='354' frameborder='0'></iframe>
    </div>
  </section>

  <div class="col-xs-3 custom well documents-well">
    <h2 class="well-title" translate>NextGear Capital Documents</h2>
    <div class="well-item">
      <ul class="text-list zeroLeftPadding">
        <li>
          <a ng-href="{{ feeScheduleUrl }}" target="_blank" nxg-track="{{metric.DEALER_RESOURCES_RATES_AND_FEES_PAGE}}" track-properties="{{ kissMetricData }}" translate>
            Rates and Fees
          </a>
        </li>
        <li ng-repeat="doc in documents">
          <a ng-href="{{ doc.url }}" target="_blank" nxg-track="{{ doc.metric }}" track-properties="{{ kissMetricData }}">
            {{ doc.title }}
          </a>
        </li>
      </ul>
      <h4 translate>Collateral Protection Program</h4>
      <ul class="text-list zeroLeftPadding">
        <li ng-repeat="doc in collateralProtection">
          <a ng-href="{{ doc.url }}" target="_blank" nxg-track="{{ doc.metric }}" track-properties="{{ kissMetricData }}">
            {{ doc.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-3 custom well documents-well left-margin-large">
    <h2 class="well-title" translate>NextGear Capital Mobile Apps</h2>
    <div class="well-item">
      <p translate>Manage your business with NextGear Capital on the go.</p>
      <ul class="text-list zeroLeftPadding">
        <li>
          <a href="https://itunes.apple.com/us/app/nextgear-capital/id748609885?mt=8" target="_blank" translate>
              Download NextGear Capital Mobile iOS
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.nextgear.mobile" target="_blank" translate>
            Download NextGear Capital Mobile Android
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

