<!-- TODO: Add error messaging -->
<form class="row-fluid floorcar" name="form">
   <fieldset class="span6">
       <legend>Vehicle Information</legend>
       <label for="inputVin">VIN</label>
       <input type="text" id="inputVin" ng-model="data.UnitVin" />

      <span class="row">
        <input type="checkbox" id="vinFailure" ng-model="data.VinAckLookupFailure">
        <label for="vinFailure">Acknowledge VIN Look-Up Failure</label>
      </span>

      <!-- Start conditional VIN failure fields. -->
      <div ng-show="true">

        <label for="inputMake">Make</label>
        <select id="inputMake" ng-model="data.UnitMake">
        </select>

        <label for="inputModel">Model</label>
        <select id="inputModel" ng-model="data.UnitModel">
        </select>

        <label for="inputYear">Year</label>
        <select id="inputYear" ng-model="data.UnitYear">
        </select>

        <label for="inputStyle">Style</label>
        <select id="inputStyle" ng-model="data.UnitStyle">
        </select>
      </div>

      <!-- End conditional VIN failure fields. -->

       <label for="inputColor">Color</label>
       <select id="inputColor" ng-model="data.UnitColorId">
           <option></option>
           <option>Black</option>
           <option>Blue</option>
           <option>Bronze</option>
           <option>Brown</option>
           <option>Cream</option>
           <option>Purple</option>
       </select>

       <label for="inputMileage">Mileage</label>
       <input type="text" id="inputMileage" ng-model="data.UnitMileage" />

       <label for="NXGBookVal">NextGear Book Value</label>
       <p class="muted help" ng-show="!data.SelectedVehicle">Enter vehicle identity + mileage for book value</p>
       <ul id="NXGBookVal" ng-show="!!data.SelectedVehicle">
         <li>Rough: {{ data.SelectedVehicle.RoughValue | currency }}</li>
         <li>Average: {{ data.SelectedVehicle.AverageValue | currency }}</li>
         <li>Clean: {{ data.SelectedVehicle.CleanValue | currency }}</li>
         <li>Extra Clean: {{ data.SelectedVehicle.ExtraCleanValue | currency }}</li>
       </ul>

       <label for="inputTitleHolder">Who has the Title?</label>
       <select id="inputTitleHolder" ng-model="data.TitleLocationId"
               ng-options="location.Name for location in user.getStatics().titleLocationOptions">
       </select>

       <label for="inputTitleState">Title State</label>
       <select id="inputTitleState" ng-model="data.UnitTitleStateId"
               ng-options="state.StateName for state in user.getStatics().states">
       </select>

       <label for="inputTitleNo">Title Number</label>
       <input type="text" id="inputTitleNo" ng-model="data.UnitTitleNumber" />

       <label for="inputInvLoc">Inventory Location</label>
       <select id="inputInvLoc" ng-model="data.PhysicalInventoryAddressId"
               ng-options="location.LocationName for location in user.getStatics().locations">
       </select>
   </fieldset>

    <fieldset class="span6">
        <legend>Sale Information</legend>

        <label>Trade In</label>
        <label><input type="radio" name="inputTradeIn" ng-value="false" ng-model="data.SaleTradeIn"> No </label>
        <label><input type="radio" name="inputTradeIn" ng-value="true" ng-model="data.SaleTradeIn"> Yes </label>

        <label for="inputSeller">Seller</label>
        <input type="text" id="inputSeller" ng-model="data.SellerBusinessId" ng-disabled="data.SaleTradeIn" />
        <a href ng-click="data.SaleTradeIn || openBusinessSearch()"
           ng-class="{disabled: data.SaleTradeIn}">
          <i class="icon-search"></i>
        </a>

        <label for="inputPurchaseAmt">Purchase Amount</label>
        <input type="text" id="inputPurchaseAmt" ng-model="data.UnitPurchasePrice" />

        <label for="inputPurchaseDate">Purchase Date</label>
        <input id="inputPurchaseDate" nxg-date-field ng-model="data.UnitPurchaseDate" />

        <label for="inputCreditLine">Line of Credit</label>
        <select id="inputCreditLine" ng-model="data.LineOfCreditId"
                ng-options="line.LineOfCreditName for line in user.getStatics().linesOfCredit">
        </select>

        <label for="inputSendPay">Send Payment To:</label>
        <select id="inputSendPay" ng-model="data.PaySeller"
                ng-options="name for (name, value) in {Buyer: false, Seller: true}">
        </select>

        <label for="inputDisburseAcct">Bank Account for Disbursement (when applicable)</label>
        <select id="inputDisburseAcct" ng-model="data.BuyerBankAccountId"
                ng-options="account.BankAccountName for account in user.getStatics().bankAccounts">
        </select>
        <div>
            <button class="btn btn-small">Cancel</button>
            <button class="btn btn-small" type="submit" ng-click="submit()">Submit</button>
        </div>
    </fieldset>
</form>
