<section class="row-fluid">
  <section class="span12">
    <div nxg-search
      title="{{ 'Find a Floor Plan' | translate }}"
      class="search-form"
      prompt="{{ 'Stock #, VIN, Make, Model, or Year' | translate }}"
      metric-search="{{metric.CLICK_FLOORPLAN_SEARCH_BUTTON}}"
      metric-clear-search="{{metric.CLICK_FLOORPLAN_PAYMENTS_CLEAR_SEARCH_LINK}}"
      metric-filter-by-input="{{metric.CLICK_FLOORPLAN_FILTER_BY_INPUT}}"
      metric-filter-from-date="{{metric.CLICK_FLOORPLAN_FILTER_FROM_DATE_INPUT}}"
      metric-filter-to-date="{{metric.CLICK_FLOORPLAN_FILTER_TO_DATE_INPUT}}"
      metric-filter-by-inventory-location="{{metric.CLICK_FLOORPLAN_FILTER_BY_INVENTORY_LOCATION}}"
      filter-label="{{ 'Filter by Flooring Status' | translate }}"
      filter-options="filterOptions"
      active-criteria="floorplanData.searchCriteria"
      on-search="floorplanData.search(floorplanData.searchCriteria)"
      on-clear="floorplanData.resetSearch(filterOptions)"
      filterable="true"
      show-location-filter="true">
    </div>

    <div class="well" ng-switch="floorplanData.results.length > 0 || floorplanData.loading">
      <h2 class="well-title" translate>Floor Plan</h2>
      <p class="no-results" ng-switch-when="false" translate>
        Sorry, no results found. Please <a ng-click="floorplanData.resetSearch(filterOptions)" title="New Search">try a new search</a>.
      </p>

      <div ng-switch-when="true"
           nxg-infinite-scroll="floorplanData.fetchNextResults()"
           nxg-infinite-scroll-disabled="floorplanData.loading"
           nxg-infinite-scroll-show-indicator="floorplanData.loading">
        <table class="table table-striped table-primary">
          <thead>
            <th class="sortable"
                ng-click="floorplanData.sortBy('FlooringDate')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'FlooringDate', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Floored</span><span class="sortArrows"></span>
            </th>
            <th class="sortable"
                ng-click="floorplanData.sortBy('UnitMake')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'UnitMake', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Description</span><span class="sortArrows"></span>
            </th>
            <th class="sortable"
                ng-click="floorplanData.sortBy('Status')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'Status', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Status</span><span class="sortArrows"></span>
            </th>
            <th class="sortable"
                ng-click="floorplanData.sortBy('PurchaseDate')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'PurchaseDate', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Purchased</span><span class="sortArrows"></span>
            </th>
            <th class="sortable"
                ng-click="floorplanData.sortBy('SellerBusinessName')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'SellerBusinessName', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Seller</span><span class="sortArrows"></span>
            </th>
            <th class="sortable"
                ng-click="floorplanData.sortBy('LastPaymentDate')"
                ng-class="{ sorted : floorplanData.searchCriteria.sortField == 'LastPaymentDate', desc : floorplanData.searchCriteria.sortDescending }">
              <span translate>Last Payment</span><span class="sortArrows"></span>
            </th>
            <th translate>Title</th>
          </thead>

          <tr ng-repeat="item in floorplanData.results">
            <td>
              <p class="lockup-major"> {{ item.FlooringDate | moment }} </p>
              <p class="lockup-minor" translate>{{ item.DaysOnFloorplan }} days</p>
            </td>
            <td>
              <a class="lockup-major" href="#/vehicledetails?stockNumber={{ item.StockNumber }}">
                <span nxg-highlight="item.Description" highlight="item.data.query" class="break-word"></span>
              </a>

              <div class="row-fluid">
                <p class="lockup-minor caps vin"><span translate>VIN</span>: <span nxg-highlight="item.UnitVIN" highlight="item.data.query" class="break-word"></span></p>
                <p class="lockup-minor caps stock"><span translate>STK</span>: <span nxg-highlight="item.StockNumber" highlight="item.data.query"></span></p>
              </div>
            </td>
            <td>
              <p translate> {{ item.FloorplanStatusName }} </p>
            </td>
            <td>
              <p> {{ item.UnitPurchaseDate | moment }} </p>
            </td>
            <td>
              <p> {{ item.SellerName }} </p>
            </td>
            <td>
              <p class="lockup-major">{{ item.LastPaymentDate | moment }}</p>
             </td>
            <td>
               <a class="btn btn-square" ng-show="item.TitleImageAvailable"
                  ng-href="{{ item.$titleURL }}"
                  nxg-track="{{ metric.VIEW_TITLE }}"
                  target="_blank">
                  <span nxg-icon="icon-title"></span>
                </a>
            </td>
          </tr>
        </table>

        <p class="text-error notice-box" ng-show="floorplanData.hitInfiniteScrollMax" translate>
          There are too many results to display, please refine your search further.
        </p>
      </div>
    </div>
  </section>
</section>
