<section class="row-fluid">
  <!-- <section class="span9"> -->
    <div nxg-search
       title="Receipt Search"
       class="search-form"
       metric-search="{{metric.CLICK_RECEIPTS_SEARCH_BUTTON}}"
       metric-clear-search="{{metric.CLICK_RECEIPTS_CLEAR_SEARCH_LINK}}"
       metric-filter-by-input="{{metric.CLICK_RECEIPTS_FILTER_BY_INPUT}}"
       metric-filter-from-date="{{metric.CLICK_RECEIPTS_FILTER_FROM_DATE_INPUT}}"
       metric-filter-to-date="{{metric.CLICK_RECEIPTS_FILTER_TO_DATE_INPUT}}"
       prompt="Receipt #, Stock #, VIN, Check #, Make, Model or Year"
       filter-label="Filter by Payment Method"
       filter-options="filterOptions"
       active-criteria="receipts.proposedSearchCriteria"
       on-search="receipts.search()"
       on-clear="receipts.resetSearch()"
       filterable="true" >
    </div>

    <div class="well">
      <h2 class="well-title">Receipts</h2>
      <div ng-switch="receipts.results.length > 0 || receipts.loading">
        <p class="no-results" ng-switch-when="false">
          Sorry, no results found. Please <a ng-click="receipts.resetSearch()" title="New Search">try a new search</a>.
        </p>

        <div ng-switch-when="true"
             nxg-infinite-scroll="receipts.fetchNextResults()"
             nxg-infinite-scroll-disabled="receipts.loading"
             nxg-infinite-scroll-show-indicator="receipts.loading">
          <table class="table table-striped table-primary">
            <thead>
              <th class="sortable"
                  ng-click="sortBy('CreateDate')"
                  ng-class="{ sorted : sortField == 'CreateDate', desc : sortDescending }">
                Payment Date<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('TransactionNumber')"
                  ng-class="{ sorted : sortField == 'TransactionNumber', desc : sortDescending }">
                Receipt No.<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('PaymentMethod')"
                  ng-class="{ sorted : sortField == 'PaymentMethod', desc : sortDescending }">
                Payment Description<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('AmountApplied')"
                  ng-class="{ sorted : sortField == 'AmountApplied', desc : sortDescending }">
                Applied<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('AmountProvided')"
                  ng-class="{ sorted : sortField == 'AmountProvided', desc : sortDescending }">
                Provided<span class="sortArrows"></span>
              </th>
              <th>
                <button class="btn" ng-click="onExport()" ng-disabled="count() == 0" nxg-track="{{metric.CLICK_RECEIPTS_VIEW_SELECTED_RECEIPTS_BUTTON}}">Export Receipt(s)
                </button>
              </th>
            </thead>
            <tr ng-repeat="receipt in receipts.results">
              <td >
                <h4 class="lockup-major">{{ receipt.CreateDate | moment }}</h4>
                <p class="lockup-minor" ng-switch="getReceiptStatus(receipt)">
                  <span ng-switch-when="nsf">Insufficient Funds</span>
                  <span ng-switch-when="void">Voided</span>
                  <span ng-switch-when="normal">Processed</span>
                </p>
              </td>
              <td>
                <h4 class="lockup-major" nxg-highlight="receipt.TransactionNumber" highlight="receipt.data.query"></h4>
              </td>
              <td>
                <p>Payment: {{ receipt.PaymentMethod }}<br/>
                  <span ng-switch on="!!reciept.CheckNumber">
                    <span ng-switch-when="true">
                      <span ng-show="receipt.CheckNumber">Check #:</span>
                      <span nxg-highlight="receipt.CheckNumber" highlight="receipt.data.query"></span>
                    </span>
                  </span>
                <span ng-show="receipt.PayeeDescription">{{ receipt.PayeeDescription }}</span></p>
              </td>
              <td>
                <h4 class="lockup-major">{{ receipt.AmountApplied | currency }}</h4>
              </td>
              <td>
                <h4 class="lockup-major">{{ receipt.AmountProvided | currency }}</h4>
              </td>
              <td class="">
                <input type="checkbox" id="{{ receipt.TransactionNumber }}"
                       name="toPrint"
                       ng-disabled="tooMany() && !selectedReceipts[$index]"
                       ng-model="selectedReceipts[$index]"
                       nxg-track="{{metric.CLICK_RECEIPTS_VIEW_RECEIPT_INPUT}}"/>
                <label class="checkbox-img" for="{{ receipt.TransactionNumber }}"></label>
              </td>
            </tr>
          </table>

          <p class="text-error notice-box" ng-show="receipts.hitInfiniteScrollMax">
            There are too many results to display, please refine your search further.
          </p>
        </div>
      </div>
    </div>
  <!-- </section> -->
 <!--  <section class="span3 well">
 <!-- To be completed with VO-2731 -->
    You can combine up to 20 receipts into a single pdf by selecting each receipt checkbox and clicking 'View Selected Receipts'.
  </section> -->
</section>
