<section class="row-fluid">
  <section class="span9">
    <div class="well">
      <h4>Payments Checkout</h4>
      <div class="well-out">
        <p>If you would like to schedule any of the payments, click the Schedule Payment Button to select date.</p>
      </div>
    </div><!-- end .well -->

    <div class="checkout-list" ng-switch="paymentQueue.contents.isEmpty()">
      <!-- When there are no payments or fees -->
      <p class="notice-box" ng-switch-when="true">
        You have no payments selected for checkout. Please visit the
        <a href="#/home/payments">Payments list</a> to select some.
      </p>

      <!-- When you have payments or fees in your cart -->
      <section ng-switch-when="false">

        <!-- Fees List -->
        <div ng-show="paymentQueue.sum.feeCount() > 0">
          <h3 class="boxed">Fees</h3>

          <ul class="unstyled fees">
            <li class="table-list-head">
              <div class="cell fee-type">Fee Type</div>
              <div class="cell fee-desc">Description</div>
              <div class="cell fee-due">Date Due</div>
              <div class="cell fee-amt">Fee Amount</div>
            </li>

            <li class="table-list-row" ng-repeat="fee in paymentQueue.contents.fees">
              <div class="cell fee-type"><p>{{ fee.type || 'N/A' }}</p></div>
              <div class="cell fee-desc"><p>{{ fee.description }}</p></div>
              <div class="cell fee-due"><p>{{ fee.dueDate | moment }}</p></div>
              <div class="cell fee-amt">
                <p>{{ fee.amount | currency }}</p>
                <button ng-click="paymentQueue.removeFee(fee.financialRecordId)" class="btn btn-mini btn-block" ng-disabled="submitInProgress">
                  Remove Fee
                </button>
              </div>
            </li>
          </ul>
        </div><!-- end Fees List -->

        <!-- Payments List -->
        <div ng-show="paymentQueue.sum.paymentCount() > 0">
          <h3 class="boxed">Payments</h3>

          <ul class="unstyled payments">
            <li class="table-list-head">
              <div class="cell pay-desc">Description</div>
              <div class="cell pay-due">Date Due</div>
              <div class="cell pay-status">Status</div>
              <div class="cell pay-pymt">Payment</div>
            </li>

            <li class="table-list-row" ng-repeat="payment in paymentQueue.contents.payments">
                <div class="cell pay-desc">
                  <p>
                    <span class="sch-label">VIN: </span>
                    {{ payment.vin }}<br/>
                    <span class="sch-label">Stock #: </span>
                    {{ payment.stockNum }}
                  </p>
                  <p>{{ payment.description }}</p>
                </div>
                <div class="cell pay-due"><p>{{ payment.dueDate | moment }}</p></div>
                <div class="cell pay-status">
                  <p ng-show="!paymentQueue.canSchedule(payment)">
                  Unavailable to Schedule</p>
                  <p ng-show="paymentQueue.canSchedule(payment) && !payment.scheduleDate">Available to Schedule</p>
                  <p ng-show="paymentQueue.canSchedule(payment) && !!payment.scheduleDate">Scheduled for {{ payment.scheduleDate | moment }}</p>
                </div>
                <div class="cell pay-pymt">
                  <p>{{ payment.amount | currency }}</p>
                  <button class="btn btn-mini btn-block"
                          ng-click="paymentQueue.removePayment(payment.floorplanId)"
                          ng-disabled="submitInProgress">
                    Remove Payment
                  </button>
                  <button class="btn btn-mini btn-block"
                          ng-click="paymentQueue.schedule(payment)"
                          ng-show="paymentQueue.canSchedule(payment)"
                          ng-disabled="payment.scheduleLoading || submitInProgress">
                    {{ !payment.scheduleDate && 'Schedule Payment' || 'Edit Scheduled Payment' }}
                  </button>
                  <label class="text-error" ng-show="!!payment.scheduleError">{{ payment.scheduleError }}</label>
                </div>
            </li>
          </ul>
        </div><!-- end Payments List -->
      </section>
    </div><!-- end .checkout-list -->
  </section><!-- end .span9 -->

  <form class="span3 well checkout-summary sticky" name="paymentForm" novalidate nxg-sticky>
    <h4>Payment Summary</h4>
    <div class="well-out">
      <p>Review the Summary and submit your payments and scheduled payments.</p>

      <hr/>

      <!-- Payments -->
      <div class="today-items">
        <h4>
          <span class="count">{{ paymentQueue.sum.todayCount() }}</span>
          <span class="count-label" ng-show="paymentQueue.sum.todayCount() == 1">Payment</span>
          <span class="count-label" ng-hide="paymentQueue.sum.todayCount() == 1">Payments</span>
        </h4>
        <p class="chkout-label">Total </p>
        <p class="chkout-value" ng-class="{ highlight: paymentQueue.sum.todayTotal > 0}">{{ paymentQueue.sum.todayTotal() | currency }}</p>
      </div><!-- end Payments -->

      <!-- If User has Unapplied Funds -->
      <div class="unapplied-funds-section" ng-show="unappliedFunds.available > 0">
        <hr/>
        <p class="chkout-label">Available Unapplied Funds</p>
        <p class="chkout-value">{{ unappliedFunds.available | currency }}</p>

        <div class="form-inline nxg-radios">
          <p class="chkout-label">Apply funds to payment?</p>
          <input type="radio" name="useUnapplied" id="unappliedNo" placeholder="No"
                 ng-value="false" ng-model="unappliedFunds.useFunds"
                 ng-disabled="paymentQueue.sum.todayTotal() == 0">
          <label for="unappliedNo">No</label>
          <input type="radio" name="useUnapplied" id="unappliedYes" placeholder="Yes"
                 ng-value="true" ng-model="unappliedFunds.useFunds"
                 ng-disabled="paymentQueue.sum.todayTotal() == 0">
          <label for="unappliedYes">Yes</label>
        </div>

        <div class="control-group" ng-show="unappliedFunds.useFunds">
          <label for="unappliedAmt">Unapplied Funds to Use</label>
          <span class="input-prepend dollar">
            <span class="add-on">$</span>
            <input id="unappliedAmt" name="unappliedAmt" type="text"
                   placeholder="0.00"
                   ng-model="unappliedFunds.useAmount"
                   nxg-min="unappliedFunds.min()"
                   nxg-max="unappliedFunds.max()"
                   ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*(\.[0-9]{2})?$/"
                   ng-required="unappliedFunds.useFunds"
                   ng-class="{ 'nxg-invalid': validity.unappliedAmt.$error.required || validity.unappliedAmt.$error.pattern || validity.unappliedAmt.$error.nxgMin || validity.unappliedAmt.$error.nxgMax }" />
          </span>
          <label class="text-error" ng-show="validity.unappliedAmt.$error.required">
            Please enter the amount of unapplied funds to use.
          </label>
          <label class="text-error" ng-show="validity.unappliedAmt.$error.pattern">
            Please enter the amount of unapplied funds as a number.
          </label>
          <label class="text-error"
             ng-show="validity.unappliedAmt.$error.nxgMin || validity.unappliedAmt.$error.nxgMax">
              Unapplied funds must be {{ unappliedFunds.min() | currency }} to {{ unappliedFunds.max() | currency }}
          </label>
        </div>

        <hr/>

        <p class="chkout-label">Remaining Payment Balance</p>
        <p class="chkout-value">{{ paymentQueue.sum.todayTotal() - unappliedFunds.useAmount | currency }}</p>
      </div><!-- end of Unapplied Funds -->

      <hr/>

      <!-- Scheduled Payments -->
      <div class="scheduled-items">
        <h4><span class="count">{{ paymentQueue.sum.scheduledCount() }}</span>
          <span class="count-label" ng-show="paymentQueue.sum.scheduledCount() == 1">Scheduled Payment</span>
          <span class="count-label" ng-hide="paymentQueue.sum.scheduledCount() == 1">Scheduled Payments</span>
        </h4>
        <p class="chkout-label">Scheduled Total</p>
        <p class="chkout-value" ng-class="{ highlight: paymentQueue.sum.scheduledTotal > 0 }">{{ paymentQueue.sum.scheduledTotal() | currency }}</p>
      </div><!-- end Scheduled Payments -->

      <hr/>

      <!-- Bank Account -->
      <div class="bank-account">
        <label for="bankAccount">Account</label>
        <select name="bankAccount" id="bankAccount"
                ng-model="bankAccounts.selectedAccount"
                ng-disabled="submitInProgress"
                ng-options="account.BankAccountName for account in bankAccounts.getList()"
                ng-class="{ 'nxg-invalid': validity.bankAccount.$error.required }"
                required>
          <option value="">-- Select Bank --</option>
        </select>
        <label class="text-error" ng-show="validity.bankAccount.$error.required">Please select a bank account for payment.</label>
      </div><!-- end Bank Account selection -->

      <hr/>

      <div class="submit">
        <button class="btn btn-primary" ng-disabled="paymentQueue.contents.isEmpty() || submitInProgress" ng-click="submit()">
          Submit Payments and Commit Scheduled Payments
        </button>
      </div>
    </div><!-- end .well-out -->
  </form>
</section>
