<section class="row-fluid">
  <section class="span9">
    <div nxg-search
      title="Scheduled Payment Search"
      class="search-form schPayments"
      prompt="Enter Stock # or VIN"
      filter-label="Filter List by Status"
      filter-options="scheduledPayments.filterOptions"
      active-criteria="scheduledPayments.searchCriteria"
      on-search="scheduledPayments.search()"
      on-clear="scheduledPayments.resetSearch()">
    </div>

    <div class="schPayments-list" ng-switch="scheduledPayments.results.length > 0 || scheduledPayments.loading">

      <p class="no-results" ng-switch-when="false">
        Sorry, no results found. Please <a ng-click="scheduledPayments.resetSearch()" title="New Search">try a new search</a>
.
      </p>

      <section ng-switch-when="true"
        nxg-infinite-scroll="scheduledPayments.loadMoreData()"
        nxg-infinite-scroll-disabled="scheduledPayments.loading"
        nxg-infinite-scroll-show-indicator="scheduledPayments.loading">

        <p class="text-error notice-box" ng-show="canPayNowLoaded && !canPayNow">
          Note: Payoff and due amounts may change. Interest and/or fees may continue to accrue between now and your scheduled payment.<br/>
          Note: No payment may be scheduled on an overdue loan, or a loan due today.
        </p>

        <ul class="unstyled">
          <li class="table-list-head">
            <div class="cell sch-more"></div>
            <div class="cell sch-schDate">Scheduled On</div>
            <div class="cell sch-desc">Description</div>
            <div class="cell sch-status">Status</div>
            <div class="cell sch-amount">Amount</div>
          </li><!-- end .table-list-head -->

          <li class="table-list-row" ng-repeat="pay in scheduledPayments.results">
            <div class="main-info">
              <div class="cell sch-more">
                <button class="btn btn-more" ng-click="isCollapsed = !isCollapsed">
                  <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed }"></span>
                </button>
              </div>

              <div class="cell sch-schDate">
                <p> {{ pay.scheduledDate | moment }} </p>
                <p><span class="sch-label">Scheduled By: </span> {{ pay.scheduledBy }} </p>
              </div>

              <div class="cell sch-desc">
                <p> {{ pay.description }} </p>
                <p>
                  VIN: <span ng-bind-html-unsafe="pay.vin | highlight:pay.data.query"></span><br/>
                  Stock #: <span ng-bind-html-unsafe="pay.stockNumber | highlight:pay.data.query"></span>
                </p>
              </div>

              <div class="cell sch-status">
                <p><span class="sch-label"> {{ pay.status }} </span><br/>
                  <span class="sch-sub-label" ng-show="pay.statusDate">As Of:</span>
                   {{ pay.statusDate | moment }}
                </p>
                <a class="receipt-link" ng-show="pay.isProcessed" ng-href="{{ pay.receiptURL }}" target="_blank">Receipt</a>
              </div>

              <div class="cell sch-amount">
                <p><span class="sch-label">{{(pay.isCurtailment && 'Curtailment' || Payoff)}} </span><br/>
                  {{ pay.paymentAmount | currency }} </p>

                <button class="btn btn-small"
                        ng-show="pay.isPending"
                        ng-disabled="scheduledPayments.isOnPaymentQueue(pay)"
                        ng-click="scheduledPayments.payOff(pay)">
                    <span>Payoff Now</span>
                </button>
                <button class="btn btn-small"
                        ng-show="pay.isPending"
                        ng-click="scheduledPayments.cancelPayment(pay)">
                    <span>Cancel</span>
                </button>
              </div>
            </div><!-- end .main-info -->

            <div collapse="isCollapsed" class="vehicle-details">
              <div vehicle-details collapse="isCollapsed" stock-number="pay.stockNumber"></div>
            </div><!-- end vehicle-details div -->
          </li>
        </ul>

        <p class="text-error notice-box" ng-show="hitInfiniteScrollMax">
          There are too many results to display, please refine your search further.
        </p>
      </section>
    </div>
  </section>

  <section class="span3 well" nxg-payment-summary></section>
</section>
