<section class="row-fluid">
  <section class="span12">
    <div nxg-search
       title="Receipt Search"
       class="search-form"
       prompt="Enter Receipt #, Stock #, VIN, Check #, Make, Model or Year"
       filter-label="Filter List by Payment Method"
       filter-options="filterOptions"
       active-criteria="receipts.proposedSearchCriteria"
       on-search="receipts.search()"
       on-clear="receipts.resetSearch()">
    </div>

    <div ng-switch="receipts.results.length > 0 || receipts.loading">
      <p class="no-results" ng-switch-when="false">
        Sorry, no results found. Please <a ng-click="receipts.resetSearch()" title="New Search">try a new search</a>.
      </p>

      <section class="receipts-list" ng-switch-when="true"
               nxg-infinite-scroll="receipts.fetchNextResults()"
               nxg-infinite-scroll-disabled="receipts.loading"
               nxg-infinite-scroll-show-indicator="receipts.loading">
        <p class="notice-box">Note: You may select a maximum of 20 receipts to print at a time.</p>
        <ul class="unstyled">
          <li class="table-list-head">
            <div class="cell rec-print">
              <button class="btn btn-small" ng-click="onExport()">Export</button>
            </div>
            <div class="cell rec-num sortable-container"
                 ng-click="sortBy('TransactionNumber')"
                 ng-class="{ sorted : sortField == 'TransactionNumber', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Receipt #</span>
            </div>
            <div class="cell rec-status">
              <span class="header-text">Status</span>
            </div>
            <div class="cell rec-payDate sortable-container"
                 ng-click="sortBy('CreateDate')"
                 ng-class="{ sorted : sortField == 'CreateDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Payment Date</span>
            </div>
            <div class="cell rec-payInfo sortable-container"
                 ng-click="sortBy('PaymentMethod')"
                 ng-class="{ sorted : sortField == 'PaymentMethod', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Payment Description</span>
            </div>
            <div class="cell rec-amtApplied sortable-container"
                 ng-click="sortBy('AmountApplied')"
                 ng-class="{ sorted : sortField == 'AmountApplied', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Amount Applied</span>
            </div>
            <div class="cell rec-amtProvided sortable-container"
                 ng-click="sortBy('AmountProvided')"
                 ng-class="{ sorted : sortField == 'AmountProvided', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Amount Provided</span>
            </div>
            <div class="cell rec-view">
              <span class="header-text">Receipt</span>
            </div>
          </li>

          <li class="table-list-row" ng-repeat="receipt in receipts.results">
            <div class="cell rec-print">
               <input type="checkbox" id="{{ receipt.TransactionNumber }}" name="toPrint" ng-disabled="tooMany() && !selectedReceipts[$index]" ng-model="selectedReceipts[$index]" />
              <label for="{{ receipt.TransactionNumber }}"></label>
            </div>
            <div class="cell rec-num">
              <p>
                <span ng-bind-html-unsafe="receipt.TransactionNumber | highlight:receipt.data.query"></span>
              </p>
            </div>
            <div class="cell rec-status">
              <p ng-switch="getReceiptStatus(receipt)">
                <span ng-switch-when="nsf">Insufficient Funds</span>
                <span ng-switch-when="void">Voided</span>
                <span ng-switch-when="normal">Processed</span>
              </p>
            </div>

            <div class="cell rec-payDate">
              <p>{{ receipt.CreateDate | moment }}</p>
            </div>

            <div class="cell rec-payInfo">
              <p ><span class="sch-sub-label">Payment:</span> {{ receipt.PaymentMethod }}<br/>
                <div ng-switch on="!!reciept.CheckNumber">
                  <div ng-switch-when="true">
                    <span class="sch-sub-label" ng-show="receipt.CheckNumber">Check #:</span>
                    <span ng-bind-html-unsafe="receipt.CheckNumber | highlight:receipt.data.query"></span>
                  </div>
                </div>
              </p>
              <p ng-show="receipt.PayeeDescription">{{ receipt.PayeeDescription }}</p>
            </div>
            <div class="cell rec-amtApplied">
              <p>{{ receipt.AmountApplied | currency }}</p>
            </div>
            <div class="cell rec-amtProvided">
              <p>{{ receipt.AmountProvided | currency }}</p>
            </div>
            <div class="cell rec-view">
              <a ng-href="{{ receipt.$receiptURL }}" target="_blank"
                 nxg-track="{{ metric.VIEW_RECEIPT_DETAIL }}">
                View Receipt
              </a>
            </div>
          </li>
        </ul>
        <p class="text-error notice-box" ng-show="receipts.hitInfiniteScrollMax">
          There are too many results to display, please refine your search further.
        </p>
      </section>
    </div>

  </section>
</section>
