<section class="row-fluid">
  <section class="span12">
    <div nxg-search
       title="Receipt Search"
       class="search-form"
       prompt="Enter Receipt #, Stock #, VIN, Check #"
       filter-label="Filter List by Payment Method"
       filter-options="filterOptions"
       active-criteria="searchCriteria"
       on-search="search()"
       on-clear="resetSearch()">
    </div>

    <section class="receipts-list">
      <ul class="unstyled">
        <li class="table-list-head">
          <div class="cell rec-num">Receipt #</div>
          <div class="cell rec-status">Status</div>
          <div class="cell rec-payDate">Payment Date</div>
          <div class="cell rec-payInfo">Payment Description</div>
          <div class="cell rec-amtApplied">Amount Applied</div>
          <div class="cell rec-amtProvided">Amount Provided</div>
          <div class="cell rec-view">Receipt</div>
        </li>

        <li class="table-list-row" ng-repeat="receipt in results.Receipts">
          <div class="cell rec-num"><p> {{receipt.TransactionNumber}} </p></div>
          <div class="cell rec-status">
            <p><span ng-show="receipt.IsNsf">NSF</span>
            <span ng-show="!receipt.IsNsf">Processed</span></p>
          </div>

          <div class="cell rec-payDate">
            <p>{{receipt.CreateDate * 1000 | date}}</p>
          </div>

          <div class="cell rec-payInfo">
            <p><span class="sch-sub-label">Payment:</span> {{receipt.PaymentMethod}}<br/>
            <span class="sch-sub-label">Check #:</span> {{receipt.CheckNumber}} </p>
            <p>{{receipt.PayeeDescription}}</p>
          </div>
          <div class="cell rec-amtApplied">
            <p> {{receipt.AmountApplied | currency}} </p>
          </div>
          <div class="cell rec-amtProvided">
            <p> {{receipt.AmountProvided | currency}} </p>
          </div>
          <div class="cell rec-view">
            <!-- TODO: Add ng-show directives for when to show buttons, and add disabled value -->
            <a ng-href="/receipt/view/{{receipt.FinancialTransactionId}}" class="btn btn-small">View Receipt</a>
          </div>
        </li>
      </ul>
    </section>
  </section>
</section>
