<section class="row-fluid upcoming">

    <div class="row-fluid">
        <div class="span9 nxg-dash-calendar-container" >
          <div class="nxg-dash-calendar-header">
            <h4 class="nxg-cal-header">Upcoming Payments</h4>
            <div class="nxg-cal-toggle">
              <input type="radio" name="viewMode" id="week" value="week" ng-model="viewMode" placeholder="This Week">
              <label for="week" id="week-label"></label>
              <input type="radio" name="viewMode" id="month" value="month" ng-model="viewMode" placeholder="This Month">
              <label for="month" id="month-label"></label>
            </div>
          </div>
          <div nxg-upcoming-calendar display="viewMode" data="dashboardData.calendarData"></div>
        </div>
        <div class="span3 well payment-summary">
          <h4>Payments Summary</h4>
            <ul class="well-out">
                <li>
                    <span class="item-total overdue">{{dashboardData.OverduePayments}}</span>
                    <span ng-pluralize
                          count="dashboardData.OverduePayments"
                          when="{'1': 'Overdue', 'other': 'Overdue'}">
                    </span>
                    <p class="overdue-amount">{{dashboardData.OverduePaymentAmount | currency}}</p>
                </li>
                <li>
                    <span class="item-total due-today">{{dashboardData.PaymentsDueToday}}</span>
                    <span ng-pluralize
                          count="dashboardData.PaymentsDueToday"
                          when="{'1': 'Due Today', 'other': 'Due Today'}">
                    </span>
                    <p>{{dashboardData.PaymentsDueTodayAmount | currency}}</p>
                </li>
                <li>
                    <span class="item-total">{{dashboardData.UpcomingPayments}}</span>
                    <span ng-pluralize
                          count="dashboardData.UpcomingPayments"
                          when="{'1': 'Payment', 'other': 'Payments'}">
                    </span>
                    <span>This {{ viewMode | lowercase }}</span>
                    <p>{{dashboardData.UpcomingPaymentAmount | currency}}</p>
                </li>
                <li>
                    <span class="item-total">{{dashboardData.AccountFees}}</span>
                    <span ng-pluralize
                          count="dashboardData.AccountFees"
                          when="{'1': 'Account Fee', 'other': 'Account Fees'}">
                    </span>
                    <p>{{dashboardData.AccountFeeAmount | currency}}</p>
                </li>
                <a class="more btn btn-mini" href="#/home/payments">
                    <span class="glyphicon glyphicon-eye-open"></span> View All Payments
                </a>
            </ul>
        </div>
    </div>
    <button ng-click="isCollapsed = !isCollapsed" class="more btn btn-mini">
      More Details
    </button>
    <div collapse="isCollapsed" ng-init="isCollapsed = true" class="row-fluid more-details">
        <div class="span8">
            <h4>Upcoming Payments</h4>
            <table>
                <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Payoff Due</th>
                    <th>Payment Due</th>
                </tr>
                </thead>
                <tr ng-repeat="payment in dashboardData.UpcomingPaymentsList">
                    <td title="Due Date">{{ payment.DueDate | moment  }}</td>
                    <td title="Description">{{ payment.Description }}</td>
                    <td title="Payoff Due"><span ng-show="payment.PayoffDue">{{ payment.PayoffDue | currency }}</span></td>
                    <td title="Payment Due"><span ng-show="!payment.PayoffDue">{{ payment.PaymentDue | currency }}</span></td>
                </tr>
            </table>
            <tfoot>
            <a class="more" href="#/home/payments">View All Payments <i class="icon-arrow-right"></i></a>
            </tfoot>
        </div>
        <div class="span4 graphic">
            <canvas width="100"
                    height="100"
                    nxg-chart
                    nxg-chart-type="Pie"
                    nxg-chart-data="dashboardData.paymentChartData.chartData">
            </canvas>
            <table class="chart-summary-table">
                <tr>
                    <td><i class="nxg-chart-legend-color nxg-chart-fees"></i></td>
                    <td>Fees</td>
                    <td>{{ dashboardData.paymentChartData.fees | currency }}</td>
                </tr>
                <tr>
                    <td><i class="nxg-chart-legend-color nxg-chart-payments"></i></td>
                    <td>Payments</td>
                    <td>{{ dashboardData.paymentChartData.payments | currency }}</td>
                </tr>
                <tr class="chart-summary-table-total-row">
                    <td><i class="nxg-chart-legend-color nxg-chart-scheduled-payments"></i></td>
                    <td>Scheduled Payments</td>
                    <td>{{ dashboardData.paymentChartData.scheduledPayments | currency }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total for this {{ viewMode }}</td>
                    <td>{{ dashboardData.paymentChartData.total | currency }}</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="row-fluid summaries">
    <div class="span6 summary credit well adjacent">
        <h4>Credit</h4>
        <div class="well-out">
          <table class="chart-summary-table">
              <tr>
                  <td><i class="nxg-chart-legend-color nxg-chart-approved-credit"></i></td>
                  <td class="no-bold">Line of Credit</td>
                  <td class="table-symbol"></td>
                  <td>{{ dashboardData.LineOfCredit | numeral:'$0,0' }}</td>
              </tr>
              <tr class="chart-summary-table-total-row">
                  <td><i class="nxg-chart-legend-color nxg-chart-temporary-credit"></i></td>
                  <td class="no-bold">Temp Line of Credit</td>
                  <td class="table-symbol">+</td>
                  <td>{{ dashboardData.TempLineOfCredit | numeral:'$0,0' }}</td>
              </tr>
              <tr>
                  <td class="taller"></td>
                  <td class="taller">Total Credit</td>
                  <td class="table-symbol">=</td>
                  <td>{{ dashboardData.LineOfCredit + dashboardData.TempLineOfCredit | numeral:'$0,0' }}</td>
              </tr>
              <tr class="chart-summary-table-total-row">
                  <td><i class="nxg-chart-legend-color nxg-chart-utilized-credit"></i></td>
                  <td class="no-bold">Utilized Credit</td>
                  <td class="table-symbol red">-</td>
                  <td>{{ dashboardData.UtilizedCredit | numeral:'$0,0' }}</td>
              </tr>
              <tr>
                  <td class="taller"><i class="nxg-chart-legend-color nxg-chart-available-credit"></i></td>
                  <td class="taller">Available Credit</td>
                  <td class="table-symbol">=</td>
                  <td>{{ dashboardData.AvailableCredit | numeral:'$0,0' }}</td>
              </tr>
          </table>

          <div class="nxg-doughnut-chart-nested">
              <canvas width="110"
                      height="110"
                      class="nxg-doughnut-chart-outer"
                      nxg-chart
                      nxg-chart-type="Doughnut"
                      nxg-chart-data="dashboardData.creditChartData.outer"
                      nxg-chart-options="{percentageInnerCutout: 75}">
              </canvas>
              <canvas width="94"
                      height="94"
                      class="nxg-doughnut-chart-inner"
                      nxg-chart
                      nxg-chart-type="Doughnut"
                      nxg-chart-data="dashboardData.creditChartData.inner"
                      nxg-chart-options="{percentageInnerCutout: 80}">
              </canvas>
              <label class="nxg-doughnut-chart-label">
                  <p class="nxg-doughnut-chart-label-primary">{{ dashboardData.AvailableCredit | numeral:'(0.0a)' }}</p>
                  <p class="nxg-doughnut-chart-label-secondary">available</p>
              </label>
          </div>
        </div>
    </div>
    <div nxg-unapplied-funds-widget
         balance="dashboardData.UnappliedFundsTotal"
         available="dashboardData.TotalAvailableUnappliedFunds"></div>
    <div class="span3 summary floorplan well adjacent ">
        <h4>Floorplan</h4>
        <div class="well-out">
          <ul>
              <li>
                  <span class="more" href="#/home/floorplan?filter=approved"
                     tooltip="This status applies to vehicles floored via NextGearCapital.com
                       or by a NextGear employee via NextGear's Discover system that have been approved
                        and are currently on the NextGear dealers floorplan."
                     tooltip-placement="right"
                     tooltip-popup-delay="700">
                      <span class="item-total">{{ dashboardData.ApprovedFloorplans | alt }}</span>
                      <span>Approved</span>
                  </span>
              </li>
              <li>
                  <span class="more" href="#/home/floorplan?filter=pending"
                     tooltip="This status applies to vehicles floored via NextGearCapital.com
                      or by a NextGear employee via NextGear's Discover system that have not yet been
                      approved by a NextGear employee."
                     tooltip-placement="right"
                     tooltip-popup-delay="700">
                      <span class="item-total">{{ dashboardData.PendingFloorplans | alt }}</span>
                      <span>Pending</span>
                  </span>
              </li>
              <li>
                  <span class="more" href="#/home/floorplan?filter=denied"
                     tooltip="This status applies to vehicles floored via NextGearCapital.com
                      that have been denied by a NextGear employee. Please contact NextGear Customer
                      Service to find out why a vehicle has been denied."
                     tooltip-placement="right"
                     tooltip-popup-delay="700">
                      <span class="item-total">{{ dashboardData.DeniedFloorplans | alt }}</span>
                      <span>Denied</span>
                  </span>
              </li>
          </ul>
          <a class="more btn btn-mini" href="#/home/floorplan">
            <span class="glyphicon glyphicon-eye-open"></span> View Floorplan
          </a>
        </div>
    </div>
    <div class="span4 summary receipts well adjacent ">
        <h4>Most Recent Receipts</h4>
        <div class="well-out">
          <table>
              <tr ng-repeat="receipt in dashboardData.Receipts">
                  <td>{{ receipt.ReceiptDate | moment }}</td>
                  <td>#{{ receipt.ReceiptNumber }}</td>
                  <td><b>{{ receipt.ReceiptAmount | currency }}<b></td>
                  <td><a ng-href="#/home/receipts?search={{ receipt.ReceiptNumber }}">View</a></td>
              </tr>
          </table>
          <a class="more btn btn-mini" href="#/home/receipts">
            <span class="glyphicon glyphicon-eye-open"></span> View All Receipts
          </a>
        </div>
    </div>
</section>
