<section class="row-fluid upcoming">

  <div class="row-fluid">
    <!-- Calendar -->
    <div class="span9 nxg-dash-calendar-container well" >
      <h4>Upcoming Payments</h4>
      <div class="well-out">
        <div class="nxg-dash-calendar-header">
          <div class="nxg-fancy-radios">
            <input type="radio" class="first" name="{{ 'h-' + viewMode }}" id="week" value="week" ng-model="viewMode" placeholder="This Week">
            <label class="pointer" for="week" id="week-label"></label>
            <input type="radio" class="last" name="{{ 'h-' + viewMode }}" id="month" value="month" ng-model="viewMode" placeholder="This Month">
            <label class="pointer" for="month" id="month-label"></label>
          </div>
        </div>

        <div nxg-upcoming-calendar display="viewMode" data="dashboardData.calendarData"></div>

        <div class="nxg-dash-calendar-header fc bottom" ng-show="viewMode == 'month'">
          <div class="nxg-fancy-radios">
            <input type="radio" class="first" name="{{ 'f-' + viewMode }}" id="f-week" value="week" ng-model="viewMode" placeholder="This Week">
            <label class="pointer" for="f-week" id="week-label"></label>
            <input type="radio" class="last" name="{{ 'f-' + viewMode }}" id="f-month" value="month" ng-model="viewMode" placeholder="This Month">
            <label class="pointer" for="f-month" id="month-label"></label>
          </div>

          <!-- To add footer controls -->
          <table class="fc-header" style="width:100%">
            <tbody>
              <tr>
                <td class="fc-header-left">
                  <span class="fc-button fc-button-prev fc-state-default fc-corner-left fc-corner-right" ng-class="{ 'fc-state-disabled': isPast() }" unselectable="on" ng-click="onClickPrev()">
                    <span class="fc-text-arrow">‹</span>
                  </span>
                  <span class="fc-header-space"></span>
                  <span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right" ng-class="{ 'fc-state-disabled': isPast() }" ng-click="onClickToday()" unselectable="on">today</span>
                </td>
                <td class="fc-header-center"></td>
                <td class="fc-header-right">
                  <span class="fc-button fc-button-next fc-state-default fc-corner-left fc-corner-right" unselectable="on" ng-click="onClickNext()">
                    <span class="fc-text-arrow">›</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- end footer controls -->
        </div>
      </div><!-- end .well-out -->
    </div><!-- end .nxg-dash-calendar-container -->

    <!-- Payment Summary -->
    <div class="span3 well payment-summary">
      <h4>Payments Summary</h4>
      <ul class="well-out">
        <li class="link" ng-click="filterPayments('overdue')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_OVERDUE}}">
          <span class="item-total" ng-class="{overdue: dashboardData.OverduePayments > 0}">{{dashboardData.OverduePayments}}</span>
          <span ng-pluralize
                count="dashboardData.OverduePayments"
                when="{'1': 'Overdue', 'other': 'Overdue'}"></span>
          <p ng-class="{'overdue-amount': dashboardData.OverduePaymentAmount > 0}">{{dashboardData.OverduePaymentAmount | currency}}</p>
        </li>
        <li class="link" ng-click="filterPayments('today')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_DUE_TODAY}}">
          <span class="item-total" ng-class="{'due-today': dashboardData.PaymentsDueToday > 0}">{{dashboardData.PaymentsDueToday}}</span>
          <span ng-pluralize
                count="dashboardData.PaymentsDueToday"
                when="{'1': 'Due Today', 'other': 'Due Today'}"></span>
          <p>{{dashboardData.PaymentsDueTodayAmount | currency}}</p>
        </li>
        <li class="link" ng-click="filterPayments('this-week')" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_WEEK}}">
          <span class="item-total">{{dashboardData.UpcomingPayments}}</span>
          <span ng-pluralize
                count="dashboardData.UpcomingPayments"
                when="{'1': 'Payment', 'other': 'Payments'}"></span>
          <span>This {{ viewMode | capitalize }}</span>
          <p>{{dashboardData.UpcomingPaymentsAmount | currency}}</p>
        </li>
        <li class="link" ng-click="filterPayments()" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_FEES}}">
          <span class="item-total">{{dashboardData.AccountFees}}</span>
          <span ng-pluralize
                count="dashboardData.AccountFees"
                when="{'1': 'Account Fee', 'other': 'Account Fees'}"></span>
          <p>{{dashboardData.AccountFeeAmount | currency}}</p>
        </li>
        <a class="more btn btn-mini" href="#/home/payments" nxg-track="{{metric.CLICK_DASHBOARD_PAYMENTS_VIEW_ALL_PAYMENTS_BUTTON}}">
          <span class="glyphicon glyphicon-eye-open"></span>
          View All Payments
        </a>
      </ul>
    </div><!-- end .payments-summary -->
  </div><!-- end .row-fluid -->

  <!-- More Details -->
  <div collapse="isCollapsed" ng-init="isCollapsed = true" ng-class="{ open: !isCollapsed }" class="row-fluid dashboard-more-details">
    <!-- Upcoming Payments -->
    <div class="span9 well upcoming-payments">
      <p>Upcoming Payments</p>
      <div class="well-out upcoming-payments-table">
        <table>
          <thead>
            <tr>
              <th>Due Date</th>
              <th>Description</th>
              <th>Payoff Due</th>
              <th>Payment Due</th>
            </tr>
          </thead>
          <tr ng-repeat="payment in dashboardData.UpcomingPaymentsList">
            <td title="Due Date" class="pay-due-date">{{ payment.DueDate | moment  }}
              <div class="nxg-payment-due-status"
                 ng-class="getDueStatus(payment)"
                 ng-switch="getDueStatus(payment)">
                <p class="warning today" ng-switch-when="today"><span class="excl-today">!</span>Due Today</p>
                <p class="warning overdue" ng-switch-when="overdue"><span class="excl-overdue">!</span>Overdue</p>
              </div>

            </td>
            <td title="Description">{{ payment.Description }}</td>
            <td title="Payoff Due">
              <span>{{ payment.PayoffDue | currency }}</span>
            </td>
            <td title="Payment Due">
              <span>{{ payment.PaymentDue | currency }}</span>
            </td>
          </tr>
        </table>
        <a class="more btn btn-mini" tabindex="{{{true: '-1', false: ''}[isCollapsed]}}" href="#/home/payments"> <i class="glyphicon glyphicon-eye-open"></i>
          View All Payments
        </a>
      </div><!-- end .upcoming-payments-table -->
    </div><!-- end .well.upcoming-payments -->

    <!-- Payments Chart -->
    <div class="span3 payments-chart">
      <div class="chart-obj"
          nxg-chart
          nxg-chart-type="pie"
          nxg-chart-tooltip="false"
          nxg-chart-size="dashChartOptions.size"
          nxg-chart-data="dashboardData.paymentChartData.chartData"
          nxg-donut-options="dashChartOptions.donutOptions">
      </div>
      <label class="nxg-doughnut-chart-label"  style="z-index:1000" ng-class="{smaller: tooLong(dashboardData.paymentChartData.total, '$0[.]00a')}">
        <p class="nxg-doughnut-chart-label-primary">{{ dashboardData.paymentChartData.total | numeral:'($0[.]00a)' }}</p>
        <p class="nxg-doughnut-chart-label-secondary">Total</p>
      </label>

      <table class="chart-summary-table">
        <tr>
          <td> <i class="nxg-chart-legend-color nxg-chart-fees"></i>
          </td>
          <td class="no-bold">Fees</td>
          <td>{{ dashboardData.paymentChartData.fees | currency }}</td>
        </tr>
        <tr>
          <td>
            <i class="nxg-chart-legend-color nxg-chart-payments"></i>
          </td>
          <td class="no-bold">Payments</td>
          <td>{{ dashboardData.paymentChartData.payments | currency }}</td>
        </tr>
        <tr class="chart-summary-table-total-row">
          <td>
            <i class="nxg-chart-legend-color nxg-chart-scheduled-payments"></i>
          </td>
          <td class="no-bold">Scheduled</td>
          <td>
            {{ dashboardData.paymentChartData.scheduledPayments | currency }}
          </td>
        </tr>
        <tr>
          <td class="taller" colspan="2">Total for this {{ viewMode }}:</td>
          <td class="taller">{{ dashboardData.paymentChartData.total | currency }}</td>
        </tr>
      </table>
    </div><!-- end .payments-chart -->
  </div><!-- end .dashboard-more-details -->

  <div class="details-toggle" ng-class="{ open: !isCollapsed }">
    <div class="details-toggle-line">
      <button ng-click="isCollapsed = !isCollapsed" class="details-toggle-btn">
        <i class="glyphicon glyphicon-chevron-{{ isCollapsed && 'down' || 'up'}}"></i>
        {{ isCollapsed && 'Show' || 'Close'}} Details</button>
    </div>
  </div>
</section>

<section class="row-fluid summaries">
  <!-- Credit Summary -->
  <div class="span6 summary credit well adjacent">
    <h4>Credit</h4>
    <div class="well-out credit-chart">
      <table class="chart-summary-table">
        <tr>
          <td>
            <i class="nxg-chart-legend-color nxg-chart-approved-credit"></i>
          </td>
          <td class="no-bold credit-label">Line of Credit</td>
          <td class="table-symbol"></td>
          <td>{{ dashboardData.LineOfCredit | numeral:'$0,0.00' }}</td>
        </tr>
        <tr class="chart-summary-table-total-row">
          <td>
            <i class="nxg-chart-legend-color nxg-chart-temporary-credit"></i>
          </td>
          <td class="no-bold credit-label">Temp Line of Credit</td>
          <td class="table-symbol">+</td>
          <td>{{ dashboardData.TempLineOfCredit | numeral:'$0,0.00' }}</td>
        </tr>
        <tr class="taller">
          <td></td>
          <td class="credit-label">Total Credit</td>
          <td class="table-symbol">=</td>
          <td>
            {{ dashboardData.LineOfCredit + dashboardData.TempLineOfCredit | numeral:'$0,0.00' }}
          </td>
        </tr>
        <tr class="chart-summary-table-total-row">
          <td>
            <i class="nxg-chart-legend-color nxg-chart-utilized-credit"></i>
          </td>
          <td class="no-bold credit-label">Utilized Credit</td>
          <td class="table-symbol red">-</td>
          <td>{{ dashboardData.UtilizedCredit | numeral:'$0,0.00' }}</td>
        </tr>
        <tr class="taller">
          <td>
            <i class="nxg-chart-legend-color nxg-chart-available-credit"></i>
          </td>
          <td class="credit-label">Available Credit</td>
          <td class="table-symbol">=</td>
          <td>{{ dashboardData.AvailableCredit | numeral:'$0,0.00' }}</td>
        </tr>
      </table>

      <div class="nxg-doughnut-chart-nested">
        <div class="inner-nested">
          <div class="nxg-doughnut-chart-outer"
                nxg-chart
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-size="dashChartOptions.size"
                nxg-chart-data="dashboardData.creditChartData.outer"
                nxg-donut-options="dashChartOptions.donutOptions"></div>
          <div class="nxg-doughnut-chart-inner"
                nxg-chart
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-size="dashChartOptions.innerSize"
                nxg-chart-data="dashboardData.creditChartData.inner"
                nxg-donut-options="dashChartOptions.donutOptions"></div>
          <label class="nxg-doughnut-chart-label" ng-class="{smaller: tooLong(dashboardData.AvailableCredit, '$0[.]00a')}">
            <p class="nxg-doughnut-chart-label-primary">{{ dashboardData.AvailableCredit | numeral:'($0[.]00a)' }}</p>
            <p class="nxg-doughnut-chart-label-secondary">available</p>
          </label>
        </div>
      </div>

      <a class="more btn btn-mini" href="javascript:void(0)" ng-click="onRequestCredIncr()" nxg-track="{{metric.CLICK_DASHBOARD_REQUEST_CREDIT_INCREASE_BUTTON}}">
        Request Credit Increase
      </a>
    </div>
  </div><!-- end .summary.credit -->

  <!-- Unapplied Funds Summary -->
  <div nxg-unapplied-funds-widget
       balance="dashboardData.UnappliedFundsTotal"
       available="dashboardData.TotalAvailableUnappliedFunds">
  </div><!-- end .nxg-unapplied-funds-widget -->

  <!-- Floor Plan Summary -->
  <div class="span3 summary floorplan item-list well adjacent ">
    <h4>Floor Plan</h4>
    <div class="well-out">
      <table>
        <tr class="more" href="#/home/floorplan?filter=approved">
          <td>
            <span class="item-total">
              {{ dashboardData.ApprovedFloorplans | alt }}
            </span>
          </td>
          <td class="fl-label">
            <span tooltip="This status applies to vehicles floored via NextGearCapital.com or by a NextGear employee via NextGear's Discover system that have been approved and are currently on the NextGear dealer's floor plan."
              tooltip-placement="right"
              tooltip-popup-delay="700">
                Approved
            </span>
          </td>
        </tr>

        <tr class="more" href="#/home/floorplan?filter=pending">
          <td>
            <span class="item-total">
              {{ dashboardData.PendingFloorplans | alt }}
            </span>
          </td>
          <td class="fl-label">
            <span tooltip="This status applies to vehicles floored via NextGearCapital.com or by a NextGear employee via NextGear's Discover system that have not yet been approved by a NextGear employee."
              tooltip-placement="right"
              tooltip-popup-delay="700">
                Pending
            </span>
          </td>
        </tr>

        <tr class="more" href="#/home/floorplan?filter=denied">
          <td>
            <span class="item-total">
              {{ dashboardData.DeniedFloorplans | alt }}
            </span>
          </td>
          <td class="fl-label">
            <span tooltip="This status applies to vehicles floored via NextGearCapital.com that have been denied by a NextGear employee. Please contact NextGear Customer Service to find out why a vehicle has been denied."
              tooltip-placement="right"
              tooltip-popup-delay="700">
                Denied
            </span>
          </td>
        </tr>
      </table>
      <a class="more btn btn-mini" href="#/home/floorplan" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_FLOORPLAN_BUTTON}}">
        <span class="glyphicon glyphicon-eye-open"></span>
        View Floor Plan
      </a>
    </div>
  </div><!-- end .summary.floorplan -->

  <!-- Receipts Summary -->
  <div class="span4 summary receipts well adjacent ">
    <h4>Most Recent Receipts</h4>
    <div class="well-out">
      <table>
        <tr ng-repeat="receipt in dashboardData.Receipts">
          <td>{{ receipt.ReceiptDate | moment }}</td>
          <td>#{{ receipt.ReceiptNumber }}</td>
          <td> <strong>{{ receipt.ReceiptAmount | currency }} <strong></td>
          <td>
            <a ng-href="{{ receipt.$receiptURL }}" target="_blank" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_RECEIPTS}}">View</a>
          </td>
        </tr>
      </table>
      <a class="more btn btn-mini" href="#/home/receipts" nxg-track="{{metric.CLICK_DASHBOARD_VIEW_ALL_RECEIPTS}}">
        <span class="glyphicon glyphicon-eye-open"></span>
        View All Receipts
      </a>
    </div>
  </div><!-- end .summary.receipts -->
</section>
