<!-- <div class="secondary-nav-bg">
  <div class="container-fluid">
    <nav role="navigation">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('home.dashboard') }">
              <a href="#/home/" nxg-track="{{metric.CLICK_DASHBOARD_LINK}}">Dashboard</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.payments') }">
              <a href="#/home/payments" nxg-track="{{metric.CLICK_PAYMENTS_LINK}}">Payments</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.scheduledPayments') }">
              <a href="#/home/scheduledPayments" nxg-track="{{metric.CLICK_SCHEDULED_PAYMENTS_LINK}}" >Scheduled Payments</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.receipts') }">
              <a href="#/home/receipts" nxg-track="{{metric.CLICK_RECEIPTS_LINK}}" >Receipts</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.floorplan') }">
              <a href="#/home/floorplan" nxg-track="{{metric.CLICK_FLOORPLAN_LINK}}" >Floor Plan</a>
            </li>

            <li ng-show="showTitleReleases" ng-class="{ 'active': $state.includes('home.titlereleases') }">
              <a href="#/home/titlereleases" nxg-track="{{metric.CLICK_TITLE_RELEASE_LINK}}" >Title Releases</a>
            </li>
        </ul>
    </nav>
  </div>
</div> -->

<div ui-view class="container-fluid">
    something here
</div>
