<section class="row-fluid">
  <section class="span9">
    <div nxg-search
             title="Title Release Search"
             class="search-form"
             prompt="Stock #, VIN, Make, Model, or Year"
             filter-label="Filter by Title Release Status"
             filter-options="filterOptions"
             active-criteria="searchParams.proposedSearchCriteria"
             show-date-range="true"
             on-search="search()"
             on-clear="resetSearch()"
             filterable="true">
        </div>

    <div ng-switch="data.results.length > 0 || data.loading">
      <p class="no-results" ng-switch-when="false">
        Sorry, no results found. Please <a ng-click="resetSearch()" title="New Search">try a new search</a>.
      </p>

      <section ng-switch-when="true"
               nxg-infinite-scroll="fetchNextResults()"
               nxg-infinite-scroll-disabled="data.loading"
               nxg-infinite-scroll-show-indicator="data.loading">
        <h3 class="boxed">Floor Plan</h3>
        <p class="notice-box"><b>Titles released here are required to be returned within seven days. If you are requesting a title for state work, please <a nxg-chat-with-us>chat with us</a> or contact customer service for further assistance.</b></p>
        <ul class="unstyled title-list">
          <li class="table-list-head">
            <div class="cell title-more"></div>
            <div class="cell title-desc sortable-container"
                 ng-click="sortBy('UnitMake')"
                 ng-class="{ sorted : sortField == 'UnitMake', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Description</span>
            </div>
            <div class="cell title-stock sortable-container"
                 ng-click="sortBy('StockNumber')"
                 ng-class="{ sorted : sortField == 'StockNumber', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Stock #</span>
            </div>
            <div class="cell title-status">
              <span class="header-text">Status</span>
            </div>
            <div class="cell title-purchaseDate sortable-container"
                 ng-click="sortBy('PurchaseDate')"
                 ng-class="{ sorted : sortField == 'PurchaseDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Purchased</span>
            </div>
            <div class="cell title-floorDate sortable-container"
                 ng-click="sortBy('FlooringDate')"
                 ng-class="{ sorted : sortField == 'FlooringDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Floored</span>
            </div>
            <div class="cell title-actions" >
              <span class="header-text">Actions</span>
            </div>
          </li><!-- end .table-list-head -->

          <li class="table-list-row" ng-repeat="item in data.results">
            <div class="main-info">
              <div class="cell title-more">
                <button class="btn btn-more"
                        ng-click="isCollapsed = !isCollapsed"
                        class="more btn btn-mini">
                  <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed }"></span>
                </button>
              </div>

              <div class="cell title-desc">
                <p nxg-highlight="getVehicleDescription(item)" highlight="item.data.query"></p>
                <p><span nxg-highlight="item.UnitVIN" highlight="item.data.query" class="break-word"></span></p>
              </div>
              <div class="cell title-stock">
                <p nxg-highlight="item.StockNumber" highlight="item.data.query"></p>
              </div>
              <div class="cell title-status" ng-switch="item.TitleReleaseProgramStatus">
                <div ng-switch-when="OutstandingTitleReleaseProgramRelease">
                    <p>Title Released</p>
                    <p>{{item.TitleReleaseDate | moment}}</p>
                </div>
                <p ng-switch-when="EligibleForRelease">Eligible</p>
                <p ng-switch-when="NotEligibleForRelease">Not Eligible</p>
              </div>
               <div class="cell title-purchaseDate">
                <p>{{item.UnitPurchaseDate | moment}}</p>
              </div>
              <div class="cell title-floorDate">
                <p>{{item.FlooringDate | moment}}</p>
                <p ng-show="item.DaysFloored > 0">
                  Days Floored: {{ item.DaysFloored }}
                </p>
              </div>
              <div class="cell title-actions" ng-switch="item.TitleReleaseProgramStatus">
                <p ng-switch-when="OutstandingTitleReleaseProgramRelease">Pay off this vehicle or return the title to remove from your limit.</p>
                <div ng-switch-when="EligibleForRelease">
                  <button type="button" id="toggleRequest" class="btn btn-mini btn-block" ng-click="toggleSelected(item)" ng-switch="isFloorplanOnQueue(item)" ng-class="{requested: isFloorplanOnQueue(item)}" ng-disabled="$parent.eligibilityLoading() || (!isFloorplanOnQueue(item) && $parent.eligibility.RemainingReleasesAvailable <= $parent.queueLength())">
                    <span ng-switch-when="true">Title Requested</span>
                    <span ng-switch-default>Request Title</span>
                  </button>
                </div>
                <div ng-switch-when="NotEligibleForRelease">
                  <a ng-click="titleReleaseUnavailable()">Title Release Unavailable</a>
                </div>
              </div>
            </div><!-- end .main-info -->

            <div collapse="isCollapsed" class="vehicle-details">
              <div vehicle-details collapse="isCollapsed" stock-number="item.StockNumber"></div>
            </div><!-- end .vehicle-details div -->

          </li><!-- end .table-list-row -->
        </ul><!-- end .floor-list -->
        <p class="text-error notice-box" ng-show="data.hitInfiniteScrollMax">
          There are too many results to display, please refine your search further.
        </p>
      </section>
    </div>
  </section><!-- end .span12 -->
  <section class="span3 well request-queue sticky" nxg-requests-summary eligibility="eligibility" nxg-sticky footer=".request-sum-footer"></section></section><!-- end .row-fluid -->
