<section class="row-fluid">
    <section class="span9">
        <div nxg-search
             title="Payment Search"
             class="search-form payments"
             prompt="Enter Stock # or VIN"
             filter-label="Filter List by Due Date"
             filter-options="payments.filterOptions"
             active-criteria="payments.proposedSearchCriteria"
             show-date-range="payments.proposedSearchCriteria.filter == 'range'"
             on-search="payments.search()"
             on-clear="payments.resetSearch()">
        </div>

        <h3 class="boxed">Fees</h3>
        <p class="text-error notice-box" ng-show="canPayNowLoaded && !canPayNow">
          Account Fees cannot be paid as part of a scheduled web payment.
        </p>
        <p class="notice-box" ng-show="canPayNow">
          Account fees paid online will need to be paid by 8pm EST.
        </p>

        <div class="fees" ng-switch="fees.results.length > 0 || fees.loading">
          <p class="notice-box" ng-switch-when="false">
            There are no fees associated with this account
          </p>

          <ul class="unstyled" ng-switch-when="true">
            <li class="table-list-head">
              <div class="cell fee-type">Fee Type</div>
              <div class="cell fee-desc">Description</div>
              <div class="cell fee-due">Date Due</div>
              <div class="cell fee-posted">Date Posted</div>
              <div class="cell fee-amt">Fee Amount</div>
            </li>

            <li class="table-list-row" ng-repeat="fee in fees.results">
                <div class="cell fee-type"><p>{{ fee.FeeType || 'N/A' }}</p></div>
                <div class="cell fee-desc"><p>{{ fee.Description }}</p></div>
                <div class="cell fee-due"><p>{{ fee.EffectiveDate | moment }}</p></div>
                <div class="cell fee-posted"><p>{{ fee.Posted | moment }}</p></div>
                <div class="cell fee-amt"><p>{{ fee.Balance | currency }}</p>
                  <div nxg-payment-buttons="fee"
                                 item="fee"
                                 on-queue="isFeeOnQueue(fee.FinancialRecordId)"
                                 can-pay-now="canPayNow">
                  </div>
                </div>
            </li>
          </ul>
        </div><!-- end fees list -->

        <div nxg-infinite-scroll="payments.fetchNextResults()"
             nxg-infinite-scroll-disabled="payments.loading"
             nxg-infinite-scroll-show-indicator="payments.loading">

          <h3 class="boxed">Payments</h3>

          <div class="payments" ng-switch="payments.results.length > 0 || payments.loading">
            <p class="no-results" ng-switch-when="false">
              Sorry, no results found. Please try a new search.
            </p>

            <ul class="unstyled" ng-switch-when="true">
                <li class="table-list-head">
                  <div class="cell pay-more"></div>
                  <div class="cell pay-desc">Description</div>
                  <div class="cell pay-due">Date Due</div>
                  <div class="cell pay-status">Status</div>
                  <div class="cell pay-payment-amt">Payment</div>
                  <div class="cell pay-payoff-amt">Pay Off</div>
                  <div class="cell pay-title">Title</div>
                </li><!-- end .table-list-head -->

                <li class="table-list-row" ng-repeat="payment in payments.results">
                  <div class="main-info">
                    <div class="cell pay-more">
                      <button class="btn btn-more" ng-click="isCollapsed = !isCollapsed">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed }"></span></button>
                    </div>

                    <div class="cell pay-desc">
                      <p>
                        <span class="sch-label">VIN: </span>
                        <span ng-bind-html-unsafe="payment.Vin | highlight:payment.data.query"></span><br/>
                        <span class="sch-label">Stock #: </span>
                        <span ng-bind-html-unsafe="payment.StockNumber | highlight:payment.data.query"></span>
                      </p>
                      <p>{{ payment.UnitDescription }}</p>
                    </div>

                    <div class="cell pay-due">
                      <p>{{ payment.DueDate | moment }}</p>
                      <div class="nxg-payment-due-status"
                         ng-class="getDueStatus(payment)"
                         ng-switch="getDueStatus(payment)">
                        <p class="warning today" ng-switch-when="today"><span class="excl-today">!</span>Due Today</p>
                        <p class="warning overdue" ng-switch-when="overdue"><span class="excl-overdue">!</span>Overdue</p>
                      </div>
                    </div>
                    <div class="cell pay-status"><p>{{ payment.UnitStatus }}</p></div>
                    <div class="cell pay-payment-amt">
                      <p>{{ payment.AmountDue | currency }}</p>
                      <div nxg-payment-buttons="payment" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
                    </div>
                    <div class="cell pay-payoff-amt"><p>{{ payment.CurrentPayoff | currency }}</p>
                      <div nxg-payment-buttons="payoff" item="payment" on-queue="isPaymentOnQueue(payment.FloorplanId)"></div>
                    </div>

                    <div class="cell pay-title">
                      <a ng-href="{{ payment.$titleURL }}" nxg-track="{{ metric.VIEW_TITLE }}" target="_blank">View</a>
                    </div>
                  </div><!-- end .main-info div -->

                <div collapse="isCollapsed" class="vehicle-details">
                    <div vehicle-details collapse="isCollapsed" stock-number="payment.StockNumber"></div>
                </div><!-- end more-details div -->
              </li>
            </ul>
          </div><!-- end payments list -->
        </div>
      </section>
    <section class="span3 well" nxg-payment-summary></section>
</section>
