<section class="row-fluid">
    <section class="span9">
        <div nxg-search
             title="Payment Search"
             prompt="Enter Stock # or VIN"
             filter-label="Filter List by Due Date"
             filter-options="payments.filterOptions"
             active-criteria="payments.searchCriteria"
             show-date-range="payments.searchCriteria.filter == 'range'"
             on-search="payments.search()"
             on-clear="payments.resetSearch()">
        </div>

        <ul class="unstyled">
            <li ng-repeat="fee in fees">
                <header class="row-fluid">
                    <div class="span2"><strong>Account Fee</strong></div>
                    <div class="span3"><strong>Fee Type</strong> {{ fee.FeeType }}</div>
                    <div class="span7"><strong>Description</strong> <span>{{ fee.Description }}</span></div>
                </header>
                <div class="row-fluid">
                    <div class="span2">
                        <p><strong>Due</strong> {{ fee.EffectiveDate | moment }}</p>
                        <p><strong>Posted</strong> {{ fee.Posted | moment }}</p>
                    </div>
                    <div class="span2"><strong>Fee Amount</strong> {{ fee.Balance | currency }}</div>
                    <div class="span6">
                        <p>Account Fees cannot be paid as part of a scheduled web payment.</p>
                        <p>Account fees paid online will need to be paid by 8pm EST.</p>
                    </div>
                    <div class="span2">
                        <div nxg-payment-buttons="fee" is-added="fee.isAdded"></div>
                    </div>
                </div>
            </li>
        </ul>

        <div nxg-infinite-scroll="payments.fetchNextResults()"
             nxg-infinite-scroll-disabled="payments.loading"
             nxg-infinite-scroll-show-indicator="payments.loading">
          <ul class="unstyled payments">
              <li ng-repeat="payment in payments.results">
                  <header class="row-fluid">
                      <div class="span2"><strong>VIN</strong> <span>{{ payment.Vin }}</span></div>
                      <div class="span3">{{ payment.UnitDescription }}</div>
                      <div class="span2"><strong>Stock #</strong> <span>{{ payment.StockNumber }}</span></div>
                      <div class="span2"><strong>Status</strong> <span>{{ payment.UnitStatus }}</span></div>
                  </header>
                  <div class="row-fluid">
                      <div class="span8">
                          <div class="row-fluid">
                              <div class="span2">
                                  <strong>Due</strong>
                                  <p>{{ payment.DueDate | moment }}</p>
                              </div>
                              <div class="span2">
                                  <strong>Payoff</strong>
                                  <p>{{ payment.CurrentPayoff | currency }}</p>
                              </div>
                              <div class="span2">
                                  <strong>Payment</strong>
                                  <p>{{ payment.AmountDue | currency }}</p>
                              </div>
                              <div class="span2">
                                  <strong>Title Location</strong>
                                  <p>{{ payment.TitleLocationName }}</p>
                              </div>
                              <div class="span2">
                                  <strong>Floored</strong>
                                  <p>{{ payment.FlooringDate | moment }}</p>
                              </div>
                              <div class="span2">
                                <a class="btn btn-small btn-block"
                                   ng-href="{{ payment.$titleURL }}"
                                   target="_blank">
                                  Title
                                </a>
                              </div>
                          </div>
                      </div>
                      <div class="span2 offset2"
                           nxg-payment-buttons="payment"
                           is-added="payment.IsAdded"
                           is-payoff="payment.IsPayoff"
                           is-scheduled="payment.IsScheduled"></div>
                  </div>

                  <btn ng-click="isCollapsed = !isCollapsed" class="more btn btn-mini">More Details</btn>
                  <div collapse="isCollapsed" class="more-details">
                      <div vehicle-details stock-number="payment.StockNumber"></div>
                  </div><!-- end more-details div -->
              </li>
          </ul>
        </div>
    </section>

    <section class="span3 pay-queue">
      <div>
        <h3>Payment Summary</h3>
        <p>Choose to make payments today or schedule your payments when you checkout.</p>
      </div>

      <div class="queue-items">
        <p ng-hide="fees.length || queue.length">You have not selected a payment. <br/> Click the Add Payment or Add Payoff button to add one.</p>
        <ul ng-show="fees.length || queue.length">
          <li ng-repeat="fee in fees">
            Account Fee <br/>
            {{ fee.type }}<br/>
            Payment {{ fee.payment | currency }}
          </li>
          <li ng-repeat="q in queue">
            <button class="btn btn-mini" ng-click="remove()">X</button>
            VIN: {{ q.vin }} <br/>
            {{ q.year }} {{ q.make }} {{ q.model }} <br/>
            Payment {{ q.payment | currency }}
          </li>
        </ul>
      </div>

      <div>
        Subtotal: {{ total }}
        <a href="#/home/checkout">
          <button class="btn" ng-disabled="false">Continue to Checkout</button>
        </a>
      </div>
    </section>
</section>
