<section class="row-fluid">
  <section class="span12">
    <div nxg-search
      title="Floor Plan Search"
      class="search-form"
      prompt="Enter Stock #, VIN, Make, Model, or Year"
      filter-label="Filter List by Status"
      filter-options="filterOptions"
      active-criteria="proposedSearchCriteria"
      on-search="search()"
      on-clear="resetSearch()"
      filterable="true">
    </div>

    <div ng-switch="data.results.length > 0 || data.loading">
      <p class="no-results" ng-switch-when="false">
        Sorry, no results found. Please <a ng-click="resetSearch()" title="New Search">try a new search</a>.
      </p>
      <section ng-switch-when="true"
               nxg-infinite-scroll="fetchNextResults()"
               nxg-infinite-scroll-disabled="data.loading"
               nxg-infinite-scroll-show-indicator="data.loading">

        <ul class="unstyled floor-list">
          <li class="table-list-head">
            <div class="cell fl-more"></div>
            <div class="cell fl-desc sortable-container"
                 ng-click="sortBy('UnitMake')"
                 ng-class="{ sorted : sortField == 'UnitMake', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Description</span>
            </div>
            <div class="cell fl-stock sortable-container"
                 ng-click="sortBy('StockNumber')"
                 ng-class="{ sorted : sortField == 'StockNumber', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Stock #</span>
            </div>
            <div class="cell fl-status sortable-container"
                 ng-click="sortBy('Status')"
                 ng-class="{ sorted : sortField == 'Status', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Status</span>
            </div>
            <div class="cell fl-purchaseDate sortable-container"
                 ng-click="sortBy('PurchaseDate')"
                 ng-class="{ sorted : sortField == 'PurchaseDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Purchased</span>
            </div>
            <div class="cell fl-floorDate sortable-container"
                 ng-click="sortBy('FlooringDate')"
                 ng-class="{ sorted : sortField == 'FlooringDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Floored</span>
            </div>
            <div class="cell fl-seller sortable-container"
                 ng-click="sortBy('SellerBusinessName')"
                 ng-class="{ sorted : sortField == 'SellerBusinessName', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Seller</span>
            </div>
            <div class="cell fl-lastPayDate sortable-container"
                 ng-click="sortBy('LastPaymentDate')"
                 ng-class="{ sorted : sortField == 'LastPaymentDate', desc : sortDescending }">
              <div class="sorting-arrows"></div>
              <span class="header-text">Last Payment</span>
            </div>
            <div class="cell fl-title">
              Title
            </div>
          </li><!-- end .table-list-head -->

          <li class="table-list-row" ng-repeat="item in data.results">
            <div class="main-info">
              <div class="cell fl-more">
                <button class="btn btn-more"
                        ng-click="isCollapsed = !isCollapsed"
                        class="more btn btn-mini">
                  <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed }"></span>
                </button>
              </div>

              <div class="cell fl-desc">
                <p><span ng-bind-html-unsafe="getVehicleDescription(item) | highlight:item.data.query"></span></p>
                <p><span ng-bind-html-unsafe="item.UnitVIN | highlight:item.data.query" class="break-word"></span></p>
              </div>
              <div class="cell fl-stock">
                <p ng-bind-html-unsafe="item.StockNumber  | highlight:item.data.query"></p>
              </div>
              <div class="cell fl-status">
                <p> {{ item.FloorplanStatusName }} </p>
              </div>
              <div class="cell fl-purchaseDate">
                <p> {{ item.UnitPurchaseDate | moment }} </p>
              </div>
              <div class="cell fl-floorDate">
                <p> {{ item.FlooringDate | moment }} </p>
                <p ng-show="item.DaysOnFloorplan > 0">Days Floored: {{ item.DaysOnFloorplan }}</p>
              </div>
              <div class="cell fl-seller">
                <p> {{ item.SellerName }} </p>
              </div>
              <div class="cell fl-lastPayDate">
                <p> {{ item.LastPaymentDate | moment }} </p>
              </div>
              <div class="cell fl-title">
                <a ng-show="item.TitleImageAvailable"
                   ng-href="{{ item.$titleURL }}"
                   nxg-track="{{ metric.VIEW_TITLE }}"
                   target="_blank">
                  View
                </a>
              </div>
            </div><!-- end .main-info -->

            <div collapse="isCollapsed" class="vehicle-details">
              <div vehicle-details collapse="isCollapsed" stock-number="item.StockNumber"></div>
            </div><!-- end .vehicle-details div -->

          </li><!-- end .table-list-row -->
        </ul><!-- end .floor-list -->
        <p class="text-error notice-box" ng-show="data.hitInfiniteScrollMax">
          There are too many results to display, please refine your search further.
        </p>
      </section>
    </div>
  </section><!-- end .span12 -->
</section><!-- end .row-fluid -->
