<h2>Checkout</h2>
<div class="alert alert-error" ng-show="!!submitError">{{ submitError }}</div>
<section class="row-fluid">

  <div class="pay-list" ng-switch="paymentQueue.contents.isEmpty()">

    <section class="span9" ng-switch-when="true">
      You have no payments selected for checkout. Please visit the
      <a href="#/home/payments">Payments list</a> to select some.
    </section>

    <section class="span9" ng-switch-when="false">
      <h3>Payments</h3>
      <div>
        If you would like to schedule any of the payments, click the Schedule Payment button to select a date.
      </div>

      <ul class="unstyled">
        <li ng-repeat="fee in paymentQueue.contents.fees">
          <header class="row-fluid">
            <div class="span2"> <strong>Account Fee</strong>
            </div>
            <div class="span3"> <strong>Fee Type</strong>
              {{ fee.type }}
            </div>
            <div class="span7">
              <strong>Description</strong>
              <span>{{ fee.description }}</span>
            </div>
          </header>
          <div class="row-fluid">
            <div class="span8">
              <span class="span6">
                  <span>
                      <strong>Due</strong>
                  </span>
                  <p>{{ fee.dueDate | moment }}</p>
              </span>
              <span class="span6">
                  <strong>Fee Amount</strong>
                  <p>{{ fee.amount | currency }}</p>
              </span>
              <span class="span12">Status: Unavailable to Schedule</span>
            </div>
            <div class="span4 pull-right">
              <button ng-click="paymentQueue.removeFee(fee.financialRecordId)" class="btn btn-mini btn-block">
                Remove Fee
              </button>
            </div>
          </div>
        </li>
      </ul>

      <ul class="unstyled payments">
        <li ng-repeat="payment in paymentQueue.contents.payments">
          <header class="row-fluid">
            <div class="span2">
              <strong>VIN</strong>
              {{ payment.vin }}
            </div>
            <div class="span3">
              {{ payment.description }}
              <strong>Stock #</strong>
              {{ payment.stockNum }}
            </div>
          </header>
          <div class="row-fluid">
            <div class="span8">
              <span class="span3">
                  <span>
                      <strong>Due</strong>
                  </span>
                  <p>{{ payment.dueDate | moment }}</p>
              </span>
              <span class="span2">
                  <strong>{{ payment.isPayoff && 'Payoff' || 'Payment' }}</strong>
                  <p>{{ payment.amount | currency }}</p>
              </span>
              <span class="span12">Status:
                <span ng-show="!paymentQueue.canSchedule(payment)">
                  Unavailable to Schedule
                </span>
                <span ng-show="paymentQueue.canSchedule(payment) && !payment.scheduleDate">
                  Available to Schedule
                </span>
                <span ng-show="paymentQueue.canSchedule(payment) && !!payment.scheduleDate">
                  Scheduled for {{ payment.scheduleDate | moment }}
                </span>
              </span>
            </div>
            <div class="span4 pull-right">
              <button class="btn btn-mini btn-block"
                      ng-click="paymentQueue.removePayment(payment.floorplanId)">
                Remove Payment
              </button>
              <button class="btn btn-mini btn-block"
                      ng-click="paymentQueue.schedule(payment)"
                      ng-show="paymentQueue.canSchedule(payment)"
                      ng-disabled="payment.scheduleLoading">
                {{ !payment.scheduleDate && 'Schedule Payment' || 'Edit Scheduled Payment' }}
              </button>
              <p class="text-error" ng-show="!!payment.scheduleError">{{ payment.scheduleError }}</p>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

    <form class="span3 pay-summary" name="paymentForm">
        <div>
            <h3>Payment Summary</h3>
            <p>
                Review the Summary and submit your payments and scheduled payments.
            </p>
        </div>

        <div class="today-items">
            <h4>{{ paymentQueue.sum.todayCount() }} Payment(s) for Today</h4>
            <p>Payment Total {{ paymentQueue.sum.todayTotal() | currency }}</p>

            <div class="unapplied-funds-section" ng-show="unappliedFunds.available > 0">
              <p>Available Unapplied Funds {{ unappliedFunds.available | currency }}</p>
              <p>Apply funds to payment?</p>
              <input type="radio" name="useUnapplied" id="unappliedNo" placeholder="No"
                     ng-value="false" ng-model="unappliedFunds.useFunds"
                     ng-disabled="paymentQueue.sum.todayTotal() == 0">
              <label for="unappliedNo">No</label>
              <input type="radio" name="useUnapplied" id="unappliedYes" placeholder="Yes"
                     ng-value="true" ng-model="unappliedFunds.useFunds"
                     ng-disabled="paymentQueue.sum.todayTotal() == 0">
              <label for="unappliedYes">Yes</label>
              <div ng-show="unappliedFunds.useFunds">
                  <p>
                    <label for="unappliedAmt">Unapplied Funds to Use</label>
                    <input id="unappliedAmt" name="unappliedAmt" type="text"
                           placeholder="$0.00"
                           ng-model="unappliedFunds.useAmount"
                           nxg-min="unappliedFunds.min()"
                           nxg-max="unappliedFunds.max()"
                           ng-pattern="/^[0-9]{1,3}(?:,?[0-9]{3})*(\.[0-9]{2})?$/"
                           ng-required="unappliedFunds.useFunds">
                  </p>
                  <p class="text-error" ng-show="validity.unappliedAmt.$error.required">
                    Please enter the amount of unapplied funds to use.
                  </p>
                  <p class="text-error" ng-show="validity.unappliedAmt.$error.pattern">
                    Please enter the amount of unapplied funds as a number.
                  </p>
                  <p class="text-error"
                     ng-show="validity.unappliedAmt.$error.nxgMin || validity.unappliedAmt.$error.nxgMax">
                      Unapplied funds must be {{ unappliedFunds.min() | currency }} to {{ unappliedFunds.max() | currency }}
                  </p>
                  <span class="divider"></span>
                  <p>
                    Remaining Payment Balance
                    {{ paymentQueue.sum.todayTotal() - unappliedFunds.useAmount | currency }}
                  </p>
              </div>
            </div>
        </div>

        <div class="scheduled-items">
            <h4>{{ paymentQueue.sum.scheduledCount() }} Scheduled Payment(s)</h4>
            <p>Scheduled Total: {{ paymentQueue.sum.scheduledTotal() | currency }}</p>
        </div>

        <div class="bank-account">
            <p>
              <label for="bankAccount">Account</label>
              <select name="bankAccount" id="bankAccount"
                      ng-model="bankAccounts.selectedAccount"
                      ng-options="account.BankAccountName for account in bankAccounts.getList()"
                      required></select>
            </p>
            <p class="text-error" ng-show="validity.bankAccount.$error.required">
              Please select a bank account for payment
            </p>
        </div>

        <div class="submit">
            <button class="btn" ng-disabled="paymentQueue.contents.isEmpty() || submitInProgress" ng-click="submit()">
              Submit Payments and Commit Scheduled Payments
            </button>
        </div>
    </form>
</section>
