<section class="row-fluid">
    <section class="span9">
        <form class="form-horizontal well search payments" novalidate ng-submit="search(searchData)">
            <strong>Payments Search</strong>
            <div class="control-group">
                <label class="control-label" for="keyword">Keyword</label>

                <div class="controls">
                    <input type="text" id="keyword" placeholder="Enter Stock # or VIN" ng-model="searchData.Criteria"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="startDate">Date Range</label>

                <div class="controls">
                    <input type="date" id="startDate" ng-model="searchData.DueDateStart"/>
                </div>
                </div>
            <div class="control-group">
                <label class="control-label" for="endDate">To</label>

                <div class="controls">
                    <input type="date" id="endDate" ng-model="searchData.DueDateEnd"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dateFilter">Filter List by Due Date</label>

                <div class="controls">
                    <select id="dateFilter" ng-model="filter">
                        <option value="all">View All</option>
                        <option value="today">Due Today</option>
                        <option value="week">Due This Week</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <input type="submit" value="search"/>
            </div>
        </form><!-- end search form -->

        <!-- TODO: Add directives for payments and fees. -->
        <ul class="unstyled payments">
            <li ng-repeat="payment in payments">
                <header class="row-fluid">
                    <div class="span2"><strong>VIN</strong> <span>{{payment.Vin}}</span></div>
                    <div class="span3">{{payment.UnitDescription}}</div>
                    <div class="span2"><strong>Stock #</strong> <span>{{payment.StockNumber}}</span></div>
                    <div class="span2"><strong>Status</strong> <span>{{payment.UnitStatusId}}</span></div>
                </header>
                <div class="row-fluid">
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span2">
                                <strong>Due</strong>
                                <p>{{payment.DueDate | date:'M/dd/yyyy'}}</p>
                            </div>
                            <div class="span2">
                                <strong>Payoff</strong>
                                <p>{{payment.CurrentPayoff | currency}}</p>
                            </div>
                            <div class="span2">
                                <strong>Payment</strong>
                                <p>{{payment.AmountDue | currency}}</p>
                            </div>
                            <div class="span2">
                                <strong>Title</strong>
                                <p>{{payment.TitleLocationName}}</p>
                            </div>
                            <div class="span2">
                                <strong>Floored</strong>
                                <p>{{payment.FlooringDate | date:'M/dd/yyyy'}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- TODO: Add ng-show directives for when to show buttons, and add disabled value -->
                    <div class="span2 offset2">
                        <button class="btn btn-small btn-block">Add Payment</button>
                        <button class="btn btn-small btn-block">Add Payoff</button>
                        <button class="btn btn-small btn-block">View Title</button>
                    </div>
                </div>

                <btn ng-click="isCollapsed = !isCollapsed" class="more btn btn-mini">More Details</btn>
                <div collapse="isCollapsed" class="more-details">
                    <div vehicle-details stock-number="payment.StockNumber"></div>
                </div><!-- end more-details div -->
            </li>
        </ul>
    </section>

    <section class="span3 pay-queue">
      <div>
        <h3>Payment Summary</h3>
        <p>Choose to make payments today or schedule your payments when you checkout.</p>
      </div>

      <div class="queue-items">
        <p ng-hide="fees.length || queue.length">You have not selected a payment. <br/> Click the Add Payment or Add Payoff button to add one.</p>
        <ul ng-show="fees.length || queue.length">
          <li ng-repeat="fee in fees">
            Account Fee <br/>
            {{ fee.type }}<br/>
            Payment {{ fee.payment | currency }}
          </li>
          <li ng-repeat="q in queue">
            <button class="btn btn-mini" ng-click="remove()">X</button>
            VIN: {{ q.vin }} <br/>
            {{ q.year }} {{ q.make }} {{ q.model }} <br/>
            Payment {{ q.payment | currency }}
          </li>
        </ul>
      </div>

      <div>
        Subtotal: {{ total }}

        <button class="btn" ng-click="toCheckout()" ng-disabled="false">Continue to Checkout</button>
      </div>
    </section>
</section>
