<div class="secondary-nav-bg">
  <div class="container-fluid">
    <nav role="navigation">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('home.dashboard') }">
              <a href="#/home/">Dashboard</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.payments') }">
              <a href="#/home/payments" >Payments</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.scheduledPayments') }">
              <a href="#/home/scheduledPayments" >Scheduled Payments</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.receipts') }">
              <a href="#/home/receipts" >Receipts</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.floorplan') }">
              <a href="#/home/floorplan" >Floor Plan</a>
            </li>

            <li ng-class="{ 'active': $state.includes('home.titlereleases') }">
              <a href="#/home/titlereleases" >Title Releases</a>
            </li>
        </ul>
    </nav>
  </div>
</div>

<div ui-view class="container-fluid">
    something here
</div>
