<section class="row-fluid upcoming">
    <h4 class="row-item">Upcoming Payments</h4>
    <select class="row-item" name="viewMode" ng-model="viewMode">
        <option value="week">This Week</option>
        <option value="month">This Month</option>
    </select>
    <div class="row-fluid basic">
        <div class="span8" nxg-upcoming-calendar display="viewMode"></div>
        <div class="span4">
            <ul>
                <li>
                    <a class="more" href="#/home/payments">
                        <span class="item-total">4</span>
                        Overdue
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li>
                    <a class="more" href="#/home/payments">
                        <span class="item-total">1</span>
                        Due Today
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li>
                    <a class="more" href="#/home/payments">
                        <span class="item-total">8</span>
                        Upcoming
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li>
                    <a class="more" href="#/home/payments">
                        <span class="item-total">1</span>
                        Account Fees
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li>
                    <a class="more" href="#/home/payments">
                        View All Payments
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid details">
        <div class="span8">
            <h4>Upcoming Payments</h4>
            <table>
                <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Payoff Due</th>
                    <th>Payment Due</th>
                </tr>
                </thead>
                <tr ng-repeat="foo in foos">
                    <td title="Due Date">7/22/13</td>
                    <td title="Description">2004 Jeep Lib Ltd White</td>
                    <td title="Payoff Due"></td>
                    <td title="Payment Due">$662.27</td>
                </tr>
            </table>
            <tfoot>
            <a class="more" href="#/home/payments">View All Payments<i class="icon-arrow-right"></i></a>
            </tfoot>
        </div>
        <div class="span4 graphic">
            <!-- TODO: Add once charting library is chosen. -->
            [payments pie chart]
        </div>
    </div>
</section>

<section class="row-fluid summaries">
    <div class="span4 summary credit">
        <h3>Credit</h3>
    </div>
    <div class="span3 summary unapplied-funds">
        <h3>Unapplied Funds</h3>
        <a class="more" ng-click="openRequestPayout()">Request Payout</a>
    </div>
    <div class="span2 summary floorplan">
        <h3>Floorplan</h3>
        <a class="more" href="#/home/floorplan">View Floorplan</a>
    </div>
    <div class="span3 summary receipts">
        <h3>Most Recent Receipts</h3>
        <a class="more" href="#/home/receipts">View All Receipts</a>
    </div>
</section>
