<div class="login container-line">
  <div class="container-fluid login-contents">

    <div class="row-fluid forgot">
      <h3>Forgot Your User Name or Password?</h3>

      <!-- USER NAME RECOVERY -->
      <div class="well well-double span6 offset2 adjacent forgot-uname"
           ng-class="{'nxg-fade' : !!forgotPasswordForm.userName.$viewValue}">
        <h4>Forgot Your User Name?</h4>
        <div class="well-out">
          <p class="instructions">
            Enter the email address associated with your account to receive your username via email.
          </p>

          <form name="forgotUserNameForm">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email"
                  ng-model="userNameRecovery.email" required
                  ng-disabled="!!forgotPasswordForm.userName.$viewValue"
                  ng-class="{ 'nxg-invalid': forgotUserNameValidity.email.$error.required  || forgotUserNameValidity.email.$error.email }" />

            <p class="text-error" ng-show="forgotUserNameValidity.email.$error.required">
              Please enter your email address. If you need assistance, please call
              NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

            <p class="text-error" ng-show="forgotUserNameValidity.email.$error.email">
              {{ forgotUserNameValidity.email.$viewValue }} is not a valid email address. If you need assistance,
              please call NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

            <p class="text-error" ng-show="userNameRecovery.failed">
              We were unable to locate this email address. If you need assistance, please call
              NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

          </form>
          <div class="footer modal-footer">
            <button class="btn btn-small btn-primary"
                    ng-class="{disabled: !!forgotPasswordForm.userName.$viewValue || submitInProgress }"
                    ng-disabled="!!forgotPasswordForm.userName.$viewValue || submitInProgress"
                    ng-click="userNameRecovery.submit()">
              Submit
            </button>
          </div>
        </div><!-- end .well-out -->
      </div>

      <!-- PASSWORD RECOVERY -->
      <div class="well well-double span6 adjacent forgot-pword" ng-class="{'nxg-fade' : !!forgotUserNameForm.email.$viewValue}">
        <h4>Forgot Your Password?</h4>
        <div class="well-out">
          <p class="instructions">Enter your username to receive a new password via email.</p>

          <form name="forgotPasswordForm">
            <label for="userName">User Name</label>
            <input type="text" id="userName" name="userName" ng-model="passwordRecovery.username" required
                   ng-disabled="!!forgotUserNameForm.email.$viewValue"
                   ng-change="passwordRecovery.questions = null; passwordRecovery.questionsFailed = false"
                   ng-class="{ 'nxg-invalid': forgotPasswordValidity.userName.$error.required }" />

            <p class="text-error" ng-show="forgotPasswordValidity.userName.$error.required">
              Please enter your user name. If you need assistance, please call
              NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

            <p class="text-error" ng-show="passwordRecovery.usernameFailed">
              We were unable to locate this username. If you need assistance, please call
              NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

            <div class="question-section"
                 ng-form name="questionForm"
                 ng-repeat="question in passwordRecovery.questions"
                 ng-init="question.$form = questionForm">
              <label>Security Question {{ $index + 1 }}</label>
              <p class="security-question">{{ question.QuestionText }}</p>
              <label class="answer-label" for="{{ passwordRecovery.getInputId(question) }}">
                Security Question Answer
              </label>
              <input type="text" name="questionInput" id="{{ passwordRecovery.getInputId(question) }}"
                     ng-model="question.Answer" ng-class="{ 'nxg-invalid': question.$invalid }" required />
              <p class="text-error" ng-show="question.$invalid">
                Please answer this question.
              </p>

            </div>

            <p class="text-error" ng-show="passwordRecovery.questionsFailed">
              We were unable verify one or more of your answers. If you need assistance, please call
              NextGear Capital Support at: <nxg-customer-support-phone></nxg-customer-support-phone>.
            </p>

          </form>
          <div class="footer modal-footer">
            <button class="btn btn-small btn-primary"
                    ng-class="{disabled: !!forgotUserNameForm.email.$viewValue || submitInProgress }"
                    ng-disabled="!!forgotUserNameForm.email.$viewValue || submitInProgress"
                    ng-click="passwordRecovery.submit()">Submit</button>
          </div>
        </div><!-- end .well-out -->
      </div>
    </div>

  </div>
</div>
