<div class="login container-line">
  <div class="container login-contents">
    <p class="notice" ng-show="showBanner">{{ bannerText }}</p>

    <div class="row">
      <div class="well col-xs-4 col-xs-offset-4">
        <h2 class="well-title" translate>Sign In</h2>

        <form class="login-form clearfix" name="loginForm">
          <label for="credUsername"><span translate>Username</span>:</label>
          <input type="text"
                 class="input-full"
                 ng-model="credentials.username"
                 id="credUsername"
                 name="credUsername"
                 required
                 nxg-autofocus
                 nxg-enter="authenticate()"
                 nxg-typeahead="username for username in autocompleteUsernames | filter:$viewValue | limitTo:8" />
          <p for="credUsername" class="text-error" ng-show="validity.credUsername.$error.required" translate>Please enter a username.</p>

          <label for="credPassword"><span translate>Password</span>:</label>
          <input type="password"
                 class="input-full"
                 ng-model="credentials.password"
                 id="credPassword"
                 name="credPassword"
                 required
                 nxg-auto-fill-sync
                 nxg-enter="authenticate()" />
          <p for="credPassword" class="text-error" ng-show="validity.credPassword.$error.required" translate>Please enter a password.</p>

          <div class="cr-inline">
            <input type="checkbox" name="rememberUsername" id="rememberUsername" ng-model="credentials.remember" />
            <label for="rememberUsername" class="checkbox-img"></label>
            <label for="rememberUsername" class="cr-label" translate>Remember Username</label>
          </div>

          <br />
          <p class="text-error" ng-show="showLoginError">{{ errorMsg }}</p>
          <p class="text-error" ng-show="showLoginError" translate>If you are experiencing an issue logging in, click "Forgot your username or password?" below, or contact:</p>
          <span ng-show="showLoginError"><nxg-customer-support-phone /></span>

          <button type="submit" class="btn-cta cta-primary right" ng-click="authenticate()" translate>Log In</button>
        </form>

        <div class="row">
          <div class="login-help-link">
            <a href="#/login/recover" translate>Forgot your username or password?</a>
          </div>
          <div class="login-help-link">
            <a ng-href="{{ signupURL }}" nxg-track="{{metric.CLICK_LOGIN_SIGNUP_LINK}}" translate>Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
