<div class="container-line update-sec">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="well span10 offset1">
        <h4>Welcome</h4>

        <div class="well-out">
          <h3>Welcome to NextGear!</h3>
          <p>Since this is your first login to NextGear Capital, please do the following:</p>

          <ol>
            <li>Enter the email we have on file for you to verify your account.</li>
            <li>Set your security questions before you enter the site.</li>
          </ol>

          <form class="form-horizontal" name="updateSecurity" ng-submit="submitForm()" novalidate>
            <div class="control-group email">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input type="email" name="email" id="email" ng-model="email" ng-class="{ 'nxg-invalid': validity.email.$error.required || validity.email.$error.email }" required/>
                <label class="text-error" ng-show="updateSecurity.email.$error.correctEmail">We were unable to locate an account associated with this email address.<br/>If you need assistance, please call NextGear Capital Support at (888) 969-3721.</label>
                <label class="text-error" ng-show="validity.email.$error.required || validity.email.$error.email">Please enter a valid email address.</label>
              </div>
            </div>

            <div class="sec-ques" ng-repeat="question in questions">

              <div class="control-group">
                <label class="control-label">Security Question #{{$index+1}}</label>
                <div class="controls">
                  <select
                    ng-model="$parent.updateSecurity[question.name]"
                    name="question.name"
                    ng-options="q.QuestionId as q.QuestionText for q in filteredQuestions(question.name)"
                    required >
                    <option value="">-- Select a Question --</option>
                  </select>
                </div>
              </div>

              <div class="control-group" ng-show="$parent.updateSecurity[question.name]">
                <label class="control-label">Answer</label>
                <div class="controls">
                  <input type="text" id="{{question.resName}}" name="{{question.resName}}" ng-model="$parent.updateSecurity[question.resName]" ng-class="{ 'nxg-invalid': $parent.validity[question.resName].$error.required || $parent.validity[question.resName].$error.maxLength }" required />
                  <label for="{{question.resName}}" class="text-error" ng-show="$parent.validity[question.resName].$error.required">Please enter an answer to the selected security question. </label>
                  <label for="{{question.resName}}" class="text-error" ng-show="$parent.validity[question.resName].$error.maxLength">Please enter an answer that is no more than 100 characters long. </label>
                </div>
              </div>

            </div>

            <div class="footer modal-footer">
              <button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
              <button class="btn btn-primary" type="submit">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
