<div class="login container-line">
  <div class="container-fluid login-contents">
    <!-- CREATE A NEW PASSWORD VIEW -->
    <div class="row-fluid">
      <div class="well well-single span4 offset4">
        <h4 translate>Create a New Password</h4>

        <div class="well-out create-password">
          <p translate>Passwords must consist of a minimum of 8 characters. Passwords must contain 3 of the 4 following types of characters: uppercase, lowercase, number, or special character.</p>
          <form name="createPasswordForm">
            <label for="createPword"><span translate>Password</span>:</label>
            <input type="password"
                   ng-model="pwd.newPassword"
                   id="createPword"
                   name="createPword"
                   required
                   nxg-autofocus
                   nxg-enter="createPassword()"
                   ng-class="{ 'nxg-invalid': validation.$invalid }"/>

            <label for="createPwordConfirm"><span translate>Confirm Password</span>:</label>
            <input type="password"
                   ng-model="pwd.passwordConfirmation"
                   id="createPwordConfirm"
                   name="createPwordConfirm"
                   required
                   nxg-enter="createPassword()"
                   ng-class="{ 'nxg-invalid': validation.$invalid }"/>

            <p class="text-error" ng-show="validation.$error.pattern" translate>Please enter a valid password.</p>
            <p class="text-error" ng-show="validation.$error.nomatch" translate>Passwords do not match.</p>
          </form>

          <div class="footer modal-footer">
            <button
                    class="btn btn-small"
                    ng-click="cancel()"
                    ng-disabled="busy" translate>Cancel</button>
            <button
                    class="btn btn-small btn-primary"
                    ng-click="createPassword()"
                    ng-disabled="createPasswordForm.$invalid || busy" translate>Continue</button>
          </div>
        </div><!-- end .well-out -->
      </div><!-- end .well -->
    </div><!-- end .row-fluid -->
  </div>
</div>
