<div class="login container-line">
  <div class="container-fluid login-contents">
    <!-- CREATE A NEW PASSWORD VIEW -->
    <div class="row-fluid">
      <div class="well well-single span4 offset4">
        <h4>Create a New Password</h4>

        <div class="well-out create-password">
          <p>Passwords must consist of a minimum of 8 characters. Passwords must contain 3 of the 4 following types of characters: uppercase, lowercase, number, or special character.</p>
          <form name="">
            <label for="createPword">Password:</label>
            <input type="password"

                   id="createPword"
                   name="createPword"
                   required
                   nxg-autofocus
                   nxg-enter="authenticate()" />

            <label for="createPwordConfirm">Confirm Password:</label>
            <input type="password"

                   id="createPwordConfirm"
                   name="createPwordConfirm"
                   required
                   nxg-enter="authenticate()" />

            <p class="text-error" ng-show="showLoginError">{{ errorMsg }}</p>
            <p class="text-error" >Passwords do not match. </p>
          </form>

          <div class="footer modal-footer">
            <button class="btn btn-small">Cancel</button>
            <button class="btn btn-small btn-primary" ng-click="authenticate()">Continue</button>
          </div>
        </div><!-- end .well-out -->
      </div><!-- end .well -->
    </div><!-- end .row-fluid -->
  </div>
</div>
