
<!-- CREATE A NEW PASSWORD VIEW -->
<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <h2 class="well-title" translate>Create a New Password</h2>

    <div class="well-item">
      <form class="form-block clearfix" name="createPasswordForm">
        <p class="paragraph" translate>Passwords must consist of a minimum of 8 characters. Passwords must contain 3 of the 4 following types of characters: uppercase, lowercase, number, or special character.</p>

        <label for="createPword"><span translate>Password</span>:</label>
        <input type="password"
               class="input-full"
               ng-model="pwd.newPassword"
               id="createPword"
               name="createPword"
               required
               nxg-autofocus
               nxg-enter="createPassword()"
               ng-class="{ 'nxg-invalid': validation.$invalid }"/>

        <label for="createPwordConfirm"><span translate>Confirm Password</span>:</label>
        <input type="password"
               class="input-full"
               ng-model="pwd.passwordConfirmation"
               id="createPwordConfirm"
               name="createPwordConfirm"
               required
               nxg-enter="createPassword()"
               ng-class="{ 'nxg-invalid': validation.$invalid }"/>

        <p class="text-error" ng-show="validation.$error.pattern" translate>Please enter a valid password.</p>
        <p class="text-error" ng-show="validation.$error.nomatch" translate>Passwords do not match.</p>

        <button class="btn-cta cta-secondary right"
                type="button"
                ng-click="cancel()"
                ng-disabled="busy" translate>Cancel</button>
        <button class="btn-cta cta-primary right"
                type="submit"
                ng-click="createPassword()"
                ng-disabled="createPasswordForm.$invalid || busy" translate>Continue</button>
      </form>
    </div>
  </div>
</div>

