
<!-- TODO: Pull out and place in partial -->
<header>
    <div class="logo">[NEXTGEAR LOGO]</div>
    <nav navigation role="navigation"></nav>

    <div class="quick-links">
        <!-- TODO: Add ng-show so its only visible for dealers -->
        <div class="c2a chat" ng-show=""><a href="#">Chat Now!</a></div>

        <div class="box dealer-info">
            <a class="settings" href="#">Set</a>

            <div>
                <h6>Rocky Mountain Hybrids</h6>
                <!-- TODO: Add ng-show so its only visible for dealers -->
                <p class="small" ng-show="">dealer #76543</p>
            </div>
        </div>

        <!-- TODO: Add ng-show so its only visible for dealers -->
        <div class="pay-queue summary" ng-show="">
            <ul>
                <li><label>Payment Queue:</label> <p>0 items</p></li>
                <li><label>Subtotal:</label> <p>{{ 0 | currency }}</p></li>
            </ul>
        </div>
    </div>
</header>
