<div class="container-line">
  <div class="container-fluid">

    <div class="row">
      <div class="well col-md-offset-4 col-md-4">
        <h2 class="well-title" translate>We Will Be Back Soon!</h2>

        <div class="well-item">
          <div class="paragraph" translate>
            Our myNextGear is currently unavailable while we make upgrades to improve our service to you. We apologize for
            the inconvenience and appreciate your patience. Thank you for using myNextGear!.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
