<div class="container-line">
  <div class="container-fluid settings profile">
    <div class="row-fluid two-col">

      <!-- USER PROFILE -->
      <section class="span8 well adjacent">
        <h4>User Profile</h4>
        <button ng-hide="profile.editable" class="btn edit-btn" ng-click="profile.edit()"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
        <button ng-show="profile.editable" class="btn cancel-btn" ng-click="profile.cancel()">Cancel</button>
        <button ng-show="profile.editable" class="btn save-btn" ng-click="profile.save()">Save</button>

        <div class="well-out">

          <form class="settings-opts" ng-class="{ editable:profile.editable }" name="userSettings" novalidate>
            <div class="control-group">
              <label class="control-label" for="setUsername">User Name</label>
              <div class="controls" nxg-input model="profile.data.username" editable="profile.editable">
                <input type="text" name="setUsername" ng-model="profile.dirtyData.username" value="profile.dirtyData.username" ng-maxlength="40" ng-class="{ 'nxg-invalid': profile.validation.setUsername.$error.required || profile.validation.setUsername.$error.maxlength }" required/>
              </div>
              <div for="setUsername" class="text-error"
                     ng-show="profile.validation.setUsername.$error.required">
                  Please enter a User Name.
              </div>
              <div for="setUsername" class="text-error"
                     ng-show="profile.validation.setUsername.$error.maxlength">
                  Please enter a User Name that is 40 characters or less.
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="setPassword"><span ng-show="editable">New </span>Password</label>
              <div class="static" ng-hide="profile.editable">***********</div>
              <div class="controls" ng-show="profile.editable">
                <input type="password" name="setPassword" ng-model="profile.dirtyData.password" ng-class="{ 'nxg-invalid': profile.validation.setPassword.$error.pattern }" />
                  <button class="btn-help"
                          tooltip-placement="right"
                          tooltip-trigger="click"
                          tooltip-html="true"
                          tooltip-html-unsafe="<h5>Password Reset</h5><p>Passwords must consist of a minimum of 8 characters.</p><p>Passwords must contain 3 of the 4 following types of characters: uppercase, lowercase, number, or special characters.</p>"
                          tooltip-animation="true">?</button>
              </div>
              <div class="text-error" ng-show="profile.validation.setPassword.$error.pattern">
                  Please enter a valid password.
              </div>
            </div>

            <div class="control-group" ng-show="profile.editable">
              <label class="control-label" for="confirmPassword">Confirm Password</label>
              <div class="controls">
                <input type="password" id="confirmPassword" ng-model="profile.dirtyData.passwordConfirm" ng-class="{ 'nxg-invalid': profile.validation.setPassword.$error.nomatch }" />
              </div>
              <div class="text-error" ng-show="profile.validation.setPassword.$error.nomatch">
                  The passwords do not match. Please re-enter the password.
              </div>
            </div>

            <div ng-repeat="question in profile.data.questions" ng-hide="profile.editable">
                <!-- Question Select -->
                <div class="control-group">
                    <label class="control-label">Security Question {{$index + 1}}</label>
                    <div class="static" ng-hide="profile.editable"> {{ question.QuestionText }} </div>
                </div>
            </div>

            <div ng-repeat="question in profile.dirtyData.questions" ng-show="profile.editable">
                <!-- Question Select -->
                <div class="control-group">
                  <label class="control-label">Security Question {{$index + 1}}</label>
                    <select ng-model="question.SecurityQuestionId"
                            ng-options="q.QuestionId as q.QuestionText for q in profile.data.allQuestions"
                            tooltip="{{ question.QuestionText }}"
                            tooltip-placement="right"
                            tooltip-popup-delay="700">
                    </select>
                </div>
                <!-- Answer -->
                <div class="control-group" ng-show="profile.editable">
                    <label class="control-label" for="secAnswer">Answer</label>
                    <div class="controls">
                        <input type="text" name="secAnswer" ng-model="question.Answer" ng-class="{ 'nxg-invalid': question.$error.required || question.$error.maxLength }" required/>
                    </div>
                    <div class="text-error" ng-show="question.$error.required">
                        Please enter an Answer.
                    </div>
                    <div class="text-error" ng-show="question.$error.maxLength">
                        Please enter an Answer that is a maximum of 100 characters.
                    </div>
                </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls" nxg-input model="profile.data.email" editable="profile.editable">
                <input type="email" name="email" ng-model="profile.dirtyData.email" value="profile.dirtyData.email" ng-class="{ 'nxg-invalid': profile.validation.email.$invalid }" required/>
                <div class="text-error" ng-show="profile.validation.email.$invalid">
                  Please enter a valid email address.
                </div>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="phone">Phone</label>
              <div class="controls" nxg-input model="formatPhonenumber(profile.data.phone)" editable="profile.editable">
                <input type="tel"
                       name="phone"
                       ng-model="profile.dirtyData.phone"
                       ng-pattern="phonePattern"
                       size="10"
                       ng-class="{ 'nxg-invalid': profile.validation.phone.$error.pattern }" />
                  <div class="text-error" ng-show="profile.validation.phone.$error.pattern">
                      Please enter a valid phone number.
                  </div>
              </div>
            </div>

          </form>
        </div><!-- end .well-out -->
      </section><!-- end .span8.well.adjacent -->

      <!-- NOTIFICATIONS -->
      <section class="span8 well adjacent">
        <h4>Notifications</h4>
        <button ng-hide="notifications.editable" class="btn edit-btn" ng-click="notifications.edit()"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
        <button ng-show="notifications.editable" class="btn cancel-btn" ng-click="notifications.cancel()">Cancel</button>
        <button ng-show="notifications.editable" class="btn save-btn" ng-click="notifications.save()">Save</button>

        <div class="well-out">
          <form class="settings-opts" ng-class="{ editable:notifications.editable }" name="notificationSettings">
            <div class="head-labels">
              <label>Notifications</label>
              <label ng-hide="notifications.editable || notifications.data.selected.length == 0">Delivery Type</label>
            </div>

            <div class="control-group">
              <div class="controls notifications">
                <ul class="unstyled">
                  <li class="notification" ng-repeat="n in notifications.data.selected" ng-hide="notifications.editable || notifications.data.selected.length == 0">
                    <div class="n-title">{{ n.NotificationName }}</div>
                    <ul class="inner">
                      <li class="read-only" ng-repeat="d in n.DeliveryMethods">
                        {{ d.DeliveryMethodName }}
                      </li>
                    </ul>
                  </li>
                  <li class="notification" ng-show="notifications.data.selected.length == 0 && !notifications.editable">No notifications are currently enabled.</li>

                  <!-- Edit -->
                  <li class="notification" ng-repeat="n in notifications.dirtyData.available" ng-show="notifications.editable">
                    <div class="n-title">{{ n.Name }}</div>
                    <ul class="inner">
                      <li class="read-only" ng-repeat="d in n.DeliveryMethods">
                        <input type="checkbox" id="{{ n.NotificationId + d.DeliveryMethodId }}" name="{{ d.Name }}" ng-model="d.Enabled" />
                        <label for="{{ n.NotificationId + d.DeliveryMethodId }}">{{ d.Name }}</label>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </section><!-- end .span8.well.adjacent -->
    </div><!-- end .row-fluid.two-col -->
  </div><!-- end .container-fluid.settings -->
</div><!-- end .container-line -->
