<div class="promos">
  <div class="info-block">
    <div class="info-block-image">
      <span nxg-icon="icon-info"></span>
    </div>

    <h6 class="info-block-text" translate>
      Please contact your local representative for any details about the promotions and/or event sales listed below.
    </h6>
  </div>
  <section class="col-md-12 well" ng-class="{'promo-well': !isCollapsed}">
    <h2 class="well-title">
      <span translate>Promotions / Event Sales</span>
    </h2>
    <div class="well-column-header promo-header col-xs-12">
      <h6 class="col-xs-3 promo-header-item" translate>Location</h6>
      <h6 class="col-xs-3 promo-header-item" translate>Description</h6>
      <h6 class="col-xs-3 promo-header-item" translate>Sale Type</h6>
      <h6 class="col-xs-1 promo-header-item" translate>Date</h6>
    </div>
    <div class="promo-container">
      <div class="promo-item row" ng-repeat="promo in promos | filter: { terminated: false }">
        <div class="col-xs-3">
          <span class="promo-auction-name">{{promo.auctionName}}</span>
        </div>
        <div class="col-xs-3">
          <div class="promo-name">{{promo.name}}</div>
        </div>
        <div class="col-xs-3">
          <div class="promo-type">Event Sale</div>
        </div>
        <div class="col-xs-1">
          <div class="promo-date">{{convertSalesDate(promo.salesDate)}}</div>
        </div>
        <div class="col-xs-2" style="text-align: right;">
          <div ng-click="tcCollapsed = !tcCollapsed"
               ng-show="promo.termsAndConditions">
            <span class="promo-details" translate>Details</span>
            <span class="paired-media"
                  ng-class="{ 'point-up':!tcCollapsed, 'point-down':tcCollapsed }"
                  nxg-icon="icon-chevron"></span>
          </div>
        </div>
        <div collapse="tcCollapsed || !promo.termsAndConditions" ng-init="tcCollapsed = true" class="col-xs-12 promo-terms-conditions">
          {{promo.termsAndConditions}}
        </div>
      </div>
      <div collapse="isCollapsed" ng-init="isCollapsed = true">
        <div class="promo-item inactive row" ng-repeat="promo in promos  | filter: { terminated: true }">
          <div class="col-xs-3">
            <span class="promo-auction-name">{{promo.auctionName}}</span>
          </div>
          <div class="col-xs-3">
            <div class="promo-name">{{promo.name}}</div>
          </div>
          <div class="col-xs-3">
            <div class="promo-type">Event Sale</div>
          </div>
          <div class="col-xs-1">
            <div class="promo-date">{{convertSalesDate(promo.salesDate)}}</div>
          </div>
          <div class="col-xs-2 text-right">
            <div ng-click="tcCollapsed = !tcCollapsed"
                 ng-show="promo.termsAndConditions">
              <span class="promo-details" translate>Details</span>
            <span class="paired-media"
                  ng-class="{ 'point-up':!tcCollapsed, 'point-down':tcCollapsed }"
                  nxg-icon="icon-chevron"></span>
            </div>
          </div>
          <div collapse="tcCollapsed || !promo.termsAndConditions" ng-init="tcCollapsed = true" class="col-xs-12 promo-terms-conditions">
            {{promo.termsAndConditions}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <button id="showorhide" class="accordion-button paired-reversed" ng-click="isCollapsed = !isCollapsed" ng-class="{ expanded:!isCollapsed }">
    <span class="paired-body">
      <span ng-show="isCollapsed" translate>Show Old Promos</span>
      <span ng-show="!isCollapsed" translate>Hide Old Promos</span>
    </span>
    <span class="paired-media" ng-class="{ 'point-up':!isCollapsed, 'point-down':isCollapsed }" nxg-icon="icon-chevron"></span>
  </button>
</div>
