<section class="row-fluid">
  <section class="span9">
    <div nxg-search
       title="Receipt Search"
       class="search-form"
       metric-search="{{metric.CLICK_RECEIPTS_SEARCH_BUTTON}}"
       metric-clear-search="{{metric.CLICK_RECEIPTS_CLEAR_SEARCH_LINK}}"
       metric-filter-by-input="{{metric.CLICK_RECEIPTS_FILTER_BY_INPUT}}"
       metric-filter-from-date="{{metric.CLICK_RECEIPTS_FILTER_FROM_DATE_INPUT}}"
       metric-filter-to-date="{{metric.CLICK_RECEIPTS_FILTER_TO_DATE_INPUT}}"
       prompt="Receipt #, Stock #, VIN, Check #, Make, Model or Year"
       filter-label="Filter by Payment Method"
       filter-options="filterOptions"
       active-criteria="receipts.proposedSearchCriteria"
       on-search="receipts.search()"
       on-clear="receipts.resetSearch()"
       filterable="true" >
    </div>

    <div class="well">
      <h2 class="well-title">Receipts</h2>
      <div ng-switch="receipts.results.length > 0 || receipts.loading">
        <p class="notice-box" ng-switch-when="false">
          Sorry, no results found. Please <a ng-click="receipts.resetSearch()" title="New Search">try a new search</a>.
        </p>

        <div ng-switch-when="true"
             nxg-infinite-scroll="receipts.fetchNextResults()"
             nxg-infinite-scroll-disabled="receipts.loading"
             nxg-infinite-scroll-show-indicator="receipts.loading">
          <table class="table table-striped table-primary">
            <thead>
              <th class="sortable"
                  ng-click="sortBy('CreateDate')"
                  ng-class="{ sorted : sortField == 'CreateDate', desc : sortDescending }">
                Payment Date<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('TransactionNumber')"
                  ng-class="{ sorted : sortField == 'TransactionNumber', desc : sortDescending }">
                Receipt No.<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('PaymentMethod')"
                  ng-class="{ sorted : sortField == 'PaymentMethod', desc : sortDescending }">
                Payment Description<span class="sortArrows"></span>
              </th>
              <th class="sortable"
                  ng-click="sortBy('AmountProvided')"
                  ng-class="{ sorted : sortField == 'AmountProvided', desc : sortDescending }">
                Amount Paid<span class="sortArrows"></span>
              </th>
              <th>
                Export Receipt(s)
              </th>
            </thead>
            <tr ng-repeat="receipt in receipts.results">
              <td >
                <h4 class="lockup-major">{{ receipt.CreateDate | moment }}</h4>
                <p class="lockup-minor" ng-switch="getReceiptStatus(receipt)">
                  <span ng-switch-when="nsf">Insufficient Funds</span>
                  <span ng-switch-when="void">Voided</span>
                  <span ng-switch-when="normal">Processed</span>
                </p>
              </td>
              <td>
                <a class="lockup-major" href="javascript:void(0)" ng-click="viewReceipt(receipt)">
                  <span nxg-highlight="receipt.TransactionNumber" highlight="receipt.data.query"></span>
                </a>
              </td>
              <td class="description-no-vin">
                <p>
                  Payment: {{ receipt.PaymentMethod }}<br/>
                  <span ng-switch on="!!receipt.CheckNumber">
                    <span ng-switch-when="true">
                      <span ng-show="receipt.CheckNumber">Check #:</span>
                      <span nxg-highlight="receipt.CheckNumber" highlight="receipt.data.query"></span>
                    </span>
                  </span>
                  <span ng-show="receipt.PayeeDescription">{{ receipt.PayeeDescription }}</span></p>
              </td>
              <td>
                <h4 class="lockup-major numeric">{{ receipt.AmountProvided | currency }}</h4>
              </td>
              <td class="actions">
                <button class="btn btn-adapts right"
                        type="button"
                        ng-class="{'selected': isSelected(receipt)}"
                        ng-disabled="tooMany() && !isSelected(receipt)"
                        ng-click="toggleInQueue(receipt)"
                        nxg-track="{{metric.CLICK_RECEIPTS_VIEW_RECEIPT_INPUT}}"
                        >
                  <span class="paired-body"> {{ {true:'Remove',false:'Add'}[isSelected(receipt)] }} Receipt</span>
                  <span ng-switch="isSelected(receipt)">
                    <span ng-switch-when="false" nxg-icon="icon-plus" class="paired-media icon-small"></span>
                    <span ng-switch-when="true" nxg-icon="icon-minus" class="paired-media icon-small"></span>
                  </span>
                </button>
              </td>
            </tr>
          </table>

          <p class="text-error notice-box" ng-show="receipts.hitInfiniteScrollMax">
            There are too many results to display, please refine your search further.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="span3 well stick" nxg-sticky header=".nxg-sticky-header" scroll=".queue-list" footer=".well-footer">
    <div class="nxg-sticky-header">
      <h2 class="well-title">Export Receipts</h2>
      <div class="well-item">
        <p>You can combine up to 20 receipts into a single pdf by selecting each receipt and clicking 'Export Receipt(s)' below.
        </p>
      </div>

      <div class="well-item well-light bordered">
        <div class="alt-lockup">
          <p class="lockup-minor">Receipts Selected</p>
          <h3 class="lockup-major">{{ selectedReceipts.length }} <span class="lockup-minor heavy">out of</span> 20</h3>
        </div>
      </div>
    </div>


    <div ng-show="selectedReceipts.length > 0">
      <ul class="queue-list reversed">
        <li class="queue-item bordered" ng-repeat="receipt in selectedReceipts">
          <button class="btn-unstyle right"
              ng-click="removeReceipt(receipt)">
            <span nxg-icon="icon-cancel" class="icon-small"></span>
          </button>
          <h5>Receipt No. <a class="heavy" href="javascript:void(0)" ng-click="viewReceipt(receipt)">{{ receipt.TransactionNumber }}</a></h5>
        </li>
      </ul>
    </div>

    <div class="well-footer">
      <button class="btn-cta cta-primary cta-full"
              type="submit"
              ng-click="onExport()"
              ng-disabled="selectedReceipts.length < 1"
              nxg-track="{{metric.CLICK_RECEIPTS_VIEW_SELECTED_RECEIPTS_BUTTON}}">
        Export Receipt(s)
        <span nxg-icon="icon-document" class="icon-small"></span>
      </button>
    </div>
  </section>
</section>
