<div class="row">
  <div class="col-md-6 well">
    <h2 class="well-title" translate>Current Reports</h2>
    <div class="well-item">
      <ul class="unstyled">
        <li ng-repeat="report in currentReports">
          <a target="_blank" ng-href="{{ report.url }}"
             nxg-track="{{ metric.VIEW_CURRENT_REPORT }}"
             track-properties="{ reportName: report.title }">
            {{ report.title }}
          </a>
        </li>
      </ul>

      <hr/>

      <!-- Curtailment Form -->
      <form class="form-inline" name="curtailmentForm" novalidate>
        <h3 class="form-title" translate>Upcoming Curtailment / Payoff Quote (PDF)</h3>

        <div class="form-row">
          <label for="curtailmentDate" translate>Date</label>
          <input id="curtailmentDate" name="curtailmentDate" nxg-track="{{metric.CLICK_VIEW_A_REPORT_DATE_INPUT}}" nxg-date-field date-allow="future"  ng-model="data.curtailmentDate" ng-class="{ 'nxg-invalid': curtailmentFormValidity.curtailmentDate.$error.required || curtailmentFormValidity.curtailmentDate.$error.date }" required />
        </div>
        <div class="form-row button-group">
          <button type="submit" class="btn" ng-click="viewCurtailment()" nxg-track="{{metric.CLICK_VIEW_A_REPORT_CURTAILMENT_PAYOFF_QUOTE_BUTTON}}" translate>View Report</button>
        </div>

        <div class="form-row">
          <label for="curtailmentDate" class="text-error" ng-show="curtailmentFormValidity.curtailmentDate.$error.required || curtailmentFormValidity.curtailmentDate.$error.date" translate>
            Please select a Valid Date.
          </label>
        </div>
      </form>

      <hr/>

      <!-- Exportable Inventory Form -->
      <form class="form-inline" name="expInvForm" novalidate>
        <h3 class="form-title" translate>Exportable Inventory</h3>

        <div class="form-row">
          <label for="expInvStatus" translate>Flooring Status</label>
          <div class="style-select">
            <select id="expInvStatus" name="expInvStatus" ng-model="expInvStatus.value" ng-options="o for o in expInvStatus.values" required> </select>
          </div>
        </div>
        <div class="form-row button-group">
          <button type="submit" class="btn" ng-click="viewExpInv()" nxg-track="{{metric.CLICK_VIEW_A_REPORT_EXPORTABLE_INVENTORY_BUTTON}}" translate>View Report</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6 well">
    <h2 class="well-title" translate>Historical Reports</h2>

    <div class="well-item">
      <!-- Dealer Statement Form -->
      <form class="form-inline" name="stmtForm" novalidate>
        <h3 class="form-title" translate>Dealer Statement</h3>

        <div class="form-row range">
          <div class="range-start">
            <label for="stmtStart" translate>Start Date</label>
            <input id="stmtStart" name="stmtStart" nxg-date-field ng-model="data.stmtStartDate" ng-class="{ 'nxg-invalid': stmtFormValidity.stmtStart.$error.required || stmtFormValidity.stmtStart.$error.date}" required />
          </div>

          <div class="range-end">
            <label for="stmtEnd" translate>End Date</label>
            <input id="stmtEnd" name="stmtEnd" nxg-date-field ng-model="data.stmtEndDate" ng-class="{ 'nxg-invalid': stmtFormValidity.stmtEnd.$error.required || stmtFormValidity.stmtEnd.$error.date }" required />
          </div>
        </div>

        <label for="stmtStart" class="text-error" ng-show="stmtFormValidity.stmtStart.$error.required || stmtFormValidity.stmtStart.$error.date" translate>
            Please select a Valid Start Date.
        </label>
        <label for="stmtEnd" class="text-error" ng-show="stmtFormValidity.stmtEnd.$error.required || stmtFormValidity.stmtEnd.$error.date" translate>
          Please select a Valid End Date.
        </label>
        <label class="text-error" ng-show="stmtFormValidity.dateRangeError" translate>
          Start Date should not be later than End Date.
        </label>

        <div class="form-row">
          <label for="stmtVinFilter" translate>Filter for VIN (optional)</label>
          <div>
            <input type="text" id="stmtVinFilter" name="stmtVinFilter" ng-model="data.stmtVinFilter" ng-pattern="vinRegexp" ng-class="{ 'nxg-invalid': stmtFormValidity.stmtVinFilter.$error.pattern }" />
          </div>
          <label class="text-error" ng-show="stmtFormValidity.stmtVinFilter.$error.pattern" translate>
            Invalid character in VIN
          </label>
        </div>

        <div class="form-row button-group">
          <button type="submit" class="btn" ng-click="viewDealerStatement()" nxg-track="{{metric.CLICK_VIEW_A_REPORT_DEALER_STATEMENT_BUTTON}}" translate>View Report</button>
        </div>
      </form>

      <hr/>

      <!-- Disbursement Form -->
      <form class="form-inline" name="disForm" novalidate>
        <h3 class="form-title" translate>Disbursement Detail</h3>

        <div class="form-row">
          <label for="disDate" translate>Date</label>
					<input id="disDate" name="disDate" nxg-date-field date-allow="past" ng-model="data.disDate" ng-class="{ 'nxg-invalid': disFormValidity.disDate.$error.required || disFormValidity.disDate.$error.date || disFormValidity.disDate.$error.past }" required />
        </div>
        <div class="form-row button-group">
          <button type="submit" class="btn" ng-click="viewDisbursementDetail()" nxg-track="{{metric.CLICK_VIEW_A_REPORT_DISBURSEMENT_DETAIL_BUTTON}}" translate>View Report</button>
        </div>
        <div class="form-row">
          <label for="disDate" class="text-error" ng-show="disFormValidity.disDate.$error.required || disFormValidity.disDate.$error.date" translate>
             Please select a Valid Date.
          </label>
          <label for="disDate" class="text-error" ng-show="disFormValidity.disDate.$error.past" translate>
             Please select a Date in the past.
          </label>
        </div>
      </form>

      <hr/>

      <!-- Paid Off Form -->
      <form class="form-inline" name="paidOffForm" novalidate>
        <h3 class="form-title" translate>Paid off Summary</h3>

        <div class="form-row range">
          <div class="range-start">
            <label for="paidOffStart" translate>Start Date</label>
            <input type="date" id="paidOffStart" name="paidOffStart" nxg-date-field ng-model="data.paidOffStartDate" date-allow="past" ng-class="{ 'nxg-invalid': paidOffFormValidity.paidOffStart.$error.required || paidOffFormValidity.paidOffStart.$error.date }" required />
          </div>

          <div class="range-end">
            <label for="paidOffEnd" translate>End Date</label>
            <input type="date" id="paidOffEnd" name="paidOffEnd" nxg-date-field ng-model="data.paidOffEndDate" date-allow="past" ng-class="{ 'nxg-invalid': paidOffFormValidity.paidOffEnd.$error.required || paidOffFormValidity.paidOffEnd.$error.date }" required />
          </div>
        </div>

        <div class="form-row">
          <label for="paidOffStart" class="text-error" ng-show="paidOffFormValidity.paidOffStart.$error.required || paidOffFormValidity.paidOffStart.$error.date" translate>Please select a Valid Start Date.</label>
          <label for="paidOffEnd" class="text-error" ng-show="paidOffFormValidity.paidOffEnd.$error.required || paidOffFormValidity.paidOffEnd.$error.date" translate>Please select a Valid End Date.</label>
          <label class="text-error" ng-show="paidOffFormValidity.dateRangeError" translate>Start Date should not be later than End Date.</label>
        </div>

        <div class="form-row">
          <label for="paidOffVinFilter" translate>Filter for VIN (optional)</label>
          <div>
            <input type="text" name="paidOffVinFilter" id="paidOffVinFilter" ng-pattern="vinRegexp" ng-model="data.paidOffVinFilter" ng-class="{ 'nxg-invalid': paidOffFormValidity.paidOffVinFilter.$error.pattern }" />
            <label class="text-error" ng-show="paidOffFormValidity.paidOffVinFilter.$error.pattern" translate>
              Invalid character in VIN
            </label>
          </div>
        </div>

        <div nxg-stock-numbers-input="placeholder" data="data" form="paidOffFormValidity"></div>

        <div class="form-row button-group">
          <button type="submit" class="btn" ng-click="viewPaidOffSummary()" nxg-track="{{metric.CLICK_VIEW_A_REPORT_PAID_OFF_SUMMARY_VIEW_REPORT}}" translate>View Report</button>
        </div>

      </form>
    </div>
  </div>
</div>

