<!-- TODO: Replace placeholders with actual angular variables/real data -->
<!-- TODO: Add edit buttons -->
<!-- TODO: Create means of switching to form view for editing purposes -->
<!-- TODO: Pull out inputs and make reusable directive? -->
<section ng-controller="ProfileCtrl">
  <header>
    <h3>User Profile
      <button ng-hide="editable" class="btn pull-right" ng-click="editable=!editable">Edit</button>
      <button ng-show="editable" class="btn pull-right" ng-click="save()">Save</button>
    </h3>
  </header>

  <table>
    <tr>
      <td>Username:</td>
      <td nxg-input model="profile.username" editable="editable">
          <input type="text" ng-model="profile.username" value="profile.username" required/>
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td nxg-input model="profile.password" editable="editable">
          <input type="password" ng-model="profile.password" value="profile.password" required/>
      </td>
    </tr>
    <tr>
      <td>Security Question:</td>
      <td nxg-input model="profile.secQuestion" editable="editable">
          <input type="text" ng-model="profile.secQuestion" value="profile.secQuestion"/>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td nxg-input model="profile.email" editable="editable">
          <input type="email" ng-model="profile.email" value="profile.email" required/>
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td nxg-input model="profile.phone" editable="editable">
          <input type="tel" ng-model="profile.phone" value="profile.phone" required/>
      </td>
    </tr>
  </table>
</section>

<section ng-controller="BusinessCtrl">
  <header>
    <h3>Business Settings
      <button ng-hide="editable" class="btn pull-right" ng-click="editable=!editable">Edit</button>
      <button ng-show="editable" class="btn pull-right" ng-click="save()">Save</button>
    </h3>
  </header>

  <table>
    <tr>
      <td>Business Email:</td>
      <td nxg-input model="business.email" editable="editable">
        <input type="email" ng-model="business.email" value="business.email" required />
      </td>
    </tr>
    <tr>
      <td>Enhanced Registration Enabled?</td>
      <td ng-hide="editable" ng-show="business.enhanced">Yes</td>
      <td ng-show="editable">
        <input type="radio" name="enhanced" value=false checked="!business.enhanced"/> No
        <input type="radio" name="enhanced" value=true checked="business.enhanced"/> Yes

        <p>Enhanced Registration will result in all account access being restricted to users with a PIN.</p>
        <p>All guarantors will be asked to set up their PIN when logging in to MyNextGear.</p>
        <p>Create your Enhanced Registration four digit PIN.</p>

        <label>Enhanced Registration PIN</label>
        <input type="number" ng-model="business.pin" required />

        <!-- TODO: Add modal if enhanced registration is turned off in the form. -->
      </td>
    </tr>
  </table>
</section>

<section ng-controller="TitleCtrl">
  <header>
    <h3>Title Settings
      <button ng-hide="editable" class="btn pull-right" ng-click="editable=!editable">Edit</button>
      <button ng-show="editable" class="btn pull-right" ng-click="save()">Save</button>
    </h3>
  </header>
  <table>
    <tr>
      <td>Address:</td>
      <td nxg-input model="title.address" editable="editable">
        <input type="text" ng-model="title.address" value="title.address" required />
      </td>
    </tr>
  </table>
</section>

<section ng-controller="NotificationCtrl">
  <header>
    <h3>Notifications <button class="btn pull-right" ng-click="">Edit</button></h3>
  </header>

  <table>
    <tr>
      <td>Active Notifications:</td>
    </tr>

    <tr>
      <!-- TODO: Replace show/hids with radio button and editing ability -->
      <td> {{ notification.title }}</td>
      <td> {{ notification.type }}</td>
      <td ng-show="notification.on">On</td>
      <td ng-hide="notification.on">Off</td>
    </tr>
  </table>
</section>
