<section class="row">
  <section class="col-md-9">
    <div class="info-block">
      <div class="info-block-image">
        <span nxg-icon="icon-info"></span>
      </div>
      <h6 class="info-block-text" translate>Titles released here are required to be returned within seven days. If you are requesting a title for state work, please <a nxg-chat-with-us>chat with us</a> or contact customer service for further assistance.</h6>
    </div>
    <div nxg-search
         title="{{ 'Title Release Search' | translate }}"
         class="search-form"
         prompt="{{ 'Stock #, VIN, Make, Model, or Year' | translate }}"
         metric-search="{{metric.CLICK_TITLE_RELEASE_SEARCH_BUTTON}}"
         metric-clear-search="{{metric.CLICK_TITLE_RELEASE_CLEAR_SEARCH_LINK}}"
         metric-filter-by-input="{{metric.CLICK_TITLE_RELEASE_FILTER_BY_INPUT}}"
         metric-filter-from-date="{{metric.CLICK_TITLE_RELEASE_FILTER_FROM_DATE_INPUT}}"
         metric-filter-to-date="{{metric.CLICK_TITLE_RELEASE_FILTER_TO_DATE_INPUT}}"
         filter-label="{{ 'Filter by Status' | translate }}"
         filter-options="filterOptions"
         active-criteria="searchParams.proposedSearchCriteria"
         show-date-range="true"
         on-search="search()"
         on-clear="resetSearch()"
         filterable="true">
    </div>

    <div class="well" ng-switch="data.results.length > 0 || data.loading">
      <h2 class="well-title" translate>Title Release Requests</h2>
      <p class="notice-box" ng-switch-when="false" translate>
        Sorry, no results found. Please <a ng-click="resetSearch()" title="New Search">try a new search</a>.
      </p>

      <div ng-switch-when="true"
           nxg-infinite-scroll="fetchNextResults()"
           nxg-infinite-scroll-disabled="data.loading"
           nxg-infinite-scroll-show-indicator="data.loading">
        <table class="table table-striped table-primary requests-grid">
          <thead>
            <th class="sortable"
                ng-click="sortBy('FlooringDate')"
                ng-class="{ sorted : sortField == 'FlooringDate', desc : sortDescending }">
              <nxg-sortable sortable-text="{{ 'Floored' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable"
                ng-click="sortBy('UnitMake')"
                ng-class="{ sorted : sortField == 'UnitMake', desc : sortDescending }">
              <nxg-sortable sortable-text="{{ 'Description' | translate }}"></nxg-sortable>
            </th>
            <th class="sortable"
                ng-click="sortBy('PurchaseDate')"
                ng-class="{ sorted : sortField == 'PurchaseDate', desc : sortDescending }">
              <nxg-sortable sortable-text="{{ 'Purchased' | translate }}"></nxg-sortable>
            </th>
            <th translate>Release Status</th>
            <th translate>Actions</th>
          </thead>
          <tr ng-repeat="item in data.results">

            <td>
              <p class="lockup-major">{{ item.FlooringDate | moment}}</p>
              <p class="lockup-minor" translate>{{ item.DaysFloored }} days</p>
            </td>
            <td class="description">
              <a class="lockup-major" href="#/vehicledetails?stockNumber={{ item.StockNumber }}">
                <span nxg-track="{{metric.CLICK_TITLE_RELEASE_VEHICLE_DETAILS}}" nxg-highlight="getVehicleDescription(item)" highlight="item.data.query"></span>
              </a>
              <div class="row">
                <p class="lockup-minor caps vin"><span translate>VIN</span>: <span nxg-highlight="item.UnitVIN" highlight="item.data.query" class="break-word"></span></p>
                <p class="lockup-minor caps stock"><span translate>STK</span>: <span nxg-highlight="item.StockNumber" highlight="item.data.query"></span></p>
              </div>
            </td>
            <td class="date">
              <p>{{item.UnitPurchaseDate | moment}}</p>
            </td>
            <td ng-switch="item.TitleReleaseProgramStatus">
              <p ng-switch-when="OutstandingTitleReleaseProgramRelease" translate>Title Released on {{item.TitleReleaseDate | moment}}</p>
              <p ng-switch-when="EligibleForRelease" translate>Eligible for Title Release</p>
              <p ng-switch-when="NotEligibleForRelease" translate>Not Eligible for Title Release</p>
            </td>
            <td class="actions" ng-switch="item.TitleReleaseProgramStatus">
              <h6 ng-switch-when="OutstandingTitleReleaseProgramRelease" translate>Pay off this vehicle or return the title to remove from your limit.</h6>
              <div ng-switch-when="EligibleForRelease">
                <button type="button" class="btn btn-icon btn-title-request" ng-click="toggleSelected(item)" ng-switch="isFloorplanOnQueue(item)" ng-class="{selected: isFloorplanOnQueue(item)}" ng-disabled="$parent.eligibilityLoading() || (!isFloorplanOnQueue(item) && $parent.eligibility.RemainingReleasesAvailable <= $parent.queueLength())">
                  <span ng-switch-when="true" nxg-track="{{metric.CLICK_TITLE_RELEASE_TITLE_REQUESTED}}">
                    <!-- Force pluralization due to duplicate translations -->
                    <span translate translate-n="1" translate-plural="Titles Requested">Title Requested</span><span nxg-icon="icon-minus" class="icon-small"></span>
                  </span>
                  <span ng-switch-default nxg-track="{{metric.CLICK_TITLE_RELEASE_REQUEST_TITLE}}">
                    <span translate>Request Title</span><span nxg-icon="icon-plus" class="icon-small"></span>
                  </span>
                </button>
              </div>
              <a ng-switch-when="NotEligibleForRelease" ng-click="titleReleaseUnavailable()" nxg-track="{{metric.CLICK_TITLE_RELEASE_UNAVAILABLE}}" translate>
                Title Release Unavailable
              </a>
            </td>
          </tr>
        </table>
      </div>

      <p class="text-error notice-box" ng-show="data.hitInfiniteScrollMax" translate>
        There are too many results to display, please refine your search further.
      </p>
    </div>
  </section>
  <section class="col-md-3 well request-queue sticky" nxg-requests-summary eligibility="eligibility" nxg-sticky header=".nxg-sticky-header" footer=".well-footer" scroll=".queue-list"></section>
</section>
