<section class="row-fluid">
  <section class="span9">
    <div class="well">
      <h2 class="well-title-secondary">Title Releases Confirmation</h2>

      <p class="well-item">
        Please confirm your title release request(s) below. Titles released here are required to be returned within 7 days. If you are requesting a title for state work, please <a nxg-chat-with-us>chat with us</a> or contact customer service for further assistance.
      </p>
      <p class="well-item" ng-show="1 == addresses.length">
        The title(s) will be sent to the following address: <strong>{{addresses[0] | address}}</strong>
      </p>
      <p class="well-item" ng-show="addresses.length > 1">
        Titles can only be released to an address on file. Please select the address where you would like to receive each of your requested titles.
      </p>
    </div>

    <div ng-switch="titleQueue.contents.length">
      <p class="notice-box" ng-switch-when="0">
        You have not selected any titles. Please visit the
        <a href="#/titlereleases">Title Releases list</a> to select some.
      </p>

      <div class="well" ng-switch-default>
        <h2 class="well-title">Title Release Requests</h2>

        <table class="table table-striped table-primary">
          <thead>
            <th>Floored</th>
            <th>Description</th>
            <th>Purchased</th>
            <th>Release Status</th>
          </thead>
          <tr ng-repeat="item in titleQueue.contents">
            <td>
              <p class="lockup-major">{{ item.FlooringDate | moment}}</p>
              <p class="lockup-minor">{{ item.DaysFloored }} days</p>
            </td>

            <td class="description">
              <a class="lockup-major" href="#/vehicledetails?stockNumber={{ item.StockNumber }}">
                <span nxg-track="{{metric.CLICK_TITLE_RELEASE_VEHICLE_DETAILS}}" nxg-highlight="getVehicleDescription(item)" highlight="item.data.query"></span>
              </a>
              <div class="row-fluid">
                <p class="lockup-minor caps vin">VIN: <span nxg-highlight="item.UnitVIN" highlight="item.data.query" class="break-word"></span></p>
                <p class="lockup-minor caps stock">STK: <span nxg-highlight="item.StockNumber" highlight="item.data.query"></span></p>
              </div>

              <div ng-hide="1 == addresses.length" class="send-to-label">Send To: </div>
              <div nxg-track="{{metric.CLICK_TITLE_RELEASE_CHECKOUT_SEND_TO_ADDRESS_FIELD}}" nxg-alternate-address="item" enabled="true" show-tooltip="true" show-select-menu>
              </div>
            </td>

            <td class="date">
              <p>{{item.UnitPurchaseDate | moment}}</p>
            </td>

            <td class="numeric">
              <h4>Title Requested</h4>
              <button class="btn-unstyle btn-link"
                      type="submit"
                      ng-click="$parent.titleQueue.removeFromQueue(item)"
                      nxg-track="{{metric.CLICK_TITLE_RELEASE_CHECKOUT_REMOVE_REQUEST_BUTTON}}"
                      ng-disabled="$parent.submitting">
                Remove Title
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <div class="span3 well sticky" nxg-sticky>
    <h2 class="well-title">Requests Summary</h2>
    <div class="well-item well-dark bordered">
      <p>Review the following and submit your title release requests.</p>
    </div>
    <div class="well-item bordered">
      <div class="dash-lockup">
        <p class="dash-minor">
           Titles Requested
         </p>

        <h4 class="dash-major" ng-bind="titleQueue.contents.length"></h4>
      </div>

      <div class="dash-lockup">
        <p class="dash-minor">
          Titles Available After This Request
        </p>
        <h5>
           <span class="count highlight dash-major" ng-bind="eligibility.RemainingReleasesAvailable - titleQueue.contents.length">0</span> out of <span class="count highlight dash-major" ng-bind="eligibility.TotalReleasesAllowed">0</span>
        </h5>
      </div>
    </div>

    <button class="btn-cta cta-primary cta-full"
            ng-click="onConfirmRequest()"
            nxg-track="{{metric.CLICK_TITLE_RELEASE_CHECKOUT_CONFIRM_REQUEST_BUTTON}}"
            ng-disabled="titleQueue.contents.length == 0 || submitting">
      Submit Requests
      <span nxg-icon="icon-title"></span>
    </button>
  </div>
</section>
