<section class="row-fluid">
  <section class="span5">
    <div class="well">
      <h2 class="well-title">VIN Lookup: NextGear Book &amp; MMR</h2>
      <div class="well-item">
        <form class="form-block">
        </form>
      </div>
    </div>

    <div class="well">
      <h2 class="well-title">Manual Lookup: NextGear Book or MMR</h2>
      <div class="well-item">
        <form class="form-block">
        </form>
      </div>
    </div>
  </section>

  <section class="span7">
    <div class="info-block">
      <div class="info-block-image">
        <span nxg-icon="icon-info"></span>
      </div>
      <p class="info-block-text">
        Values below will update based on successful VIN or Manual Lookup
      </p>
    </div>

    <h4>NextGear Book Values</h4>
    something here

    <h4>MMR Values</h4>
    something else here

  </section>
</section>
