<div class="row-fluid">
  <h1>{{ flooringInfo.Description }}</h1>
</div>
<section class="row-fluid">
  <section class="span9">
    <!-- Flooring Information -->
    <div class="well">
      <h2 class="well-title"><span translate>Flooring Information</span> <span class="well-sub-title" translate>Floored on {{ flooringInfo.FlooringDate | moment }}</span> </h2>
      <div class="row-fluid col-bordered">
        <div class="span5 first">
          <ul class="list-table">
            <li class="list-table-row">
              <p class="span6" translate>Total Days Floored</p>
              <p class="span6 value" translate>{{ flooringInfo.TotalDaysFloored }} <span class="value-note">(of {{ flooringInfo.TotalTermPlanLength }} days)</span></p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Original Term</p>
              <p class="span6 value" translate>{{ flooringInfo.OriginalTermDaysFloored }} <span class="value-note">(of {{ flooringInfo.OriginalTermPlanLength }} days)</span></p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Extended Term</p>
              <p class="span6 value" translate>{{ flooringInfo.ExtendedTermDaysFloored }} <span class="value-note">(of {{ flooringInfo.ExtendedTermPlanLength }} days)</span></p>
            </li>
            <li class="list-table-spacer"></li>
            <li class="list-table-row">
              <p class="span6" translate>Status</p>
              <p class="span6 value">{{ flooringInfo.FloorplanStatusName }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Stock Number</p>
              <p class="span6 value">{{ flooringInfo.StockNumber }}</p>
            </li>
            <li class="list-table-spacer"></li>
            <li class="list-table-row">
              <p class="span6" translate>Purchase Date</p>
              <p class="span6 value">{{ flooringInfo.PurchaseDate | moment }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Date Submitted</p>
              <p class="span6 value">{{ flooringInfo.SubmittedDate | moment }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Floor Date</p>
              <p class="span6 value">{{ flooringInfo.FlooringDate | moment }}</p>
            </li>
            <li class="list-table-spacer"></li>
            <li class="list-table-row">
              <p class="span6" translate>Finance Amount</p>
              <p class="span6 value">{{ flooringInfo.FinanceAmount | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Purchase Amount</p>
              <p class="span6 value">{{ flooringInfo.PurchaseAmount | currency }}</p>
            </li>
          </ul>
        </div>
        <div class="span7 last">
          <ul class="list-table">
            <li class="list-table-row">
              <p class="span5" translate>Line of Credit</p>
              <p class="span7 value">{{ flooringInfo.LineOfCredit }}</p>
            </li>
            <li class="list-table-row">
              <p class="span5" translate>Term Plan Name</p>
              <p class="span7 value">{{ flooringInfo.TermPlanName }}</p>
            </li>
            <li class="list-table-spacer"></li>
            <li class="list-table-row">
              <p class="span5" translate>Product Type</p>
              <p class="span7 value">{{ flooringInfo.ProductType }}</p>
            </li>
            <li class="list-table-row">
              <p class="span5" translate>Seller</p>
              <p ng-show="flooringInfo.SellerName != null" class="span7 value">{{ flooringInfo.SellerName }}</p>
              <p ng-hide="flooringInfo.SellerName != null || dataLoaded == false" class="span7 value" translate>Trade-in</p>
            </li>
            <li class="list-table-spacer"></li>
            <li class="list-table-row">
              <p class="span5" translate>Seller Address</p>
              <p ng-show="flooringInfo.SellerName != null" class="span7 value">
                <span nxg-address="flooringInfo.sellerAddress"></span>
              </p>
              <p ng-hide="flooringInfo.SellerName != null || dataLoaded == false" class="span7 value" translate>none</p>
            </li>
            <li class="list-table-row">
              <p class="span5" translate>Inventory Location</p>
              <p class="span7 value" ng-hide="flooringInfo.showEditInventoryLocation">
                <span nxg-address="flooringInfo.inventoryAddress"></span>
                <span ng-show="flooringInfo.showChangeLink"><br/><br/>
                  <a class="value-note" href="" ng-click="flooringInfo.showInventorySelect()" translate>Change Inventory Location</a>
                </span>
              </p>
              <p class="span7 value" ng-show="flooringInfo.showEditInventoryLocation">
                <span translate>Select Below</span>:
              </p>
            </li>
            <li class="list-table-row" ng-show="flooringInfo.showEditInventoryLocation">
              <div class="offset5 span7">
                <div class="style-select">
                  <select ng-model="flooringInfo.inventoryAddress" ng-options="addr as (addr | address:'oneLineSelect') for addr in inventoryLocations"></select>
                </div>
                <div class="button-group">
                  <button type="button" class="btn-unstyle btn-link" ng-click="flooringInfo.cancelInventoryChanges()" translate>Cancel</button>
                  <button type="submit" class="btn-cta cta-secondary" ng-click="flooringInfo.saveInventoryChanges()" translate>Save Changes</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end Flooring Information -->

    <!-- Payment Activity -->
    <div class="well">
      <h2 class="well-title"><span translate>Financial Activity</span>
        <div class="paired paired-reversed well-sub-title">
          <a class="featured" ng-href="{{ historyReportUrl }}">
            <span class="paired-body" translate>View the Vehicle History Detail Report</span><span class="paired-media" nxg-icon="icon-car"></span>
          </a>
        </div>
      </h2>
      <div class="row-fluid col-bordered">
        <div class="span7">
          <div class="row-fluid">
            <div class="span6 semi-donut">
              <div class="chart-obj"
                nxg-chart
                nxg-chart-size="financialSummary.chart.size"
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-data="financialSummary.paidChart.data"
                nxg-donut-options="financialSummary.chart.donutOptions"
                nxg-show-legend="true"
                nxg-chart-title="financialSummary.paidChart.title">
              </div>
            </div>
            <div class="span6 semi-donut">
              <div class="chart-obj"
                nxg-chart
                nxg-chart-size="financialSummary.chart.size"
                nxg-chart-type="pie"
                nxg-chart-tooltip="false"
                nxg-chart-data="financialSummary.outstandingChart.data"
                nxg-donut-options="financialSummary.chart.donutOptions"
                nxg-show-legend="true"
                nxg-chart-title="financialSummary.outstandingChart.title">
              </div>
            </div>
          </div>
        </div>
        <div class="span5">
          <ul class="list-table">
            <li class="list-table-row list-table-emphasis">
              <p translate>Payment Summary</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Financed Amount</p>
              <p class="span5 value numeric">{{ financialSummary.breakdown.financeAmount | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7">{{ financialSummary.breakdown.interestFeesLabel }}</p>
              <p class="span5 value numeric"><span class="table-symbol">+</span>{{ financialSummary.breakdown.interestFeesCPP | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Floor Plan Total</p>
              <p class="span5 value numeric"><span class="table-symbol">=</span>{{ financialSummary.FloorplanTotal | currency }}</p>
            </li>
            <li class="list-table-hr"></li>
            <li class="list-table-row">
              <p class="span7" translate>Total Paid</p>
              <p class="span5 value  numeric color-success">{{ financialSummary.TotalPaid | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Total Outstanding</p>
              <p class="span5 value  numeric color-danger">{{ financialSummary.TotalOutstanding | currency }}</p>
            </li>
            <li class="list-table-spacer">
          </ul>
        </div>
      </div>
      <!-- Hidden by default; Hide & disable button if there is no payment activity to show. -->
      <div collapse="isCollapsed" ng-show="financialSummary.FloorplanActivity.length > 0" class="row-fluid aside payment-activity">
        <div class="span7 table-holder">
          <table class="table table-striped table-secondary">
            <thead>
              <th translate>Activity Date</th>
              <th translate>Transaction Details</th>
            </thead>
            <tr ng-repeat="activity in financialSummary.FloorplanActivity">
              <td class="center">
                <div class="paired">
                  <span class="paired-media" nxg-icon="icon-downArrow" ng-show="activity.IsPayment && !activity.IsFee"></span>
                  <span class="paired-media" nxg-icon="icon-upArrow" ng-show="activity.IsFee && !activity.IsPayment"></span>
                  <span class="paired-body">{{ activity.ActivityDate | moment }}</span>
                </div>
              </td>
              <td><a href="" class="primary" ng-click="financialSummary.getActivityDetails(activity)">
                <span ng-show="activity.IsPayment" translate>Payment Made for {{ activity.ActivityAmount | currency }}</span>
                <span ng-show="activity.IsFee" translate>Fee Assessed for {{ activity.ActivityAmount | currency }}</span>
              </a></td>
            </tr>
          </table>
        </div>
        <div class="span5 last">
          <div class="chart-obj chart-daysFloored"
            nxg-chart
            nxg-chart-size="flooringInfo.chart.size"
            nxg-chart-type="pie"
            nxg-chart-tooltip="false"
            nxg-chart-data="flooringInfo.chart.data"
            nxg-donut-options="flooringInfo.chart.donutOptions"
            nxg-chart-title="flooringInfo.chart.title">
          </div>
          <h3 class="center floor-chart-title" translate>
            Days Floored
          </h3>
        </div>
      </div>
    </div>

    <!-- Expand/Collapse button: disable if there is no floorplan activity. -->
    <button class="accordion-button" ng-click="isCollapsed = !isCollapsed" ng-class="{ expanded:!isCollapsed }">
      <span ng-show="financialSummary.FloorplanActivity.length > 0">
        <span class="paired-body">
          <span ng-show="isCollapsed" translate>Show Payment Activity</span>
          <span ng-show="!isCollapsed" translate>Hide Payment Activity</span>
        </span>
        <span class="paired-media" ng-class="{ 'point-up':!isCollapsed, 'point-down':isCollapsed }" nxg-icon="icon-chevron"></span>
      </span>
      <span ng-hide="financialSummary.FloorplanActivity.length > 0" translate>
        No Payment Activity Available
      </span>
    </button>
    <!-- end Payment Activity -->

    <div class="row-fluid">
      <!-- Vehicle Information -->
      <div class="well span6 details-well">
        <h2 class="well-title"><span translate>Vehicle Information</span> <span class="well-sub-title"><span translate>Stock #</span>{{ vehicleInfo.StockNumber }}</span></h2>
        <div class="row-fluid">
          <ul class="list-table padded">
            <li class="list-table-row">
              <p class="span6" translate>VIN</p>
              <p class="span6 value">{{ vehicleInfo.UnitVin }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Make</p>
              <p class="span6 value">{{ vehicleInfo.Make }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Model</p>
              <p class="span6 value">{{ vehicleInfo.Model }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Style</p>
              <p class="span6 value">{{ vehicleInfo.Style }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Color</p>
              <p class="span6 value">{{ vehicleInfo.Color }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Year</p>
              <p class="span6 value">{{ vehicleInfo.Year }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Current Mileage</p>
              <p class="span6 value">{{ vehicleInfo.CurrentMileage }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Salvage</p>
              <p class="span6 value">{{ {true: 'Yes', false: 'No'}[!!vehicleInfo.Salvage] }}</p>
            </li>
          </ul>

        </div>
      </div>
      <!-- end Vehicle Information -->

      <!-- Title Information -->
      <div class="well span6 details-well">
        <h2 class="well-title"><span translate>Title Information</span>
          <div class="well-sub-title paired-reversed">
            <a class="featured" ng-show="titleInfo.TitleImageAvailable" ng-href="{{ titleInfo.TitleUrl }}" target="_blank">
              <span class="paired-body" translate>View the Title</span><span class="paired-media" nxg-icon="icon-title"></span>
            </a>
          </div>
        </h2>
        <div class="row-fluid">
          <ul class="list-table padded">
            <li class="list-table-row">
              <p class="span6" translate>Title Location</p>
              <p class="span6 value">{{ titleInfo.TitleLocation }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Title State</p>
              <p class="span6 value">{{ titleInfo.TitleState }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Tracking Number</p>
              <p class="span6 value">{{ titleInfo.TitleTrackingNumber }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" translate>Disbursement Date</p>
              <p class="span6 value">{{ (titleInfo.DisbursementDate | moment) || 'n/a' }}</p>
            </li>
            <li class="list-table-row">
              <p class="span6" ng-show="titleInfo.dealerCanRequestTitles()"><button class="btn-link" href="" ng-disabled="titleInfo.titleRequestDisabled()" ng-click="titleInfo.requestTitle()" translate>Request the Title</button></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- end Title Information -->
    </div>

    <!-- Floor Plan Value Estimates -->
    <div class="well row-fluid">
      <h2 class="well-title" translate>Floor Plan Value Estimates <span class="well-sub-title">NextGear &amp; MMR Valuation</span></h2>
      <div class="row-fluid">
        <div class="well-item span6">
          <h4 translate>NextGear Book Values</h4>
          <ul class="list-table">
            <li class="list-table-row">
              <p class="span7" translate>Extra Clean</p>
              <p class="span5 value numeric">{{ valueInfo.ExtraCleanValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Clean</p>
              <p class="span5 value numeric">{{ valueInfo.CleanValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Average</p>
              <p class="span5 value numeric">{{ valueInfo.AverageValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Rough</p>
              <p class="span5 value numeric">{{ valueInfo.RoughValue | currency }}</p>
            </li>
          </ul>
        </div>

        <div class="well-item span6">
          <h4 translate>MMR Values</h4>
          <p class="well-item" ng-hide="showMMR" translate>MMR Values not found on record for this vehicle.</p>
          <ul class="list-table" ng-show="showMMR">
            <li class="list-table-row">
              <p class="span7" translate>Excellent</p>
              <p class="span5 value numeric">{{ valueInfo.MmrExcellentValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Good</p>
              <p class="span5 value numeric">{{ valueInfo.MmrGoodValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Average</p>
              <p class="span5 value numeric">{{ valueInfo.MmrAverageValue | currency }}</p>
            </li>
            <li class="list-table-row">
              <p class="span7" translate>Fair</p>
              <p class="span5 value numeric">{{ valueInfo.MmrFairValue | currency }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end Floor Plan Value Estimates -->
  </section>

  <section class="span3 well sidebar last">
    <h2 class="well-title" translate>Payment Options</h2>
    <div class="notice-bar" ng-show="showExtendLink() || financialSummary.paymentOverdue || financialSummary.paymentDueToday || financialSummary.paymentDueSoon">
      <div class="paired-media">
        <span ng-show="financialSummary.paymentOverdue" nxg-icon="icon-alert" class="icon-large"></span>
        <span ng-show="financialSummary.paymentDueToday" nxg-icon="icon-warning" class="icon-large"></span>
        <span ng-show="financialSummary.paymentDueSoon" nxg-icon="icon-info" class="icon-large"></span>
        <span ng-show="showExtendLink() && !financialSummary.paymentDueSoon && !financialSummary.paymentDueToday && !financialSummary.paymentOverdue" nxg-icon="icon-info" class="icon-large"></span>
      </div>
      <div class="paired-body">
        <!-- Overdue Payment -->
        <div ng-show="financialSummary.paymentOverdue">
          <p translate>A payment is overdue. <br/><a class="primary" href="" ng-show="showExtendLink()" ng-click="requestExtension()">Request an extension? </a>
          </p>
        </div>

        <!-- Payment Due Today -->
        <div ng-show="financialSummary.paymentDueToday">
          <p translate>A payment is due today. <br/><a class="primary" href="" ng-show="showExtendLink()" ng-click="requestExtension()">Request an extension?</a></p>
        </div>

        <!-- Payment Due Soon (This Week) -->
        <div ng-show="financialSummary.paymentDueSoon">
          <p translate>A payment is due this week. <br/><a class="primary" href="" ng-show="showExtendLink()" ng-click="requestExtension()">Request an extension?</a></p>
        </div>

        <!-- Payments aren't due soon, but can request extension -->
        <div ng-show="showExtendLink() && !financialSummary.paymentDueSoon && !financialSummary.paymentDueToday && !financialSummary.paymentOverdue">
          <p><a class="primary" href="" ng-click="requestExtension()" translate>Request an extension?</a></p>
        </div>
      </div>
    </div>
    <div class="well-item inset">
      <h4 translate>Next payment due {{ financialSummary.NextPaymentDueDate | moment }}</h4>
      <div class="payment-btn-block" ng-show="dataLoaded">
        <div class="btn-text-group">
          <h6 class="btn-text"><span translate>Payment</span>:</h6>
          <div class="btn-btn" nxg-payment-buttons="payment" item="paymentForCheckout" on-queue="isPaymentOnQueue(vehicleInfo.FloorplanId)" on-cancel-scheduled-payment="onCancelScheduled()"></div>
        </div>
        <div class="btn-text-group">
          <h6 class="btn-text"><span translate>Payoff</span>:</h6>
          <div class="btn-btn" nxg-payment-buttons="payoff" item="paymentForCheckout" on-queue="isPaymentOnQueue(vehicleInfo.FloorplanId)" on-cancel-scheduled-payment="onCancelScheduled()"></div>
        </div>
      </div>
      <div class="row-fluid" ng-show="getAdditionalPrincipal() > 0">
        <h6 class="span8" translate>Additional Principal</h6>
        <h6 class="span4 numeric">{{ getAdditionalPrincipal() | currency }}</h6>
        <br/>
      </div>
      <button class="btn-unstyle btn-link right" ng-show="showAddPrincipalLink()" ng-click="launchPaymentOptions()">
        <span ng-show="getAdditionalPrincipal() > 0" translate>Edit Additional Principal</span>
        <span ng-hide="getAdditionalPrincipal() > 0" translate>Add Additional Principal?</span>
      </button>
    </div>

    <div class="well-item aside" ng-show="dataLoaded">
      <a class="featured block" href="javascript:void(0)" ng-click="launchPaymentOptions()" translate>
        Payment Options &amp; Breakdown
      </a>
    </div>
    <button class="btn-cta cta-primary cta-full" ng-disabled="paymentQueue.isEmpty()"
        ng-click="goToCheckout()">
      <span class="paired-body"><span translate>Checkout</span> <span ng-show="paymentQueue.getQueueCount() > 0">({{ paymentQueue.getQueueCount() }})</span></span>
      <span class="paired-media" nxg-icon="icon-cart"></span>
    </button>
  </section>
</section>
