<div class="container-line">
  <div class="container-fluid">
    <div class="row-fluid">
      <h1>{{ flooringInfo.Description }}</h1>
    </div>
    <section class="row-fluid">
      <section class="span9 first">
        <!-- Flooring Information -->
        <div class="well row-fluid">
          <h4>Flooring Information <span>Floored on {{ flooringInfo.FlooringDate | moment }}</span> </h4>
          <div class="span5 first">
            <table class="table">
               <tr>
                <td class="">Total Days Floored</td>
                <td class="value">{{ flooringInfo.TotalDaysFloored }} (of {{ flooringInfo.TotalTermPlanLength }} days)</td>
              </tr>
              <tr>
                <td class="">Original Term</td>
                <td class="value">{{ flooringInfo.OriginalTermDaysFloored }} (of {{ flooringInfo.OriginalTermPlanLength }} days)</td>
              </tr>
              <tr>
                <td class="">Extended Term</td>
                <td class="value">{{ flooringInfo.ExtendedTermDaysFloored }} (of {{ flooringInfo.ExtendedTermPlanLength }} days)</td>
              </tr>
              <tr>
                <td class="">Status</td>
                <td class="value">{{ flooringInfo.FloorplanStatusName }}</td>
              </tr>
              <tr>
                <td class="">Stock Number</td>
                <td class="value">{{ flooringInfo.StockNumber }}</td>
              </tr>
              <tr>
                <td class="">Purchase Date</td>
                <td class="value">{{ flooringInfo.PurchaseDate | moment }}</td>
              </tr>
              <tr>
                <td class="">Date Submitted</td>
                <td class="value">{{ flooringInfo.SubmittedDate | moment }}</td>
              </tr>
              <tr>
                <td class="">Floor Date</td>
                <td class="value">{{ flooringInfo.FlooringDate | moment }}</td>
              </tr>
              <tr>
                <td class="">Finance Amount</td>
                <td class="value">{{ flooringInfo.FinanceAmount | currency }}</td>
              </tr>
              <tr>
                <td class="">Purchase Amount</td>
                <td class="value">{{ flooringInfo.PurchaseAmount | currency }}</td>
              </tr>
            </table>
          </div>
          <div class="span7 last">
            <table class="table">
              <tr>
                <td class="">Line of Credit</td>
                <td class="value">{{ flooringInfo.LineOfCredit }}</td>
              </tr>
              <tr>
                <td class="">Term Plan Name</td>
                <td class="value">{{ flooringInfo.TermPlanName }}</td>
              </tr>
              <tr>
                <td class="">Product Type</td>
                <td class="value">{{ flooringInfo.ProductType }}</td>
              </tr>
              <tr>
                <td class="">Seller</td>
                <td class="value">{{ flooringInfo.SellerName }}</td>
              </tr>
              <tr>
                <td class="">Seller Address</td>
                <td class="value">{{ flooringInfo.sellerAddress | address }}</td>
              </tr>
              <tr>
                <td class="">Inventory Location</td>
                <td class="value" ng-hide="flooringInfo.showEditInventoryLocation">
                  {{ flooringInfo.inventoryAddress | address }}
                  <span ng-show="flooringInfo.showChangeLink"><br/>
                    <a href="" ng-click="flooringInfo.showInventorySelect()">Change Inventory Location</a>
                  </span>
                </td>
                <td class="value" ng-show="flooringInfo.showEditInventoryLocation">
                  Select Below:
                </td>
              </tr>
              <tr ng-show="flooringInfo.showEditInventoryLocation">
                <td>
                  <select ng-model="flooringInfo.inventoryAddress" ng-options="addr as (addr | address) for addr in inventoryLocations"></select>
                  <div>
                    <button class="" ng-click="flooringInfo.cancelInventoryChanges()">Cancel Changes</button>
                    <button class="" ng-click="flooringInfo.saveInventoryChanges()">Save Location</button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- end Flooring Information -->

        <!-- Payment Activity -->
        <div class="well row-fluid">
          <h4>Payment Activity <a ng-href="{{ historyReportUrl }}">View the Vehicle History Detail Report</a></h4>
          <div class="span7">
            <div class="row-fluid">
              <div class="span6">
                <div class="temp-donut-chart"
                    nxg-chart
                    nxg-chart-size="financialSummary.chart.size"
                    nxg-chart-type="pie"
                    nxg-chart-tooltip="false"
                    nxg-chart-data="financialSummary.paidChart"
                    nxg-donut-options="financialSummary.chart.donutOptions"
                    nxg-show-legend="true">
                </div>
                <label class="nxg-doughnut-chart-label"  style="z-index:1000">
                  <p class="nxg-doughnut-chart-label-secondary">Total Paid</p>
                  <p class="nxg-doughnut-chart-label-primary">{{ financialSummary.TotalPaid | numeral:'($0[.]00a)' }}</p>
                </label>
              </div>
              <div class="span6">
                <div class="chart-obj"
                  nxg-chart
                  nxg-chart-size="financialSummary.chart.size"
                  nxg-chart-type="pie"
                  nxg-chart-tooltip="false"
                  nxg-chart-data="financialSummary.outstandingChart"
                  nxg-donut-options="financialSummary.chart.donutOptions"
                  nxg-show-legend="true">
                </div>
                <label class="nxg-doughnut-chart-label"  style="z-index:1000">
                  <p class="nxg-doughnut-chart-label-secondary">Total Outstanding</p>
                  <p class="nxg-doughnut-chart-label-primary">{{ financialSummary.TotalOutstanding | numeral:'($0[.]00a)' }}</p>
                </label>
              </div>
            </div>
          </div>
          <div class="span5">
            <table class="table">
              <tr>
                <td class="heavy">Payment Summary</td>
              </tr>
              <tr>
                <td class="">Financed Amount</td>
                <td class="value">{{ financialSummary.breakdown.financeAmount | currency }}</td>
              </tr>
              <tr>
                <td class="">{{ financialSummary.breakdown.interestFeesLabel }}</td>
                <td class="value">{{ financialSummary.breakdown.interestFeesCPP | currency }}</td>
              </tr>
              <tr>
                <td class="">Floor Plan Total</td>
                <td class="value">{{ financialSummary.FloorplanTotal | currency }}</td>
              </tr>
              <tr>
                <td class="">Total Paid</td>
                <td class="value">{{ financialSummary.TotalPaid | currency }}</td>
              </tr>
              <tr>
                <td class="">Total Outstanding</td>
                <td class="value">{{ financialSummary.TotalOutstanding | currency }}</td>
              </tr>
              <tr>
                <td class="">
                  <a ng-href="">Interest-only payment ({{ financialSummary.InterestOutstanding | currency }})</a></td>
              </tr>
            </table>
          </div>
        </div>

        <!-- pull-down button for payment activity goes here -->
        <button ng-click="isCollapsed = !isCollapsed">
          <span ng-show="isCollapsed">Show Payment Activity</span>
          <span ng-hide="isCollapsed">Hide Payment Activity</span>
        </button>
        <div collapse="isCollapsed" class="row-fluid">
          <div class="span7">
            <table class="table table-striped">
              <tr>
                <th>Activity Date</th>
                <th>Transaction Details</th>
              </tr>
              <tr ng-repeat="activity in financialSummary.FloorplanActivity">
                <td>{{ activity.ActivityDate | moment }}</td>
                <td><a href="" ng-click="financialSummary.getActivityDetails(activity)">{{ {true: 'Payment Made', false:''}[activity.IsPayment]  }} {{ {true: 'Fee Assessed', false:''}[activity.IsFee]}} of {{ activity.ActivityAmount | currency }}</a></td>
              </tr>
            </table>
          </div>
          <div class="span5">
            <div class="chart-obj"
              nxg-chart
              nxg-chart-size="flooringInfo.chart.size"
              nxg-chart-type="pie"
              nxg-chart-tooltip="false"
              nxg-chart-data="flooringInfo.chart.data"
              nxg-donut-options="flooringInfo.chart.donutOptions"
              nxg-chart-title="flooringInfo.chart.title">
            </div>
            <label class="nxg-doughnut-chart-label">
              Days Floored
            </label>
          </div>
        </div>
        <!-- end Payment Activity -->

        <div class="row-fluid">
          <!-- Vehicle Information -->
          <div class="well span6">
            <h4>Vehicle Information <span>Stock #{{ stockNo }}</span></h4>
            <div class="row-fluid">
              <table class="table">
                <tr>
                  <td class="">VIN</td>
                  <td class="value">{{ vehicleInfo.UnitVin }}</td>
                </tr>
                <tr>
                  <td class="">Make</td>
                  <td class="value">{{ vehicleInfo.Make }}</td>
                </tr>
                <tr>
                  <td class="">Model</td>
                  <td class="value">{{ vehicleInfo.Model }}</td>
                </tr>
                <tr>
                  <td class="">Style</td>
                  <td class="value">{{ vehicleInfo.Style }}</td>
                </tr>
                <tr>
                  <td class="">Color</td>
                  <td class="value">{{ vehicleInfo.Color }}</td>
                </tr>
                <tr>
                  <td class="">Year</td>
                  <td class="value">{{ vehicleInfo.Year }}</td>
                </tr>
                <tr>
                  <td class="">Current Mileage</td>
                  <td class="value">{{ vehicleInfo.CurrentMileage }}</td>
                </tr>
                <tr>
                  <td class="">Salvage</td>
                  <td class="value">{{ {true: 'Yes', false: 'No'}[!!vehicleInfo.Salvage] }}</td>
                </tr>
              </table>

            </div>
          </div>
          <!-- end Vehicle Information -->

          <!-- Title Information -->
          <div class="well span6">
            <h4>Title Information <a ng-show="titleInfo.TitleImageAvailable" ng-href="{{ titleInfo.TitleUrl }}" target="_blank">View the Title</a></h4>
            <div class="row-fluid">
              <table class="table">
                <tr>
                  <td class="">Title Location</td>
                  <td class="value">{{ titleInfo.TitleLocation }}</td>
                </tr>
                <tr>
                  <td class="">Title State</td>
                  <td class="value">{{ titleInfo.TitleState }}</td>
                </tr>
                <tr>
                  <td class="">Tracking Number</td>
                  <td class="value">{{ titleInfo.TitleTrackingNumber }}</td>
                </tr>
                <tr>
                  <td class="">Disbursement Date</td>
                  <td class="value">{{ (titleInfo.DisbursementDate | moment) || 'n/a' }}</td>
                </tr>
                <tr>
                  <td class="" ng-show="titleInfo.dealerCanRequestTitles()"><button href="" ng-disabled="titleInfo.titleRequestDisabled()" ng-click="titleInfo.requestTitle()">Request the Title</button></td>
                </tr>
              </table>
            </div>
          </div>
          <!-- end Title Information -->
        </div>

        <!-- Floor Plan Value Estimates -->
        <div class="well row-fluid">
          <h4>Floor Plan Value Estimates <span>Static Blurb</span></h4>
          <div class="row-fluid">
            <div class="span5">
              <table class="table">
                <tr>
                  <td class="">Extra Clean</td>
                  <td class="value">{{ valueInfo.ExtraCleanValue | currency }}</td>
                </tr>
                <tr>
                  <td class="">Clean</td>
                  <td class="value">{{ valueInfo.CleanValue | currency }}</td>
                </tr>
                <tr>
                  <td class="">Average</td>
                  <td class="value">{{ valueInfo.AverageValue | currency }}</td>
                </tr>
                <tr>
                  <td class="">Rough</td>
                  <td class="value">{{ valueInfo.RoughValue | currency }}</td>
                </tr>
              </table>
            </div>

            <div class="span7">
              <table class="table">
                <tr>
                  <td>{{ valueInfo.NextGearRegionalMinPurchasePrice | currency }}<br/>Minimum</td>
                  <td>{{ valueInfo.NextGearRegionalAveragePurchasePrice | currency }}<br/>Average</td>
                  <td>{{ valueInfo.NextGearRegionalMaxPurchasePrice | currency }}<br/>Maximum</td>
                </tr>
              </table>
              <p>NextGear Regional Values are based on the first 3 digits of your zip code.</p>
            </div>
          </div>
        </div>
        <!-- end Floor Plan Value Estimates -->

      </section>

      <section class="span3 last">
        <h4>Payment Options</h4>
        <div>
          A payment is due today.
          <br/><a href="">Request an extension?</a>
        </div>
        <div>

                   <!--    <div nxg-payment-buttons="payment" item="paymentForCheckout" on-queue="isPaymentOnQueue(landing.FloorplanId)"></div>
                    </div>
                    <div class="cell pay-payoff-amt"><p>{{ payment.CurrentPayoff | currency }}</p>
                      <div nxg-payment-buttons="payoff" item="paymentForCheckout" on-queue="isPaymentOnQueue(landing.FloorplanId)"></div>
                    </div> -->





        </div>
      </section>
    </section>
  </div>
</div>
