<section>
  <div class="nxg-sticky-header">
    <h2 class="well-title" translate>Requests Summary</h2>

    <div class="well-item">
      <h5><span translate>Title Release Limits:</span><br/>
        <span translate>You have</span> <span class="count">{{ eligibility.RemainingReleasesAvailable - titleQueue.contents.length }}</span> <span translate>out of</span> <span class="count">{{ eligibility.TotalReleasesAllowed || 0 }}</span> <span translate>available.</span></h5>
    </div>
  </div>

  <div class="" ng-show="titleQueue.contents.length > 0">
    <ul class="queue-list zeroLeftPadding">
      <li class="queue-item bordered" ng-repeat="item in titleQueue.contents">
        <button class="btn-unstyle right" ng-click="titleQueue.removeFromQueue(item)">
          <span nxg-icon="icon-cancel" class="icon-small"></span>
        </button>
        <p translate>Title Request</p>
        <h6 class="highlight caps">
          <a class="truncate" href="#/vehicledetails?stockNumber={{ item.StockNumber }}">{{ getVehicleDescription(item) }}</a></h6>
        <p><span translate>VIN</span>: {{ item.UnitVIN }}</p>
      </li>
    </ul>
  </div>

  <button class="btn-cta cta-primary cta-full well-footer" ng-click="navigate('titleReleaseCheckout')" ng-disabled="titleQueue.contents.length == 0" >
    <span class="paired-body" translate>Confirm Requests</span>
    <span class="paired media" nxg-icon="icon-title"></span>
  </button>
</section>
